.finalQuiz-container {
    padding-bottom: 1% !important;
}

.finalQuiz-container .alert {
    position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    margin-left: 30%;
    margin-top: 6%;
}

.finalQuiz-container .header {
    margin-top: 1%;
}

.finalQuiz-container .landingpage-instruction {
    margin: 3% 3% 3% 3%;
    max-height: 300px;
    overflow-y: auto;
}


.finalQuiz-container .parentOfEOMTLandingInst {
    max-height: 300px;
    overflow-y: auto;
}

.finalQuiz-container .progressInfo {
    float: left;
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
    padding: 0px;
}

.finalQuiz-container .quizInstructions {
    margin-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.quizInstructions .quizStartButtons {
    display: inline-block;
}

.quizStarted-instructions-main {
    border-bottom: solid 1px black;
}

.quiz-question-container {
    margin-top: 10px;
    margin-left: 0%;
    margin-right: 0%;
}

.quiz-question-container .questionNoContainer .dragDropQuestionNo {
    float: left;
    font-weight: bold;
    margin-left: 3%;
    font-size: large;
    margin-top: 5px;
    position: absolute;
}

.dragdrop-feedback {
    position: absolute;
    margin-top: 5px;
}

.quiz-question-container .questionNoContainer .questionText {
    font-weight: normal;
    margin-top: auto;
    line-height:25px;
    font-size: x-large;
}

.quiz-question-container .nextQuestion {
    clear: both;
    text-align: center;
}


.quiz-your-score {
    font-size: x-large;
    font-weight: bold;
}

.quiz-individual-score-main {
    font-weight: bold;
    font-size: large;
    border: 2px solid lightgray;
    margin-left: 28%;
    margin-right: 28%;
    margin-top: 1%;
    overflow-y: auto;
}

.quiz-individual-score-main .score-container {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right:5%;
}

.quiz-score-close-btn {
    margin-top: 2%;
}

@media (max-width: 992px) {
    .jumbotron h1 {
        margin-left: 34px !important;
    }

    .dialogueRepeatTab .audioPlayer .tracks {
        margin: 2% 23% !important;
    }

    .quiz-question-container .questionNoContainer {
        width: 92.5% !important;
    }
}