span.cls_002 {
    font-family: "Calibri", serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_002 {
    font-family: "Calibri", serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_003 {
    font-family: Arial, serif;
    font-size: 16.0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_003 {
    font-family: Arial, serif;
    font-size: 16.0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_005 {
    font-family: "Calibri Italic", serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

div.cls_005 {
    font-family: "Calibri Italic", serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

span.cls_006 {
    font-family: "Calibri Bold", serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_006 {
    font-family: "Calibri Bold", serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_008 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_008 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_010 {
    font-family: Arial, serif;
    font-size: 9.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_010 {
    font-family: Arial, serif;
    font-size: 9.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_012 {
    font-family: Arial, serif;
    font-size: 9.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_012 {
    font-family: Arial, serif;
    font-size: 9.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_009 {
    font-family: Arial, serif;
    font-size: 9.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_009 {
    font-family: Arial, serif;
    font-size: 9.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_013 {
    font-family: Arial, serif;
    font-size: 9.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

div.cls_013 {
    font-family: Arial, serif;
    font-size: 9.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

span.cls_011 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_011 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_017 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_017 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_018 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

div.cls_018 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

span.cls_020 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_020 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_084 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline
}

div.cls_084 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

span.cls_023 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

div.cls_023 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

span.cls_019 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

div.cls_019 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

span.cls_025 {
    font-family: Arial, serif;
    font-size: 11.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

div.cls_025 {
    font-family: Arial, serif;
    font-size: 11.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

span.cls_026 {
    font-family: Arial, serif;
    font-size: 11.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_026 {
    font-family: Arial, serif;
    font-size: 11.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_024 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_024 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_028 {
    font-family: Arial, serif;
    font-size: 11.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

div.cls_028 {
    font-family: Arial, serif;
    font-size: 11.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

span.cls_022 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

div.cls_022 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

span.cls_029 {
    font-family: Arial, serif;
    font-size: 11.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_029 {
    font-family: Arial, serif;
    font-size: 11.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_031 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_031 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_032 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_032 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_033 {
    font-family: Arial, serif;
    font-size: 11.1px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

div.cls_033 {
    font-family: Arial, serif;
    font-size: 11.1px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

span.cls_034 {
    font-family: Arial, serif;
    font-size: 11.1px;
    color: rgb(0, 128, 0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

div.cls_034 {
    font-family: Arial, serif;
    font-size: 11.1px;
    color: rgb(0, 128, 0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

span.cls_035 {
    font-family: Arial, serif;
    font-size: 11.1px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_035 {
    font-family: Arial, serif;
    font-size: 11.1px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_036 {
    font-family: Arial, serif;
    font-size: 11.1px;
    color: rgb(111, 172, 70);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

div.cls_036 {
    font-family: Arial, serif;
    font-size: 11.1px;
    color: rgb(111, 172, 70);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

span.cls_021 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_021 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_038 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(0, 175, 80);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_038 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(0, 175, 80);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_040 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(204, 102, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_040 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(204, 102, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_042 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(0, 0, 255);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_042 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(0, 0, 255);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_044 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(139, 73, 194);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_044 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(139, 73, 194);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_047 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(0, 175, 239);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_047 {
    font-family: Arial, serif;
    font-size: 12.1px;
    color: rgb(0, 175, 239);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_048 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 175, 239);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_048 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 175, 239);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_015 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_015 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_049 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_049 {
    font-family: Arial, serif;
    font-size: 14.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_053 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

div.cls_053 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

span.cls_054 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 0, 255);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

div.cls_054 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 0, 255);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

span.cls_046 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_046 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_051 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_051 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_055 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_055 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_056 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 0, 255);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_056 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 0, 255);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_014 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

div.cls_014 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

span.cls_057 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

div.cls_057 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

span.cls_059 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_059 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_058 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_058 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_060 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

div.cls_060 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

span.cls_061 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_061 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_052 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_052 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_063 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

div.cls_063 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

span.cls_064 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

div.cls_064 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

span.cls_065 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 175, 80);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_065 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 175, 80);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_066 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 175, 80);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_066 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 175, 80);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_068 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 175, 80);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

div.cls_068 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 175, 80);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

span.cls_069 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(204, 102, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_069 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(204, 102, 0);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_073 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(204, 102, 0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

div.cls_073 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(204, 102, 0);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

span.cls_062 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 0, 255);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_062 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(0, 0, 255);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_074 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(255, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

div.cls_074 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(255, 0, 0);
    font-weight: normal;
    font-style: normal;
    text-decoration: none
}

span.cls_076 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 0, 255);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

div.cls_076 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 0, 255);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

span.cls_077 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 0, 255);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

div.cls_077 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(0, 0, 255);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

span.cls_078 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(139, 73, 194);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

div.cls_078 {
    font-family: Arial, serif;
    font-size: 10.0px;
    color: rgb(139, 73, 194);
    font-weight: bold;
    font-style: normal;
    text-decoration: none
}

span.cls_080 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(139, 73, 194);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

div.cls_080 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(139, 73, 194);
    font-weight: bold;
    font-style: italic;
    text-decoration: none
}

span.cls_081 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(139, 73, 194);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

div.cls_081 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(139, 73, 194);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

span.cls_082 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(51, 204, 255);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

div.cls_082 {
    font-family: Arial, serif;
    font-size: 8.1px;
    color: rgb(51, 204, 255);
    font-weight: normal;
    font-style: italic;
    text-decoration: none
}

div.section {
    position: absolute;
    left: 50%;
    margin-left: -306px;
    width: 612px;
    height: 792px;
    border-style: outset;
    overflow: hidden;
}