/**
 * Angular JS slider directive
 *
 * (c) Rafal Zajac <rzajac@gmail.com>
 * http://github.com/rzajac/angularjs-slider
 *
 * Licensed under the MIT license
 */

/* Slider colors */

/* Slider size parameters */

rzslider {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4px;
    margin: 30px 0 15px 0;
    vertical-align: middle;
}

rzslider span {
    position: absolute;
    display: inline-block;
    white-space: nowrap;
}

rzslider span.rz-base {
    width: 100%;
    height: 100%;
    padding: 0;
}

rzslider span.rz-bar {
    z-index: 0;
    width: 100%;
    height: 100%;
    background: #d8e0f3;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

rzslider span.rz-bar.rz-selection {
    z-index: 1;
    width: 0;
    background: #0db9f0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

rzslider span.rz-pointer {
    top: -14px;
    z-index: 2;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: #0db9f0;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

rzslider span.rz-pointer:after {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 8px;
    height: 8px;
    background: #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    content: '';
}

rzslider span.rz-pointer:hover:after {
    background-color: #ffffff;
}

rzslider span.rz-pointer.rz-active:after {
    background-color: #451aff;
}

rzslider span.rz-bubble {
    top: -40px;
    padding: 1px 3px;
    color: #55637d;
    cursor: default;
}

rzslider span.rz-bubble.rz-selection {
    top: 16px;
}

rzslider span.rz-bubble.rz-limit {
    color: #55637d;
}