button.start-module {
  margin-top: 20px;
  background-color: #132B4C;
  border-color: #132B4C;
  font-weight: bold;
  border-radius: 0px;
  padding: 10px 30px;


  &:active, &:focus, &:active:focus,&:hover {
    background-color: #15C1C1;
    border-color: #15C1C1;
  }
}

.nextActivity {
    background-color: #132B4C;
    border-color: #132B4C;

    &:active, &:focus, &:active:focus, &:hover {
      background-color: #15C1C1;
      border-color: #15C1C1;
    }
}


.start-btn-group {
  text-align: center;
  margin: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.buttonAnswersContainer {
  float: left;
  margin-bottom: 3px;
}
.fontScaleX2 {
    .FillInTheBlank{
        .button{
           _::-webkit-:not(:root:root), .question-no {
            bottom: -2px;
          }
        }
    }
}

.fontScaleX3 {
    .eom-button {
          width: 140px !important;
    }
}

.fontScaleX4 {
    .FillInTheBlank{
        .button{
            .question-no{
                bottom: -8px;
            }
          @-moz-document url-prefix() {
            .question-no {
                 line-height: 45px !important;
            }
          }
        }
    }
    .eom-button {
      width: 170px !important;
    }
}

.FillInTheBlank, .DialogQuiz {
  .button {

    .questionNumber {
        height: 40px;

        @-moz-document url-prefix() {
            .question-no {
                line-height: 40px;
            }
        }
    }

    .button_tooltip {
      margin-right: 4px;
    }

    min-width: auto;
    line-height: 19px;
    padding: 8px 20px;

    &.maxAnswer {
      padding-left: 10px;
      padding-right: 10px;
    }

    &.wrong-answer {
      @extend %input-struture;
      min-width: initial;
    }

    &.correct-answer {
      @extend %input-struture;
      min-width: initial;
    }

    .ArrayInputButton {
      float: none !important;
      margin-top: 0;
    }

    .multiBtnText {
      margin-bottom: 0px;
    }

    .buttonText {
      margin-bottom: 0px;
      display: inline;
      float: left;
      line-height: 40px;
      b {
        display: inline-block;
        margin-top: -1px;
      }
    }



    .singleAnswersetFButton {
        .buttonText {
            display: inline;
            float: none;
        }

        .buttonAnswersContainer {
            float: none;
        }
    }
  }
}

.eom-button {
  width: 110px !important;
}

#instruction_btn {
  background-color: #1E62A4;
  border-color: #1E62A4;
  padding: 7px 4px;
  border-radius: 0px;
  border: 1px solid transparent;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    color: #fff;
    background-color: #15C1C1;
    border-color: #15C1C1;
  }


  &:active, &:focus, &:active:focus {
    background-color: #103255;
    border-color: #103255;
  }
}



#startbutton {
  background-color: #d0d0d9;
  border-color: #d0d0d9;
  color: #000;
  padding: 10px 18px;
  border-radius: 0px;
  color: #000;
}

.activeScoreButton {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

.btnDisabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.dialogue-button:focus {
  border: 2px solid lightblue;
}

.cc01 {
  color: white;
  background-color: blue;
}

.cc02 {
  color: blue;
}

.cc03 {
  color: white;
  background-color: violet;
}

.cc04 {
  color: violet;
}

.cc05 {
  color: white;
  background-color: red;
}

.cc06 {
  color: white;
  background-color: green;
}

.cc07 {
  color: green;
}

.cc08 {
  color: #d58512;
}

.cc09 {
  color: red;
}

.cc10 {
  color: #12B6EB;
}

.cc11 {
  background-color: yellow;
}

.cc12 {
    background-color: #915BD7;
    color: white;
}

.en {
  width: 10%;

  .grammer1, .grammer2, .grammer3, .grammer4, .grammer5, .grammer6, .grammer7, .grammer8,
  .grammer9, .grammer10 {
    height: 23px;
    border: solid 1px black;
  }

  .grammer1 {
    background-color: red;
  }

  .grammer2 {
    background-color: green;
  }

  .grammer3 {
    background-color: violet;
  }

  .grammer4 {
    color: red;
    background-color: white;
    padding-top: 5%;
    text-align: center;
  }

  .grammer5 {
    color: green;
    background-color: white;
    padding-top: 5%;
    text-align: center;
  }

  .grammer6 {
    color: #d58512;
    background-color: white;
    padding-top: 5%;
    text-align: center;
  }

  .grammer7 {
    color: blue;
    background-color: white;
    padding-top: 5%;
    text-align: center;
  }

  .grammer8 {
    color: violet;
    background-color: white;
    padding-top: 5%;
    text-align: center;
  }

  .grammer9 {
    background-color: yellow;
  }

  .grammer10 {
    background-color: blue;
  }
}

.fr {
  width: 10%;

  .subitems {
    text-align: center;
    height: 100%;
    float: left;
    height: 23px;
    border: solid 1px black;
    padding: 5% 0 0 0;
  }

  .grammer1, .grammer2, .grammer3, .grammer4, .grammer5, .grammer6, .grammer7, .grammer8,
  .grammer9, .grammer10 {
    height: 23px;
    border: solid 1px black;
  }

  .grammer1 {
    color: white;
    text-align: center;
  }

  .grammer2 {
    background-color: green;
  }

  .grammer3 {
    background-color: red;
  }

  .grammer4 {
    color: red;
    background-color: white;
    padding-top: 5%;
    text-align: center;
  }

  .grammer5 {
    color: green;
    background-color: white;
    padding-top: 5%;
    text-align: center;
  }

  .grammer6 {
    color: #d58512;
    background-color: white;
    padding-top: 5%;
    text-align: center;
  }

  .grammer7 {
    color: red;
    background-color: white;
    padding-top: 5%;
    text-align: center;
  }

  .grammer8 {
    color: #00B4EE;
    background-color: white;
    padding-top: 5%;
    text-align: center;
  }

  .grammer9 {
    background-color: yellow;
  }

  .grammer10 {
    background-color: #915BD7;
  }
}

.btn-link:hover, .btn-link:focus {
  color: white;
}

/* responsive button activity page */

@media (max-width: 768px) {

  #back_previousbutton {
    padding: 4px 6px;
    border-radius: 0px;
    font-size: 8px;
    margin-right: 5px;
  }
  #resumeActivity{
    border-radius : 20px;
  }
  .resume-activity {
    background-color: #d0d0d9;
    border-color: #d0d0d9;
    color: #000;
    padding: 4px 6px;
    border-radius: 0px;
    color: #000;
    font-size: 8px;
    min-width: 100px;
    margin-left: 5px;
  }
  #quiz_div {
    margin-right: 30px;
  }

}

@media (min-width: 768px) {

  #back_previousbutton {
    padding: 6px 12px;
    border-radius: 0px;
    font-size: 10px;
    margin-right: 5px;
  }
  #resumeActivity{
    border-radius : 20px;
  }
  .resume-activity {
    background-color: #d0d0d9;
    border-color: #d0d0d9;
    color: #000;
    padding: 6px 12px;
    border-radius: 20px;
    color: #000;
    font-size: 10px;
    min-width: 150px;
    margin-left: 5px;
  }
  #quiz_div {
    margin-right: 40px;
  }

}

#back_previousbutton {
    background-color: #132B4C;
    border-color: #132B4C;
    border-radius : 20px;
    &:active, &:focus, &:active:focus, &:hover {
      background-color: #15C1C1;
      border-color: #15C1C1;
    }

  }
  #resumeActivity{
    border-radius : 20px;
  }
@media (min-width: 992px) {

  #back_previousbutton {
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 5px;
  }
  #resumeActivity{
    border-radius : 20px;
  }
  .resume-activity {
    background-color: #d0d0d9;
    border-color: #d0d0d9;
    color: #000;
    padding: 8px 14px;
    border-radius: 0px;
    color: #000;
    font-size: 12px;
    min-width: 176px;
    margin-left: 5px;
  }
  #quiz_div {
    margin-right: 2px;
    margin-left: -4px;
  }

}

@media (min-width: 1200px) {

  #back_previousbutton {
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 5px;
  }
  #resumeActivity{
    border-radius : 20px;
  }
  .resume-activity {
    background-color: #d0d0d9;
    border-color: #d0d0d9;
    color: #000;
    padding: 10px 18px;
    border-radius: 20px;
    color: #000;
    font-size: 14px;
    min-width: 210px;
    margin-left: 5px;
  }

}

.btnButtonSet {
  font-size: 1.1em;
}
