
@-webkit-keyframes glowing {
  0% {
    -webkit-box-shadow: 0 0 3px #004A7F;
  }

  50% {
    -webkit-box-shadow: 0 0 10px #0094FF;
  }

  100% {
    -webkit-box-shadow: 0 0 3px #004A7F;
  }
}


@-moz-keyframes glowing {
  0% {
    -moz-box-shadow: 0 0 3px #004A7F;
  }

  50% {
    -moz-box-shadow: 0 0 10px #0094FF;
  }

  100% {
    -moz-box-shadow: 0 0 3px #004A7F;
  }
}


@-o-keyframes glowing {
  0% {
    box-shadow: 0 0 3px #004A7F;
  }

  50% {
    box-shadow: 0 0 10px #0094FF;
  }

  100% {
    box-shadow: 0 0 3px #004A7F;
  }
}


@keyframes glowing {
  0% {
    box-shadow: 0 0 3px #004A7F;
  }

  50% {
    box-shadow: 0 0 10px #0094FF;
  }

  100% {
    box-shadow: 0 0 3px #004A7F;
  }
}

/*  ng-repeat Animation  */
.repeat-animation.ng-enter,
.repeat-animation.ng-leave,
.repeat-animation.ng-move {
  -webkit-transition: all linear 1s;
  -moz-transition: all linear 1s;
  -o-transition: all linear 1s;
  transition: all linear 1s;

  position:relative;
  left:5px;
}
.repeat-animation.ng-enter {
  opacity: 0;
}
.repeat-animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.repeat-animation.ng-leave {
  opacity: 1;
}
.repeat-animation.ng-leave.ng-leave-active {
  opacity: 0;
}
.repeat-animation.ng-move {
  left:2px;
  opacity: 0.5;
}
.repeat-animation.ng-move.ng-move-active {
  left:0;
  opacity: 1;
}

/*  ng-hide Animation  */
.hide-fade.ng-hide-add, .hide-fade.ng-hide-remove {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;
  display:block!important;
}

.hide-fade.ng-hide-add.ng-hide-add-active,
.hide-fade.ng-hide-remove {
  opacity:0;
}

.hide-fade.ng-hide-add,
.hide-fade.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}