%navbar  {
  color: #000 !important;
  border-bottom: 3px solid #000;
  background: none;
}

%navtabs {
  cursor: pointer;
}

%legend {
  width: 26px;
  height: 26px;
  float: left;
  margin-left: 20px;
}