@import '../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import '../sass/_responsive';
@import '../sass/variables';
@import '../sass/placeholders';
@import '../sass/buttons';
@import '../sass/effects.scss';
@import '../sass/structure/skeleton.scss';
@import '../sass/structure/dialogue.scss';
@import '../sass/structure/dialogueInstructionsModel.scss';
@import '../sass/structure/dialogueQuiz.scss';
@import '../sass/structure/eom.scss';
@import '../sass/structure/whatsnew.scss';
@import '../sass/structure/module.scss';
@import '../sass/structure/nav.scss';
@import '../sass/structure/activity.scss';
@import '../sass/structure/activity.scss';
@import '../sass/structure/studySection.scss';
@import '../sass/templates/dragdrop.scss';
@import '../sass/templates/groupheading.scss';
@import '../sass/templates/grouplisting.scss';
@import '../sass/templates/fillintheblank.scss';
@import '../sass/templates/multiplechoice.scss';
@import '../sass/templates/listenrepeat.scss';
@import '../sass/templates/match.scss';
@import '../sass/templates/FIBVariableInput.scss';
@import '../sass/templates/dropdown.scss';
@import '../sass/templates/dialogueMultipleChoice.scss';
@import '../sass/templates/dragDropColumn.scss';
@import '../sass/templates/singleDragdrop.scss';
@import '../sass/templates/wordScrambleClick.scss';
@import '../sass/structure/theory.scss';
@import '../sass/templates/placement.scss';

body {
  font-family: GT-Walsheim-Pro-Trial-Regular !important;
  margin: auto;
  height: 100vh;
  background: currentColor;
}
.title-bar{
	color: white !important;
  }
.glossary_tooltip{
	color: #15c1c1 !important;
    font-weight: 700 !important;
    text-decoration: underline;
    cursor: pointer;
	
}
.feedback-form{
	width:60% !important;
	margin-left:20%;
}
.feedback-div{
	text-align:center;
}
.feedback-area{
	width: 100% !important;
    
}
.feedback-submit{
	background-color:#132B4C !important;
}
.feedback-submit:hover{
	background-color:#15C1C1 !important;
	color:#132B4C !important ;
}

.white-text{
  color:white;
}
.bff-background-color{
  background-color : #132b4c !important;
}
.padding-top-30{
  padding-top: 30px;
}
@font-face {
    font-family: "GT-Walsheim-Pro-Trial-Regular";
    src:url("fonts/GT-Walsheim-Pro-Trial-Regular.otf");
}

.activity-pager {
  a {
    &:hover {
      outline: none;
    }
  }
}
.pagination {
	.active { 
		a{
			background-color: #132B4C;
			border-color: #132B4C;
			font-weight: bold;
			&:hover{
				background-color: #132B4C;
				border-color: #132B4C;
				font-weight: 400;
			}
		}
	}
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.pagination {
	li { 
		a{
			&:hover{
				background-color: rgba(21,193,193, .9);
				border-color: rgba(21,193,193, .9);	
			}
		}
	}
}

.activity-instructions-txt{
  text-align:center;
}
.popover {
  font-size: inherit;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */

.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
    margin-top:10px;
}
#btn_drag_drop_question{
  background-color: #132b4c;
  margin-top:15px;
}

.simpleDemo{
height: 100vh;
background-color: white; 
padding-top: 30px;
}

.simpleDemo ul[dnd-list] li:hover{
  cursor: move;
  background-color:#beefef;
}
/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.simpleDemo ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.simpleDemo ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

.simpleDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.simpleDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding: 48px 0px 0px 0px;
  }
  .jumbotron-footer {
    padding: 20px 0px !important;
  }
}

@media (max-width: 768px) {
  .navbar-brand > img {
    display: none;
  }
}

@media (max-width: 1148px) {
  .navbar-header {
    width: 70% !important;
  }
}

@media (max-width: 992px) {

  .table-pagination {
    .activity-pager {
      font-size: 10px;
      padding-right: 0px;
      padding-left: 5px;
    }
    .attendedQuestions {
      padding-left: 16px !important;
    }
  }
  .activity-instructions {
    padding-left: 0 !important;
    width: 100%;
  }
  .table-pagination .activitiesScore {
    padding-left: 16px !important;
  }
  .dialogueRepeatTab .audioPlayer {
    margin: 6% 23% !important;
  }
  .dialogue-questions {
    width: 100% !important;
    float: left;
  }

  .navbar-header {
    width: 66% !important;
  }
}

@media (max-width: 767px) {
  .navbar-header {
    width: 100% !important;
  }

  .table-questions {
    padding: 0px 16% !important;
  }
  .setWidth {
    width: 88% !important;
  }
  .input-span {
    margin-bottom: 2px;
  }
  .nav-tabs.nav-justified {
    > .active > a {
      top: 0px !important;
      border-radius: 0px !important;
    }
    padding: 0 !important;
    margin-top: 0 !important;
  }
  #mainContent {
    margin-top: 146px;
  }
}

a[disabled], label[disabled], span[disabled] {
  cursor: not-allowed;
  color: Gray;
  opacity: 0.5;

  &:hover, &:focus, &:active {
    text-decoration: none;
    outline: none;
    outline-offset: 0;
  }
}

.float_right {
  float: right;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
  float: right;
  margin: 4px 7px 0 0;
}

.tooltip {
  &.right {
    margin-top: 0px;
    margin-right: 0px;
  }
}

/*** INSTRUCTIONS ***/
.step2 {
  min-height: 250px;
}

.step1, .step2 {
  padding-bottom: 20px !important;
  padding-top: 20px;
  .tab-content {
    padding: 30px 30px 0 30px;
  }
}

.act_landing_table {
  border-top: none;

  .descriptionTxt {

  }

  .table-condensed > {
    thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
      padding: 20px;
    }
  }
}

.table-condensed > {
  thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
    padding: 10px;
  }
}

#description_div {
  outline: none;
}

.module-title {
  background-color: #15C1C1;
}

a {
  &:hover {
    outline: none !important;
  }
}

.module-info {
  padding: 5px;
  position: relative;
  .mainMenuDiv, .menuTextDiv {
    display: inline;
  }
  .mainMenuDiv {
    padding-left: 25px;
  }
  a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    &:hover, &:focus {
       text-decoration: none;
    }
  }
  img {
    text-align: left;
    margin-top: -3px;
    margin-left: 4px;
  }
  h1 {
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 0px;
    margin: auto;
    display: table;
  }
  
    .langContainer {
      float: right;
      padding-right: 12px;
      text-align: right;
      .lang {
        color: white;
        font-weight: bold;
        &:hover {
          color: white;
          text-decoration: none;
          user-select: none;
        }
      }

      .btn {
        padding: 2px 0px;
      }

      .langSeparator {
        margin: 0px;
        padding-right: 6px;
        padding-left: 6px;
      }
    }
}

.container .jumbotron {
  background: #fff;
  border-radius: 0px;
  font-size: 0.90em;
  padding: 0px;
}

.com-tab th {
  background-color: #dddde5;
  text-align: left;
}

.center-block {
  display: block;
  margin: 0 auto;
}

.darkGreen, .green {
  background: $background-green;
}

.gray {
  background: $background-gray;
}

.red {
  background: $background-red;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  background: none;
  margin-bottom: 2px;
}

.header-right {
  padding-top: 12px;
  text-align: right;
}

.container {
  padding: 0px;
}

#navi_header {
  background-color: #3094D5;
  margin-bottom: 0px;
}

.topheader {
  padding: 0px 10px;
}

.main {
  margin-top: -20px;
  width: 100%;
  #container {
    width: 100%;
    height: 100%;
  }
}

#mainContent {
  margin-top: 120px;

  .fontScaleX2 {
    &.sectionHiddenSpan {
      font-size: 1.2em !important;
    }
  }
}

.titleImg {
  float: left;
  width: 85%;

  &.fr {
    margin-top: -4px;
  }
  &.en {
    margin-top: -7px;
  }
}

.itemsContainer {
  height: 20px;
  padding-top: 4px;
  width:60%;
  margin-left:20%;
  .contentIndex {
    float: left;
    font-weight: bold;
    text-align: right;
    padding: 0px;

    &.itemNumberWidth {
      width: 30px;
    }
	&:active, &:focus, &:active:focus,&:hover {
		color: #15C1C1 !important;
		font-weight:bold;	
	}
  }

  .activityTitle {
    label {
        margin-bottom: 0px;
        display: inline;
    }
  }

}

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .itemsContainer {
        .contentIndex {
             width: 6%;
           }

         .activityTitle {
           width: 94%;
           padding-left: 5px;
         }
      }
      .ngdialog-content{
        margin-top: 60px !important;
      }
      #ngdialog1{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
      }

   }

.fontScaleX4 {

  .contentTitleContainer {
    line-height: normal;


    .metaInfoBtn {
      width: auto !important;
      height: auto !important;
      margin: 0px 0px 10px 10px;
    }
  }
  @media screen and (min-width: 980px) {
          .menuItems{
              font-size: 19px !important;
          }
          .headerContentPad{
              margin-right: -15px !important;
              margin-left : -20px !important;
          }
          .navbar-right{
            margin-right: 0px !important;
          }
          .mainMenu{
              font-size: 20px !important;
          }
  }

  @media screen and (min-width: 1025px) {
         .menuItems{
             font-size: 21px !important;
              padding-right: 5px !important;
              padding-left : 0px !important;
         }
  }

  @media screen and (min-width: 1600px) {
        .menuItems{
            font-size: 24px !important;
             padding-right: 5px !important;
             padding-left : 0px !important;
        }
  }

  .titleImg {
    &.fr {
      margin-top: -6px;
    }
  }
}

.marginTopContent {
  .activityTitle {
    margin-top: 1px;
  }
}

.instruction-table {
  padding: 0px 30px;

  .descriptionVideo {
    width:40%;
    height: 250px;
  }
}


.FR_lang_button {
  color: black;
  background-color: #d0d0d9;
  border-color: #d0d0d9;
  padding: 10px 18px;
  border-radius: 0px;
  margin: 5px 0px 5px 0px;
}

.spaceunder {
  padding-bottom: 3%;
  padding-top: 2%;
  width: 50%;
  float: left;
}

.table-questions {
  padding: 1% 0 0 3.6%;
  margin: 0 auto;
}

.DragDropColumnTableQuestions{
  padding: 1% 0 0 0;
}

@media screen and (min-device-width: 768px) and (max-device-width: 800px) {
  .table-questions {
    padding: 5.5%;
    padding-top: 1.5%;
  }
}

.div-audio {
  width: 20%;
  float: left;
  padding-top: 15px;
}

.div-answers {
  width: 80%;
  float: left;
}

.space {
  background: #e2e2ec;
  height: 15px;
}

#description_div {
  font-weight: bold;
  padding-left: 30px;
}

.MaskLayer {
  position: absolute;
  z-index: 100;

  width: 90em;
  height: 6em;

  background: rgba(0, 0, 255, .5);
  -webkit-transition: opacity linear 0.25s;
  transition: opacity linear 0.25s;
  pointer-events: auto;
}

.MaskLayer.isClosed {
  opacity: 0;
  pointer-events: none;
}

.cur-page {
  background: rgb(12, 92, 140) !important;
}

body.inverted {
  background-color: #000;
  color: red;
}

.activityrelated {
  background: #deeaf6;
  padding: 30px;
  max-width: 890px;
  margin: 0 auto 30px;
  clear: both;
  border: 1px solid #000;
}

.inverted {
  .container .jumbotron {
    background: #000;
    color: white;
  }
  .com-tab th {
    background: #000;
  }
  .table-striped > tbody > tr:nth-child(2n+1) > td {
    background-color: #000;
    color: white;
  }
}

.table-striped > tbody > tr:nth-child(2n+1) > th, .inverted .table-striped > tbody > tr:hover > td, .table-striped > tbody > tr:hover > th {
  background-color: #000;
  color: white;
}

.txt-green {
  color: green !important;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.txt-red {
  color: red !important;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.correct-answer {
  border: 1px solid #5FDE01 !important;
  background-image: url(../../images/correct.png) !important;
  background-repeat: no-repeat !important;
  background-position-x: 99% !important;
  background-position-y: 50% !important;
  background-size: 11px !important;
}

.wrong-answer {
  border: 1px solid #FF0000 !important;
  background-image: url(../../images/wrong.png) !important;
  background-repeat: no-repeat !important;
  background-position-x: 99% !important;
  background-position-y: 50% !important;
  background-size: 11px !important;
}

.FillInTheBlank, .FillInTheBlank_VariableInput {
  .dropdown {
    &.correct-answer, &.wrong-answer {
      background-position-x: 3% !important;
    }
  }
}

.DragAndDrop, .DragAndDropVideo {
  .correct-answer, .wrong-answer {
    padding-right: 22px !important;
    background-position-x: 96.5% !important;
  }
}

.GroupHeading {
  .groupHeader-container {
    background-image: none !important;

    .slot {
      &.correct-answer, &.wrong-answer {
        padding-right: 22px !important;
        background-position-x: 96.5% !important;
      }
    }
  }
}

.GroupList {
  .groupList-container {
    background-image: none !important;

    .correct-answer-text {
      background-image: url(../../images/correct.png) !important;
      background-repeat: no-repeat !important;
      background-position-x: 95% !important;
      background-position-y: 50% !important;
      background-size: 11px !important;
    }

    .wrong-answer-text {
      background-image: url(../../images/wrong.png) !important;
      background-repeat: no-repeat !important;
      background-position-x: 95% !important;
      background-position-y: 50% !important;
      background-size: 11px !important;
    }
  }
}

.WordScrambleClick {
  .correct-answer, .wrong-answer {
    padding-right: 22px !important;
  }
}

.Match {
  .correct-answer, .wrong-answer {
    background-size: 8px !important;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .question-no{
        margin: 10px 0px !important;
   }
 }
 @supports (-ms-ime-align:auto) and (not (-ms-accelerator:true)) {
   .question-no{
           margin: 10px 0px !important;
   }
 }
}

.large-image {
  width: 600px !important;
}

.q-img {
  width: 100px
}

.module0, .module99 {
  .q-img {
    width: 200px
  }
}

.mar-right-5 {
  margin-right: 4px;
}

.activity-item {
  &:hover {
    outline: none;
  }
}

@supports (overflow:-webkit-marquee) and (justify-content:inherit) {

  .activity-item {
    &:hover {
      outline: none;
    }
  }

}

.width-100 {
  width: 100%;
}

#nav_ul .li-lang a {
  color: #4169E1;
  cursor: default;
}

.setWidth {
  width: 86% !important;
}

.questionWrapper {
  width: 101%;
  float: left;
  clear: both;

  &.button, &.variableinput {
    padding: 0px;

    .btnButtonSet {
      background: #f6f6f6;
      border: 1px solid #000000;
      color: #000000;

      &:focus:active {
        background: #f6f6f6;
        border: 1px solid #000000;
        color: #000000;
        outline-color: #c4c4c4;
      }
    }
  }
}

.questionNumber {
  float: left;
  font-weight: bold;
  position: absolute;
  height: 38px;
}

.questionText {
  float: left;
}

.setButton {
  float: left;
  margin-right: 0 !important;
}

input {
  &[type="radio"], &[type="checkbox"] {
    float: left;
    line-height: normal;
    margin: 9px 8px;
  }
}

.float_left {
  float: left !important;
}

.btn-warning {
  border: none;
}

.questionText label {
  display: inline;
  float: left;
}

.zodiac-images {
  height: 200px;
  margin-bottom: 20px;
}

.jumbotron h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  margin-left: 15px;
  margin-bottom: 9px;
}

.fontSlider {
  margin-bottom: 30px;
}

a {
  color: #132B4C;
  &:active, &:focus, &:active:focus,&:hover {
    color: #15C1C1;
	text-decoration:none;
	font-weight:bold;
  }
  &.mainMenu:hover,&.mainMenu:active, &.mainMenu:focus, &.mainMenu:active:focus{
	color: #132B4C;
  }
  &.mainMenu:hover img{
	-webkit-filter: invert(100%);
    filter: invert(100%);
  }
}

.disabled {
  //pointer-events: none;
  cursor: not-allowed;
  background-color: lightgray !important;
  opacity: 0.6;
}

.go-to-work-container-answer {
  float: left;
  clear: both;
  margin-bottom: 2%;
}

.go-to-work-container-options {
  clear: right;
  line-height: 28px;
  margin: 0 0 7%;
  margin-bottom: 5.7%;
  padding: 0;
}

.go-to-work-container {
  float: right;
  width: 100%;
}

.go-to-work-container-answer .wrong-answer {
  line-height: auto;
}

.accesibility-fontsize-container {
  float: left;
}

.accesibility-fontsize {
  margin-top: 6px !important;
}

.clear {
  clear: both;
  text-align: left;
}

.contentHeader {
  text-transform: capitalize;
}

.insideHumanBody {
  width: 75% !important;
}

.menuItems {
  padding: 10px;
}

.userName {
  font-size: small;
  font-weight: bold;
  color: white;
  float: right;
  margin-top: 56px;
  margin-right: -147px;
}

.inline {
  display: inline;
}

.answer-feedback {
   position: absolute;
   left: -59px;
   top: 0px !important;
   bottom: 0px;
   margin: auto;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .answer-feedback {
    left: -50px;
  }
  .menuItems {
    padding: 5px;
  }
}

.question-no {
   position: absolute;
   left: -23px;
   display: table;
   font-weight: bold;
   top: 10px;
   bottom: 0;
   margin: auto;
}

.container-fluid {
  margin-top: 19px;
  height: 81px;
  text-align: center;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  background-color: #132B4C;

  .center {
    height: 100%;
  }
}

.logoHelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mainLogo {
  width: 65%;
  display: none;
}

.headerContentPad {
  padding-top: 0.75%;
}

.fullWidthContainer {
  width: 100% !important;
}

.mainQuestion img {
  //margin-right: 10px;
}

.langContainer {
  .selected, .selected:focus {
    border-bottom: 2px solid #ffffff;
  }
  .selected:focus {
    text-decoration: none;
  }
}

.templateDetails {
  font-size: 0.75em;
}

.templateDetails {
  .fontColor {
    color: #2c96d6;
  }
}

.bg-info {
  background-color: white !important;
}

.form-control {
  float: left;
  margin: -7px 5px 10px 5px;
  width: auto;
  font-size: 1.1em;
}

.form-control input {
  text-align: center;
}

.go-to-work-input {
  display: inline !important;
  min-width: 45px !important;
  width: 45px !important;
  margin-top: -10px !important;
  margin-right: 10px !important;
  margin-bottom: 7px !important;
}

.go-to-work-container-answer {
  .wrong-answer, .correct-answer {
    display: inline !important;
    min-width: 45px !important;
    width: 45px !important;
    margin-top: -10px !important;
    margin-right: 10px !important;
    margin-bottom: 7px !important;
  }
}

.rightFloat {
  margin: 0;
  padding: 0;
  float: right;
  margin-right: 15px;
}

.leftFloat {
  margin: 0;
  padding: 0;
  float: left;
}

.row {
  margin-bottom: 10px;

  #instructions{
    border-bottom: 1px solid;
  }
}

.footerTopPadding {
  padding-top: 20px;

  &.activitiesScore {
    .btnButtonSet {
        float: right;
    }
  }
}

.tableLeftBorder {
  border-left: 1px solid;
 }

.tableFixedWidth {
  width: 100%;
  table-layout: fixed;
}

.jumbotron .container {
  width: 95.5%;
}

@media (min-width: 1024px){
    .jumbotron .container {
      width: 94%;
    }
}
@media (min-width: 1260px){
    .jumbotron .container {
      width: 95.3%
    }
}
@media (min-width: 1366px){
    .jumbotron .container {
      width: 1300px;
    }
}
@media (min-width: 1440px){
    .jumbotron .container {
      width: 95.8%;
    }
}
@media (min-width: 1600px){
    .jumbotron .container {
      width: 1542px;
    }
}

@media (min-width: 1680px){
    .jumbotron .container {
      width: 1654px;
    }
}
@media (min-width: 1910px){
    .jumbotron .container {
      width: 1860px;
    }
}
@media (min-width: 2040px){
    .jumbotron .container {
      width: 1987px;
    }
}
@supports (overflow:-webkit-marquee) and (justify-content:inherit){
   @media (min-width: 1260px){
       .jumbotron .container {
         width: 95.5%;
       }
   }
   @media (min-width: 1600px){
       .jumbotron .container {
         width: 1540px;
       }
   }
   @media (min-width: 1910px){
       .jumbotron .container {
         width: 1860px;
       }
   }
}
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
     @media (min-width: 1440px){
         .jumbotron .container {
           width: 95%;
         }
     }
     @media (min-width: 1680px){
         .jumbotron .container {
           width: 1630px;
         }
     }
}

.statuses {
  width: 40px;
  height: 26px;
  background-size: 40px;
  float: right;
  background-repeat: no-repeat;
}

.activities {
  .status {

    .success-contents {
      @extend .statuses;
      background-image: url("../../images/activity-success.png");
    }

    .tryIt-contents {
      @extend .statuses;
      background-image: url("../../images/activity-tryit.png");
    }

    .inProgress-contents {
      @extend .statuses;
      background-image: url("../../images/activity-inprogress.png");
    }
  }
}

.dialogues {
  .status {
    .success-contents {
      @extend .statuses;
      background-image: url("../../images/dialogue-success.png");
    }

    .tryIt-contents {
      @extend .statuses;
      background-image: url("../../images/dialogue-tryit.png");
    }

    .inProgress-contents {
      @extend .statuses;
      background-image: url("../../images/dialogue-inprogress.png");
    }
  }
}

.studySection {
  .status {
    .success-contents {
      @extend .statuses;
      background-image: url("../../images/studysection-success.png");
    }

    .tryIt-contents {
      @extend .statuses;
      background-image: url("../../images/studysection-tryit.png");
    }

    .inProgress-contents {
      @extend .statuses;
      background-image: url("../../images/studysection-inprogress.png");
    }
  }
}

.whatsNew {
  .status {
    .success-contents {
      @extend .statuses;
      background-image: url("../../images/whatsnew-success.png");
    }

    .tryIt-contents {
      @extend .statuses;
      background-image: url("../../images/whatsnew-tryit.png");
    }

    .inProgress-contents {
      @extend .statuses;
      background-image: url("../../images/whatsnew-inprogress.png");
    }
  }
}

.quiz {
  .status {
    .success-contents {
      @extend .statuses;
      background-image: url("../../images/eom-success.png");
    }

    .tryIt-contents {
      @extend .statuses;
      background-image: url("../../images/eom-tryit.png");
    }

    .inProgress-contents {
      @extend .statuses;
      background-image: url("../../images/eom-inprogress.png");
    }
  }
}

.theoryVignettes {
  .status {
    .success-contents {
      @extend .statuses;
      background-image: url("../../images/whatsnew-success.png");
    }

    .tryIt-contents {
      @extend .statuses;
      background-image: url("../../images/whatsnew-tryit.png");
    }

    .inProgress-contents {
      @extend .statuses;
      background-image: url("../../images/whatsnew-inprogress.png");
    }
  }
}

.tab-three-cols-numb td {
  width: 30%;
  padding: 5px 10px;
}

.hide-visibility {
  visibility: hidden;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.text-bold {
  font-weight: bold;
}

.col-lg-6 {
  width: 50%;
}

.table-striped {
  margin-bottom: 0px !important;
}

.mainMenu {
  height: 20px;

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

.floatNone {
  float: none !important;
  clear: both;
}

.menuLowerRow {
  margin-right: 0;
  margin-bottom: 0 !important;
}

.inline-block {
  display: inline-block;
}

.AudioCaptionBox {
  width: 55%;
  margin: 0 auto;
  text-align: left;
  padding: 10px;
}

.CaptionButtonAudio {
  background-color: #2c96d6;
  border-color: #2c96d6;
  padding: 7px 7px;
  border-radius: 0px;
  border: 1px solid transparent;
  color: white;
  float: right;
}

.scroll-overflow {
  overflow-y: auto;
  overflow-x: hidden !important;
}

.noScroll{
  overflow-y: hidden !important;
}

.scroll-overflow-StudySection {
  overflow-y: auto;

  &:focus {
    outline-offset: -3px;
  }
}

.tooltip-audio {
  .tooltip-inner {
    word-wrap: break-word;
    color: #080808;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    padding: 20px;
    white-space: pre-wrap;
    width: 600px;
    max-width: 600px;
    text-align: left;
  }

  .tooltip-arrow {
    display: none;
  }
}

.draganddrop {
  .tooltip-inner {
    max-width: 100%;
  }
}

label {
  font-weight: inherit;
}

.offscreen {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0px;
  height: 0px;
  border: 0;
  overflow: hidden;
}

#DescriptionTableBody {
  .tooltip-audio {
    .tooltip-inner {
      position: fixed;
      top: 5%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}

.sectionContainer {
  .tooltip-audio {
    .tooltip-inner {
      position: fixed;
      top: 5%;
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 100%;
      width:100% !important;
    }
  }

  .fontScaleX0 {
    .tooltip-inner {
      font-size: 5px;
    }
  }

  .fontScaleX1 {
    .tooltip-inner {
      font-size: 10px;
    }
  }

  .fontScaleX3 {
    .tooltip-inner {
      font-size: 20px;
    }
  }
  .fontScaleX4 {
    .tooltip-inner {
      font-size: 26px;
    }
  }
}

.ngdialog-content {
  text-align: center !important;
  background-color: #ffffff !important;
}

.ngdialog-buttons {
  text-align: center !important;
}

.ngdialog-button {
  float: none !important;
}

.ngdialog-buttons {
  padding-left: 3px;
}

.accessibilityPadding {
  padding-bottom: 15px;
  margin-bottom: 0px !important;
}

.AccessButtonSpacing {
  margin-right: 10px;
  border-radius: 0px;
  background-color: #15C1C1;
  border: 2px solid black;
  border-color: black !important;
  color:white;
}

.AccessButtonActive {
  background-color: #132B4C !important;
  color: white !important;

  &:active, &:focus, &:active:focus {
    background-color: #103255 !important;
  }

}

.ngdialog-buttons {
  .AccessApplyButton {
    background-color: #132B4C !important;

    &:active, &:focus, &:active:focus, &:hover {
      background-color: #15C1C1 !important;
    }
  }

  .AccessCancelButton {
    background-color: #CA3937 !important;

    &:active, &:focus, &:active:focus {
      background-color: #982a28 !important;
    }
  }
}

.AccessSubHead {
  font-weight: bold;
}

.ButtonStyle1 {
  min-width: 80px;
}

.ButtonStyle2 {
  min-width: 100px;
}
.ngdialog {
    z-index: 999999 !important;
}
.ngdialog-content {
  width: 617px !important;
}

.AccesslabelSize {
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline;
  margin: 8px auto;
}

.rightAlign {
  text-align: right;
}

@-moz-document url-prefix() {
  .rightAlign {
    padding-top: 2px;
  }

}

.s-img {
  img {
    width: auto;
    max-width: 75%;
  }
}

.PaddingCustom {
  padding-left: 3px;
}

.PaddingCustomLeft {
  padding-left: 25px;
}

.AccessCancelButton {
  margin: 0 0 0 0.4em !important;
}

.hidden-overflow {
  overflow: hidden;
}

.ModuleEnAlign {
  padding-left: 30px;
}

.preload {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
}

#Activity_landing_page, .finalQuiz-container {
  .innerActivityTitle {
    color: #575b6e;
    text-align: center;
    padding: 20px;
    font-size: x-large;
    font-weight: 300;
    margin: 0px;
  }
}

#Activity_landing_page{
  height:100vh;
}

// IE10 CSS
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .tab-content {
    .flex-content {
      display: -ms-flexbox;
    }
  }
}

.translationButton{
    margin: 5px auto;
}

.translationButton{
	&:focus,&:active,&:hover{
	   outline: 3px solid #132B4C;
	   outline-offset: 3px;
	   text-decoration: none;
	   color : #15C1C1;
	}  
}
.tooltip-inner {
    background-color: rgba(19, 43, 76, 0.85);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    width: 800px !important;
}	
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #FFFFFF;
}
.tr_desciption{
  border:none !important;
  border-image:none !important;
  border-image-width: 0px !important;
}
.privacyButtonDiv{
   position: fixed;
   bottom: 8px;
   left: 10px;
}
.privacyPolicyModelHeader{
   float:left;
   color: #4b83ba;
}
.privacyPolicyLabel{
  text-align: justify;
}
.privacyPolicyModelInnerHeader{
   float:left;
}


