$font-primary : "Helvetica Neue", sans-serif;
$page-background-purple : #e2e2ec;
$white-color:#ffffff;
$background-green : #009e0f;
$background-gray : #dddde5;
$background-red : #e62e2e;

$navtab-border-top-blue : #2c96d6;