<div class="onboarding-container">
    <div class="header"></div>
    <div class="form-container">
        <div class="form-header">
            <H1>PLACEMENT TEST</H1>
        </div>
        <hr>
        <h4 class="text-center placement-message"><strong>This multiple-choice placement test contains fifty questions arranged in order of increasing level of difficulty. It will determine your level of French comprehension.</strong>
        </h4>
        <h3 class="text-center"><strong>Good Luck!</strong></h3>
        <hr>
        <div class="form-footer">
            <button ng-click="ctrl.onStartPlacementTest()" class="btn btn-primary">START</button>
        </div>
    </div>
</div>
