<div class="questionnaire-container">
    <div class="header"></div>
    <form class="qform-container" name="questionForm" novalidate>
        <div class="sqform-header">
            <h1>PLACEMENT TEST</h1>
        </div>
        <div class="qform-body">
            <div class="row sqfill-row" ng-if="ctrl.section['@TYPE'] === 'FILLTHEBLANKS'">
                <div class="col-md-4 fill-questions-container">
                    <h3 class="question-number">QUESTION {{ ctrl.QuestionService.questionNumber }}</h3>
                    <h4 class="question-title">{{ ctrl.sectionInstructionText }}</h4>
                </div>
                <div class="col-md-8 qinput">
                    <div class="row">
                        <div class="q-audio" tooltip-class="tooltip-qaudio" ng-click="ctrl.onAudioPlay()" ng-enter="ctrl.onAudioPlay()"
                             uib-tooltip="{{ ctrl.question[ctrl.QuestionService.currentQuestionIndex].AUDIOCAPTION }}"
                             tooltip-placement="right"
                             ng-blur="showTooltip = false;"
                             ng-focus="index = $index"
                             tooltip-trigger="none"
                             tooltip-is-open ="showTooltip && index == $index ">

                            <img class="qplay-btn" src="images/placement-play-button.png" alt="Play audio">
                            <span class="q-audio-label">PLAY AUDIO</span>
                            <button id="myAudio" ng-click='audio.paused ? audio.play() : audio.pause()'></button>
                        </div>
                        <hr>
                        <div class="user-ans" ng-if="ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'INPUT'">
                            <p class="uanswer" for="answer"><strong>Write an answer here?</strong></p>
                            <div class="col-md-6">
                                <input class="form-control sqfill-input" type="text" name="answer" ng-model="ctrl.fillCorrectAns.answer" ng-keypress="onEnterSubmit($event)">
                            </div>
                        </div>
                        <div ng-if="ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'BUTTON'">
                            <div class="qinput-choices" ng-repeat="ques in ctrl.question track by $index" ng-if="ctrl.QuestionService.currentQuestionIndex === $index">
                                <span>{{ ques.TEXT }}</span>
                                <label class="qform-check-input" ng-repeat="answer in ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET.ANSWER track by $index">
                                    <input type="radio" class="fake-radio" ng-model="ctrl.fillCorrectAns.answer" value="{{ answer.TEXT }}" required> {{ answer.TEXT }}
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="sqfill-footer" ng-if="showSubmit && questionForm.$valid && !questionForm.$pristine">
                            <button type="submit" class="btn btn-qsubmit" ng-click="ctrl.showNextQuestion(questionForm) && audio.pause()"
                                    ng-enter="ctrl.showNextQuestion(questionForm) && audio.pause()">
                                <span class="q-text">SUBMIT</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row drag-form" id="drag" ng-if="ctrl.section['@TYPE'] === 'DRAGDROP'">
                <div class="col-md-4 fill-questions-container">
                    <h3 class="question-number">QUESTION {{ ctrl.QuestionService.questionNumber }}</h3>
                    <h4 class="question-title">{{ ctrl.sectionInstructionText }}</h4>
                </div>
                <div class="col-md-8 drag-questions">
                    <div class="row">
                        <div class="col-md-9">
                            <div ng-repeat="ques in ctrl.question track by $index">
                                <div class="col-md-12 draggable-audio">
                                    <span ng-click="ctrl.onClickAudioPlay(ques)" ng-enter="ctrl.onClickAudioPlay(ques)" tabindex="0"
                                          tooltip-class="tooltip-dragaudio"
                                          uib-tooltip="{{ ctrl.question[$index].AUDIOCAPTION }}"
                                          tooltip-placement="right"
                                          ng-blur="showTooltip = false;"
                                          ng-focus="index = $index"
                                          tooltip-trigger="none"
                                          tooltip-is-open ="showTooltip && index == $index ">
                                            <img class="dragplay-btn" src="images/placement-play-button.png"  alt="Play audio">
                                            <button id="myAudio"
                                                ng-click='audio.paused ? audio.play(ques) : audio.pause()'></button>

                                    </span>
                                    <p class="drag-audio-label">
                                        {{ ques.PLAYER }} {{ ques.TEXT }}
                                    </p>

                                    <div>
                                        <div ng-drop-success="dropped($data,$event,ques,false)"
                                             popover-placement="bottom auto"
                                             id="{{$index}}"
                                             ng-focus="(!ques.ANSWERSET.disabled && setFocus(true,$index,true))"
                                             ng-blur="setFocus(false,null,false);" class="slot draggable float_left draggableTargets"
                                             ng-drop="true"
                                             tabindex="0"
                                             popover-is-open="isPopoverOpen && index == $index"
                                             popover-trigger="none"
                                             uib-popover-template="dynamicPopover.templateUrl">
                                            <label class="draggableAnswer"
                                                   ng-bind-html="ctrl.fillCorrectAns.answer[$index]"></label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 drag-options">
                            <div ng-repeat="answer in ctrl.shuffledAnswers track by $index">
                                <div class="drag-container">
                                        <span class="drag-answerset"
                                              ng-drag="true"
                                              ng-drag-data="{answer}"
                                              data-allow-transform="false"
                                              ng-drag-success="onDragComplete($data,$event)">
                                        {{ answer }}
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="sqdrag-footer" ng-if="showSubmit" ng-class="{'dragDropSubmitButton':ctrl.section['@TYPE'] == 'DRAGDROP'}">
                        <button type="submit" class="btn btn-drsubmit" ng-click="ctrl.showNextQuestion(questionForm) && audio.pause()"
                                ng-enter="ctrl.showNextQuestion(questionForm) && audio.pause()">
                            <span class="q-text">SUBMIT</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="ctrl.section['@TYPE'] === 'MULTIPLECHOICE'">
                <div class="col-md-4 q-sidebar">
                    <h3 class="question-number">QUESTION {{ ctrl.QuestionService.questionNumber }}</h3>
                    <h4 class="question-title">{{ ctrl.sectionInstructionText }}</h4>
                </div>
                <div class="col-md-8">
                    <div class="q-audio">
                        <img class="qplay-btn" src="images/placement-play-button.png" alt="Play audio" ng-keypress="keyPressHandler($event)"><span class="q-audio-label">PLAY AUDIO</span>
                    </div>
                    <hr>
                    <div class="qinput-choices" ng-repeat="ques in ctrl.question track by $index" ng-if="ctrl.QuestionService.currentQuestionIndex === $index">
                        <span>{{ ques.TEXT }}</span>
                        <label class="qform-check-input" ng-repeat="answer in ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET.ANSWER track by $index">
                            <input type="radio" class="fake-radio" ng-model="ctrl.fillCorrectAns.answer" value="{{ answer.TEXT }}" required> {{ answer.TEXT }}
                        </label>
                    </div>
                    <hr>
                    <div class="st-footer" ng-if="questionForm.$valid && !questionForm.$pristine">
                        <button type="submit" class="btn btn-qsubmit">
                            <span class="q-text">SUBMIT</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/ng-template" id="dragDropPopover.html">
    <div class="dragDropPopover">
        <div class="drag-answerset-popover" ng-repeat= "answer in ctrl.shuffledAnswers track by $index">
            <div ng-focus="setFocus(true, index, true)"
                 tabindex="0"
                 id="{{$index}}"
                 ng-blur="setFocus(false)"
                 ng-enter="dropped(answer,$event,ques,true)"
                 ng-click="dropped(answer,$event,ques,true)"
                 ng-bind-html="answer">
            </div>
        </div>
    </div>
</script>