<!DOCTYPE html>
<html ng-app="quizApp" ng-controller="mainController" xmlns="http://www.w3.org/1999/xhtml" lang="{{ds.language}}" xml:lang="{{ds.language}}">
<head>
    <!--<base href="/main">-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title ng-bind-template="Module {{moduleId}}"></title>
    <link href="assets/css/style.css" rel="stylesheet"/>
    <link href="css/ngDialog.css" rel="stylesheet"/>
    <link href="css/slideDown.css" rel="stylesheet"/>
    <link href="css/rzslider.css" rel="stylesheet"/>
    <link href="css/jquery.gritter.css" rel="stylesheet"/>
    <link href="css/angular.rangeSlider.css" rel="stylesheet"/>
    <link href="css/ngDialog-theme-default.css" rel="stylesheet"/>
    <link href="css/ngDialog-theme-flat.css" rel="stylesheet"/>
    <link href="css/video-js.min.css" rel="stylesheet"/>
    <link href="css/video-js.css" rel="stylesheet">

    <!-- environment config-->
    <script src="js/env.js"></script>

    <script src="scripts/jquery-1.11.3.min.js"></script>
    <script src="scripts/angular-1.6.1/angular.js"></script>
    <script src="scripts/angular-1.6.1/angular-cookies.js"></script>
    <script src="scripts/angular-1.6.1/angular-animate.js"></script>
    <script src="scripts/angular-1.6.1/angular-ui-router.js"></script>
    <script src="scripts/angular-1.6.1/angular-route.min.js"></script>
    <script src="scripts/angular-1.6.1/angular-resource.min.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-tpls-0.13.2.min.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-tooltip-tpls-1.2.5.min.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-popover-tpls-1.2.5.min.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-dropdown-tpls-1.2.5.js"></script>
    <script src="scripts/angular-1.6.1/angular-touch.min.js"></script>
    <script src="scripts/dimensions.js"></script>
    <script src="scripts/tooltip.js"></script>
    <script src="scripts/tooltip.tpl.js"></script>
    <script src="scripts/event.js"></script>
    <script src="scripts/collapse.js"></script>
    <script src="scripts/util.js"></script>
    <script src="scripts/parallel.js"></script>
    <script src="js/worker.js"></script>
    <script src="scripts/angular-1.6.1/angular-sanitize.js"></script>
    <script src="scripts/angular-idle.min.js"></script>
    <script src="scripts/angular.audio.js"></script>

    <script src="scripts/lvl-uuid.js"></script>
    <script src="scripts/ngDraggable.js"></script>
    <script src="scripts/xml2json.js"></script>
    <script src="scripts/ngDialog.js"></script>
    <script src="scripts/paging.js"></script>
    <script src="scripts/angular.rangeSlider.js"></script>
    <script src="scripts/angular-aria.js"></script>
    <script src="js/app.js"></script>
    <script src="js/app.run.js"></script>
    <script src="scripts/jquery.gritter.js"></script>
    <script src="scripts/xmlToJSON.js"></script>
    <script src="scripts/angular-timer.js"></script>
    <script src="scripts/humanize-duration.js"></script>
    <script src="scripts/moment.js"></script>
    <script src="scripts/videojs.min.js"></script>
    <script src="scripts/video.js"></script>
    <script src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
    <script src="node_modules/lodash/lodash.js"></script>
    

    <!--scorm apis-->
    <script src="js/scorm.js"></script>

    <!--Controllers-->
    <script src="js/Controller/accessibilityController.js"></script>
    <script src="js/Controller/answerSetController.js"></script>
    <script src="js/Controller/questionsController.js"></script>
    <script src="js/Controller/quizController.js"></script>
    <script src="js/Controller/dialogueController.js"></script>
    <script src="js/Controller/finalQuizController.js"></script>
    <script src="js/Controller/mainController.js"></script>
    <script src="js/Controller/whatsNewController.js"></script>
    <script src="js/Controller/whatsNewContentController.js"></script>
    <script src="js/Controller/resumeModalController.js"></script>
    <script src="js/Controller/groupingController.js"></script>
    <script src="js/Controller/studySectionController.js"></script>
    <script src="js/Controller/theoryVignetteController.js"></script>
    <script src="js/Controller/theoryVignetteContentController.js"></script>
    <script src="js/Controller/timeoutWarningController.js"></script>
    <script src="js/Controller/popupController.js"></script>
    <script src="js/Controller/multipleTabsController.js"></script>
    <script src="js/Controller/sessionAliveController.js"></script>
    <script src="js/Controller/placementTestController.js"></script>
    <script src="js/Controller/internetExplorerPopupController.js"></script>
    <script src="js/Controller/OverviewCtrl.js"></script>

    <!--Directives-->
    <script src="js/directives/answerset.js"></script>
    <script src="js/directives/buttonAnswerSet.js"></script>
    <script src="js/directives/dragDropAnswerSet.js"></script>
    <script src="js/directives/dragDropColumn.js"></script>
    <script src="js/directives/dropDownAnswerSet.js"></script>
    <script src="js/directives/inputAnswerSet.js"></script>
    <script src="js/directives/FIBVariableInput.js"></script>
    <script src="js/directives/multipleChoiceAnswerSet.js"></script>
    <script src="js/directives/singleDragDropAnswerSet.js"></script>
    <script src="js/directives/listenAndRepeatAnswerSet.js"></script>
    <script src="js/directives/html5Audio.js"></script>
    <script src="js/directives/matchAnswerSet.js"></script>
    <script src="js/directives/dialogueMultipleChoice.js"></script>
    <script src="js/directives/focus.js"></script>

    <script src="js/directives/ngenter.js"></script>
    <script src="js/directives/ngblurs.js"></script>
    <script src="js/directives/onFinishRender.js"></script>
    <script src="js/directives/question.js"></script>
    <script src="js/directives/pagination.js"></script>
    <script src="js/directives/verticalMenu.js"></script>
    <script src="js/directives/groupHeader.js"></script>
    <script src="js/directives/groupList.js"></script>
    <script src="js/directives/wordScramble.js"></script>
    <script src="js/directives/wordScrambleClick.js"></script>
    <script src="js/directives/accent.js"></script>
    <script src="js/directives/dragDropVideo.js"></script>
    <script src="js/directives/multiAnswerDragDrop.js"></script>
    <script src="js/directives/multiChoiceMultiAnswer.js"></script>
    <script src="js/directives/whatsNewContent.js"></script>
    <script src="js/directives/sectionHeader.js"></script>
    <script src="js/directives/videoJsLoad.js"></script>
    <script src="js/directives/placementDragDropAnswerSet.js"></script>

    <!--Services-->
    <script src="js/service/interactionFactory.js"></script>
    <script src="js/service/activityService.js"></script>
    <script src="js/service/quizService.js"></script>
    <script src="js/service/utilityService.js"></script>
    <script src="js/service/dataService.js"></script>
    <script src="js/service/templateService.js"></script>
    <script src="js/service/xmlDataService.js"></script>
    <script src="js/service/helperService.js"></script>
    <script src="js/service/localStorageService.js"></script>
    <script src="js/service/dialogueService.js"></script>
    <script src="js/service/whatsNewService.js"></script>
    <script src="js/service/localizationService.js"></script>
    <script src="js/service/contentService.js"></script>
    <script src="js/service/groupService.js"></script>
    <script src="js/service/staticManiFestService.js"></script>
    <script src="js/service/placementService.js"></script>


    <!--filters-->
    <script src="js/filters/filterHTML.js"></script>
    <script src="js/filters/localization.js"></script>

    <script src="scripts/html2canvas.js"></script>
    <script src="scripts/jspdf.debug.js"></script>
    <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js"></script>
    <script type = "text/javascript">google.charts.load('current', {packages: ['corechart']});</script>

</head>
<body class="{{selectedBodyClass}} {{language}} module{{moduleId}} fontScaleX{{fontSize}} overflow-hidden" style="">
<header ng-cloak>
    <nav class="navbar navbar-default">
        <div class="container-fluid row">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-md-4 col-sm-4 headerContentPad" ng-if="placementTestEnabled">    <!--class="navbar-header" -->
                <button id="mainMenuBtn" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <label for="mainMenuBtn" class="offscreen">{{'MAIN_MENU'|localization:ds.language}}</label>
                <label class="menuItems float_left" ng-if="user.userName">{{'WELCOME'|localization:ds.language}}
                    {{user.userName}}</label>
            </div>
            <div class="col-md-4 col-sm-4 center col-md-offset-4" ng-if="!placementTestEnabled">
                <span class="logoHelper"></span>
                <img class="mainLogo" src="images/LRDG_short_white.png" alt="LRDG logo">
            </div>
            <div class="col-md-4 col-sm-4 center" ng-if="placementTestEnabled">
                <span class="logoHelper"></span>
                <img class="mainLogo" src="images/LRDG_short_white.png" alt="LRDG logo">
            </div>
            <div class="collapse navbar-collapse float_right col-md-4 col-sm-4 headerContentPad" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav navbar-right" style="list-style:none; padding:0;">
                    <li class="active" ng-if="placementTestEnabled">
                        <!--<button id="objectivesBtn" ui-sref="instructions({'moduleId':moduleId})"  class="btn btn-link menuItems">
                            <strong>{{'OBJECTIVES'|localization:ds.language}}</strong>
                        </button>-->
                        <label for="objectivesBtn" class="offscreen">{{'OBJECTIVES'|localization:ds.language}}</label>
                    </li>
                    <li>
                        <button id="accessibilityBtn" ng-click="open();stopQuizAudio()" ng-enter="open();stopQuizAudio()"  alt="Accessibility"
                                 class="btn btn-link menuItems">
                            <strong>{{'ACCESSIBILITY'|localization:ds.language}}</strong>
                        </button>
                        <label for="accessibilityBtn" class="offscreen">{{'ACCESSIBILITY'|localization:ds.language}}</label>
                    </li>
                    <li ng-if="placementTestEnabled">
                        <a role="button" id="supportBtn" href="support.html?lang={{ds.language}}" ng-click="stopQuizAudio()" ng-enter="stopQuizAudio()" target="_blank" alt="{{'SUPPORT'|localization:ds.language}}" class="btn btn-link menuItems">
                            <strong>{{'SUPPORT'|localization:ds.language}}</strong>
                         </a>
                         <label for="supportBtn" class="offscreen">{{'SUPPORT_LABEL'|localization:ds.language}}</label>
                    </li>
                </ul>

            </div>

        </div>
        <div class="module-title">
            <div class="row menuLowerRow">
                <div class="module-info placement-info">
                    <div class="mainMenuDiv col-md-3 col-sm-3 col-lg-3" ng-if="placementTestEnabled">
                        <a ui-sref="groups({moduleId: moduleId, selectedUnit: ds.selectedUnit})"
                           class="mainMenu" onclick="blur()">
                            {{'MAIN_MENU'|localization:ds.language}}
                            <img src="images/menu.png" alt="Menu">
                        </a>
                    </div>
                    <div class="menuTextDiv col-md-6 col-sm-6 col-lg-6" ng-if="placementTestEnabled">
                        <h1 class="mainTitle" lang="{{ds.mainMenuLinkLang}}">Familly Forward Assessment</h1>
                    </div>

                </div>
            </div>
        </div>
    </nav>
</header>
<div>
    <div id="mainContent" class="main">
        <div class="preload" ng-if="$root.isLoading"><img src="images/loaderer.gif" alt="loading">
        </div>
        <div id="container" ng-if="!$root.isLoading && !$root.isFrenchModule" ui-view  ng-cloak class="container"
             ng-class="{'fullWidthContainer':ds.isWhatsNew||ds.isTheory, 'safari': $root.isSafari, 'secondaryLang_fr': $root.translateLang == '0', 'secondaryLang_es': $root.translateLang == '1', 'secondaryLang_zh': $root.translateLang == '2'}"></div>
        <div id="container" ng-if="!$root.isLoading && $root.isFrenchModule" ui-view  ng-cloak class="container"
             ng-class="{'fullWidthContainer':ds.isWhatsNew||ds.isTheory, 'safari': $root.isSafari, 'secondaryLang_en': $root.translateLang == '0', 'secondaryLang_es': $root.translateLang == '1', 'secondaryLang_zh': $root.translateLang == '2'}"></div>
    </div>
</div>
</body>

</html>

