<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PLACEMENT TEST</title>

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/style.css" rel="stylesheet"/>
    <link href="css/ngDialog.css" rel="stylesheet"/>
    <link href="css/ngDialog-theme-default.css" rel="stylesheet"/>
    <link href="css/ngDialog-theme-flat.css" rel="stylesheet"/>

    <!--<base href="/">-->

    <script src="scripts/angular-1.6.1/angular.js"></script>
    <script src="scripts/angular-1.6.1/angular-ui-router.js"></script>
    <script src="js/placementApp/app.js"></script>
    <script src="js/placementApp/routes.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-tpls-0.13.2.min.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-tooltip-tpls-1.2.5.min.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-popover-tpls-1.2.5.min.js"></script>
    <script src="scripts/angular-ui/ui-bootstrap-dropdown-tpls-1.2.5.js"></script>
    <script src="scripts/angular-1.6.1/angular-touch.min.js"></script>
    <script src="node_modules/angular-utils-pagination/dirPagination.js"></script>
    <script src="node_modules/lodash/lodash.js"></script>
    <script src="scripts/angular.audio.js"></script>
    <script src="scripts/xml2json.js"></script>
    <script src="scripts/ngDraggable.js"></script>
    <script src="scripts/angular-1.6.1/angular-sanitize.js"></script>
    <script src="scripts/ngDialog.js"></script>
    <script src="js/placementApp/dr-draggable.js"></script>

    <!-- Controllers -->
    <script src="js/placementApp/Controller/placementTestController.js"></script>

    <!--Services-->
    <script src="js/placementApp/Services/placementTestServices.js"></script>
    <script src="js/placementApp/Services/xmlDataService.js"></script>
    <script src="js/placementApp/Services/utilityService.js"></script>
    <script src="js/placementApp/Services/localStorageService.js"></script>


</head>
<body ng-app="placementApp">
<header ng-cloak>
    <nav class="navbar navbar-default">
        <div class="container-fluid row">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-md-4 col-sm-4 headerContentPad">    <!--class="navbar-header" -->
                <button id="mainMenuBtn" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <label for="mainMenuBtn" class="offscreen">MAIN MENU</label>
                <label class="menuItems float_left" ng-if="user.userName">WELCOME
                    {{user.userName}}</label>
            </div>
            <div class="col-md-4 col-sm-4 center">
                <span class="logoHelper"></span>
                <img class="mainLogo" src="images/LRDG_short_white.png" alt="LRDG logo">
            </div>
            <div class="collapse navbar-collapse float_right col-md-4 col-sm-4 headerContentPad" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav navbar-right" style="list-style:none; padding:0;">
                    <li>
                        <button id="accessibilityBtn" ng-click="open()" ng-enter="open()"  alt="Accessibility"
                                class="btn btn-link menuItems">
                            <strong>ACCESSIBILITY</strong>
                        </button>
                        <label for="accessibilityBtn" class="offscreen">SETTINGS</label>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>

    <ui-view></ui-view>

</body>
</html>
