<div>
    <h1>{{'SETTINGS'|localization:ds.language}}</h1>

    <div class="accessibilityPadding row" role="group" aria-labelledby="system_language">
        <p class="AccessSubHead">{{'LANGUAGE'|localization:ds.language}}</p>
        <div class="rightAlign col-sm-4 col-md-4">
            <label class="AccesslabelSize">{{'SYSTEM_LANGUAGE'|localization:ds.language}}</label>
        </div>
        <div class="btn-group col-sm-8 col-md-8 PaddingCustom" data-toggle="buttons">
            <div class="btn btn-default AccessButtonSpacing ButtonStyle1" tabindex="{{$index > 0? -1: 0}}"
               ng-click="selectLang($index)"
               ng-enter="selectLang($index)"
               ng-repeat="language in availableLang"
               ng-class="{active: $index == selectedLang, AccessButtonActive: $index == selectedLang, btnDisabled:$index > 0}">
                <input name="language"
                       ng-value="$index"
                       type="radio"
                       tabindex="-1"
                       data-ng-model="$parent.language">
                <span ng-bind="language" />
                <label class="offscreen">{{language}}</label>
            </div>
        </div>
    </div>

    <div class="accessibilityPadding row" role="group" aria-labelledby="iSpeak_language" ng-if="placementTestEnabled">
        <div class="rightAlign col-sm-4 col-md-4">
            <label class="AccesslabelSize">{{'I_SPEAK'|localization:ds.language}}</label>
        </div>
        <div class="btn-group col-sm-8 col-md-8 PaddingCustom" data-toggle="buttons">
            <div class="btn btn-default AccessButtonSpacing ButtonStyle1" tabindex="{{$index > 0? -1: 0}}"
               ng-repeat="lang in langButtonLabel"
               ng-enter="selectiSpeakLang($index)"
               ng-click="selectiSpeakLang($index)"
               ng-class="{active: $index == selectiSpeakLangControl, AccessButtonActive: $index == selectiSpeakLangControl, btnDisabled:$index > 0}">
                <input name="ic"
                       ng-value="{{Captions.class}}"
                       type="radio"
                       tabindex="-1"
                       data-ng-model="$parent.lang">
                <span ng-bind="lang" />
                <label class="offscreen">{{lang}}</label>
            </div>
        </div>
    </div>

    <div class="accessibilityPadding" role="group" aria-labelledby="font_size_buttons">
        <p class="AccessSubHead">{{'FONT_RATIO'|localization:ds.language}}</p>
        <div class="btn-group" data-toggle="buttons">
            <div class="btn btn-default AccessButtonSpacing ButtonStyle1"
                   ng-click="selectFont($index)"
                   ng-enter="selectFont($index)"
                   tabindex="0" ng-repeat="fontSize in availableFontSize"
                   ng-class="{active: $index == selectedFontSize, AccessButtonActive: $index == selectedFontSize}">
                <input name="fontSize"
                       ng-value="$index"
                       type="radio"
                       tabindex="-1"
                       data-ng-model="$parent.selectedFontSize">
                <span ng-bind="fontSize" />
                <label class="offscreen">{{fontSizeClass[$index]+'_FONTSIZE' | uppercase | localization:ds.language}}</label>
            </div>
        </div>
    </div>

    <div class="ngdialog-buttons" ng-class="{'ModuleEnAlign' : $root.isFrenchModule == false}" role="group" aria-labelledby="set_settings">
        <button id="apply" ng-click="applyChanges()" class="ngdialog-button ngdialog-button-primary dialogue-button AccessApplyButton"
                type="button">{{'APPLY'|localization:ds.language}}
        </button>
        <label for="apply" class="offscreen">{{'APPLY'|localization:ds.language}}</label>
        <button id="cancel" ng-click="cancelChanges()" class="ngdialog-button ngdialog-button-primary dialogue-button AccessCancelButton"
                type="button">
            {{'CANCEL'|localization:ds.language}}
        </button>
        <label for="cancel" class="offscreen">{{'CANCEL'|localization:ds.language}}</label>

    </div>
</div>
