<div class="modal-body" aria-live="assertive">
    <label>
        {{'IE_POPUP_TEXT'|localization: ds.ispeaklanguage}}
    </label>
</div>

<div class="ngdialog-buttons">
    <button ng-click="ok()" class="ngdialog-button ngdialog-button-primary dialogue-button"
            type="button">{{'I_UNDERSTAND'|localization:ds.language}}
    </button>
    <label class="offscreen">{{'APPLY'|localization:ds.language}}</label>
</div>