<div class="accessibilityPadding row " role="group" aria-labelledby="iSpeak_language">

    <div class="modal-header" aria-live="assertive" ng-if="!isFrenchModule">
        <h4>Langue maternelle / Lenguaje materno / 母性语言</h4>
    </div>

    <div class="modal-header" aria-live="assertive" ng-if="isFrenchModule">
        <h4>Maternal Language / Lenguaje materno / 母性语言</h4>
    </div>
    <h4 ng-if="!isFrenchModule">
        <label>Quelle langue parlez-vous à la maison? / ¿Qué idioma hablas en casa? / 你在家里说什么语言</label>
    </h4>
    <h4 ng-if="isFrenchModule">
        <label>What language do you speak at home? / ¿Qué idioma hablas en casa?</label>
    </h4>
    <div data-toggle="buttons">
        <a class="btn btn-default AccessButtonSpacing ButtonStyle1" tabindex="0"
           ng-repeat="lang in langButtonLabel"
           ng-enter="selectiSpeakLang($index)"
           ng-click="selectiSpeakLang($index)"
           ng-class="{active: $index == selectiSpeakLangControl, AccessButtonActive: $index == selectiSpeakLangControl}">
            <input name="ic"
                   ng-value="{{Captions.class}}"
                   type="radio"
                   tabindex="-1"
                   data-ng-model="$parent.lang">
            <span ng-bind="lang" />
            <label class="offscreen">{{lang}}</label>
        </a>
    </div>
</div>

<div class="ngdialog-buttons">
    <button id="apply" ng-click="applyChanges()" class="ngdialog-button ngdialog-button-primary dialogue-button AccessApplyButton"
            type="button">{{'APPLY'|localization:ds.language}}
    </button>
    <label for="apply" class="offscreen">{{'APPLY'|localization:ds.language}}</label>
    <button id="cancel" ng-click="cancelChanges()" class="ngdialog-button ngdialog-button-primary dialogue-button AccessCancelButton"
            type="button">
        {{'CANCEL'|localization:ds.language}}
    </button>
    <label for="cancel" class="offscreen">{{'CANCEL'|localization:ds.language}}</label>

</div>
