<div class="modal-body">
    <div>
        <h4 class="privacyPolicyModelInnerHeader"><b>Privacy Policy</b></h4><br/><br/>

        <div>
            <h5 class="privacyPolicyModelInnerHeader"><b>Privacy and Data Management</b></h5>
            <label class="privacyPolicyLabel">Business Families Foundation will take all possible measures to ensure that all personal data and information collected during the assessment remains secure and confidential.</label>
        </div>

        <div>
            <h5 class="privacyPolicyModelInnerHeader"><b>Research and Development</b></h5>
            <label class="privacyPolicyLabel">In addition to providing professional services, Business Families Foundation contributes to the improvement and advancement of this knowledge and practices. In this context, it is possible that data collected will be consulted and used for research and development purposes.</label>
        </div>

        <div>
            <label class="privacyPolicyLabel">If necessary, any consultation and use of data will be carried out in strict compliance of confidentiality, that is to say that the results of assessments carried out by <b>Business Families Foundation</b> will be presented in such a way that participants remain anonymous and that it will be impossible to associate your answers and your identity.</label>
        </div>

        <div>
            <h5 class="privacyPolicyModelInnerHeader"><b>Authorization and Consent</b></h5>
            <label class="privacyPolicyLabel">By starting the assessment, you confirm that you have read this consent form and have understood its content. You specifically agree that Business Families Foundation may collect and use the information collected in the manner and for the purposes indicated above. You confirm that you willingly and freely agree to undergo the assessment process, by responding accurately and in good faith to the questionnaire that you may be provided during such assessment process.</label>
        </div>
    </div>
</div>