<div class="center"><b><i>{{'LAUNCH_RESUME'|localization:ds.language}}</i></b></div>

<div class="modal-footer center">
    <button id ="okBtn" class="btn btn-primary" type="button" ng-click="ok()">{{'OK'|localization:ds.language}}</button>
    <label for="okBtn" class="offscreen">{{'OK'|localization:ds.language}}</label>
    <button id="cancelBtn" class="btn btn-warning" type="button" ng-click="cancel()">{{'NOMENU'|localization:ds.language}}</button>
    <label for="cancelBtn" class="offscreen">{{'NOMENU'|localization:ds.language}}</label>
</div>