<div class="modal-header" aria-live="assertive">
    <label>{{'SESSION_ALIVE'|localization:ds.language}}</label>
    <button id ="okBtn" class="btn btn-primary" type="button" ng-click="ok()">{{'CLOSE_TAB'|localization:ds.language}}</button>
    <label for="okBtn" class="offscreen">{{'CLOSE_TAB'|localization:ds.language}}</label>
</div>