<div class="modal-header" aria-live="assertive">
    <h3>{{'TIMEDOUT_POPUP'|localization:ds.language}}</h3>
</div>
<div class="modal-body" aria-live="assertive">
    <label>
        {{'TIMEDOUT_POPUP_TEXT'|localization:ds.language}}
    </label>
</div>