
<div class="modal-header" aria-live="assertive">
    <h3>{{'WARNING_POPUP'|localization:ds.language}}</h3>
</div>
<div idle-countdown="countdown" ng-init="countdown=60" class="modal-body" aria-live="assertive">
    <label>{{'WARNING_POPUP_TEXT'|localization:ds.language}}</label>
</div>
