<div>
    <div ng-if="controlType == 'multiplechoice'">
        <multiple-choice-answer-set question="question"></multiple-choice-answer-set>
    </div>
    <div ng-if="controlType == 'button'">
        <button-answer-set question="question"></button-answer-set>
    </div>
    <div ng-if="controlType == 'dropdown'">
        <drop-down-answer-set question="question"></drop-down-answer-set>
    </div>
    <div ng-if="controlType == 'drop_down_single'">
        <single-drop-down-answer-set question="question"></single-drop-down-answer-set>
    </div>
    <div ng-if="controlType == 'input'">
        <input-answer-set question="question" selected-activity="selectedActivity"></input-answer-set>
    </div>
    <div ng-if="controlType == 'drag_and_drop'">
        <drag-drop-answer-set question="question" selected-activity="selectedActivity" current-section="currentSection"></drag-drop-answer-set>
    </div>
    <div ng-if="controlType == 'drag_drop_single'">
        <single-drag-drop-answer-set question="question"></single-drag-drop-answer-set>
    </div>
    <div ng-if="controlType == 'listenandrepeat'">
        <listen-and-repeat-answer-set question="question"></listen-and-repeat-answer-set>
    </div>
    <div ng-if="controlType == 'match'">
        <match-answer-set question="question"></match-answer-set>
    </div>
    <div ng-if="controlType == 'groupheading'">
        <group-header question="question"></group-header>
    </div>
    <div ng-if="controlType == 'grouplist'">
        <group-list question="question"></group-list>
    </div>
    <div ng-if="controlType == 'wordscramble'">
        <word-scramble question="question"></word-scramble>
    </div>
    <div ng-if="controlType == 'wordscrambleclick'">
        <word-scramble-click question="question"></word-scramble-click>
    </div>
    <div ng-if="controlType == 'dragDropVideo'">
        <drag-drop-video question="question"></drag-drop-video>
    </div>
    <div ng-if="controlType == 'multianswerdragdrop'">
        <multi-answer-drag-drop question="question"></multi-answer-drag-drop>
    </div>
    <div ng-if="controlType == 'multichoicemultianswer'">
        <multi-choice-multi-answer question="question"></multi-choice-multi-answer>
    </div>
    <div ng-if="controlType == 'variableinput'">
        <fill-in-variable-input question="question"></fill-in-variable-input>
    </div>
    <div ng-if="controlType == 'dragdropcolumn'">
        <drag-drop-column question="question"></drag-drop-column>
    </div>
</div>