<span ng-if="!$root.isArray(question.ANSWERSET)">
        <label ng-if="selectedActivity.skillType!='quiz' && txt" ng-bind-html="txt | sanitize"
              ng-repeat="txt in addColorText(drop_down_texts[0].trim()) track by $index"
              class="buttonText"
              ng-class="{'singleDropDownSpan' : txt.indexOf('<br')>-1}" lang="{{ds.mainMenuLinkLang}}"></label>
        <span class="buttonAnswersContainer">
            <span class="FinalQuizsetButton" ng-repeat="answer in question.ANSWERSET.ANSWER">
    <span class="button_tooltip">
        <button id="{{id}}"
               ng-focus="ds.showTooltip = true; ds.index = id"
               ng-blur="ds.showTooltip = false"
               ng-init="id='button_'+questionNo+'_0_'+$index;"
               lang="{{ds.mainMenuLinkLang}}"
               ng-readonly="answer.disabled"
               class="btn btn-info button btnButtonSet"
               ng-class="{'disabled':answer.disabled,
               'eom-button':selectedActivity.type == 'FinalTest',
               'correct-answer': answer.index == $index && answer.result && answer.showResult,
               'wrong-answer': answer.index == $index && answer.result!=undefined &&
               !answer.result && answer.showResult}"
               ng-click="!answer.disabled && checkForDisable(question.ANSWERSET) && recordAnswer($event.target.id, 'BUTTON') && validate(answer.TEXT, answer, question.ANSWERSET['@maxAttempts'], question.ANSWERSET.ANSWER,null, question.ANSWERSET, $index)"
               ng-model="answer.value"
               tabindex="{{answer.index == $index && answer.result!=undefined && !answer.result && answer.showResult?0:answer.tabIndex}}"
               uib-tooltip="{{answer.toolTip}}"
               tooltip-is-open="ds.index == id && ds.showTooltip"
               tooltip-placement="right"
               tooltip-append-to-body="true"
               tooltip-enable="{{answer.index==$index && answer.showResult}}">{{answer.TEXT?answer.TEXT:answer.IMAGE||answer.AUDIO}}
        </button>
         <!--ng-style="{'width': getMaxCharsFromQuestion(question.ANSWERSET)+'px'}"-->

        <p for="{{id}}" class="hiddenValidationDescription" ng-if="$root.isFrenchModule">Choix {{answer.TEXT}} pour la question {{questionNo}}</p>
        <p for="{{id}}" class="hiddenValidationDescription" ng-if="!$root.isFrenchModule">choice {{answer.TEXT}} for the question {{questionNo}}</p>
        <p for="{{id}}" class="hiddenValidationDescription" ng-if="!$root.isSpanishModule">Elección {{answer.TEXT}} para la pregunta {{questionNo}}</p>
        <p for="{{id}}" class="hiddenValidationDescription" ng-if="answer.index == $index && answer.result && answer.showResult" ng-bind-html="'CORRECT_ANSWER'|localization:ds.language: [answer.value]"></p>
        <p for="{{id}}" class="hiddenValidationDescription" ng-if="answer.index == $index && answer.result!=undefined && !answer.result && answer.showResult" ng-bind-html="'WRONG_ANSWER'|localization:ds.language: [answer.value]"></p>

     </span>
</span>
        </span>
       <label ng-if="selectedActivity.skillType!='quiz' && dropDownTextsCount > 1"
              ng-bind-html="txt | sanitize"
              ng-repeat="txt in addColorText(drop_down_texts[dropDownTextsCount-1].trim()) track by $index"
              class="buttonText"
              ng-class="{'singleDropDownSpan' : txt.indexOf('<br')>-1}" lang="{{ds.mainMenuLinkLang}}"></label>
</span>

<div class="ArraybuttonAnswersetDiv" ng-if="$root.isArray(question.ANSWERSET)">
<span ng-repeat="answerset in question.ANSWERSET">

    <label ng-if="selectedActivity.skillType!='quiz' && txt" ng-bind-html="txt | sanitize"
           ng-repeat="txt in addColorText(drop_down_texts[$index].trim()) track by $index"
           class="buttonText multiBtnText"
           ng-class="{'singleDropDownSpan' : txt.indexOf('/br')>-1 || txt.indexOf('<br')>-1}"
           lang="{{ds.mainMenuLinkLang}}"></label>

        <span class="buttonAnswersContainer">
            <span ng-repeat="answer in answerset.ANSWER" class="ArraySpanButtonLabel">

        <span class="button_tooltip ArraySpanButtonInput">
            <input type="button"
                   lang="{{ds.mainMenuLinkLang}}"
                   ng-init="id='button_'+questionNo+'_'+$parent.$index+'_'+$index;"
                   id="{{id}}"
                   ng-focus="ds.showTooltip = true;ds.index = id"
                   ng-blur="ds.showTooltip = false"
                   class="btn btn-info button ArrayInputButton btnButtonSet"
                   ng-class="{'disabled':answerset.disabled,
                   'correct-answer': answer.index == $index && answer.result && answer.showResult,
                   'wrong-answer': answer.index == $index && answer.result!=undefined &&
                    !answer.result && answer.showResult}"
                   ng-click="!answer.disabled && checkForDisable(answerset) && recordAnswer($event.target.id, 'BUTTON') && validate(answer.TEXT, answerset, answerset['@maxAttempts'], null,null, question.ANSWERSET, $index)"
                   ng-model="answerset.value"
                   ng-value="answer.TEXT?answer.TEXT:answer.IMAGE||answer.AUDIO"
                   tabindex="{{answer.index == $index && answer.result!=undefined && !answer.result && answer.showResult?0 :answerset.tabIndex}}"
                   uib-tooltip="{{answerset.toolTip}}"
                   tooltip-placement="right"
                   tooltip-is-open="ds.showTooltip && ds.index == id"
                   tooltip-append-to-body="true"
                   tooltip-enable="{{answerset.index==$index}}"/>
            <!--ng-style="{'width': getMaxCharsFromQuestion(answerset)+'px'}"-->
            <p for="{{id}}" class="hiddenValidationDescription" ng-if="$root.isFrenchModule">Choix {{answer.TEXT}} pour la question {{questionNo}}</p>
            <p for="{{id}}" class="hiddenValidationDescription" ng-if="!$root.isFrenchModule">choice {{answer.TEXT}} for the question {{questionNo}}</p>
            <p for="{{id}}" class="hiddenValidationDescription" ng-if="!$root.isSpanishModule">Elección {{answer.TEXT}} para la pregunta {{questionNo}}</p>
            <p for="{{id}}" class="hiddenValidationDescription" ng-if="answer.index == $index && answer.result && answer.showResult">{{'CORRECT_ANSWER'|localization:ds.language:[answer.TEXT]}}</p>
            <p for="{{id}}" class="hiddenValidationDescription" ng-if="answer.index == $index && answer.result!=undefined && !answer.result && answer.showResult">{{'WRONG_ANSWER'|localization:ds.language:[answer.TEXT]}}</p>
        </span>
    </span>
        </span>
</span>
    <label ng-if="selectedActivity.skillType!='quiz' && txt" class="buttonText multiBtnText"
           ng-repeat="txt in addColorText(drop_down_texts[dropDownTextsCount-1].trim()) track by $index"
           ng-bind-html="txt | sanitize"
           ng-class="{'singleDropDownSpan' : txt.indexOf('/br')>-1 || txt.indexOf('<br')>-1}"
           lang="{{ds.mainMenuLinkLang}}"></label>
</div>