<div class="dialogueInstructionsModel fontScaleX{{$root.fontSize}}">
    <div class="btnContainer" style="">
        <button id="cancelBtn" class="btn btn-danger" alt="Cancel modal instruction" ng-click="cancel()">X</button>
    </div>
    <label for="cancelBtn" class="offscreen">{{'CANCEL_MODAL'|localization:ds.language</label>
    <div class="row itemContainer">
        <div ng-repeat="item in items">
            <label ng-bind-html="item|sanitize"></label>
        </div>
    </div>
</div>