<audio id="load_audio" alt="{{(question.AUDIO && getFileName(question.AUDIO))|| selectedActivity.type}}">
    <p>Your browser does not support the <code>audio</code> element </p>
</audio>
<div class="dialogue-multipleChoice">
    <fieldset>
        <legend>
            <label class="questionNo">{{questionNo + 1+'.'}}
            </label>
            <div ng-if="question.AUDIO" class="audio">
                    <span ng-click="play_audio(question.AUDIO, questionNo+'_'+$index)" class="dialogueMultipleChoiceAudio"
                          ng-blur="hidetip()"
                          tabindex="0"
                          tooltip-class="tooltip-dialogue"
                          uib-tooltip="{{question.AUDIOCAPTION}}"
                          tooltip-placement="right"
                          tooltip-is-open="ds.showTooltip && ds.toolTipIndex == questionNo+'_'+$index && ds.focuss"
                          tooltip-trigger="none"
                          tooltip-enable="{{$root.audioCaptionControl}}">
                            <img src="images/play.png" alt="Play audio">
                    </span>
            </div>
            <p ng-if="question.QUESTIONTEXT" class="question-text" lang="{{ds.mainMenuLinkLang}}"
                 ng-bind-html="question.QUESTIONTEXT|sanitize">
            </p>
        </legend>
        <div class="answer-container" role="radiogroup">
            <div ng-repeat="answer in question.ANSWERS.ANSWER" class="answer-main">
                <div class="answer" ng-class="{'questionAudio':question.AUDIO}">
                    <div class="MultipleChoiceRadio">
                    <input ng-disabled="question.disabled"
                           class="multipleChoiceInput"
                           ng-class="{'disabled':question.cssDisabled, 'radioAlignment': selectedActivity.type == 'Dialog'}"
                           type="radio"
                           role="radio"
                           tabindex="0"
                           id="dialogueInput_{{questionNo}}_{{$index}}"
                           name="dialogueInputForQuestion_{{questionNo + 1}}"
                           ng-model="question.value"
                           ng-value="answer.TEXT"
                           ng-checked="question.disabled && question.ANSWERS.index == $index"
                           ng-enter="validate(answer.TEXT, question.ANSWERS,1, null, null, question,$index)"
                           ng-click="validate(question.value, question.ANSWERS,1, null, null, question,$index)"/>
                        <label for="dialogueInput_{{questionNo}}_{{$index}}" class="hiddenValidationDescription" ng-if="$root.isFrenchModule">Choix {{$index + 1}} pour la question {{questionNo + 1}}</label>
                        <label for="dialogueInput_{{questionNo}}_{{$index}}" class="hiddenValidationDescription" ng-if="!$root.isFrenchModule">choice {{$index + 1}} for the question {{questionNo + 1}}</label>
                        <label for="dialogueInput_{{questionNo}}_{{$index}}" class="hiddenValidationDescription" ng-if="$root.isSpanishModule">Elección {{$index + 1}} para la pregunta {{questionNo + 1}}</label>
                        </div>

                    <label tabindex="0" for="dialogueInput_{{questionNo}}_{{$index}}" lang="{{ds.mainMenuLinkLang}}" tabindex="0"
                           class="float_left multiplechoice_label"
                           ng-enter="validate(answer.TEXT, question.ANSWERS,1, null, null, question,$index)"
                           ng-click="validate(question.value, question.ANSWERS,1, null, null, question,$index)"
                           style="cursor: pointer"
                           ng-bind-html="answer.TEXT | sanitize" lang="{{ds.mainMenuLinkLang}}"></label>

                    <span ng-class="{'txt-green':!question.ANSWERS.result,'txt-red':question.ANSWERS.result}"
                          ng-show="question.ANSWERS.showResult" class="result">
                        <img src="images/correct.png" alt="Correct Answer"
                             ng-show="isCorrect(answer)" class="answer-feedback-dragVideo"/>
                        <img src="images/wrong.png" alt="Wrong Answer" class="answer-feedback-dragVideo"
                             ng-show="question.ANSWERS.index == $index && !question.ANSWERS.result"/>
                        <p for="dialogueInput_{{questionNo}}_{{$index}}" class="hiddenValidationDescription" ng-if="isCorrect(answer)">{{'CORRECT_ANSWER'|localization:ds.language}}</p>
                        <p for="dialogueInput_{{questionNo}}_{{$index}}" class="hiddenValidationDescription"ng-if="question.ANSWERS.index == $index && !question.ANSWERS.result">{{'WRONG_ANSWER'|localization:ds.language}}</p>
                    </span>
                </div>
            </div>
        </div>
    </fieldset>
</div>