<div class="dragDropVideoContainer">
    <div class="questionNumber">
        <label class="inline question-no singleDragDropQuestionNo">{{questionNo}}. </label>
    </div>
     <span ng-if="question.VIDEO" class="center">
             <video id="my-video" video-js-load-activity class="video-js vjs-default-skin DragDropVideo" controls alt="{{question.VIDEO}}">
                 <source ng-src="{{getVideoPath(question.VIDEO)}}" type="video/mp4">
                 <track ng-if="$root.videoCaptionControl" ng-src="{{getVideoPath(question.VIDEOCAPTION)}}"
                        label="English" kind="captions" srclang="en-us" default></track>
                 Your browser does not support the video tag.
             </video>
     </span>

    <div class="single-drag-drop-answers-container">
        <div ng-if="!question.ANSWER.isRemoved"
             class="draggable single-drag-drop-answer"
             ng-repeat="question in ds.shuffledAnswers | orderBy: 'ANSWER.order'"
             ng-drag="true" ng-drag-data="{'DATA': question.ANSWER.TEXT, 'ID':'drop_'+question.INDEX}" lang="{{ds.mainMenuLinkLang}}">
            <label ng-bind-html="question.ANSWER.TEXT|sanitize"></label>
        </div>
    </div>
    <div ng-if="question.AUDIO"
         ng-class="{'btnDisabled':!question.disabled}" class="dragDropVideo-audio">
                <span ng-click="question.disabled && play_audio(question.AUDIO, $index)"
                      ng-blur="hidetip()"
                      tabindex="{{question.tabIndex?0:question.tabIndex}}"
                      tooltip-class="tooltip-audio"
                      uib-tooltip="{{question.AUDIOCAPTION}}"
                      tooltip-placement="right"
                      tooltip-is-open="ds.showTooltip && $index == tooltipIndex && ds.focuss"
                      tooltip-trigger="none"
                      tooltip-enable="{{$root.audioCaptionControl}}">
                    <img src="images/play.png" alt="Play audio">
                </span>
    </div>
    <div>
        <div uib-tooltip="{{question.ANSWERSET.toolTip}}" class="float_left"
             tooltip-enable="{{!question.ANSWERSET.ANSWER.VIDEO && !question.ANSWERSET.ANSWER.AUDIO && question.ANSWERSET.showResult}}"
             tooltip-placement="right"
             tooltip-is-open="ds.showTooltip && ds.index == questionNo"
             tooltip-append-to-body="true">
            <div ng-drop-success="recordAnswer(questionNo, 'DRAGDROP', null, $data.ID) && dropped($data.DATA, question.ANSWERSET)"
                   class="slot draggable float_left draggableTargets"
                   ng-drop="true"
                   id="{{questionNo}}"
                   tabindex="{{question.ANSWERSET.result && question.ANSWERSET.showResult?-1:0}}"
                   popover-is-open="(ds.isPopoverOpen && ds.index == questionNo) || ds.isResuming"
                   popover-trigger="none"
                   uib-popover-template="dynamicPopover.templateUrl"
                   popover-placement="bottom"
                   ng-focus="(!question.showResult && setFocus(true, questionNo)) || (question.ANSWERSET.result!=undefined && !question.ANSWERSET.result && question.ANSWERSET.showResult && setFocus(false, questionNo, true))"
                   ng-blur="setFocus(false, null, false)"
                   ng-class="{'drag-started':ds.dragStarted,
                            'correct-answer': question.ANSWERSET.result && question.ANSWERSET.showResult,
                            'wrong-answer': question.ANSWERSET.result!=undefined
                            && !question.ANSWERSET.result && question.ANSWERSET.showResult}"
                   ng-bind-html="question.ANSWERSET.value|sanitize">
            </div>
        </div>
        <p for="{{questionNo}}" class="hiddenValidationDescription" ng-if="question.ANSWERSET.result && question.ANSWERSET.showResult">
            {{'CORRECT_ANSWER'|localization:ds.language:[question.ANSWERSET.value]}}</p>

        <p for="{{questionNo}}" class="hiddenValidationDescription"
           ng-if="question.ANSWERSET.result!=undefined && !question.ANSWERSET.result && question.ANSWERSET.showResult">
            {{'WRONG_ANSWER_WITH_FEEDBACK'|localization:ds.language:[question.ANSWERSET.value, question.ANSWERSET.toolTip]}}</p>

         <span ng-class="{'txt-green':!question.result,'txt-red':question.result}"
               ng-show="question.showResult" class="float_left validationImgBlock">
                <img src="images/correct.png" alt="Correct Answer" ng-show="question.result" class="answer-feedback-dragVideo"/>
                <img src="images/wrong.png" alt="Wrong Answer" ng-show="!question.result" class="answer-feedback-dragVideo"/>
                <p for="{{questionNo}}" class="hiddenValidationDescription" ng-if="question.result">
                    {{'CORRECT_ANSWER'|localization:ds.language:[question.ANSWERSET.value]}}</p>
                <p for="{{questionNo}}" class="hiddenValidationDescription" ng-if="!question.result">
                    {{'WRONG_ANSWER'|localization:ds.language:[question.ANSWERSET.value, question.ANSWERSET.toolTip]}}</p>
         </span>
    </div>
</div>
</label>
</div>

<script type="text/ng-template" id="videoDragDropPopover.html">
    <div class="dragDropPopover">
        <div class="single-drag-drop-answers-container">
            <div ng-if="!shuffledAnswer.ANSWER.isRemoved"
                 class="draggable single-drag-drop-answer"
                 ng-init="id = 'popover_'+questionNo+'_drop_'+shuffledAnswer.INDEX"
                 id = {{id}}
                 ng-repeat="shuffledAnswer in ds.shuffledAnswers | orderBy: 'ANSWER.order'"
                 tabindex="0"
                 ng-enter="recordAnswer(questionNo, 'DRAGDROP', null, 'drop_'+shuffledAnswer.INDEX) && dropped(shuffledAnswer.ANSWER.TEXT, question.ANSWERSET)"
                 ng-click="recordAnswer(questionNo, 'DRAGDROP', null, 'drop_'+shuffledAnswer.INDEX) && dropped(shuffledAnswer.ANSWER.TEXT, question.ANSWERSET)"
                 ng-focus="setFocus(true, ds.index)"
                 ng-blur="setFocus(false)"
                 ng-bind-html="shuffledAnswer.ANSWER.TEXT|sanitize">
            </div>
        </div>
    </div>
</script>