<div ng-if="question.ANSWERSET.ANSWER &&!question.SPECIALQUESTION">
    <div class="singleAnswerContainer">
        <label ng-bind-html="txt | sanitize"
               ng-repeat="txt in addColorText(drop_down_texts[0].trim()) track by $index" lang="{{ds.mainMenuLinkLang}}"
               class="dragdrop-text float_left"
               ng-class="{'dragdrop-audio':question.AUDIO,'textDisabled': question.disabled, 'questionTextBreakTag': txt.indexOf('<br')!=-1 }"></label>

        <div uib-tooltip="{{question.ANSWERSET.toolTip}}" class="TargetBoxDragDrop float_left"
             tooltip-enable="{{question.ANSWERSET.ANSWER.TEXT && question.ANSWERSET.showResult}}"
             tooltip-placement="right"
             tooltip-is-open="ds.showTooltip && ds.index == questionNo"
             tooltip-trigger="mouseenter"
             tooltip-append-to-body="true">

            <div ng-drop-success="recordAnswer(id, 'DRAGDROP', null, $data.ID) && dropped($data.DATA, question.ANSWERSET)"
                 ng-init="id= questionNo"
                 class="slot draggable draggableTargets"
                 popover-placement="bottom auto"
                 id="{{id}}"
                 ng-focus="(!question.ANSWERSET.disabled && setFocus(true, questionNo)) || (question.ANSWERSET.result!=undefined && !question.ANSWERSET.result && question.ANSWERSET.showResult && setFocus(false, questionNo, true))"
                 ng-blur="setFocus(false,null,false)"
                 ng-drop="true"
                 ng-if="question.ANSWERSET.ANSWER['@CORRECT']=='TRUE' || question.ANSWERSET.ANSWER['@CORRECT']== undefined"
                 tabindex="{{question.ANSWERSET.result && question.ANSWERSET.showResult?-1:0}}"
                 popover-is-open="(ds.isPopoverOpen && ds.index == questionNo)|| ds.isResuming"
                 popover-trigger="none"
                 uib-popover-template="dynamicPopover.templateUrl"
                 ng-class="{'drag-started':ds.dragStarted,
                 'correct-answer': question.ANSWERSET.result && question.ANSWERSET.showResult,
                 'wrong-answer': question.ANSWERSET.result!=undefined
                 && !question.ANSWERSET.result && question.ANSWERSET.showResult,
                 'dragdrop-audio':question.AUDIO && !question.IMAGE,
                 'dragdrop-audio-image':question.AUDIO && question.IMAGE,
                'drag-audio-image-answer-result': question.ANSWERSET.ANSWER.AUDIO  && !question.ANSWERSET.ANSWER.TEXT,
                 'dragdrop-video':question.ANSWERSET.ANSWER.VIDEO}">
                <label ng-if="question.ANSWERSET.ANSWER.TEXT"
                       class="draggableAnswer"
                       ng-bind-html="question.ANSWERSET.value|sanitize"></label>
                    <span ng-if="question.ANSWERSET.ANSWER.VIDEO  && question.ANSWERSET.showResult">
                         <video width="100%" controls alt="{{question.ANSWERSET.ANSWER.VIDEO}}">
                             <source ng-src="{{getVideoPath(question.ANSWERSET.ANSWER.VIDEO)}}" type="video/mp4">
                             Your browser does not support the video tag.
                         </video>
                    </span>
                <label for="{{id}}" class="hiddenValidationDescription" ng-if="$root.isFrenchModule">contribution pour la question {{questionNo}}</label>
                <label for="{{id}}" class="hiddenValidationDescription" ng-if="!$root.isFrenchModule">input for the question {{questionNo}}</label>
                <label for="{{id}}" class="hiddenValidationDescription" ng-if="$root.isSpanishModule">Entrada para la pregunta {{questionNo}}</label>
                <p for="{{id}}" class="hiddenValidationDescription"
                   ng-if="question.ANSWERSET.result && question.ANSWERSET.showResult">{{'CORRECT_ANSWER'|localization:ds.language:[question.ANSWERSET.value]}}</p>
                <p for="{{id}}" class="hiddenValidationDescription"
                   ng-if="question.ANSWERSET.result!=undefined && !question.ANSWERSET.result && question.ANSWERSET.showResult">{{'WRONG_ANSWER_WITH_FEEDBACK'|localization:ds.language:[question.ANSWERSET.value, question.ANSWERSET.toolTip]}}</p>
            </div>

        </div>
        <span ng-if="question.ANSWERSET.ANSWER.AUDIO && question.AUDIO" class="audioAnswer"
              ng-blur="hidetip();ds.showTooltipp = false"
              ng-focus="ds.showTooltipp = true"
              ng-click="play_audio(question.ANSWERSET.ANSWER.AUDIO, questionNo+'_'+$index)"
              ng-enter="play_audio(question.ANSWERSET.ANSWER.AUDIO, questionNo+'_'+$index)"
              ng-class="{'btnDisabled': !question.ANSWERSET.showResult}"
              tabindex="{{question.tabIndex?0:question.tabIndex}}"
              tooltip-class="tooltip-audio"
              tooltip-placement="right"
              uib-tooltip="{{question.ANSWERSET.ANSWER.AUDIOCAPTION}}"
              tooltip-is-open="ds.showTooltipp && ds.toolTipIndex == questionNo+'_'+$index && ds.focuss"
              tooltip-trigger="none"
              tooltip-enable="{{$root.audioCaptionControl && question.ANSWERSET.showResult}}">
             <img src="images/play.png" alt="Play audio">
        </span>

        <label ng-bind-html="txt | sanitize"
               ng-repeat="txt in addColorText(drop_down_texts[1].trim()) track by $index"
               ng-class="{'dragdrop-audio':question.AUDIO, 'textDisabled': question.disabled, 'singleDragDropSpan' : txt.indexOf('<br')>-1}"
               class="dragdrop-text" lang="{{ds.mainMenuLinkLang}}"></label>
    </div>
</div>

<div id="activity" ng-if="question.SPECIALQUESTION">
    <div class="col-md-6" style="background-image:url(./images/slide35-img9.jpg); width:414px; height:374px;background-repeat:no-repeat;">
        <div id="f" ng-drop-success="checkSpecialActivityAnswer($data.DATA,$data.REG,$data.ID,'f')"  ng-drop="true"
             style="display: block; height: 160px; margin-left: 10px; position: absolute; top: 75px; width: 76px;">
        </div>
        <div id="b" style="display: block; height: 129px; margin-left: 230px; position: absolute; top: 14px; width: 141px;"
             ng-drop-success="checkSpecialActivityAnswer($data.DATA,$data.REG,$data.ID,'b')"  ng-drop="true">
        </div>
        <div id="o" style="display: block; height: 125px; margin-left: 91px; position: absolute; top: 241px; width: 214px;"
             ng-drop-success="checkSpecialActivityAnswer($data.DATA,$data.REG,$data.ID,'o')"  ng-drop="true">
        </div>
        <div id="fb" ng-drop-success="checkSpecialActivityAnswer($data.DATA,$data.REG,$data.ID,'fb')"  ng-drop="true"
             style="display: block; height:95px; margin-left: 161px; position: absolute; top: 42px; width: 62px;">
        </div>
        <div id="fo" ng-drop-success="checkSpecialActivityAnswer($data.DATA,$data.REG,$data.ID,'fo')"  ng-drop="true"
             style="display: block; height: 83px; margin-left: 97px; position: absolute; top: 158px; width: 75px; text-indent: 40px;">
        </div>
        <div id="bo" ng-drop-success="checkSpecialActivityAnswer($data.DATA,$data.REG,$data.ID,'bo')"
             style="display: block; height: 83px; margin-left: 223px; position: absolute; top: 252px; width: 75px;" >
        </div>
        <div id="fbo" ng-drop-success="checkSpecialActivityAnswer($data.DATA,$data.REG,'$data.ID,fbo')"
            style="display: block; height: 65px; margin-left: 160px; position: absolute; top: 137px; width: 62px; text-align: center;" >
        </div>
    </div>
    <div class="col-image col-md-6">
       <div class="col-md-12">
            <img src="./images/slide35-img1.jpg" id="a1" alt="paul" ng-drag="true" ng-drag-data="{DATA:'Paul',REG:'fbo',ID:'a1'}"/>
            <img src="./images/slide35-img2.jpg" id="a2" alt="richard" ng-drag="true" ng-drag-data="{DATA:'Richard',REG:'o',ID:'a2'}" />
            <img src="./images/slide35-img3.jpg" id="a3" alt="maggie" ng-drag="true" ng-drag-data="{DATA:'maggie',REG:'f',ID:'a3'}" />
            <img src="./images/slide35-img4.jpg" id="a4" alt="charlotte"  ng-drag="true" ng-drag-data="{DATA:'Charlotte',REG:'fbo',ID:'a4'}" />
        </div>
        <div class="col-md-12">
            <img src="./images/slide35-img5.jpg" id="a5" alt="dina" ng-drag="true" ng-drag-data="{DATA:'Dina',REG:'f',ID:'a5'}" />
            <img src="./images/slide35-img6.jpg" id="a6" alt="donald" ng-drag="true" ng-drag-data="{DATA:'Donald',REG:'fo',ID:'a6'}" />
            <img src="./images/slide35-img7.jpg" id="a7" alt="robbie" ng-drag="true" ng-drag-data="{DATA:'Robbie',REG:'f',ID:'a7'}" />
            <img src="./images/slide35-img8.jpg" id="a8" alt="jamie"  ng-drag="true" ng-drag-data="{DATA:'Jamie',REG:'fbo',ID:'a8'}" />
        </div>
        <div class="col-md-12">
            <span class="feedBackText">Wrong Answer</span>
        </div>
    </div>
</div>



<script type="text/ng-template" id="dragDropPopover.html">
    <div class="dragDropPopover"
         ng-class="{'only-audio': question.ANSWERSET.ANSWER.AUDIO && !question.ANSWERSET.ANSWER.TEXT}">
        <div class="form-group row answerSetParent" ng-repeat="shuffledAnswer in ds.shuffledAnswers | orderBy: 'ANSWER.order'" ng-if="!shuffledAnswer.ANSWER.isRemoved"
             ng-init="id= 'popover_'+questionNo+'_drop_'+shuffledAnswer.INDEX">
            <div ng-blur="hidetip();setFocus(false)"
                 ng-if="(shuffledAnswer.questionAudio.audio && selectedActivity.inverseAudio) || shuffledAnswer.ANSWER.AUDIO"
                 class="audio"
                 ng-class="{'audioOnly':shuffledAnswer.ANSWER.AUDIO && !shuffledAnswer.ANSWER.TEXT}"
                 ng-focus="setFocus(true, ds.index)"
                 ng-click="play_audio(shuffledAnswer.ANSWER.AUDIO?shuffledAnswer.ANSWER.AUDIO:shuffledAnswer.questionAudio.audio,  questionNo+'_'+$index)"
                 ng-enter="play_audio(shuffledAnswer.ANSWER.AUDIO?shuffledAnswer.ANSWER.AUDIO:shuffledAnswer.questionAudio.audio,  questionNo+'_'+$index)"
                 tooltip-append-to-body="true"
                 tooltip-class="tooltip-audio fontScaleX{{$root.fontSize}}"
                 uib-tooltip="{{shuffledAnswer.ANSWER.AUDIO?shuffledAnswer.ANSWER.AUDIOCAPTION:shuffledAnswer.questionAudio.audioCaption}}"
                 tooltip-placement="left auto"
                 tooltip-is-open="ds.showTooltip && questionNo+'_'+$index == ds.toolTipIndex && ds.focuss"
                 tooltip-trigger="none"
                 tooltip-enable="{{$root.audioCaptionControl}}">
                <img src="images/play.png" class="playBtn" alt="Play audio">
            </div>
            <div ng-focus="setFocus(true, ds.index)"
                 tabindex="0"
                 id="{{id}}"
                 ng-blur="setFocus(false)"
                 ng-if="!$root.isArray(question.ANSWERSET) && shuffledAnswer.ANSWER.TEXT"
                 ng-class="{'peg-audio':shuffledAnswer.questionAudio || shuffledAnswer.ANSWER.AUDIO}"
                 class="peg"
                 ng-enter="recordAnswer(ds.index, 'DRAGDROP', null,'drop_'+shuffledAnswer.INDEX) && dropped(shuffledAnswer.ANSWER.TEXT, question.ANSWERSET, true)"
                 ng-click="recordAnswer(ds.index, 'DRAGDROP', null,'drop_'+shuffledAnswer.INDEX) && dropped(shuffledAnswer.ANSWER.TEXT, question.ANSWERSET)"
                 ng-bind-html="shuffledAnswer.ANSWER.TEXT|sanitize">
            </div>
            <div ng-focus="setFocus(true, ds.index)"
                 tabindex="0"
                 ng-blur="setFocus(false)"
                 ng-if="$root.isArray(question.ANSWERSET) && shuffledAnswer.ANSWER.TEXT"
                 ng-class="{'peg-audio':shuffledAnswer.questionAudio.audio || shuffledAnswer.ANSWER.AUDIO}"
                 class="peg"
                 focus
                 id="{{id}}"
                 ng-enter="ds.isPopoverOpen = false;recordAnswer(ds.index, 'DRAGDROP', null,'drop_'+shuffledAnswer.INDEX) && dropped(shuffledAnswer.ANSWER.TEXT, question.ANSWERSET[ds.index.split('_')[1]], question.ANSWERSET, true)"
                 ng-click="ds.isPopoverOpen = false;recordAnswer(ds.index, 'DRAGDROP', null,'drop_'+shuffledAnswer.INDEX) && dropped(shuffledAnswer.ANSWER.TEXT, question.ANSWERSET[ds.index.split('_')[1]], question.ANSWERSET)"
                 ng-bind-html="shuffledAnswer.ANSWER.TEXT|sanitize">
            </div>
            <input ng-if="shuffledAnswer.ANSWER.AUDIO && !shuffledAnswer.ANSWER.TEXT"
                   ng-focus="setFocus(true, ds.index)"
                   ng-blur="setFocus(false)"
                   id="{{id}}"
                   ng-enter="recordAnswer(ds.index, 'DRAGDROP', null,'drop_'+shuffledAnswer.INDEX) && dropped(shuffledAnswer.ANSWER.AUDIO, question.ANSWERSET, true)"
                   ng-click="recordAnswer(ds.index, 'DRAGDROP', null,'drop_'+shuffledAnswer.INDEX) && dropped(shuffledAnswer.ANSWER.AUDIO, question.ANSWERSET)"
                   type="button" class="btn btn-primary" value="{{'SELECT'|localization:ds.language}}"/>
            <lable class="offscreen" for="{{id}}">{{'SELECT'|localization:ds.language}}</lable>
        </div>
    </div>
</script>
<script type="text/ng-template" id="singleDragDropPopover.html">
    <div>
        <div class="single-drag-drop-answers-container">
            <div class="draggable single-drag-drop-answer"
                 ng-init="id= 'popover_'+targetId+'_drop_'+answerset.ANSWER.INDEX; recordId = 'drop_'+answerset.ANSWER.INDEX"
                 ng-repeat="answerset in question.ANSWERSET | orderBy: 'ANSWER.order'"
                 id="{{id}}"
                 ng-focus="setFocus(true, targetId)"
                 ng-blur="setFocus(false)"
                 tabindex="0"
                 class="{{question}}"
                 ng-if=" selectedActivity.isHorizontal"
                 ng-enter="recordAnswer(targetId, 'DRAGDROP', null,recordId) && dropped(answerset.ANSWER.TEXT, $root.isArray(question.ANSWERSET) ? question.ANSWERSET[targetId.split('_')[1]] : question.ANSWERSET,question.ANSWERSET, true)"
                 ng-click="recordAnswer(targetId, 'DRAGDROP', null,recordId) && dropped(answerset.ANSWER.TEXT, $root.isArray(question.ANSWERSET) ? question.ANSWERSET[targetId.split('_')[1]] : question.ANSWERSET,question.ANSWERSET)"
                 ng-bind-html="answerset.ANSWER.TEXT|sanitize">
            </div>
            <div class="draggable single-drag-drop-answer"
                 ng-init="id= 'popover_'+targetId+'_drop_'+shuffledAnswer.INDEX; recordId = 'drop_'+shuffledAnswer.INDEX"
                 ng-repeat="shuffledAnswer in ds.shuffledAnswers | orderBy: 'ANSWER.order'"
                 id="{{id}}"
                 ng-focus="setFocus(true, targetId)"
                 ng-blur="setFocus(false)"
                 tabindex="0"
                 ng-if="!shuffledAnswer.ANSWER.isRemoved && !selectedActivity.isHorizontal && !selectedActivity.isMultiAnswer"
                 ng-enter="recordAnswer(targetId, 'DRAGDROP', null,recordId) && dropped(shuffledAnswer.ANSWER.TEXT, $root.isArray(question.ANSWERSET) ? question.ANSWERSET[targetId.split('_')[1]] : question.ANSWERSET,question.ANSWERSET, true)"
                 ng-click="recordAnswer(targetId, 'DRAGDROP', null,recordId) && dropped(shuffledAnswer.ANSWER.TEXT, $root.isArray(question.ANSWERSET) ? question.ANSWERSET[targetId.split('_')[1]] : question.ANSWERSET,question.ANSWERSET)"
                 ng-bind-html="shuffledAnswer.ANSWER.TEXT|sanitize">
            </div>
        </div>
    </div>
</script>