<div class="dragDropColumnContainer row">
    <div class="thirdColumn first column col-md-5 col-sm-5">
      <label ng-if="questionTxt[0].length==1"
            class="txt"
            ng-bind-html="questionTxt[0]" lang="{{ds.mainMenuLinkLang}}"></label>

        <div ng-if="questionTxt[0].length>1">
            <span ng-repeat="colTxt in questionTxt[0] track by $index" class="colContainer"
                  ng-init="index = $index;answerSet = $root.isArray(question.ANSWERSET)?question.ANSWERSET[index]:question.ANSWERSET">

                 <label ng-bind-html="txt | sanitize"
                       class="txt"
                       ng-repeat="txt in addColorText(colTxt) track by $index"></label>

                       <span uib-tooltip="{{answerSet.toolTip}}" tooltip-placement="right" tooltip-append-to-body="true"
                             class="dropTargetContainer"
                             tooltip-is-open="ds.showTooltip && ds.index == questionNo+'_'+index">
                            <span ng-drop-success="recordAnswer(targetId, 'DRAGDROP', null,$data.ID) && dropped($data.DATA.TEXT, answerSet,question.ANSWERSET)"
                                  ng-if="!$last"
                                  ng-init="targetId= questionNo+'_'+index"
                                  id="{{targetId}}"
                                  class="slot draggable draggableTargets"
                                  ng-drop="true"
                                  ng-focus="(!answerSet.disabled && setFocus(true, targetId)) || (answerSet.result!=undefined && !answerSet.result && setFocus(false, targetId, true))"
                                  ng-blur="setFocus(false,null,false)"
                                  popover-is-open="(ds.isPopoverOpen && ds.index == targetId) || ds.isResuming"
                                  popover-trigger="none"
                                  uib-popover-template="popoverTpl"
                                  popover-placement="bottom auto"
                                  ng-class="{'drag-started':dragStarted, 'correct-answer': answerSet.result, 'wrong-answer': answerSet.result!=undefined && !answerSet.result}"
                                  tabindex="{{answerSet.result?-1:0}}"
                                  ng-model="answerSet.value">{{answerSet.value}}
                            </span>
                        </span>
                        <p for="{{targetId}}" class="hiddenValidationDescription" ng-if="answerSet.result">{{'CORRECT_ANSWER'|localization:ds.language:[answerSet.value]}}</p>
                        <p for="{{targetId}}" class="hiddenValidationDescription" ng-if="answerSet.result!=undefined && !answerSet.result">{{'WRONG_ANSWER_WITH_FEEDBACK'|localization:ds.language:[answerSet.value, answerSet.toolTip]}}</p>

                   </span>
            </span>
        </div>
    </div>
    <div class="secondColumn column col-md-2 col-sm-2 center">
        <label class="txt" ng-bind-html="questionTxt[1]" lang="{{ds.mainMenuLinkLang}}"></label>
    </div>
    <div class="thirdColumn column col-md-5 col-sm-5">
      <label ng-if="questionTxt[2].length==1"
            class="txt"
            ng-bind-html="questionTxt[2]" lang="{{ds.mainMenuLinkLang}}"></label>

        <div ng-if="questionTxt[2].length>1">
            <span ng-repeat="colTxt in questionTxt[2] track by $index" class="colContainer"
                  ng-init="index = questionTxt[0].length>1?questionTxt[0].length-1+ $index:$index; answerSet = $root.isArray(question.ANSWERSET)?question.ANSWERSET[index]:question.ANSWERSET">

                 <label ng-bind-html="txt | sanitize"
                       class="txt"
                       ng-repeat="txt in addColorText(colTxt) track by $index"></label>

                     <span uib-tooltip="{{answerSet.toolTip}}" tooltip-placement="right" tooltip-append-to-body="true"
                            class="dropTargetContainer"
                           tooltip-is-open="ds.showTooltip && ds.index == 'tc'+questionNo+'_'+index">
                        <span ng-drop-success="recordAnswer(targetId, 'DRAGDROP', null,$data.ID) && dropped($data.DATA.TEXT, answerSet,question.ANSWERSET)"
                              ng-if="!$last"
                              ng-init="targetId = 'tc'+questionNo+'_'+index"
                              id="{{targetId}}"
                              class="slot draggable draggableTargets"
                              ng-drop="true"
                              ng-focus="(!answerSet.disabled && setFocus(true, targetId))|| (answerSet.result!=undefined && !answerSet.result && setFocus(false, targetId, true))"
                              ng-blur="setFocus(false, null, false)"
                              popover-is-open="(ds.isPopoverOpen && ds.index == targetId) || ds.isResuming"
                              popover-trigger="none"
                              uib-popover-template="popoverTpl"
                              popover-placement="bottom auto"
                              ng-class="{'drag-started':dragStarted,
                              'correct-answer': answerSet.result,
                              'wrong-answer': answerSet.result!=undefined && !answerSet.result}"
                              tabindex="{{answerSet.result?-1:0}}"
                              ng-model="answerSet.value">{{answerSet.value}}
                        </span>
                     </span>
                    <p for="{{targetId}}" class="hiddenValidationDescription" ng-if="answerSet.result">{{'CORRECT_ANSWER'|localization:ds.language:ds.language:[answerSet.value]}}</p>
                    <p for="{{targetId}}" class="hiddenValidationDescription" ng-if="answerSet.result!=undefined && !answerSet.result">{{'WRONG_ANSWER_WITH_FEEDBACK'|localization:ds.language:[answerSet.value, answerSet.toolTip]}}</p>

                   </span>
            </span>
        </div>
    </div>
</div>

<script type="text/ng-template" id="dragDropColumnPopover.html">
    <div>
        <div class="single-drag-drop-answers-container">
            <div class="draggable single-drag-drop-answer"
                 ng-init="id= 'popover_'+targetId+'_drop_'+answerset.INDEX; recordId = 'drop_'+answerset.INDEX"
                 id ={{id}}
                 ng-repeat="answerset in ds.shuffledAnswers | orderBy: 'ANSWER.order'"
                 ng-focus="setFocus(true, targetId)"
                 ng-blur="setFocus(false)"
                 tabindex="0"
                 ng-if="!answerset.ANSWER.isRemoved"
                 ng-click="recordAnswer(targetId, 'DRAGDROP', null,answerset.INDEX) && dropped(answerset.ANSWER.TEXT, $root.isArray(question.ANSWERSET) ? question.ANSWERSET[targetId.split('_')[1]] : question.ANSWERSET,question.ANSWERSET)"
                 ng-bind-html="answerset.ANSWER.TEXT|sanitize">
            </div>
        </div>
    </div>
</script>