<div ng-if="$root.isArray(question.ANSWERSET)">
    <div ng-if="$root.isArray(question.ANSWERSET)" class="element" ng-repeat="answerset in question.ANSWERSET">

        <label ng-bind-html="txt +'&nbsp;'| sanitize"
               ng-repeat="txt in addColorText(drop_down_texts[$parent.$index]) track by $index"
               ng-class="{'singleDropDownSpan' : txt.indexOf('<br')>-1}"
               class="dropdownText dropdownTextLastMultiple" lang="{{ds.mainMenuLinkLang}}"></label>

    <span>
         <div class="btn-group dropdown" uib-dropdown
              uib-tooltip="{{answerset.toolTip}}"
              tooltip-placement="right auto"
              tooltip-append-to-body="true"
              tooltip-is-open="ds.showTooltip && ds.index == questionNo+'_'+$index"
              is-open="isOpen"
              ng-class="{'correct-answer': answerset.result,
                'wrong-answer': answerset.result!=undefined && !answerset.result}">
             <button id="dropDownValueBtn"
                     type="button"
                     ng-focus="ds.showTooltip = true;ds.index = questionNo+'_'+$index"
                     ng-blur="isTooltipOpen = false"
                     tabindex="{{answerset.disabled && answerset.result?-1:0}}"
                     ng-class="{'disabled':answerset.disabled}"
                     class="btn btn-default dropdownBtn">{{answerset.value}}
             </button><!--ng-style="{'width': getMaxCharsFromQuestion(answerset)+'px'}"-->
             <label for="dropDownValueBtn" class="offscreen">{{answerset.value}}</label>
             <button type="button" class="btn btn-default"
                     ng-class="{'disabled':answerset.disabled}"
                     tabindex="{{answerset.disabled?-1:0}}"
                     uib-dropdown-toggle>
                 <span class="caret"></span>
                 <span class="sr-only"></span>
             </button>

             <ul uib-dropdown-menu class="dropdown-menu"
                 role="menu" aria-labelledby="single-button">
                 <li id="{{id}}"
                     ng-init="id = questionNo+'_'+$parent.$index+'_'+$index"
                     role="menuitem" ng-repeat="answer in answerset.ANSWER"
                     ng-click="$parent.isOpen = false; setModel(answerset, answer.TEXT); recordAnswer(id, 'DROPDOWN') && validate(answer.TEXT, answerset, answerset['@maxAttempts'],null,null,question.ANSWERSET)">
                     <a class="center" ng-bind-html="answer.TEXT|sanitize"></a>
                 </li>
             </ul>
             <p for="{{id}}" class="hiddenValidationDescription" ng-if="answerset.result">
                 {{'CORRECT_ANSWER'|localization:ds.language:[answerset.value]}}</p>

             <p for="{{id}}" class="hiddenValidationDescription" ng-if="answerset.result!=undefined && !answerset.result">
                 {{'WRONG_ANSWER_WITH_FEEDBACK'|localization:ds.language:[answerset.value, answerset.toolTip]}}</p>

         </div>

    </span>
    </div>
    <label ng-bind-html="txt +'&nbsp;'| sanitize"
           ng-repeat="txt in addColorText(drop_down_texts[dropDownTextsCount-1]) track by $index"
           class="dropdownText dropdownTextLastMultiple" lang="{{ds.mainMenuLinkLang}}"></label>

</div>

<div ng-if="!$root.isArray(question.ANSWERSET)" class="element">

    <label ng-bind-html="txt +'&nbsp;'| sanitize"
           ng-repeat="txt in drop_down_texts[0].trim().split(' ') track by $index"
           class="dropdownText" lang="{{ds.mainMenuLinkLang}}"></label>

    <span auto-close="always">
        <div class="btn-group dropdown" uib-dropdown
             is-open="isOpen"
             tooltip-is-open="ds.showTooltip && ds.index == questionNo"
             uib-tooltip="{{question.ANSWERSET.toolTip}}"
             tooltip-placement="right"
             tooltip-append-to-body="true"
             ng-class="{
                'correct-answer': question.ANSWERSET.result,
                'wrong-answer': question.ANSWERSET.result!=undefined &&
                 !question.ANSWERSET.result}">
            <button id="split-button" type="button"
                    ng-class="{'disabled':question.ANSWERSET.disabled}"
                    tabindex="{{question.ANSWERSET.disabled?0:-1}}"
                    ng-focus="ds.showTooltip = true;ds.index = questionNo"
                    ng-blur="ds.showTooltip = false"
                    class="btn btn-default dropdownBtn">{{question.ANSWERSET.value}}
            </button><!--ng-style="{'width': getMaxCharsFromQuestion(question.ANSWERSET)+'px'}"-->
            <button type="button" class="btn btn-default"
                    ng-class="{'disabled':question.ANSWERSET.disabled}"
                    tabindex="{{question.ANSWERSET.disabled?-1:0}}"
                    uib-dropdown-toggle>
                <span class="caret"></span>
                <span class="sr-only"></span>
            </button>

            <ul uib-dropdown-menu class="dropdown-menu"
                role="menu" aria-labelledby="single-button">
                <li role="menuitem"  ng-init="id = questionNo+'_'+$index"
                    id="{{id}}" ng-repeat="answer in question.ANSWERSET.ANSWER track by $index"
                    ng-click="$parent.isOpen = false; setModel(question.ANSWERSET, answer.TEXT); recordAnswer(id, 'DROPDOWN') && validate(answer.TEXT, question.ANSWERSET, question.ANSWERSET['@maxAttempts'],null,null,question.ANSWERSET)">
                    <a class="center" ng-bind-html="answer.TEXT|sanitize"></a>
                </li>
            </ul>
            <p for="{{questionNo}}" class="hiddenValidationDescription" ng-if="question.ANSWERSET.result">
                {{'CORRECT_ANSWER'|localization:ds.language:[question.ANSWERSET.value]}}</p>

            <p for="{{questionNo}}" class="hiddenValidationDescription"
               ng-if="question.ANSWERSET.result!=undefined && !question.ANSWERSET.result">
                {{'WRONG_ANSWER_WITH_FEEDBACK'|localization:ds.language:[question.ANSWERSET.value, question.ANSWERSET.toolTip]}}</p>

        </div>

    </span>

    <label ng-bind-html="txt +'&nbsp;'| sanitize" ng-if="drop_down_texts[dropDownTextsCount-1].indexOf('span')==-1"
           ng-repeat="txt in drop_down_texts[dropDownTextsCount-1].trim().split(' ') track by $index"
           class="dropdownText" lang="{{ds.mainMenuLinkLang}}"></label>


    <label class="multiInput_text"
           ng-if="selectedActivity.skillType!='quiz' && drop_down_texts[dropDownTextsCount-1].indexOf('span')!=-1"
           ng-bind-html="txt +'&nbsp;' | sanitize "
           ng-repeat="txt in addColorText(drop_down_texts[dropDownTextsCount-1]) track by $index"
           ng-class="{'ParentSpan' : txt.indexOf('<b>')!=-1}" lang="{{ds.mainMenuLinkLang}}">
    </label>
</div>

