<div class="elemensetInput" ng-repeat="txtAnswerSet in txtAnswerSets track by $index">

    <label class="text fillText"
            ng-class="{'colorSpan':txt.indexOf('innerspan')!=-1}"
          ng-bind-html="txt | sanitize" ng-repeat="txt in addColorText(txtAnswerSet[0]) track by $index" lang="{{ds.mainMenuLinkLang}}"></label>

    <div ng-repeat="answerSet in txtAnswerSet[1]">
        <input type="text"
               ng-init="id='inputAnswerset_'+questionNo+'_'+getAnswerSetIndex(questionNo, $parent.$parent.$index, $parent.$index);"
               id="{{id}}"
               ng-if="answerSet['@controlType'] == 'INPUT'"
               uib-tooltip="{{answerSet.toolTip}}" tooltip-placement="right" tooltip-append-to-body="true" tooltip-trigger="focus mouseenter"
               class="form-control ng-pristine ng-valid ng-touched left inputField"
               ng-readonly="answerSet.disabled"
               accent
               ng-class="{'disabled':answerSet.disabled,'FIBVIPointerBlock' : answerSet['@class'] == 'FIBVIPointerEvent',
                   'clear-left':checkForLineBreak(txtAnswerSet[0], $index),
                   'correct-answer': answerSet.result && answerSet.showResult,
                   'wrong-answer': answerSet.result!=undefined && !answerSet.result && answerSet.showResult}"
               size="{{selectedActivity.maxWidth}}"
               ng-model="answerSet.value"
               ng-enter="recordAnswer(id, 'INPUT', answerSet.value) &&
               validate(answerSet.value,  answerSet, answerSet['@maxAttempts'],null, null, question.ANSWERSET)"
               tabindex="{{answer.disabled ? -1 : 0}}"
               tooltip-is-open="ds.showTooltip && ds.index == questionNo+'_'+$parent.$parent.$index+'_'+$index"
               ng-focus="ds.showTooltip = true;ds.index = questionNo+'_'+$parent.$parent.$index+'_'+$index"
               ng-blur="isTooltipOpen = false">
        <label for="{{id}}" class="hiddenValidationDescription" ng-if="$root.isFrenchModule">contribution pour la question {{questionNo}}</label>
        <label for="{{id}}" class="hiddenValidationDescription" ng-if="!$root.isFrenchModule">input for the question {{questionNo}}</label>
        <label for="{{id}}" class="hiddenValidationDescription" ng-if="$root.isSpanishModule">Entrada para la pregunta {{questionNo}}</label>
        <p for="{{id}}" class="hiddenValidationDescription" ng-if="answerSet.result && answerSet.showResult">{{'CORRECT_ANSWER'|localization:ds.language:[answerSet.value]}}</p>
        <p for="{{id}}" class="hiddenValidationDescription" ng-if="answerSet.result!=undefined && !answerSet.result && answerSet.showResult">{{'WRONG_ANSWER_WITH_FEEDBACK'|localization:ds.language:[answerSet.value, answerSet.toolTip]}}</p>


          <span uib-tooltip="{{answerSet.toolTip}}" tooltip-placement="right" tooltip-append-to-body="true"
                ng-if="answerSet['@controlType'] == 'DROPDOWN'" class="dropDownTooltip" tooltip-is-open="ds.showTooltip && ds.index == questionNo+'_'+$parent.$parent.$index+'_'+$index" tooltip-trigger="focus mouseenter"
                ng-class="{'clear-left':checkForLineBreak(txtAnswerSet[0], $index)}">

                <div class="btn-group dropdown" uib-dropdown
                     is-open="isOpen"
                     ng-class="{'correct-answer': answerSet.result,
                'wrong-answer': answerSet.result!=undefined && !answerSet.result}">
                    <button type="button"
                            tabindex="-1"
                            ng-blur="isTooltipOpen = false"
                            ng-class="{'disabled':answerSet.disabled}"
                            class="btn btn-default dropdownBtn">{{answerSet.value}}</button>
                    <!--ng-style="{'width': getMaxCharsFromQuestion(answerSet)+'px'}"-->
                    <button type="button" class="btn btn-default"
                            ng-class="{'disabled':answerSet.disabled}"
                            tabindex="0"
                            ng-focus="ds.showTooltip = true;ds.index = questionNo+'_'+$parent.$parent.$index+'_'+$index"
                            uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only"></span>
                    </button>

                    <ul uib-dropdown-menu class="dropdown-menu"
                        role="menu" aria-labelledby="single-button">
                        <li role="menuitem" ng-repeat="answer in answerSet.ANSWER"
                            ng-init="id ='ddlAnswerset_'+questionNo+'_'+getAnswerSetIndex(questionNo, $parent.$parent.$index, $parent.$index)+'_'+$index"
                            id="{{id}}"
                            ng-click="$parent.isOpen = false; setModel(answerSet, answer.TEXT); recordAnswer(id, 'DROPDOWN') && validate(answer.TEXT, answerSet, answerSet['@maxAttempts'],null,null,question.ANSWERSET)">
                            <a class="center" ng-bind-html="answer.TEXT|sanitize"></a>
                        </li>
                    </ul>
                    <p for="{{id}}" class="hiddenValidationDescription" ng-if="answerSet.result">{{'CORRECT_ANSWER'|localization:ds.language:[answerSet.value]}}</p>
                    <p for="{{id}}" class="hiddenValidationDescription" ng-if="answerSet.result!=undefined && !answerSet.result">{{'WRONG_ANSWER_WITH_FEEDBACK'|localization:ds.language:[answerSet.value, answerSet.toolTip]}}</p>

                </div>

            </span>

        <div ng-class="{'clear-left':checkForLineBreak(txtAnswerSet[0], $index)}" class="buttonAnswersContainer">
            <span class="setButton FinalQuizsetButton" ng-repeat="answer in answerSet.ANSWER"
                   ng-if="answerSet['@controlType'] == 'BUTTON'">
             <span class="button_tooltip ArraySpanButton">
                 <input type="button"
                        lang="{{ds.mainMenuLinkLang}}"
                        ng-init="id='btnAnswerset_'+questionNo+'_'+getAnswerSetIndex(questionNo, $parent.$parent.$index, $parent.$index)"
                        id="{{id}}"
                        class="btn btn-info button ArrayInputButton btnButtonSet"
                        ng-class="{'disabled':answerSet.disabled,
                        'correct-answer': answerSet.showResult && getAnswerText(answer).length == 1,
                        'wrong-answer': answerSet.index==$index && answerSet.result!=undefined &&
                                  !answerSet.result}"
                        ng-click="recordAnswer(id, 'BUTTON', answerSet['@FEEDBACK']) && validate(answer.TEXT, answerSet, answerSet['@maxAttempts'], null,null, question.ANSWERSET, $index, id)"
                        ng-model="answerSet.value"
                        ng-value="answer.TEXT?answer.TEXT:answer.IMAGE||answer.AUDIO"
                        uib-tooltip="{{answerSet.toolTip}}"
                        tooltip-placement="right"
                        tooltip-enable="{{answerSet.index==$index}}"
                        tooltip-append-to-body="true"
                        tabindex="{{answerSet.tabIndex}}"/>
                 <!--ng-style="{'min-width': dynamicWidth, 'width': dynamicWidth}"
                 dynamicWidth = getMaxCharsFromQuestion($parent.answerSet)+'px'-->
                 <p for="{{id}}" class="hiddenValidationDescription" ng-if="$root.isFrenchModule">choix {{answer.TEXT}} pour la question {{questionNo}}</p>
                 <p for="{{id}}" class="hiddenValidationDescription" ng-if="!$root.isFrenchModule">choice {{answer.TEXT}} for the question {{questionNo}}</p>
                 <p for="{{id}}" class="hiddenValidationDescription" ng-if="$root.isSpanishModule">Choice {{answer.TEXT}} para la pregunta {{questionNo}}</p>
                 <p for="{{id}}" class="hiddenValidationDescription" ng-if="answerSet.showResult && getAnswerText(answer).length == 1">{{'CORRECT_ANSWER'|localization:ds.language:[answer.TEXT]}}</p>
                 <p for="{{id}}" class="hiddenValidationDescription" ng-if="answerSet.index==$index && answerSet.result!=undefined && !answerSet.result">{{'WRONG_ANSWER_WITH_FEEDBACK'|localization:ds.language:[answer.TEXT, answerSet.toolTip]}}</p>
                 <p for="{{id}}" class="hiddenValidationDescription" ng-if="answerSet.index==$index && answerSet.result!=undefined && !answerSet.result">{{'WRONG_ANSWER_WITH_FEEDBACK'|localization:ds.language:[answer.TEXT, answerSet.toolTip]}}</p>

                 </span>
            </span>
        </div>
    </div>
</div>
