<audio id="grpListAudio" alt="{{question.AUDIO && getFileName(question.AUDIO)}}"
       ui-event="{ended : 'hideTooltip()'}">
    <p>Your browser does not support the <code>audio</code> element </p>
</audio>

<div class="groupList-container" ng-class="{'correct-answer': question.result, 'wrong-answer': question.result==false}"
     ng-drop="true"
     ng-drop-success="recordAnswer(id, 'DRAGDROP', null, $data.ID) && groupListDropped($data.DATA, question.ANSWERSET,question,questionNo)"
     ng-init="id = questionNo">
    <div class="mainContainer" ng-if="currentSection.QUESTIONS.QUESTION[0]['@INTERNALID'] == id ">
        <div class="slot header" id="{{id}}" tabindex="0"
             ng-focus="question.result == undefined && setFocus(true, id)"
             ng-blur="setFocus(false)"
             popover-class="tooltip-Group"
             popover-placement="bottom"
             popover-append-to-body="false"
             popover-is-open="(ds.isPopoverOpen && ds.index == id) || ds.isResuming"
             popover-trigger="none"
             uib-popover-template="dynamicPopover.templateUrl">
             <span ng-if="question.AUDIO" ng-click="play_audio(question.AUDIO, 'header_'+questionNo, $event)"
                   class="groupListAudioSpan"
                   ng-mousedown="isAudioClicked = true"
                   ng-mouseup="isAudioClicked = false"
                   ng-focus="!isAudioClicked && question.result == undefined && setFocus(true, questionNo)"
                   ng-blur="hidetip(); setFocus(false)"
                   tooltip-class="tooltip-audio"
                   uib-tooltip="{{question.AUDIOCAPTION}}"
                   tooltip-placement="right"
                   tooltip-trigger="none"
                   tooltip-is-open="ds.showGrpTooltip && ds.grpTooltipIndex == 'header_'+questionNo && ds.Grpfocuss"
                   tooltip-enable="{{$root.audioCaptionControl}}">
                        <img src="images/play.png" alt="Play audio">
             </span>
            <label ng-bind-html="question.TEXT|sanitize" lang="{{ds.mainMenuLinkLang}}">
                <p for={{id}} class="hiddenValidationDescription" ng-if="question.result">{{'CORRECT_ANSWER'|localization:ds.language:[question.TEXT]}}</p>
                <p for={{id}} class="hiddenValidationDescription" ng-if="question.result==false">{{'WRONG_ANSWER'|localization:ds.language:[question.TEXT]}}</p>

            </label>
        </div>
        <div class="itemContainer">
            <div class="item" ng-repeat="item in question.items">
                <div class="itemAudioTxt">
                    <span ng-if="item.data.AUDIO"
                          ng-click="play_audio(item.data.AUDIO, questionNo+'_'+$index)"
                          tooltip-class="tooltip-audio"
                          ng-blur="hidetip()"
                          uib-tooltip="{{item.data.AUDIOCAPTION}}"
                          tooltip-placement="right"
                          tooltip-trigger="none"
                          tooltip-is-open="ds.showGrpTooltip && ds.grpTooltipIndex == questionNo+'_'+$index && ds.Grpfocuss"
                          tooltip-enable="{{$root.audioCaptionControl}}">
                        <img class="answerAudio" src="images/play.png" alt="Play audio">
                    </span>
                    <label ng-if="item.data.TEXT" id="{{item.data.TEXT}}" ng-bind-html="item.data.TEXT|sanitize" lang="{{ds.mainMenuLinkLang}}"></label>
                    <p for={{item.data.TEXT}} class="hiddenValidationDescription" ng-if="item.result">{{'CORRECT_ANSWER'|localization:ds.language:[item.data.TEXT]}}</p>
                    <p for={{item.data.TEXT}} class="hiddenValidationDescription" ng-if="!item.result">{{'WRONG_ANSWER'|localization:ds.language:[item.data.TEXT]}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="groupListPopover.html">
    <div class="groupListPopover">
        <div class="row GroupList-draggable buttons" id="grpListPopover">
            <div ng-repeat="answer in ds.shuffledAnswers | orderBy: 'ANSWER.order'"
                 ng-if="!answer.ANSWER.isRemoved && (answer.ANSWER.TEXT || answer.ANSWER.AUDIO)"
                 class="peg items draggable single-drag-drop-answer"
                 ng-init="id= 'popover_'+questionNo+'_drop_'+answer.INDEX; orderedCollection= (ds.shuffledAnswers | orderBy: 'ANSWER.order')"
                 ng-focus="setFocus(true, questionNo);isDivFocus = true"
                 ng-blur="setFocus(false);answer.ANSWER.AUDIO!=undefined && focusNextHeader($index, ds.shuffledAnswers.length, $event);;isDivFocus = false"
                 id="{{id}}"
                 uib-tooltip="{{'WRONG_ANSWER'|localization:ds.language:[answer.ANSWER.AUDIOCAPTION]}}"
                 tooltip-placement="right"
                 tooltip-trigger="none"
                 tooltip-is-open="ds.showWrongAnswerTooltip && id == ds.itemIndex"
                 ng-click="isDivFocus && recordAnswer(questionNo, 'DRAGDROP', null,'drop_'+answer.INDEX) && groupListDropped(answer.ANSWER, question.ANSWERSET, null, orderedCollection[$index]?'popover_'+questionNo+'_drop_'+orderedCollection[$index].INDEX:null)"
                 ng-enter="isDivFocus && recordAnswer(questionNo, 'DRAGDROP', null,'drop_'+answer.INDEX) && groupListDropped(answer.ANSWER, question.ANSWERSET, null, orderedCollection[$index]?'popover_'+questionNo+'_drop_'+orderedCollection[$index].INDEX:null)"

                 tabindex="{{answer.ANSWER.AUDIO? -1: 0}}">
            <span ng-if="answer.ANSWER.AUDIO"  id="grpItemAudio_{{$index}}"
                           ng-click="play_audio(answer.ANSWER.AUDIO, $index, $event)"
                           ng-enter="play_audio(answer.ANSWER.AUDIO, $index, $event)"
                           class="play-button"
                           id="GroupListAnswerset"
                           ng-blur="hidetip(); setFocus(false)"
                           ng-focus="setFocus(true, questionNo)"
                           tooltip-class="tooltip-audio"
                           uib-tooltip="{{answer.ANSWER.AUDIOCAPTION}}"
                           tooltip-placement="right"
                           tooltip-trigger="none"
                           tooltip-is-open="ds.showGrpTooltip && $index == ds.grpTooltipIndex && ds.Grpfocuss"
                           tooltip-enable="{{$root.audioCaptionControl}}" tabindex="0">
                     <img src="images/play.png" alt="Play audio" style="width:30px">
            </span>
                <label ng-if="answer.ANSWER.TEXT" ng-bind-html="answer.ANSWER.TEXT|sanitize"></label>
                <div ng-if="answer.ANSWER.AUDIO" tabindex="0" onfocus="this.parentElement.focus()">
                </div>
            </div>
        </div>
    </div>
</script>