<div class="groupHeader-container" ng-class="{'correct-answer': question.ANSWERSET.result, 'wrong-answer': currentSection['@maxAttempts']==0 && question.ANSWERSET.result!=true}">
    <div class="mainContainer">
        <div ng-drop-success="recordAnswer(id, 'DRAGDROP', null, $data.ID) && groupHeaderDropped($data.DATA, question.ANSWERSET)"
             class="slot draggable left"
             tabindex="0"
             ng-init="id = questionNo"
             id="{{id}}"
             ng-focus="!question.ANSWERSET.result && setFocus(true, questionNo)"
             ng-blur="setFocus(false)"
             popover-placement="right auto"
             popover-append-to-body="false"
             popover-is-open="(ds.isPopoverOpen && ds.index == questionNo) || ds.isResuming"
             popover-trigger="none"
             uib-popover-template="dynamicPopover.templateUrl"
             ng-class="{'drag-started':ds.dragStarted,
                 'correct-answer': question.ANSWERSET.result,
                 'wrong-answer': currentSection['@maxAttempts']==0 && question.ANSWERSET.result!=true}"
             ng-drop="true">
            <label ng-if="question.ANSWERSET.value" ng-bind-html="question.ANSWERSET.value|sanitize"></label>
            <label ng-if="currentSection['@maxAttempts']==0 && question.ANSWERSET.result!=true">
                {{getAnswerText(question.ANSWERSET.ANSWER)[0]}}
            </label>
        </div>
        <p for="{{id}}" class="hiddenValidationDescription" ng-if="question.ANSWERSET.result">
            {{'CORRECT_ANSWER'|localization:ds.language:[question.ANSWERSET.value]}}</p>

        <p for="{{id}}" class="hiddenValidationDescription"
           ng-if="currentSection['@maxAttempts']==0 && question.ANSWERSET.result!=true">
            {{'WRONG_ANSWER_ZERO_ATTEMPT'|localization:ds.language:[getAnswerText(question.ANSWERSET.ANSWER)[0]]}}</p>

        <div class="itemContainer">
            <div class="childItemContainer">
                <p class="item" ng-if="chk_is_array(question.ITEM)" ng-repeat="item in question.ITEM"
                   lang="{{ds.mainMenuLinkLang}}">{{item}}</p>

                <p class="item" ng-if="!chk_is_array(question.ITEM)" lang="{{ds.mainMenuLinkLang}}">
                    {{question.ITEM}}</p>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="groupHeadingPopover.html">
    <div class="row groupHeadingPopover GroupHeader-draggable buttons scroll-overflow"
         id="popover">
        <div ng-repeat="answer in ds.shuffledAnswers | orderBy: 'ANSWER.order'"
             ng-if="!answer.ANSWER.isRemoved" tabindex="0"
             class="peg items draggable single-drag-drop-answer"
             ng-focus="setFocus(true, questionNo)"
             ng-blur="setFocus(false)"
             id="{{id}}"
             uib-tooltip="{{'WRONG_ANSWER'|localization:ds.language:[answer.ANSWER.TEXT]}}"
             tooltip-placement="right"
             tooltip-trigger="none"
             tooltip-is-open="ds.showWrongAnswerTooltip && id == ds.itemIndex"
             ng-init="id= 'popover_'+questionNo+'_drop_'+answer.INDEX"
             ng-click="recordAnswer(questionNo, 'DRAGDROP', null,'drop_'+answer.INDEX) && groupHeaderDropped(answer.ANSWER, question.ANSWERSET, null, id)"
             ng-enter="recordAnswer(questionNo, 'DRAGDROP', null,'drop_'+answer.INDEX) && groupHeaderDropped(answer.ANSWER, question.ANSWERSET, null, id)">

            <label ng-if="answer.ANSWER.TEXT" ng-bind-html="answer.ANSWER.TEXT | sanitize">
            </label>

            <div ng-if="answer.ANSWER.AUDIO" class="peg items draggable">
              <span ng-click="!ds.dragStarted && play_audio(answer.ANSWER.AUDIO)" class="play-button">
                     <img src="images/play.png" alt="Play audio">
              </span>
            </div>
        </div>
    </div>
</script>