<audio id="load_audio" ui-event="{ended : 'hideTooltip()'}">
    <p>Your browser does not support the <code>audio</code> element </p>
</audio>
<div class="element setInput"
      ng-if="questionAnswerSet.ANSWER">

<label class="text fillText" ng-if="selectedActivity.skillType!='quiz'"
      ng-class="{'match-text':selectedActivity.type=='Match', 'singleDropDownSpan' : txt.indexOf('<br') > -1}"
      ng-bind-html="txt | sanitize" ng-repeat="txt in addColorText(drop_down_texts[0]) track by $index" lang="{{ds.mainMenuLinkLang}}"></label>


         <input type="text"
                focus
                accent
                id="inputAnswerset_{{questionNo}}"
                ng-readonly="questionAnswerSet.disabled"
                class="form-control inputBox fillInput"
                size="{{selectedActivity.maxWidth}}"
                uib-tooltip="{{questionAnswerSet.toolTip}}"
                tooltip-placement="right"
                tooltip-is-open="ds.showTooltip && ds.index == questionNo && ds.inputFocus"
                tooltip-enable="{{selectedActivity.type != 'FinalTest' || question.showResult}}"
                tooltip-append-to-body="true"
                tabindex="{{questionAnswerSet.result!=undefined && !questionAnswerSet.result && questionAnswerSet.showResult ? 0:questionAnswerSet.tabIndex}}"
                ng-class="{'disabled':questionAnswerSet.disabled,'correct-answer': questionAnswerSet.result && questionAnswerSet.showResult,
                      'wrong-answer': questionAnswerSet.result!=undefined && !questionAnswerSet.result
                       && questionAnswerSet.showResult}"
                ng-model="questionAnswerSet.value"
                ng-enter="recordAnswer('inputAnswerset_'+questionNo, 'INPUT', questionAnswerSet.value) && validate(questionAnswerSet.value, questionAnswerSet, questionAnswerSet['@maxAttempts'], null, null, questionAnswerSet)"
                ng-focus="ds.showTooltip = true;ds.index = questionNo;ds.inputFocus = true"
                ng-blur="hidetipblanks(); ds.showTooltip = false" />
    <label for="inputAnswerset_{{questionNo}}" class="hiddenValidationDescription" ng-if="$root.isFrenchModule">contribution pour la question {{questionNo}}</label>
    <label for="inputAnswerset_{{questionNo}}" class="hiddenValidationDescription" ng-if="!$root.isFrenchModule">input for the question {{questionNo}}</label>
    <label for="inputAnswerset_{{questionNo}}" class="hiddenValidationDescription" ng-if="$root.isSpanishModule">Entrada para la pregunta {{questionNo}}</label>
    <p for="inputAnswerset_{{questionNo}}" class="hiddenValidationDescription" ng-if="questionAnswerSet.result && questionAnswerSet.showResult">{{'CORRECT_ANSWER'|localization:ds.language:[questionAnswerSet.value]}}</p>
    <p for="inputAnswerset_{{questionNo}}" class="hiddenValidationDescription" ng-if="questionAnswerSet.result!=undefined && !questionAnswerSet.result && questionAnswerSet.showResult">{{'WRONG_ANSWER_WITH_FEEDBACK'|localization:ds.language:[questionAnswerSet.value, questionAnswerSet.toolTip]}}</p>

    <label class="text fillText" ng-if="selectedActivity.skillType!='quiz' && drop_down_texts[1].indexOf('font')!=-1"
          ng-class="{'singleDropDownSpan' : txt.indexOf('<br') > -1}"
          ng-bind-html="txt | sanitize" ng-repeat="txt in addColorText(drop_down_texts[1]) track by $index" lang="{{ds.mainMenuLinkLang}}"></label>

    <label class="text fillText" ng-if="selectedActivity.skillType!='quiz' && drop_down_texts[1].indexOf('font')==-1"
          ng-class="{'singleDropDownSpan' : txt.indexOf('<br') > -1}"
          ng-bind-html="txt | sanitize" ng-repeat="txt in addColorText(drop_down_texts[1]) track by $index" lang="{{ds.mainMenuLinkLang}}"></label>
    <span ng-if="questionAnswerSet.AUDIO"
         ng-class="{'btnDisabled': !question.disabled}">
                 <span
                       ng-click="play_audio(questionAnswerSet.AUDIO, questionNo)" class="play-button"
                       ng-enter="play_audio(questionAnswerSet.AUDIO, questionNo)"
                       ng-blur="hidetipinverse()"
                       tooltip-class="tooltip-audio"
                       uib-tooltip="{{questionAnswerSet.AUDIOCAPTION}}"
                       tooltip-placement="right"
                       tooltip-trigger="none"
                       tooltip-is-open="ds.showTooltip && questionNo == tooltipIndex && ds.focuss"
                       tooltip-enable="{{$root.audioCaptionControl}}" tabindex="0">
                     <img src="images/play.png" alt="Play audio" class="FillblankSectionAudioImg">
            </span>
    </span>
</div>



<div ng-if="questionAnswerSet[0].ANSWER">
    <div class="element inputText"
         ng-if="questionAnswerSet[0].ANSWER"
         ng-repeat="answer in questionAnswerSet">

        <label class="left multiInput_text"
           ng-if="selectedActivity.skillType!='quiz' && drop_down_texts[$parent.$index].indexOf('font')==-1 && txt"
              ng-bind-html="txt | sanitize" ng-repeat="txt in addColorText(drop_down_texts[$parent.$index].trim()) track by $index"
              ng-class="{'singleDropDownSpan' : txt.indexOf('<br') > -1}" lang="{{ds.mainMenuLinkLang}}">
        </label>

        <label class="left multiInput_text"
              ng-if="selectedActivity.skillType!='quiz' && drop_down_texts[$parent.$index].indexOf('font')!=-1 && txt"
              ng-class="{'singleDropDownSpan' : txt.indexOf('<br') > -1, 'ParentSpan' : txt.indexOf('<b>')!=-1}"
              ng-bind-html="txt  | sanitize" ng-repeat="txt in addColorText(drop_down_texts[$parent.$index]) track by $index" lang="{{ds.mainMenuLinkLang}}">
        </label>

        <span class="multiInput-span">
            <input type="text"
                   ng-init="id = 'inputAnswerset_'+questionNo+'_'+$index"
                   uib-tooltip="{{answer.toolTip}}" tooltip-placement="right" tooltip-append-to-body="true"
                   tooltip-enable="{{answer.showResult}}"
                   tooltip-is-open="ds.showTooltip && ds.index == id"
                   id="{{id}}"
                   class="form-control ng-pristine ng-valid ng-touched left"
                   focus
                   ng-focus="ds.showTooltip = true;ds.index = id"
                   ng-readonly="answer.disabled"
                   accent
                   size="{{selectedActivity.maxWidth}}"
                   ng-class="{'disabled':answer.disabled,
                   'correct-answer': answer.result && answer.showResult,
                   'wrong-answer': answer.result!=undefined && !answer.result && answer.showResult}"
                   ng-model="answer.value"
                   ng-enter="recordAnswer('inputAnswerset_'+questionNo+'_'+$index, 'INPUT', answer.value) && validate(answer.value,  answer, answer['@maxAttempts'],null, null, questionAnswerSet)"
                   tabindex="{{answer.result!=undefined && !answer.result && answer.showResult ? 0 : answer.tabIndex}}"
                   ng-blur="hidetipblanks(); ds.showTooltip = false">
            <label for="{{id}}" class="hiddenValidationDescription" ng-if="$root.isFrenchModule">contribution {{$index + 1}} pour la question {{questionNo}}</label>
            <label for="{{id}}" class="hiddenValidationDescription" ng-if="!$root.isFrenchModule">input {{$index + 1}} for the question {{questionNo}}</label>
            <label for="{{id}}" class="hiddenValidationDescription" ng-if="$root.isSpanishModule">Input {{$ index + 1}} para la pregunta {{questionNo}}</label>
            <p for="{{id}}" class="hiddenValidationDescription" ng-if="answer.result && answer.showResult">{{'CORRECT_ANSWER'|localization:ds.language:[answer.value]}}</p>
            <p for="{{id}}" class="hiddenValidationDescription" ng-if="answer.result!=undefined && !answer.result && answer.showResult">{{'WRONG_ANSWER'|localization:ds.language:[answer.value, answer.toolTip]}}</p>

        </span>
        <div class="left quizMultiInput"
             ng-if="selectedActivity.skillType=='quiz' && $index != questionAnswerSet.length-1">-
        </div>


    </div>


     <label class="left multiInput_text"
           ng-if="selectedActivity.skillType!='quiz' && drop_down_texts[dropDownTextsCount-1].indexOf('font')!=-1 && txt"
           ng-bind-html="txt  | sanitize "  ng-repeat="txt in addColorText(drop_down_texts[dropDownTextsCount-1]) track by $index"
           ng-class="{'ParentSpan' : txt.indexOf('<b>')!=-1, 'singleDropDownSpan' : txt.indexOf('<br') > -1}" lang="{{ds.mainMenuLinkLang}}">
        </label>

    <label class="left multiInput_text"
          ng-if="selectedActivity.skillType!='quiz' && drop_down_texts[dropDownTextsCount-1].indexOf('font')==-1 && txt"
          ng-bind-html="txt  | sanitize "  ng-repeat="txt in addColorText(drop_down_texts[dropDownTextsCount-1]) track by $index"
          ng-class="{'ParentSpan' : txt.indexOf('<b>')!=-1, 'singleDropDownSpan' : txt.indexOf('<br') > -1}" lang="{{ds.mainMenuLinkLang}}">
        </label>

    <span ng-if="questionAnswerSet[0].AUDIO"
          ng-class="{'btnDisabled': !question.disabled}">
                 <span
                       ng-click="play_audio(questionAnswerSet[0].AUDIO, questionNo)" class="play-button"
                       ng-enter="play_audio(questionAnswerSet[0].AUDIO, questionNo)"
                       ng-blur="hidetipinverse()"
                       tooltip-class="tooltip-audio"
                       uib-tooltip="{{questionAnswerSet[0].AUDIOCAPTION}}"
                       tooltip-placement="right"
                       tooltip-trigger="none"
                       tooltip-is-open="ds.showTooltip && questionNo == tooltipIndex && ds.focuss"
                       tooltip-enable="{{$root.audioCaptionControl}}" tabindex="0">
                     <img src="images/play.png" alt="Play audio" class="FillblankSectionAudioImg">
            </span>
    </span>
</div>