<div>
    <audio id="repeat_load_audio" alt="{{(question.AUDIO && getFileName(question.AUDIO))|| selectedActivity.type}}">
        <p>Your browser does not support the <code>audio</code> element </p>
    </audio>

    <div>
        <div  ng-if="question.ANSWERSET.ANSWER.TEXT"
                ng-init="id=questionNo"
                id="{{id}}"
               ng-bind-html="question.ANSWERSET.ANSWER.TEXT|sanitize"
               ng-click="recordAnswer(id, 'BUTTON') && selectQuestion(question)"
               class="btn btn-info button listenQuestion"
               ng-class="{'correct-answer': question.attended}" lang="{{ds.mainMenuLinkLang}}"></div>
        <p for="{{questionNo}}" class="hiddenValidationDescription" ng-if="question.attended">{{'CORRECT_ANSWER'|localization:ds.language:[question.ANSWERSET.ANSWER.TEXT]}}</p>

        <button type="button"
                ng-init="id=questionNo"
                id="{{id}}"
                ng-if="!question.ANSWERSET.ANSWER.TEXT"
               ng-click="recordAnswer(id, 'BUTTON') && selectQuestion(question)"
               class="btn btn-info button listenQuestion"
                ng-class="{'correct-answer': question.attended}">click Here</button>
        <p for="{{questionNo}}" class="hiddenValidationDescription" ng-if="question.attended">{{'CORRECT_ANSWER'|localization:ds.language:['click Here']}}</p>
        <label for="{{questionNo}}" class="offscreen">{{'CLICK_HERE'|localization:ds.language}}</label>

    </div>

</div>

