<div class="row element setInput go-to-work-container"
     ng-if="questionAnswerSet.ANSWER">
    <div ng-class="{'shuffleContainer':selectedActivity.shuffleAnswers}">
        <div class="go-to-work-container-answer" style="float: right">

        <span>
            <input type="text"
                   focus
                   id="inputAnswerset_{{questionNo}}"
                   class="form-control go-to-work-input"
                   ng-disabled="question.disabled || questionAnswerSet.cssDisabled"
                   ng-class="{'ng-hide':question.disabled || question.cssDisabled}"
                   ng-model="questionAnswerSet.value"
                   ng-enter="recordAnswer($event.target.id, 'INPUT', questionAnswerSet.value) && validate(questionAnswerSet.value, questionAnswerSet, questionAnswerSet['@maxAttempts'], null, questionAnswerSet.ANSWER.position, questionAnswerSet, null)" />
            <label for="inputAnswerset_{{questionNo}}" class="hiddenValidationDescription" ng-if="$root.isFrenchModule">
                contribution pour la question {{questionNo}}</label>
            <label for="inputAnswerset_{{questionNo}}" class="hiddenValidationDescription" ng-if="!$root.isFrenchModule">
                input for the question {{questionNo}}</label>
            <label for="inputAnswerset_{{questionNo}}" class="hiddenValidationDescription" ng-if="$root.isSpanishModule">
                Entrada para la pregunta {{questionNo}}</label>


             <div class="match-disabled-span form-control" uib-tooltip="{{questionAnswerSet.toolTip}}"
                  tooltip-placement="right"
                  tooltip-append-to-body="true"
                  ng-if="question.disabled || question.cssDisabled"
                  class="input-span go-to-work-input form-control"
                  ng-class="{'correct-answer': questionAnswerSet.result, 'wrong-answer': questionAnswerSet.result!=undefined && !questionAnswerSet.result}">
                 <label>{{questionAnswerSet.value}}</label>

                 <p for="inputAnswerset_{{questionNo}}" class="hiddenValidationDescription"
                    ng-if="questionAnswerSet.result">
                     {{'CORRECT_ANSWER'|localization:ds.language:[questionAnswerSet.value]}}</p>

                 <p for="inputAnswerset_{{questionNo}}" class="hiddenValidationDescription"
                    ng-if="questionAnswerSet.result!=undefined && !questionAnswerSet.result">
                     {{'WRONG_ANSWER_WITH_FEEDBACK'|localization:ds.language:[questionAnswerSet.value,questionAnswerSet.toolTip]}}</p>

             </div>

        </span>
        </div>

        <label style="float: right; margin-right: 5px" ng-bind-html="drop_down_texts[0] | sanitize"></label>
    </div>
    <div class="shuffleOptionsContainer" ng-if="selectedActivity.shuffleAnswers" style="float: right">
        <div ng-repeat="question in currentSection.QUESTIONS.QUESTION  | orderBy: 'ANSWERSET.ANSWER.order'"
             ng-if="$index+1 == questionNo">
            <div>
                <label ng-bind="questionNo" ng-init="question.ANSWERSET.ANSWER.position = questionNo"></label><label>.
            </label>
                <label ng-bind="question.ANSWERSET.ANSWER.TEXT"></label>
            </div>
        </div>
    </div>
</div>