<div class="FinalQuizMultiChoiceMultiAnswer">
    <div class="multiChoiceMultiAnswer" ng-repeat="answerSet in question.ANSWERSET"
         ng-class="{'col-sm-6': selectedActivity.type == 'FinalTest' && question.ANSWERSET.length == 2,
                    'col-sm-4': selectedActivity.type == 'FinalTest' && question.ANSWERSET.length == 3,
                    'col-sm-3': selectedActivity.type == 'FinalTest' && question.ANSWERSET.length == 4}">
        <div class="childMultiChoiceMultiAnswer"  aria-labelledby="{{selectedActivity.type}}_question_{{$index + 1}}_audio {{selectedActivity.type}}_question_{{$index + 1}}_audioI {{selectedActivity.type}}_question_{{$index + 1}}_image {{selectedActivity.type}}_question_{{$index + 1}}_text
            {{selectedActivity.type}}_question_{{$index + 1}}_image1 {{selectedActivity.type}}_question_{{$index + 1}}_audio1 {{selectedActivity.type}}_question_{{$index + 1}}_audioI1">
            <label ng-repeat="answer in answerSet.ANSWER" class="multipleChoiceContainer">
                <div class="mainContainer" ng-init="id = 'input_'+questionNo+'_'+$parent.$index+'_'+$index">

                    <input ng-disabled="answerSet.disabled"
                           tabindex="0"
                           ng-class="{'disabled':answerSet.cssDisabled}"
                           type="radio"
                           ng-checked="answerSet.disabled && answerSet.index == $index"
                           name="InputForQuestion_{{questionNo}}_{{$parent.$index}}_{{$index}}"
                           id="{{id}}"
                           ng-model="answerSet.value"
                           ng-value="answer.TEXT ? answer.TEXT : answer.IMAGE || answer.AUDIO"
                           ng-enter="!answerSet.disabled  && recordAnswer($event.target.id, 'MULTICHOICE') && validate(answer.TEXT ? answer.TEXT : answer.IMAGE || answer.AUDIO, answerSet, answerSet['@maxAttempts'], null, null, question.ANSWERSET, $index)"
                           ng-click="!answerSet.disabled && recordAnswer($event.target.id, 'MULTICHOICE') && validate(answer.TEXT ? answer.TEXT : answer.IMAGE || answer.AUDIO, answerSet, answerSet['@maxAttempts'], null, null, question.ANSWERSET, $index)"/>
                    <label for="{{id}}" class="hiddenValidationDescription" ng-if="$root.isFrenchModule">jeu de réponses {{$parent.$parent.$index + 1}} Choix {{$index + 1}} pour la question {{questionNo}}</label>
                    <label for="{{id}}" class="hiddenValidationDescription" ng-if="!$root.isFrenchModule">answerset {{$parent.$parent.$index + 1}} choice {{$index + 1}} for the question {{questionNo}}</label>
                    <label for="{{id}}" class="hiddenValidationDescription" ng-if="$root.isSpanishModule">Conjunto de respuestas {{$parent.$parent.$index + 1}} elección {{$index + 1}} para la pregunta {{questionNo}}</label>

                    <p tabindex="0" ng-if="answer.TEXT" class="float_left multiplechoice_label"
                       id="{{id}}"
                       for="{{id}}"
                       ng-bind-html="displayAsText(answer) | sanitize"
                       ng-enter="!answerSet.disabled && recordAnswer(id, 'MULTICHOICE') && validate(answer.TEXT ? answer.TEXT : answer.IMAGE || answer.AUDIO, answerSet, answerSet['@maxAttempts'], null, null, question.ANSWERSET, $index)"
                       ng-click="!answerSet.disabled && recordAnswer(id, 'MULTICHOICE') && validate(answer.TEXT ? answer.TEXT : answer.IMAGE || answer.AUDIO, answerSet, answerSet['@maxAttempts'], null, null, question.ANSWERSET, $index)" lang="{{ds.mainMenuLinkLang}}">
                    </p>
                </div>
            </label>
        </div>
    </div>
</div>
