<div>
    <div ng-repeat="answerset in questionAnswerSet">

        <label class="quiz-multi-dragDropText"
              ng-bind-html="drop_down_texts[$index] | sanitize"></label>
          <span>
            <span uib-tooltip="{{answerset.toolTip}}"
                  tooltip-placement="right"
                  tooltip-append-to-body="true"
                  tooltip-enable="{{answerset.showResult}}"
                  ng-drop-success="dropped($data, answerset,questionAnswerSet)"
                  class="slot draggable"
                  ng-drop="true"
                  ng-class="{'drag-started':dragStarted,
                  'correct-answer': answerset.result && answerset.showResult,
                  'wrong-answer': answerset.result!=undefined &&
                  !answerset.result && answerset.showResult}"
                  ng-model="answerset.value">{{answerset.value}}
            </span>
              <p class="hiddenValidationDescription" ng-if="answerset.result && answerset.showResult">{{'CORRECT_ANSWER'|localization:ds.language:[answerset.value]}}</p>
              <p class="hiddenValidationDescription" ng-if="answerset.result!=undefined && !answerset.result && answerset.showResult">{{'WRONG_ANSWER_WITH_FEEDBACK'|localization:ds.language:[answerset.value, answerset.toolTip]}}</p>

         </span>

        <label class="left" ng-if="$last" ng-bind-html="drop_down_texts[$index+1] | sanitize"></label>

    </div>
</div>