<audio id="mulitpleChoiceAudio" ui-event="{ended : 'hideTooltip()'}">
    <p>Your browser does not support the <code>audio</code> element </p>
</audio>
<div class="FinalQuizMultipleChoice" ng-if="currentSection['@type'] != 'CHECKBOX' " ng-class="{'noTxt':!question.TEXT}" role="radiogroup"
     aria-labelledby="{{selectedActivity.type}}_question_{{$index + 1}}_audio {{selectedActivity.type}}_question_{{$index + 1}}_audioI {{selectedActivity.type}}_question_{{$index + 1}}_image {{selectedActivity.type}}_question_{{$index + 1}}_text
     {{selectedActivity.type}}_question_{{$index + 1}}_image1 {{selectedActivity.type}}_question_{{$index + 1}}_audio1 {{selectedActivity.type}}_question_{{$index + 1}}_audioI1">
    <div ng-repeat="answer in questionAnswerSet.ANSWER track by $index" class="multipleChoiceContainer">
        <div class="mainContainer" ng-class="{'audioTxt':question.AUDIO && question.TEXT}" ng-init="id = 'input_'+questionNo+'_'+$index">

            <div class="MultipleChoiceRadio">
                <input ng-disabled="questionAnswerSet.disabled || questionAnswerSet.cssDisabled"
                       ng-class="{'disabled':questionAnswerSet.cssDisabled}"
                       type="radio"
                       tabindex="0"
                       ng-init = "value = answer.TEXT ? answer.TEXT : answer.IMAGE || answer.AUDIO"
                       id="{{id}}"
                       name="InputForQuestion_{{questionNo}}"
                       role="radio"
                       ng-model="value"
                       ng-checked="questionAnswerSet.disabled && questionAnswerSet.index == $index"
                       ng-enter="!questionAnswerSet.showResult && recordAnswer(id, 'MULTICHOICE') && validate(answer, questionAnswerSet, questionAnswerSet['@maxAttempts'], null, null, questionAnswerSet,$index)"
                       ng-click="!questionAnswerSet.showResult && recordAnswer(id, 'MULTICHOICE') && validate(answer, questionAnswerSet, questionAnswerSet['@maxAttempts'], null, null, questionAnswerSet,$index)"/>
                <label for="{{id}}" class="hiddenValidationDescription" ng-if="$root.isFrenchModule">Choix {{$index + 1}} pour la question {{questionNo}}</label>
                <label for="{{id}}" class="hiddenValidationDescription" ng-if="!$root.isFrenchModule">choice {{$index + 1}} for the question {{questionNo}}</label>
                <label for="{{id}}" class="hiddenValidationDescription" ng-if="$root.isSpanishModule">elección {{$index + 1}} para la pregunta {{questionNo}}</label>
            </div>
            <div ng-if="answer.AUDIO" style="float: left; margin-right: 7px;"
                 ng-click="play_audio(answer.AUDIO,$event,questionNo+'_'+$index)">
                    <span tabindex="0"
                          ng-blur="hidetip()"
                          tooltip-class="tooltip-audio"
                          uib-tooltip="{{answer.AUDIOCAPTION}}"
                          tooltip-placement="right"
                          tooltip-trigger="none"
                          tooltip-is-open="ds.showTooltips && ds.tooltipIndexs == questionNo+'_'+$index && ds.Multifocuss"
                          tooltip-enable="{{$root.audioCaptionControl}}">
                        <img src="images/play.png" alt="Play audio">
                    </span>
            </div>

            <p tabindex="0"  ng-if="answer.TEXT" class="float_left multiplechoice_label" for="{{id}}"
               uib-tooltip="{{getImageCaptionPath(answer.IMAGECAPTIONS)}}"
               tooltip-class="tooltip-audio" tooltip-placement="right"  tooltip-trigger="mouseenter focus" tooltip-enable="{{$root.imageCaptionControl}}"
               ng-enter="!questionAnswerSet.disabled && recordAnswer(id, 'MULTICHOICE') && validate(answer, questionAnswerSet, questionAnswerSet['@maxAttempts'], null, null, questionAnswerSet,$index)"
               ng-click="!questionAnswerSet.disabled && recordAnswer(id, 'MULTICHOICE') && validate(answer, questionAnswerSet, questionAnswerSet['@maxAttempts'], null, null, questionAnswerSet,$index)"
               ng-bind-html="displayAsText(answer) | sanitize" lang="{{ds.mainMenuLinkLang}}" tabindex="0"></p>

            <img ng-if="answer.IMAGE" for="{{id}}"
                 ng-src="{{getImageAssetsPath(answer.IMAGE)}}"
                 tabindex="0" class="q-img float_left" alt="{{answer.IMAGECAPTION}}">

        </div>
    </div>
</div>




<div class="FinalQuizMultipleChoice" ng-if="currentSection['@type'] == 'CHECKBOX' " ng-class="{'noTxt':!question.TEXT}"
     aria-labelledby="{{selectedActivity.type}}_question_{{$index + 1}}_audio {{selectedActivity.type}}_question_{{$index + 1}}_audioI {{selectedActivity.type}}_question_{{$index + 1}}_image {{selectedActivity.type}}_question_{{$index + 1}}_text
     {{selectedActivity.type}}_question_{{$index + 1}}_image1 {{selectedActivity.type}}_question_{{$index + 1}}_audio1 {{selectedActivity.type}}_question_{{$index + 1}}_audioI1">
    <div ng-repeat="answer in questionAnswerSet.ANSWER track by $index" class="multipleChoiceContainer">
        <div class="mainContainer" ng-class="{'audioTxt':question.AUDIO && question.TEXT}" ng-init="id = 'input_'+questionNo+'_'+$index">

            <div class="MultipleChoiceRadio">
                <input type="checkbox"
                       tabindex="0"
                       ng-class="{'disabled':questionAnswerSet.cssDisabled}"
                       ng-init = "value = answer.TEXT ? answer.TEXT : answer.IMAGE || answer.AUDIO"
                       id="{{id}}"
                       name="InputForQuestion_{{questionNo}}"
                       ng-model="value"
                       ng-disabled="question.disabled"
                       role="checkbox"
                       ng-enter="recordAnswer(id, 'CHECKBOX') && checkedBox(answer, question.ANSWERSET.ANSWER, value)"
                       ng-click="recordAnswer(id, 'CHECKBOX') && checkedBox(answer, question.ANSWERSET.ANSWER, value)"
                />
                <label for="{{id}}" class="hiddenValidationDescription" ng-if="$root.isFrenchModule">Choix {{$index + 1}} pour la question {{questionNo}}</label>
                <label for="{{id}}" class="hiddenValidationDescription" ng-if="!$root.isFrenchModule">choice {{$index + 1}} for the question {{questionNo}}</label>
                <label for="{{id}}" class="hiddenValidationDescription" ng-if="$root.isSpanishModule">elección {{$index + 1}} para la pregunta {{questionNo}}</label>
            </div>

            <p tabindex="0"  ng-if="answer.TEXT" class="float_left multiplechoice_label" for="{{id}}"
               uib-tooltip="{{getImageCaptionPath(answer.IMAGECAPTIONS)}}"
               tooltip-class="tooltip-audio" tooltip-placement="right"  tooltip-trigger="mouseenter focus" tooltip-enable="{{$root.imageCaptionControl}}"
               ng-bind-html="displayAsText(answer) | sanitize" lang="{{ds.mainMenuLinkLang}}" tabindex="0"></p>
        </div>
    </div>
    <button tabindex="0" class="start-activity btn btn-primary" ng-disabled="question.disabled"
            ng-enter="calculateCheckBoxScore(question,question.ANSWERSET,questionNo, question.ANSWERSET.ANSWER)"
            ng-click="calculateCheckBoxScore(question,question.ANSWERSET,questionNo, question.ANSWERSET.ANSWER)">OK
    </button>
</div>