<ul class="pagination">
  <li ng-if="::boundaryLinks" ng-class="{disabled: noPrevious()||ngDisabled}"><a href ng-click="selectPage(1, $event)">{{::getText('first')}}</a></li>
  <li ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}">
    <a href ng-click="selectPage(page - 1, $event)">
      {{::getText('previous')}}
      <p class="hiddenPagerDescription" lang="en">link to direct to previous page</p>
    </a>
  </li>
  <li ng-repeat="page in pages track by $index" ng-class="{active: page.active,disabled: ngDisabled&&!page.active}">
    <a href ng-click="selectPage(page.number, $event)">
      {{page.text}}
      <p class="hiddenPagerDescription" lang="en">link to direct to page number {{page.text}}</p>
    </a>
  </li>
  <li ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}">
    <a href ng-click="selectPage(page + 1, $event)">
      {{::getText('next')}}
      <p class="hiddenPagerDescription" lang="en">link to direct to next page</p>
    </a>
  </li>
  <li ng-if="::boundaryLinks" ng-class="{disabled: noNext()||ngDisabled}"><a href ng-click="selectPage(totalPages, $event)">{{::getText('last')}}</a></li>
</ul>
