<audio id="load_audio" alt="{{(question.AUDIO && getFileName(question.AUDIO))|| selectedActivity.type}}"
       ui-event="{ended : 'hideTooltip()'}">
    <p>Your browser does not support the <code>audio</code> element </p>
</audio>

<div class="center" ng-if="selectedActivity.type == 'ListenAndRepeat'">
    <div ng-class="{'listen-repeat-selected-image-text':ds.selectedImage,'listen-repeat-selected-text':!ds.selectedImage}"
         ng-show="selectedActivity.feedback">
        <img class="listen-repeat-selected-image" ng-if="ds.selectedImage"
             alt="image representing pronunciation for word {{htmlDecode(ds.selectedText)}}"
             ng-src="{{ds.selectedImage}}">
        <label class="text" lang="{{ds.mainMenuLinkLang}}" ng-bind-html="ds.selectedText|sanitize"></label>
    </div>

    <div ng-repeat="question in currentSection.QUESTIONS.QUESTION"
         ng-if="selectedActivity.type == 'ListenAndRepeat'" class="listen-repeat">
        <answer-set control-type="getControlType(question)" question="question" selected-activity="selectedActivity"
                    question-no="$index + 1">
        </answer-set>
    </div>
</div>

<section-header current-section="currentSection" activity-type="selectedActivity.type"
                activity-Name="selectedActivity.filename"
                is-horizontal="selectedActivity.isHorizontal" is-multi-answer="selectedActivity.isMultiAnswer"
                inverse-Section-Audio="selectedActivity.inverseSectionAudio" largeImg="selectedActivity.largeImg"
                module-id="moduleId"></section-header>

<div ng-if="selectedActivity.type != 'ListenAndRepeat' && chk_is_array(currentSection.QUESTIONS.QUESTION)"
     class="{{selectedActivity.type}} {{chk_is_array(currentSection.QUESTIONS.QUESTION)}} {{matchClass}} {{MatchClassName}} {{MultiAnswerMultiC}} containerrr col-md-9 col-sm-7 "
     ng-class="{'MatchClassforMod': (moduleId == 0) && (selectedActivity.type == 'Match'),
      'FIBvariableIP': selectedActivity.type == 'FillInTheBlank_VariableInput',
      'horizontalMultiAnswer':selectedActivity.isMultiAnswer}">

    <div ng-if="selectedActivity.type == 'MultipleChoice'" >
        <label class="questionsText" ng-if="selectedActivity.type == 'MultipleChoice'">{{currentSection.QUESTIONS.TEXT}}</label>
    </div>

    <div class="questionMainContainer"
         ng-style="{'height': ds.containerHeight+'px'}" ng-class="{'isHorizontalActivity':selectedActivity.isHorizontal}">
        <div ng-if="chk_is_array(currentSection.QUESTIONS.QUESTION)"
             ng-repeat="question in currentSection.QUESTIONS.QUESTION"
             class="questionObj {{selectedActivity.type}} {{selectedActivity.isHorizontal}}"
             ng-class="{'fillInImageAudio1':selectedActivity.type =='FillInTheBlank'&& question.AUDIO && question.IMAGE}"
             on-finish-render="ngRepeatFinished">

            <div ng-if="selectedActivity.type == 'DragAndDrop' && $root.isArray(currentSection.QUESTIONS.QUESTION) && selectedActivity.isHorizontal && selectedActivity.isMultiAnswer"
                 class="single-drag-drop-answers-container">
                <span ng-if="$root.isArray(answerset.ANSWER)"
                      ng-repeat="answerset in question.ANSWERSET | orderBy: 'ANSWER.order'">
                    <label class="draggable single-drag-drop-answer"
                           id="{{id}}"
                           ng-class="{'hide-visibility': answerset.ANSWER.isRemoved}"
                           ng-init="id='drop_'+$index"
                           ng-repeat="answers in answerset.ANSWER | orderBy: utilityService.getRandomNumber(answers.TEXT.length);"
                           ng-drag="true" ng-drag-data="{'DATA':answers.TEXT,'ID': id}"
                           lang="{{ds.mainMenuLinkLang}}">
                        {{answers.TEXT}}
                    </label>
                </span>
                <label class="draggable single-drag-drop-answer" ng-if="!$root.isArray(answerset.ANSWER)"
                       id="{{id}}"
                       ng-class="{'hide-visibility': answerset.ANSWER.isRemoved}"
                       ng-repeat="answerset in question.ANSWERSET | orderBy: 'ANSWER.order'"
                       ng-init="id='drop_'+answerset.ANSWER.INDEX"
                       ng-drag="true" ng-drag-data="{'DATA':answerset.ANSWER.TEXT,'ID': id}"
                       lang="{{ds.mainMenuLinkLang}}">
                    {{answerset.ANSWER.TEXT}}
                </label>
            </div>

            <div class="questionWrapper {{getControlType(question)|lowercase}}">
                <div ng-if="!selectedActivity.shuffleAnswers && selectedActivity.type!='GroupHeading' && selectedActivity.type!='GroupList'"
                     class="questionNumber"
                     ng-class="{'multiAnswerQuestionNumber':isArray(question.ANSWERSET)}">
                    <div class="inline" ng-show="question.showResult"
                         ng-if="selectedActivity.type == 'DragAndDrop' || selectedActivity.type == 'DialogQuiz' || selectedActivity.type == 'FillInTheBlank_VariableInput' || selectedActivity.type == 'FillInTheBlank' || selectedActivity.type == 'Match'">
                        <img class="answer-feedback" src="images/correct.png" alt="Correct Answer" ng-show="question.result"/>
                        <img class="answer-feedback" src="images/wrong.png" alt="Wrong Answer" ng-show="!question.result"/>
                        <p class="hiddenValidationDescription" ng-if="question.result">{{'CORRECT_ANSWER'|localization:ds.language}}</p>
                        <p class="hiddenValidationDescription" ng-if="!question.result">{{'WRONG_ANSWER'|localization:ds.language}}</p>
                    </div>
                    <div class="inline" ng-if="selectedActivity.type!='WordScrambleClick' && selectedActivity.type!='DragDropColumn'">

                        <p for="questionNo" class="hiddenValidationDescription">Question {{getQuestionNumber($index)}}</p>
                    </div>
                </div>
                <div class="questionAsset"
                     ng-class="{audio_question:question.AUDIO && !question.IMAGE,'imageAudio': (question.AUDIO || question.ANSWERSET.ANSWER.AUDIO) && question.IMAGE,'image_question': !question.AUDIO && question.IMAGE, 'MatchImageAudio':selectedActivity.type =='Match'&& question.AUDIO}">
                    <div ng-if="question.AUDIO && selectedActivity.inverseAudio==undefined && selectedActivity.type != 'GroupList'"
                         ng-class="{'btnDisabled':question.disabled && selectedActivity.disableAudio,'col-md-1': getControlType(question)=='button' && !question.IMAGE}"
                         class="audioContainer">
                        <span ng-blur="ds.showTooltipBtn = false"
                              ng-click="!(question.disabled && selectedActivity.disableAudio) && play_audio(question.AUDIO, questionNo+'_'+$index, $event)"
                              ng-enter="!(question.disabled && selectedActivity.disableAudio) && play_audio(question.AUDIO, questionNo+'_'+$index, $event)"
                              tabindex="0"
                              tooltip-class="tooltip-audio fontScaleX{{$root.fontSize}}"
                              uib-tooltip="{{question.AUDIOCAPTION}}"
                              tooltip-append-to-body="true"
                              tooltip-placement="right"
                              tooltip-is-open="ds.showTooltipBtn && ds.toolTipIndex == questionNo+'_'+$index && ds.focuss && !(sound.progress == '1')"
                              tooltip-trigger="none"
                              class="dummyBtnClass"
                              tooltip-enable="{{$root.audioCaptionControl}}"
                              id="{{selectedActivity.type}}_question_{{$index + 1}}_audio">
                            <img src="images/play.png" alt="Play audio" id="playBtn" class="playBtn"></span>

                        <p  for="{{selectedActivity.type}}_question_{{$index + 1}}_audio" class="hiddenValidationDescription">{{'DIALOGUE_AUDIO_QUESTION'|localization:ds.language}} {{getQuestionNumber($index)}}</p>
                    </div>
                    <div ng-if="question.AUDIO && selectedActivity.inverseAudio" style="float: left;margin-right: 5px"
                         class="audioContainer"
                         ng-class="{'btnDisabled': !question.showResult, 'btnAudioAsset':getControlType(question)=='button' && !question.IMAGE}">
                    <span ng-blur="hidetipinverse()"
                          ng-click="question.disabled && play_audio(question.AUDIO, questionNo+'_'+$index)"
                          tabindex="{{question.tabIndex?0:question.tabIndex}}"
                          tooltip-class="tooltip-audio fontScaleX{{$root.fontSize}}"
                          uib-tooltip="{{question.AUDIOCAPTION}}"
                          tooltip-append-to-body="true"
                          tooltip-placement="right"
                          tooltip-is-open="ds.showTooltip && ds.toolTipIndex == questionNo+'_'+$index && ds.focuss"
                          tooltip-trigger="none"
                          tooltip-enable="{{$root.audioCaptionControl && question.showResult}}"
                          class="dummyBtnClass"
                          id="{{selectedActivity.type}}_question_{{$index + 1}}_audioI">
                        <img src="images/play.png" alt="Play audio" id="playBtn" class="playBtn"></span>
                    </div>
                    <div ng-if="!question.AUDIO && selectedActivity.type =='DragAndDrop' && question.ANSWERSET.ANSWER.AUDIO"
                         style="float: left;margin-right: 5px"
                         ng-class="{'btnDisabled': !question.showResult}">
                        <span ng-blur="hidetip()"
                              ng-click="question.disabled && play_audio(question.ANSWERSET.ANSWER.AUDIO, questionNo+'_'+$index)"
                              tabindex="{{question.tabIndex?0:question.tabIndex}}"
                              tooltip-class="tooltip-audio"
                              uib-tooltip="{{question.ANSWERSET.ANSWER.AUDIOCAPTION}}"
                              tooltip-placement="right"
                              tooltip-is-open="ds.showTooltip && ds.toolTipIndex == questionNo+'_'+$index && ds.focuss"
                              tooltip-trigger="none"
                              tooltip-enable="{{$root.audioCaptionControl && question.showResult}}">
                            <img src="images/play.png" alt="Play audio" class="playBtn"></span>
                        <p class="offscreen">{{'IMAGE_QUESTION'|localization:ds.language}} {{getQuestionNumber($index)}}</p>
                    </div>
                    <div ng-if="question.IMAGE" class="questionImage">
                        <img ng-src="{{getImageAssetsPath(question.IMAGE)}}" class="q-img"
                             alt="{{imageCaptionObjects}}"
                             tooltip-class="tooltip-audio {{getControlType(question)|lowercase}}"
                             uib-tooltip="{{getImageCaptionsFromLang(question.IMAGECAPTIONS)}}"
                             tooltip-append-to-body="true"
                             tooltip-placement="right"
                             tooltip-trigger="mouseenter focus"
                             tooltip-enable="{{$root.imageCaptionControl}}" tabindex="0"
                             id="{{selectedActivity.type}}_question_{{$index + 1}}_image">
                    </div>
                </div>
                <div ng-class="{'multichoice-audio-image':question.AUDIO && question.IMAGE, 'multichoice-audio':question.AUDIO}"
                     class="answerSetContainer"
                     ng-if="selectedActivity.type != 'DragAndDrop' && selectedActivity.type != 'FillInTheBlank'">
                    <label ng-if="question.TEXT && getControlType(question) != 'dropdown'
                                && selectedActivity.type !='DragDropColumn'
                                && selectedActivity.type !='GroupList' &&  selectedActivity.type !='DialogQuiz'
                                && getControlType(question) != 'input' && !selectedActivity.shuffleAnswers &&
                                selectedActivity.type != 'FillInTheBlank_VariableInput'"
                           class="questionText"
                           id="{{selectedActivity.type}}_question_{{$index + 1}}_text"
                           ng-bind-html="displayAsText(question) | sanitize" lang="{{ds.mainMenuLinkLang}}"></label>

                    <div class="mc-choices"
                         ng-class="{'mc-audio':selectedActivity.type =='MultipleChoice' && question.AUDIO}">
                        <answer-set control-type="getControlType(question)" selected-activity="selectedActivity"
                                    question="question" question-no="getQuestionNumber($index)" current-section="currentSection">
                        </answer-set>
                    </div>
                </div>

                <div ng-if="selectedActivity.type == 'FillInTheBlank'" class="questionText"
                     ng-class="{'setWidth':selectedActivity.setWidth,
                                'questionText-audio':question.AUDIO && !question.IMAGE,
                                'floatNone':question.FLOATNONE,
                                'setWidthFIBDropDown' : question.IMAGE,
                                'setMarginFIB' : getControlType(question) == 'dropdown' && !question.AUDIO}">

                    <label ng-if="question.TEXT && getControlType(question) != 'dropdown' && getControlType(question) != 'input' &&  getControlType(question) != 'button'"
                           ng-bind-html="displayAsText(question) | sanitize"
                           class="pull-left questionText" lang="{{ds.mainMenuLinkLang}}"></label>

                    <div ng-if="selectedActivity.singlequestion_multianswer == true" class="mc-choices">
                        <answer-set control-type="getControlType(question)" selected-activity="selectedActivity"
                                    question="question" question-no="$index + 1" current-section="currentSection">
                        </answer-set>
                    </div>

                    <div ng-if="selectedActivity.singlequestion_multianswer === undefined" class="mc-choices">
                        <answer-set control-type="getControlType(question)" selected-activity="selectedActivity"
                                    question="question" question-no="getQuestionNumber($index)" current-section="currentSection">
                        </answer-set>
                    </div>
                </div>

                <div ng-if="selectedActivity.type == 'DragAndDrop'" class="questionText"
                     ng-class="{'col-md-9': question.IMAGE}">
                    <div class="mc-choices">
                        <answer-set control-type="drag_and_drop" selected-activity="selectedActivity"
                                    question="question"
                                    current-section="currentSection"
                                    question-no="getQuestionNumber($index)">
                        </answer-set>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="selectedActivity.type == 'DragAndDrop' && !selectedActivity.isHorizontal && !dragDropAnswersRemoved"
     class="col-md-3 col-sm-5 answerSetParent scroll-overflow" id="dragDropAnswers"
     ng-style="{'top':dragDropTop+'px', 'max-height': ds.dragDropAnswerHeight+'px'}">

    <div ng-repeat="shuffledAnswer in ds.shuffledAnswers  | orderBy: 'ANSWER.order'"
         ng-if="!shuffledAnswer.ANSWER.isRemoved">
        <div ng-if="shuffledAnswer.questionAudio.audio && selectedActivity.inverseAudio && selectedActivity.answersetAudio != false && !shuffledAnswer.ANSWER.AUDIO && chk_is_array_Answerset()"
             class="audio">
        <span ng-blur="hidetip()"
              ng-if="!(selectedActivity.hasAudio == 'true')"
              ng-click="!ds.dragStarted && play_audio(shuffledAnswer.questionAudio.audio,  $index)"
              tooltip-append-to-body="true"
              tooltip-class="tooltip-audio fontScaleX{{$root.fontSize}}"
              uib-tooltip="{{shuffledAnswer.questionAudio.audioCaption}}"
              tooltip-placement="left"
              tooltip-is-open="ds.showTooltip && $index == ds.toolTipIndex && ds.focuss"
              tooltip-trigger="none"
              tooltip-enable="{{$root.audioCaptionControl}}">
        <img src="images/play.png" alt="Play audio" class="playBtn">
        </span>
        </div>

        <div ng-if="shuffledAnswer.ANSWER.TEXT">
            <div class="dragdropAnswerSet"
                 ng-if="shuffledAnswer.ANSWER.AUDIO && shuffledAnswer.ANSWER.TEXT">
                    <span ng-blur="hidetip()"
                          ng-click="!ds.dragStarted && play_audio(shuffledAnswer.ANSWER.AUDIO, $index)"
                          tooltip-append-to-body="true"
                          tooltip-class="tooltip-audio fontScaleX{{$root.fontSize}}"
                          uib-tooltip="{{shuffledAnswer.ANSWER.AUDIOCAPTION}}"
                          tooltip-placement="left"
                          tooltip-is-open="ds.showTooltip && $index == ds.toolTipIndex && ds.focuss"
                          tooltip-trigger="none"
                          tooltip-enable="{{$root.audioCaptionControl}}">
                        <img src="images/play.png" alt="Play audio" class="playBtn">
                    </span>
            </div>

            <label ng-if="shuffledAnswer.ANSWER.TEXT" class="peg"
                 id="drop_{{shuffledAnswer.INDEX}}"
                 ng-class="{'peg-audio':shuffledAnswer.questionAudio.audio || shuffledAnswer.ANSWER.AUDIO}"
                 ng-drag="true" allow-transform="false"
                 lang="{{ds.mainMenuLinkLang}}"
                 ng-drag-data="{DATA:shuffledAnswer.ANSWER.TEXT, ID: 'drop_'+shuffledAnswer.INDEX}"
                 ng-bind-html="shuffledAnswer.ANSWER.TEXT|sanitize">
            </label>
        </div>
        <div style="height: 55px;" ng-if="shuffledAnswer.ANSWER.AUDIO && !shuffledAnswer.ANSWER.TEXT">
            <div ng-drag="true"
                 allow-transform="false"
                 class="audioOnly"
                 ng-drag-data="{DATA:shuffledAnswer.ANSWER.AUDIO, ID:'drop_'+shuffledAnswer.INDEX}">
                    <span ng-blur="hidetip()"

                          ng-click="!ds.dragStarted && play_audio(shuffledAnswer.ANSWER.AUDIO, $index, $event)"
                          tooltip-class="tooltip-audio fontScaleX{{$root.fontSize}}"
                          tooltip-append-to-body="true"
                          uib-tooltip="{{shuffledAnswer.ANSWER.AUDIOCAPTION}}"
                          tooltip-placement="right"
                          tooltip-is-open="ds.showTooltip && $index == ds.toolTipIndex && ds.focuss"
                          tooltip-trigger="none"
                          tooltip-enable="{{$root.audioCaptionControl}}">
                        <img src="images/play.png" alt="Play audio" class="playBtn">
                    </span>
            </div>
        </div>
    </div>
</div>


<div ng-if="chk_is_array(currentSection.QUESTIONS.QUESTION) == false"
     class="questionObj {{selectedActivity.type}} singleQuestion"
     ng-class="{'horizontal':selectedActivity.isHorizontal && currentSection.QUESTIONS.QUESTION.IMAGE, 'col-md-9' : selectedActivity.singleAnswerLast ,'col-md-9' : selectedActivity.type == 'DragAndDrop','col-md-12': selectedActivity.isHorizontal}">

    <div ng-if="selectedActivity.type == 'DragAndDrop' && !$root.isArray(currentSection.QUESTIONS.QUESTION) && selectedActivity.isHorizontal && selectedActivity.isMultiAnswer"
         class="single-drag-drop-answers-container">

        <span ng-repeat="shuffledAnswer in currentSection.QUESTIONS.QUESTION.ANSWERSET | orderBy: 'ANSWER.order'">
                    <label class="draggable single-drag-drop-answer"
                           ng-class="{'hide-visibility': shuffledAnswer.ANSWER.isRemoved}"
                           ng-drag="true" ng-drag-data="{'DATA':shuffledAnswer.ANSWER.TEXT, 'ID':'drop_'+shuffledAnswer.ANSWER.INDEX}"
                           lang="{{ds.mainMenuLinkLang}}">
                        {{shuffledAnswer.ANSWER.TEXT}}
                    </label>
        </span>
    </div>

    <div class="questionWrapper {{getControlType(currentSection.QUESTIONS.QUESTION)|lowercase}}"
         ng-style="{'height':ds.containerHeight+'px'}">
        <div class="questionNumber"
             ng-class="{'multiAnswerQuestionNumber':isArray(currentSection.QUESTIONS.QUESTION.ANSWERSET)}">
            <div class="inline" ng-show="currentSection.QUESTIONS.QUESTION.showResult"
                 ng-if="selectedActivity.type == 'FillInTheBlank' || selectedActivity.type == 'DragAndDrop'">
                <img ng-class="{'singleDragDropResults':selectedActivity.type == 'DragAndDrop'}"
                     src="images/correct.png" alt="Correct Answer" class="answer-feedback"
                     ng-show="currentSection.QUESTIONS.QUESTION.result"/>
                <img ng-class="{'singleDragDropResults':selectedActivity.type == 'DragAndDrop'}"
                     src="images/wrong.png" alt="Wrong Answer" class="answer-feedback"
                     ng-show="!currentSection.QUESTIONS.QUESTION.result"/>
                <p class="hiddenValidationDescription" ng-if="currentSection.QUESTIONS.QUESTION.result">{{'CORRECT_ANSWER'|localization:ds.language}}</p>
                <p class="hiddenValidationDescription" ng-if="!currentSection.QUESTIONS.QUESTION.result">{{'WRONG_ANSWER'|localization:ds.language}}</p>
            </div>
            <div ng-if="selectedActivity.type!='DragAndDropVideo' && selectedActivity.type!='WordScramble' && selectedActivity.type!='WordScrambleClick'"
                 class="inline">

                <p for="questionNo" class="hiddenValidationDescription">Question {{getQuestionNumber($index)}}</p>
            </div>
        </div>
        <div class="questionAsset"
             ng-class="{audio_question:currentSection.QUESTIONS.QUESTION.AUDIO  && !currentSection.QUESTIONS.QUESTION.IMAGE, 'imageAudioSingle': currentSection.QUESTIONS.QUESTION.AUDIO && currentSection.QUESTIONS.QUESTION.IMAGE}">
            <div ng-if="currentSection.QUESTIONS.QUESTION.AUDIO && selectedActivity.type!='DragAndDropVideo' && selectedActivity.type!='WordScrambleClick' &&  selectedActivity.type!='MultipleChoice' && selectedActivity.type!='WordScramble'"
                 ng-class="{'singleDragDropAudio':selectedActivity.type == 'DragAndDrop'}">
                <span ng-if="!selectedActivity.inverseAudio"
                      ng-click="play_audio(currentSection.QUESTIONS.QUESTION.AUDIO, $index, $event)"
                      tabindex="0"
                      ng-blur="hidetip()"
                      tooltip-class="tooltip-audio fontScaleX{{$root.fontSize}}"
                      uib-tooltip="{{currentSection.QUESTIONS.QUESTION.AUDIOCAPTION}}"
                      tooltip-placement="right auto"
                      tooltip-trigger="none"
                      tooltip-is-open="ds.showTooltip && $index == tooltipIndex && ds.focuss"
                      tooltip-append-to-body="true"
                      tooltip-enable="{{$root.audioCaptionControl}}">
                    <img src="images/play.png" alt="Play audio" class="playBtn">
                </span>

               <span ng-if="selectedActivity.inverseAudio"
                     ng-click="currentSection.QUESTIONS.QUESTION.disabled && play_audio(currentSection.QUESTIONS.QUESTION.AUDIO, $index, $event)"
                     tabindex="0"
                     ng-class="{'disabled': !currentSection.QUESTIONS.QUESTION.disabled}"
                     ng-blur="hidetip()"
                     tooltip-class="tooltip-audio  fontScaleX{{$root.fontSize}}"
                     uib-tooltip="{{currentSection.QUESTIONS.QUESTION.AUDIOCAPTION}}"
                     tooltip-append-to-body="true"
                     tooltip-placement="right"
                     tooltip-trigger="none"
                     tooltip-is-open="ds.showTooltip && $index == tooltipIndex && ds.focuss"
                     tooltip-enable="{{$root.audioCaptionControl}}">
                <img src="images/play.png" alt="Play audio" class="playBtn">
            </span>
            </div>
            <div ng-if="currentSection.QUESTIONS.QUESTION.AUDIO && selectedActivity.type=='MultipleChoice' && !selectedActivity.inverseAudio"
                 ng-class="{'btnDisabled': selectedActivity.disableAudio && currentSection.QUESTIONS.QUESTION.disabled}">
                <span ng-click="!(currentSection.QUESTIONS.QUESTION.disabled && selectedActivity.disableAudio) && play_audio(currentSection.QUESTIONS.QUESTION.AUDIO)"
                      tabindex="{{currentSection.QUESTIONS.QUESTION.tabIndex?currentSection.QUESTIONS.QUESTION.tabIndex:0}}"
                      ng-blur="hidetip()"
                      tooltip-class="tooltip-audio fontScaleX{{$root.fontSize}}"
                      tooltip-append-to-body="true"
                      uib-tooltip="{{currentSection.QUESTIONS.QUESTION.AUDIOCAPTION}}"
                      tooltip-placement="right"
                      tooltip-trigger="none"
                      tooltip-is-open="ds.showTooltip && ds.focuss"
                      tooltip-enable="{{$root.audioCaptionControl}}"
                      class="dummyBtnClass"
                      id="{{selectedActivity.type}}_question_{{$index + 1}}_audio1">
                    <img src="images/play.png" alt="Play audio" class="playBtn">
                </span>
            </div>
            <div ng-if="currentSection.QUESTIONS.QUESTION.AUDIO && selectedActivity.type=='MultipleChoice' && selectedActivity.inverseAudio"
                 ng-class="{'btnDisabled': !currentSection.QUESTIONS.QUESTION.disabled}">
                <span
                        ng-blur="hidetip()"
                        ng-click="currentSection.QUESTIONS.QUESTION.disabled && play_audio(currentSection.QUESTIONS.QUESTION.AUDIO)"
                        tabindex="{{currentSection.QUESTIONS.QUESTION.tabIndex? 0:currentSection.QUESTIONS.QUESTION.tabIndex}}"
                        tooltip-class="tooltip-audio fontScaleX{{$root.fontSize}}"
                        tooltip-append-to-body="true"
                        uib-tooltip="{{currentSection.QUESTIONS.QUESTION.AUDIOCAPTION}}"
                        tooltip-placement="right"
                        tooltip-trigger="none"
                        tooltip-is-open="ds.showTooltip && ds.focuss"
                        tooltip-enable="{{$root.audioCaptionControl}}"
                        class="dummyBtnClass"
                        id="{{selectedActivity.type}}_question_{{$index + 1}}_audioI1">
                    <img src="images/play.png" alt="Play audio" id="playBtn" class="playBtn">
                </span>
            </div>
            <div ng-if="currentSection.QUESTIONS.QUESTION.IMAGE" class="questionImage">
                <img ng-src="{{getImageAssetsPath(currentSection.QUESTIONS.QUESTION.IMAGE)}}"
                     alt={{currentSection.QUESTIONS.QUESTION.IMAGECAPTION}} class="q-img"
                     tabindex="0"
                     ng-class="{'large-image':currentSection.QUESTIONS.QUESTION.IsLargeImage}"
                     tooltip-class="tooltip-audio"
                     uib-tooltip="{{getImageCaptionsFromLang(currentSection.QUESTIONS.QUESTION.IMAGECAPTIONS)}}"
                     tooltip-placement="right"
                     tooltip-trigger="mouseenter focus"
                     tooltip-enable="{{$root.imageCaptionControl}}"
                     id="{{selectedActivity.type}}_question_{{$index + 1}}_image1">
            </div>
        </div>

        <div ng-if="selectedActivity.type !== 'DragAndDrop' && getControlType(currentSection.QUESTIONS.QUESTION) == 'button'"
             class="singleButtonSet questionText"
             ng-class="{'audioAsset': currentSection.QUESTIONS.QUESTION.AUDIO}">
            <div class="mc-choices">

                <answer-set control-type="getControlType(currentSection.QUESTIONS.QUESTION)" question-no="$index + 1"
                            selected-activity="selectedActivity" current-section="currentSection"
                            question="currentSection.QUESTIONS.QUESTION">
                </answer-set>
            </div>
        </div>

        <div ng-if="selectedActivity.type === 'FillInTheBlank' && getControlType(currentSection.QUESTIONS.QUESTION) == 'input'"
             class="questionText"
             ng-class="{'audioAsset': currentSection.QUESTIONS.QUESTION.AUDIO}">
            <answer-set
                    control-type="getControlType(currentSection.QUESTIONS.QUESTION)"
                    selected-activity="selectedActivity"
                    question="currentSection.QUESTIONS.QUESTION"
                    question-no="$index + 1"
                    current-section="currentSection.QUESTIONS.QUESTION">
            </answer-set>
        </div>

        <div ng-if="selectedActivity.type === 'FillInTheBlank' && getControlType(currentSection.QUESTIONS.QUESTION) == 'dropdown' && selectedActivity.type != 'DragAndDrop'"
             class="questionText"
             ng-class="{'audioAsset': currentSection.QUESTIONS.QUESTION.AUDIO, 'setWidthFIBDropDown' : currentSection.QUESTIONS.QUESTION.IMAGE}">

            <label ng-if="currentSection.QUESTIONS.QUESTION.TEXT && getControlType(currentSection.QUESTIONS.QUESTION) != 'dropdown' && getControlType(currentSection.QUESTIONS.QUESTION) != 'input'"
                   ng-bind-html="displayAsText(currentSection.QUESTIONS.QUESTION) | sanitize"
                   class="pull-left questionText" lang="{{ds.mainMenuLinkLang}}"></label>

            <div class="mc-choices">
                <answer-set question-no="$index + 1"
                            control-type="getControlType(currentSection.QUESTIONS.QUESTION)"
                            selected-activity="selectedActivity"
                            question="currentSection.QUESTIONS.QUESTION"
                            current-section="currentSection.QUESTIONS.QUESTION">
                </answer-set>

            </div>

        </div>
        <div ng-if="selectedActivity.type == 'DragAndDrop'" class="questionText multiAnswer">
            <div class="mc-choices singleDragDrop">

                <answer-set control-type="drag_and_drop"
                            selected-activity="selectedActivity"
                            current-section="currentSection"
                            question="currentSection.QUESTIONS.QUESTION"
                            question-no="getQuestionNumber($index)">
                </answer-set>
            </div>
        </div>

        <div ng-if="selectedActivity.type == 'DragAndDropVideo'" class="questionText">
            <div class="mc-choices">

                <answer-set control-type="dragDropVideo"
                            selected-activity="selectedActivity"
                            question="currentSection.QUESTIONS.QUESTION"
                            question-no="getQuestionNumber($index)">
                </answer-set>
            </div>
        </div>

        <div ng-if="selectedActivity.type == 'WordScramble' || selectedActivity.type == 'WordScrambleClick' || selectedActivity.type == 'MultipleChoice' || selectedActivity.type == 'MultiChoiceMultiAnswer'"
             ng-class="{'multichoice-audio-image':currentSection.QUESTIONS.QUESTION.AUDIO && currentSection.QUESTIONS.QUESTION.IMAGE, 'multichoice-audio':currentSection.QUESTIONS.QUESTION.AUDIO && selectedActivity.type == 'MultipleChoice'}"
             class="mc-choices">
            <h1>{{units.units[1].contents[0].glossary}}</h1>
            <label ng-if="currentSection.QUESTIONS.QUESTION.TEXT"
                   ng-bind-html="displayAsText(currentSection.QUESTIONS.QUESTION) | sanitize"
                   class="pull-left questionText"
                   uib-tooltip="{{currentSection.QUESTIONS.QUESTION.TOOLTIP}}"
                   tooltip-placement="top auto"
                   tooltip-trigger="mouseenter focus"
                   tooltip-append-to-body="true"
                   ng-class="{'WordScrambleClickHeading': selectedActivity.type == 'WordScrambleClick'}"
                   lang="{{ds.mainMenuLinkLang}}"></label>

            <answer-set control-type="getControlType(currentSection.QUESTIONS.QUESTION)"
                        selected-activity="selectedActivity"
                        question="currentSection.QUESTIONS.QUESTION"
                        current-section="currentSection"
                        question-no="getQuestionNumber($index)">
            </answer-set>
        </div>
    </div>
</div>