<div id="sectionHeader" class="sectionContainer"
     ng-class="{'MultipleChoice': activityType == 'MultipleChoice'}">
    <audio id="sectionAudio" ui-event="{ended : 'sectionAudioEnded(section)'}"></audio>
    <div ng-if="currentSection.OBJECTIVE || currentSection.AUDIO"
         ng-init="audio = currentSection.AUDIO" class="audioContainer">
        <span ng-if="audio && !inverseSectionAudio"
              type="button"
              role="button"
              class="play-button"
              ng-blur="utilityService.hideTooltip()"
              tooltip-class="tooltip-audio fontScaleX{{$root.fontSize}}"
              uib-tooltip="{{currentSection.AUDIOCAPTION}}"
              tooltip-placement="right"
              tooltip-trigger="none"
              tooltip-is-open="ds.showTooltip && 'sectionAudio0' == ds.toolTipIndex && ds.focus"
              tooltip-enable="{{$root.audioCaptionControl}}" tabindex="0">
             <img src="images/play.png" id="playBtn" ng-enter="playAudio(audio, 'sectionAudio0', $event)"
                  ng-click="playAudio(audio, 'sectionAudio0', $event)" ng-blur="ds.showTooltip = false"
                  alt="Play audio" class="audioImg" ng-if="sectionAudioState != 'playing'">
             <img src="images/pause.png" id="pausedBtn" ng-enter="playAudio(audio, 'sectionAudio0', $event)"
                  ng-click="playAudio(audio, 'sectionAudio0', $event)" alt="Pause audio"
                  class="audioImg" ng-if="sectionAudioState == 'playing'" ng-blur="utilityService.hideTooltip()">

        </span>


        <div ng-if="audio && inverseSectionAudio"
             ng-class="{'btnDisabled': !sectionAudioInverseFn()}">
            <span
                    type="button"
                    role="button"
                    class="play-button"
                    id="inverseSectionAudio"
                    tooltip-class="tooltip-audio fontScaleX{{$root.fontSize}}"
                    uib-tooltip="{{currentSection.AUDIOCAPTION}}"
                    tooltip-placement="right"
                    tooltip-trigger="none"
                    tooltip-is-open="ds.showTooltip && 'sectionAudio0' == ds.toolTipIndex && ds.focus"
                    tooltip-enable="{{$root.audioCaptionControl}}" tabindex="{{sectionAudioEnabled? 1: -1}}">
                <img src="images/play.png" id="playBtn" ng-blur="ds.showTooltip = false"
                      ng-enter="playAudio(audio, 'sectionAudio0', $event)"
                     ng-click="playAudio(audio, 'sectionAudio0', $event)"
                     alt="Play audio" class="audioImg" ng-if="sectionAudioState != 'playing'">
             <img src="images/pause.png"  id="pausedBtn"  ng-blur="ds.showTooltip = false"
                  ng-enter="playAudio(audio, 'sectionAudio0', $event)"
                  ng-click="playAudio(audio, 'sectionAudio0', $event)" alt="Pause audio"
                  class="audioImg" ng-if="sectionAudioState == 'playing'">
        </span>

        </div>
        <label class="txt" ng-bind-html="currentSection.OBJECTIVE | sanitize"></label>
    </div>
    <div ng-if="activityType == 'DragAndDrop' &&  isHorizontal && !isMultiAnswer"
         class="single-drag-drop-answers-container">
        <label class="draggable single-drag-drop-answer"
               id="{{id}}"
               ng-class="{'hide-visibility': answerset.ANSWER.isRemoved}"
               ng-repeat="answerset in ds.shuffledAnswers | orderBy: 'ANSWER.order'"
               ng-init="id='drop_'+answerset.INDEX"
               ng-drag="true" ng-drag-data="{DATA:answerset.ANSWER.TEXT, ID:id}" lang="{{ds.mainMenuLinkLang}}">{{answerset.ANSWER.TEXT}}
        </label>
    </div>

    <div ng-if="activityType == 'GroupList' && !dragDropAnswersRemoved"
         class="row {{activityType}}-draggable buttons">
        <div ng-repeat="answer in ds.shuffledAnswers | orderBy: 'ANSWER.order'"
             ng-if="!answer.ANSWER.isRemoved && (answer.ANSWER.TEXT || answer.ANSWER.AUDIO)"
             class="peg items draggable single-drag-drop-answer" ng-drag="true"
             allow-transform="false"
             id="{{answer.INDEX}}"
             ng-drag-data="{DATA:answer.ANSWER,ID: 'drop_'+answer.INDEX}">
            <span ng-if="answer.ANSWER.AUDIO" id="grpspan"
                  ng-click="!ds.dragStarted && playAudio(answer.ANSWER.AUDIO, answer.INDEX, $event)"
                  ng-enter="playAudio(answer.ANSWER.AUDIO, answer.INDEX, $event)"class="play-button"
                  id="GroupListAnswerset"
                  ng-blur="utilityService.hideTooltip()"
                  tooltip-class="tooltip-audio"
                  uib-tooltip="{{answer.ANSWER.AUDIOCAPTION}}"
                  tooltip-placement="right"
                  tooltip-trigger="none"

                  tooltip-is-open="ds.showTooltip && answer.INDEX == ds.toolTipIndex && ds.focus"
                  tooltip-enable="{{$root.audioCaptionControl}}" tabindex="0">
                     <img src="images/play.png" alt="Play audio" style="width:30px">
            </span>
            <label ng-if="answer.ANSWER.TEXT" ng-bind-html="answer.ANSWER.TEXT|sanitize"
                   lang="{{ds.mainMenuLinkLang}}"></label>
        </div>
    </div>

    <div ng-if="(activityType == 'GroupHeading' || activityType == 'DragDropColumn') && !dragDropAnswersRemoved"
         class="row {{activityType}}-draggable">
        <div ng-repeat="answer in ds.shuffledAnswers | orderBy: 'ANSWER.order'"
             ng-if="!answer.ANSWER.isRemoved" ng-drag="true"
             allow-transform="false"
             class="peg items draggable single-drag-drop-answer " lang="{{ds.mainMenuLinkLang}}"
             id="drop_{{answer.INDEX}}"
             ng-drag-data="{DATA:answer.ANSWER,  ID:'drop_'+answer.INDEX}"
             class="peg items draggable single-drag-drop-answer ">
            <div ng-if="answer.ANSWER.TEXT" lang="{{ds.mainMenuLinkLang}}">
                <label ng-if="answer.ANSWER.TEXT">
                    {{answer.ANSWER.TEXT}}
                </label>

                <div ng-if="answer.ANSWER.AUDIO" class="peg items draggable"
                     allow-transform="false"
                     ng-drag="true"
                     ng-drag-data="{DATA:answer.ANSWER.AUDIO,ID:'drop_'+answer.INDEX}">
              <span ng-click="!ds.dragStarted && playAudio(answer.ANSWER.AUDIO)" class="play-button">
                     <img src="images/play.png" alt="Play audio">
              </span>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="activityType == 'GroupHeading' ||
                activityType == 'GroupList'" class="attempts">
        <div class="inline" ng-show="currentSection.showResult">
            <img src="images/correct.png" class="answer-feedback-dragVideo" alt="Correct Answer" ng-show="currentSection.result"/>
            <img src="images/wrong.png" class="answer-feedback-dragVideo" alt="Wrong Answer" ng-show="!currentSection.result"/>

            <p class="hiddenValidationDescription" ng-if="currentSection.result">
                {{'CORRECT_ANSWER'|localization:ds.language}}</p>

            <p class="hiddenValidationDescription" ng-if="!currentSection.result">
                {{'WRONG_ANSWER'|localization:ds.language}}</p>
        </div>

        <!--<span>{{'REMAINING_ATTEMPTS'|localization:ds.language}} : {{currentSection['@maxAttempts']}}</span>-->
        <p class="hiddenValidationDescription" ng-if="!$root.isFrenchModule">Number of attempts decrements by 1 at every wrong attempt </p>
        <p class="hiddenValidationDescription" ng-if="$root.isFrenchModule">Le nombre de tentatives diminue de 1 à chaque tentative incorrecte </p>
        <p class="hiddenValidationDescription" ng-if="$root.isSpanishModule">Número de intentos decrementos de 1 en cada intento equivocado</p>

    </div>


    <div ng-if="activityType == 'MultipleChoice' && currentSection.AUDIOS"
         ng-repeat="audio in currentSection.AUDIOS.AUDIO" class="audioContainer">
                <span ng-if="audio.PATH"
                      type="button"
                      role="button"
                      class="play-button"
                      ng-blur="ds.showTooltip && 'sectionAudio'+$index == ds.toolTipIndex"
                      tooltip-class="tooltip-audio"
                      uib-tooltip="{{audio.AUDIOCAPTION}}"
                      tooltip-placement="right"
                      tooltip-trigger="none"
                      tooltip-is-open="ds.showTooltip && 'sectionAudio'+$index == ds.toolTipIndex"
                      tooltip-enable="{{$root.audioCaptionControl}}">
                    <img src="images/play.png" id="playBtn{{$index}}" ng-enter="playAudio(audio, 'sectionAudio'+$index, $event)"
                         ng-click="playAudio(audio, 'sectionAudio'+$index, $event ,$index)"
                         alt="Play audio" class="audioImg" ng-if="sectionAudioState != 'playing' || 'sectionAudio'+$index != ds.toolTipIndex ">
                    <img src="images/pause.png" id="pausedBtn{{$index}}" ng-enter="playAudio(audio, 'sectionAudio'+$index, $event)"
                         ng-click="playAudio(audio, 'sectionAudio'+$index, $event ,$index)" alt="Pause audio"
                         class="audioImg" ng-if="sectionAudioState == 'playing' && 'sectionAudio'+$index == ds.toolTipIndex">

                </span>
        <span tabindex="0" id="stopAudio" class="txt" ng-bind-html="audio.TEXT | sanitize"></span>
    </div>

    <div ng-if="currentSection.IMAGE"
         class="s-img"
         ng-class="{'MatchClassforMod0Img': (activityType == 'Match'),
                    'MatchImgParentDiv' : activityType == 'Match'}">
        <img ng-src="{{getImageAssetsPath(currentSection.IMAGE)}}" alt="{{imageCaptionObj}}"
             tabindex="0"
             tooltip-class="tooltip-SImage fontScaleX{{$root.fontSize}}"
             uib-tooltip="{{imageCaptionObj}}"
             tooltip-placement="right auto"
             tooltip-append-to-body="{{activityType != 'Match'}}"
             tooltip-trigger="mouseenter focus"
             tooltip-enable="{{$root.imageCaptionControl}}">
    </div>
</div>


