<div class="single-drag-drop-answers-container">
    <label class="draggable single-drag-drop-answer"
         ng-class="{'hide-visibility': answerset.ANSWER.isRemoved}"
         ng-repeat="answerset in ds.shuffledAnswers | orderBy: 'ANSWER.order'"
         ng-drag="true" ng-drag-data="answerset.ANSWER.TEXT" lang="{{ds.mainMenuLinkLang}}">
        {{answerset.ANSWER.TEXT}}
    </label>
</div>

<div class="single-drag-drop-questions-container">
    <div class="questionNumber">
         <span ng-class="{'txt-green':!question.result,'txt-red':question.result, 'single-dragrop-feedback-img-audio':question.AUDIO, 'single-dragrop-feedback-img':!question.AUDIO}"
               ng-show="question.showResult" class="float_left ">
                <img src="images/correct.png" alt="Correct Answer"
                     ng-show="question.result"/>
                <img src="images/wrong.png" alt="Wrong Answer"
                     ng-show="!question.result"/>
                <p class="hiddenValidationDescription" ng-if="question.result">{{'CORRECT_ANSWER'|localization:ds.language}}</p>
                <p class="hiddenValidationDescription" ng-if="!question.result">{{'WRONG_ANSWER'|localization:ds.language}}</p>
         </span>

        <label class="inline question-no singleDragDropQuestionNo"
              ng-class="{'singleDragDropAudioQuestionNo':question.AUDIO}">{{questionNo}}.</label>
    </div>
    <div class="singleDragDropAudio" ng-if="question.AUDIO && selectedActivity.inverseAudio==undefined"
         ng-class="{'btnDisabled':question.disabled && selectedActivity.disableAudio}">
                    <span ng-click="!(question.disabled && selectedActivity.disableAudio) && play_audio(question.AUDIO)"
                          tabindex="{{question.tabIndex?0:question.tabIndex}}"
                          ng-blur="hidetip()"
                          tooltip-class="tooltip-audio"
                          uib-tooltip="{{question.AUDIOCAPTION}}"
                          tooltip-placement="right"
                          tooltip-is-open="ds.showTooltip && ds.focuss"
                          tooltip-trigger="none"
                          tooltip-enable="{{$root.audioCaptionControl}}">
                        <img src="images/play.png" alt="Play audio"></span>
    </div>
    <div class="singleDragDropAudio" ng-if="question.AUDIO && selectedActivity.inverseAudio"
         ng-class="{'btnDisabled': !question.showResult}">
                    <span ng-blur="hidetip()"
                          ng-click="question.disabled && play_audio(question.AUDIO, $index)"
                          tabindex="{{question.tabIndex?0:question.tabIndex}}"
                          tooltip-class="tooltip-audio"
                          uib-tooltip="{{question.AUDIOCAPTION}}"
                          tooltip-placement="right"
                          tooltip-is-open="ds.showTooltip && $index == tooltipIndex  && ds.focuss"
                          tooltip-trigger="none"
                          tooltip-enable="{{$root.audioCaptionControl}}">
                        <img src="images/play.png" alt="Play audio"></span>
    </div>
    <div class="questionTxtContainer"
         ng-class="{'audio':question.AUDIO}">
        <label ng-repeat="answerset in question.ANSWERSET" class="single-drag-drop-question">

            <label class="questionTxt" ng-bind-html="drop_down_texts[$index] | sanitize"
               lang="{{ds.mainMenuLinkLang}}"></label>

          <span uib-tooltip="{{answerset.toolTip}}"
                tooltip-placement="right"
                tooltip-append-to-body="true">
            <span ng-drop-success="dropped($data, answerset,question.ANSWERSET)"
                  class="slot draggable draggableTargets"
                  ng-if="answerset.ANSWER['@CORRECT']=='TRUE' ||answerset.ANSWER['@CORRECT']== undefined"
                  ng-drop="true"
                  id="{{$index}}"
                  ng-class="{'drag-started':dragStarted, 'correct-answer': answerset.result, 'wrong-answer': answerset.result!=undefined && !answerset.result}"
                  ng-model="answerset.value"
                  ng-focus="!answerset.showResult && setFocus(true, $index)"
                  ng-blur="setFocus(false)"
                  popover-is-open="ds.isPopoverOpen && ds.index == $index"
                  popover-trigger="none"
                  tabindex="{{answerset.disabled?-1:0}}"
                  popover-placement="bottom auto"
                  uib-popover-template="dynamicPopover.templateUrl">{{answerset.value}}</span>
              <p for="{{$index}}" class="hiddenValidationDescription" ng-if="answerset.result">{{'CORRECT_ANSWER'|localization:ds.language}}</p>
              <p for="{{$index}}" class="hiddenValidationDescription" ng-if="answerset.result!=undefined && !answerset.result">{{'WRONG_ANSWER'|localization:ds.language}}</p>

         </span>

            <label ng-if="$last" ng-bind-html="drop_down_texts[$index+1] | sanitize"
                  lang="{{ds.mainMenuLinkLang}}"></label>
        </label>
    </div>
</div>
