<div class="wordScrambleClick">
    <div class="row buttons-main">
        <div class="row buttons">
            <button id="wordscramblebtn_{{answerset.INDEX}}"
                    ng-disabled="answerset.ANSWER.isDisabled || question['@maxAttempts']==0"  alt="{{answerset.ANSWER.TEXT}}"
                    class="btn btn-default single-drag-drop-answer"
                    ng-repeat="answerset in question.ANSWERSET | orderBy: 'ANSWER.order'"
                    ng-click="recordAnswer($event.target.id, 'WORDSCRAMBLE') && wordClicked(answerset.ANSWER)" lang="{{ds.mainMenuLinkLang}}">
                {{answerset.ANSWER.TEXT}}
            </button>
        </div>
    </div>

    <div class="attempts">
        <div class="inline" ng-show="question.showResult">
            <img src="images/correct.png" class="answer-feedback-dragVideo" alt="Correct Answer" ng-show="question.result"/>
            <img src="images/wrong.png" class="answer-feedback-dragVideo" alt="Wrong Answer" ng-show="question['@maxAttempts']==0 && !question.result"/>
            <p class="hiddenValidationDescription" ng-if="question.result">{{'CORRECT_ANSWER'|localization:ds.language}}</p>
            <p class="hiddenValidationDescription" ng-if="question['@maxAttempts']==0 && !question.result">{{'WRONG_ANSWER'|localization:ds.language}}</p>
        </div>
            <span ng-if="currentSection.QUESTIONS.QUESTION.AUDIO && selectedActivity.inverseAudio"
                  ng-click="question.disabled && play_audio(currentSection.QUESTIONS.QUESTION.AUDIO)"
                  ng-enter="question.disabled && play_audio(currentSection.QUESTIONS.QUESTION.AUDIO)"
                  ng-class="{'btnDisabled': !question.disabled}"
                  tabindex="{{currentSection.QUESTIONS.QUESTION.tabIndex?0:currentSection.QUESTIONS.QUESTION.tabIndex}}"
                  ng-blur="hidetip()"
                  tooltip-class="tooltip-wordscramble"
                  uib-tooltip="{{currentSection.QUESTIONS.QUESTION.AUDIOCAPTION}}"
                  tooltip-placement="right"
                  tooltip-trigger="none"
                  tooltip-is-open="ds.showTooltip && ds.focuss"
                  tooltip-enable="{{$root.audioCaptionControl}}">
                    <img src="images/play.png" alt="Play audio">
            </span>
            <span ng-if="currentSection.QUESTIONS.QUESTION.AUDIO && !selectedActivity.inverseAudio"
                  tooltip-class="tooltip-wordscramble"
                  ng-blur="hidetip()"
                  uib-tooltip="{{currentSection.QUESTIONS.QUESTION.AUDIOCAPTION}}"
                  tooltip-placement="right"
                  tooltip-trigger="none"
                  tooltip-is-open="ds.showTooltip && ds.focuss"
                  tooltip-enable="{{$root.audioCaptionControl}}"
                  ng-click="play_audio(currentSection.QUESTIONS.QUESTION.AUDIO)"
                  ng-enter="play_audio(currentSection.QUESTIONS.QUESTION.AUDIO)" >
                    <img src="images/play.png" alt="Play audio">
            </span>
        <label>{{'REMAINING_ATTEMPTS'|localization:ds.language}} : {{question['@maxAttempts']}}</label>
    </div>

    <div class="targetBoxContainer">
        <span ng-repeat="answerset in questionAnswerSet track by $index" ng-if="questionAnswerSet[0].ANSWER">
            <label ng-if="wordScramble_texts[$index] && targetPresentInQuesText" class="buttonText multiBtnText"
                  ng-bind-html="wordScramble_texts[$index] | sanitize" lang="{{ds.mainMenuLinkLang}}"></label>

            <div class="targetBoxes"
                    ng-class="{'correct-answer': answerset.result && answerset.showResult, 'wrong-answer': question['@maxAttempts']==0 && answerset.result!=true && question.showResult}"
                    ng-model="answerset.value"
                    tabindex="{{answerset.tabIndex}}">
                <label ng-if="answerset.value" class="answer">{{answerset.value}}</label>
                <label ng-if="question['@maxAttempts']==0 && answerset.result!=true" class="answer"
                   lang="{{ds.mainMenuLinkLang}}">
                    {{getAnswerText(answerset.ANSWER)[0]}}
                </label>
                <label ng-if="!answerset.value && !(question['@maxAttempts']==0 && answerset.result!=true)">&nbsp;
                    </label>
                <p class="hiddenValidationDescription" ng-if="answerset.result && answerset.showResult">{{'CORRECT_ANSWER'|localization:ds.language:[answerset.value]}}</p>
                <p class="hiddenValidationDescription" ng-if="question['@maxAttempts']==0 && answerset.result!=true && question.showResult">{{'WRONG_ANSWER_ZERO_ATTEMPT'|localization:ds.language:[getAnswerText(answerset.ANSWER)[0]]}}</p>

            </div>

            <label ng-if="wordScramble_texts[wordScrambleTextsCount-1] && $last && targetPresentInQuesText"
               class="buttonText multiBtnText"
                  ng-bind-html="wordScramble_texts[wordScrambleTextsCount-1] | sanitize"
                   lang="{{ds.mainMenuLinkLang}}"></label>
        </span>

    </div>
</div>