<div>
    <div class="attempts">
        <div class="inline" ng-show="question.showResult">
            <img src="images/correct.png" alt="Correct Answer" ng-show="question.result"/>
            <img src="images/wrong.png" alt="Wrong Answer" ng-show="currentSection['@maxAttempts']==0 && !question.result"/>
            <p class="hiddenValidationDescription" ng-if="question.result">{{'CORRECT_ANSWER'|localization:ds.language}}</p>
            <p class="hiddenValidationDescription" ng-if="currentSection['@maxAttempts']==0 && !question.result">{{'WRONG_ANSWER'|localization:ds.language}}</p>
        </div>
            <span ng-if="currentSection.QUESTIONS.QUESTION.AUDIO" ng-click="question.disabled && play_audio(currentSection.QUESTIONS.QUESTION.AUDIO)"
                  ng-class="{'btnDisabled': !question.disabled}"
                  tabindex="{{currentSection.QUESTIONS.QUESTION.tabIndex?currentSection.QUESTIONS.QUESTION.tabIndex:0}}">
                    <img src="images/play.png" alt="Play audio">
            </span>
        <label>{{'REMAINING_ATTEMPTS'|localization:ds.language}} : {{currentSection['@maxAttempts']}}</label>
    </div>
    <div class="targetBoxContainer">
        <div ng-repeat="answerset in question.ANSWERSET"
             ng-drop-success="wordScrambleDropped($data, answerset, question.ANSWERSET)"
             class="targetBoxes"
             style="margin-bottom: 10px"
             ng-drop="true"
             ng-class="{'drag-started':ds.dragStarted,
             'correct-answer': answerset.result,
             'wrong-answer': currentSection['@maxAttempts']==0 && answerset.result!=true}"
             ng-model="answerset.value">
            <span ng-if="answerset.value">{{answerset.value}}</span>
            <span ng-if="!answerset.value && !(currentSection['@maxAttempts']==0 && answerset.result!=true)">&nbsp;</span>

            <label class="answer" ng-if="currentSection['@maxAttempts']==0 && answerset.result!=true">
                {{getAnswerText(answerset.ANSWER)[0]}}
            </label>
            <p class="hiddenValidationDescription" ng-if="answerset.result">{{'CORRECT_ANSWER'|localization:ds.language:[answerset.value]}}</p>
            <p class="hiddenValidationDescription" ng-if="currentSection['@maxAttempts']==0 && answerset.result!=true">{{'WRONG_ANSWER'|localization:ds.language:[getAnswerText(answerset.ANSWER)[0]]}}</p>

        </div>
    </div>
</div>