<div class="onboarding-container">
    <div class="header"></div>
    <form class="form-container" name="placementForm"
        ng-submit="ctrl.formSubmit(form)" novalidate>
        <div class="form-header">
            <H1>BEFORE WE BEGIN</H1>
        </div>
        <div class="form-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group wd-100">
                            <label for="name" class="control-label">Name*</label>
                           <div class="input-wrapper"
                                ng-class="{'has-error': placementForm.name.$invalid && !placementForm.name.$pristine }">
                                <input type="text" name="name" class="form-control" id="name" ng-model="form.name" required>
                                <p ng-show="placementForm.name.$invalid && placementForm.name.$touched" class="help-block">Please enter your name</p>
                           </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group wd-100">
                            <label for="Email" class="control-label">Email*</label>
                            <div class="input-wrapper"
                                ng-class="{'has-error': placementForm.email.$invalid && !placementForm.email.$pristine }">
                                <input type="email" name="email" class="form-control" id="email" ng-model="form.email" required>
                                <p ng-show="placementForm.email.$invalid && placementForm.email.$touched" class="help-block text-red">Please enter a valid email address</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group wd-100">
                            <label for="job" class="control-label">I AM*</label>
                            <div class="input-wrapper"
                                ng-class="{'has-error': placementForm.job.$invalid && !placementForm.job.$pristine }">
                                <select class="form-control" id="job" name="job"
                                    ng-model="form.job"
                                    ng-options="job as job.label for job in ctrl.jobChoices track by job.id"
                                    ng-change="ctrl.onJobChanged(form.job)" required>
                                    <option value=""></option>
                                </select>
                                <p ng-show="placementForm.job.$invalid && placementForm.job.$touched" class="help-block">This field is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group wd-100">
                            <label for="employer" class="control-label">EMPLOYER*</label>
                            <div class="input-wrapper"
                                ng-class="{'has-error': placementForm.employer.$invalid && !placementForm.employer.$pristine }">
                                <select class="form-control" id="employer" name="employer" disabled
                                    ng-model="form.employer"
                                    ng-options="employer as employer.label for employer in ctrl.selectedEmployee track by employer.id"
                                    ng-disabled="!form.job"
                                    ng-change="ctrl.onEmployerChanged(form.employer)" required>
                                    <option value=""></option>
                                </select>
                                <p ng-show="placementForm.employer.$invalid && placementForm.employer.$touched" class="help-block">This field is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group wd-100">
                            <label for="division" class="control-label">DIVISION*</label>
                            <div class="input-wrapper"
                                ng-class="{'has-error': placementForm.division.$invalid && !placementForm.division.$pristine }">
                                <select class="form-control" id="division" name="division" disabled
                                    ng-model="form.division"
                                    ng-options="division as division.label for division in ctrl.selectedDivision track by division.id"
                                    ng-disabled="!form.employer" required>
                                    <option value=""></option>
                                </select>
                                <p ng-show="placementForm.division.$invalid && placementForm.division.$touched" class="help-block">This field is required</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <button type="submit" class="btn btn-submit">START TEST</button>
        </div>
    </form>
</div>
