<div class="questionnaire-container">
    <div class="header"></div>

    <form class="qform-container fontScaleX{{fontSize}}" name="questionForm" novalidate>

        <div class="qform-header">
            <h1 class="headerTitle">{{'PLACEMENT_TEST'|localization:ds.language}}</h1>
        </div>
        <div class="qform-body">
            <div class="row fill-row" ng-if="ctrl.section['@TYPE'] === 'FILLTHEBLANKS'">
                <div class="col-md-4 fill-questions-container">
                    <h3 class="question-number">{{'QUESTION'|localization:ds.language}} {{ ctrl.QuestionService.questionNumber }}</h3>
                    <h4 class="question-title">{{ ctrl.sectionInstructionText }}</h4>
                </div>
                <div class="col-md-8 qinput">
                    <div class="row">
                        <div class="q-audio-fill">
                            <div tabindex="0" class="qplay-fill-div" ng-if="ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'INPUT'"
                                 tooltip-class="tooltip-qaudio" ng-click="ctrl.onAudioPlay()" ng-enter="ctrl.onAudioPlay()"
                                 uib-tooltip="{{ ctrl.question[ctrl.QuestionService.currentQuestionIndex].AUDIOCAPTION }}"
                                 tooltip-placement="right"
                                 ng-blur="ds.showTooltip = false"
                                 tooltip-trigger="none"
                                 tooltip-is-open ="ds.showTooltip"
                                 tooltip-enable="{{$root.audioCaptionControl}}">
                                <img  class="qplay-fill-btn" src="images/placement-play-button.png" alt="Play audio" tabindex="-1"
                                      ng-if="ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'INPUT' && audioPresent">

                                <img  class="qplay-fill-btn" src="images/audio_play_dissabled.png" alt="Play audio" tabindex="-1"
                                      ng-if="ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'INPUT' && !audioPresent">
                            </div>							
                            <span class="qaudio-fill-label" ng-hide="uib-tooltip" ng-if="ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'INPUT' && audioPresent">{{ 'PLAY_AUDIO'|localization:ds.language }}</span>
                            <span class="qaudio-fill-label" ng-hide="uib-tooltip" ng-if="ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'INPUT' && !audioPresent">{{ 'AUDIO_PLAY'|localization:ds.language }}</span>

                            <div tabindex="0" class="xfill-div" ng-if="ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'BUTTON'"
                                 tooltip-class="tooltip-qaudio" ng-click="ctrl.onAudioPlay()" ng-enter="ctrl.onAudioPlay()"
                                 uib-tooltip="{{ ctrl.question[ctrl.QuestionService.currentQuestionIndex].AUDIOCAPTION }}"
                                 tooltip-placement="right"
                                 ng-blur="ds.showTooltip = false"
                                 tooltip-trigger="none"
                                 tooltip-is-open ="ds.showTooltip"
                                 tooltip-enable="{{$root.audioCaptionControl}}">
                                
                                <img class="xfill-btn" src="images/placement-play-button.png" alt="Play audio"
                                     tabindex="-1" 
                                     ng-if="ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'BUTTON' && audioPresent">
                                <img class="xfill-btn" src="images/audio_play_dissabled.png" alt="Play audio"
                                     tabindex="-1" 
                                     ng-if="ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'BUTTON' && !audioPresent">
                            </div>
                            <span class="xaudio-fill-label" ng-hide="uib-tooltip" ng-if="ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'BUTTON' && audioPresent">{{ 'PLAY_AUDIO'|localization:ds.language }}</span>
                            <button id="myAudio" ng-click='audio.paused ? audio.play() : audio.pause()'></button>
                            <span class="xaudio-fill-label" ng-hide="uib-tooltip" ng-if="ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'BUTTON' && !audioPresent">{{ 'AUDIO_PLAY'|localization:ds.language }}</span>
                            <button id="myAudio" ng-click='audio.paused ? audio.play() : audio.pause()'></button>
                        </div>
                        <hr>
                        <div class="user-ans" ng-if="ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'INPUT'">
                            <p class="uanswer" 
                                ng-repeat="ques in ctrl.question track by $index" 
                                ng-if="ctrl.QuestionService.currentQuestionIndex === $index" for="answer"><strong>{{ ques.TEXT }}</strong></p>
                            <div class="col-md-6">
                                <input class="form-control fill-input" type="text" name="answer" ng-model="ctrl.fillCorrectAns.answer" ng-keyup="onEnterSubmit($event)" required>
                            </div>
                        </div>
                        <hr ng-if="ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'INPUT'">
                        <div class="fill-footer" ng-if="showSubmit && questionForm.$valid && !questionForm.$pristine && ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'INPUT'">
                            <button type="submit" class="btn btn-qsubmit" ng-click="ctrl.showNextQuestion(questionForm) && audio.pause()"
                                    ng-enter="ctrl.showNextQuestion(questionForm) && audio.pause()">
                                <span class="q-text fontScaleX{{fontSize}}">{{'SUBMIT'|localization:ds.language}}</span>
                            </button>
                        </div>
                        <div ng-if="ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'BUTTON'">
                            <div class="qinput-choices fire-fix" ng-repeat="ques in ctrl.question track by $index" ng-if="ctrl.QuestionService.currentQuestionIndex === $index">
                                <span>{{ ques.TEXT }}</span>
                                <label for="answer-{{$index}}" tabindex="-1" class="qform-check-input" ng-repeat="answer in ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET.ANSWER track by $index" ng-click="blurRadio($event)">
                                    <input tabindex="0" type="radio" 
                                        class="fake-radio" 
                                        ng-model="ctrl.fillCorrectAns.answer" 
                                        value="{{ answer.TEXT }}"
                                        id="answer-{{$index}}"
                                        ng-enter="validate(ctrl.fillCorrectAns, answer.TEXT)"
                                        required> {{ answer.TEXT }}
                                </label>
                            </div>
                        </div>
                        <hr ng-if="ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'BUTTON'">
                        <div class="fill-footer" ng-if="questionForm.$valid && !questionForm.$pristine && ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET['@controlType'] === 'BUTTON'">
                            <button type="submit" class="btn btn-qsubmit" ng-click="ctrl.showNextQuestion(questionForm) && audio.pause()"
                                    ng-enter="ctrl.showNextQuestion(questionForm) && audio.pause()">
                                <span class="q-text fontScaleX{{fontSize}}" tabindex="-1">{{'SUBMIT'|localization:ds.language}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row drag-form" id="drag" ng-if="ctrl.section['@TYPE'] === 'DRAGDROP'">
                <div class="col-md-3 fill-questions-container">
                    <h3 class="question-number">{{'QUESTION'|localization:ds.language}} {{ ctrl.QuestionService.questionNumber }} <span ng-if="ctrl.quesDragNumber">- {{ ctrl.quesDragNumber }}</span></h3>
                    <h4 class="question-title">{{ ctrl.sectionInstructionText }}</h4>
                </div>
                <div class="col-md-9 drag-questions">
                    <div class="row">

                        <div class="col-md-9 col-sm-8 questions">
                            <div ng-repeat="ques in ctrl.question track by $index">
                                <div class="col-md-12 draggable-audio draggable-audio-padding">
                                    <span>
                                        <div tabindex="0" class="drag-play-div"
                                             ng-click="ctrl.onClickAudioPlay(ques)"
                                             ng-enter="ctrl.onClickAudioPlay(ques)"
                                             tooltip-class="tooltip-dragaudio"
                                             uib-tooltip="{{ ctrl.question[$index].AUDIOCAPTION }}"
                                             tooltip-placement="right"
                                             ng-blur="ds.showTooltip = false;"
                                             ng-focus="ds.index = $index"
                                             tooltip-trigger="none"
                                             tooltip-is-open ="ds.showTooltip && ds.index == $index "
                                             tooltip-enable="{{$root.audioCaptionControl}}">
                                            <img class="dragplay-btn" src="images/placement-play-button.png" alt="Play audio">
                                        </div>
                                        <div tabindex="0" class="drag-play-div" ng-if="ques[ctrl.QuestionService.currentQuestionIndex].AUDIO">
                                                <img class="dragplay-btn" 
                                                    src="images/audio_play_dissabled.png" 
                                                    alt="Play audio"
                                                    tabindex="-1">
                                            </div>
                                        <button id="myAudio"
                                            ng-click='audio.paused ? audio.play(ques) : audio.pause()'></button>
                                        </span>
                                        <p class="drag-audio-label">
                                            {{ ques.PLAYER }}
                                            {{ ques.TEXT }}
                                        </p>

                                        <div class="draggable-answer-container">
                                            <div ng-drop-success="dropped($data,ques.ANSWERSET) "
                                                 popover-placement="bottom auto"
                                                 id="{{$index}}"
                                                 ng-focus="(!ques.ANSWERSET.disabled && setFocus(true,$index,true));ds.index = $index"
                                                 ng-blur="setFocus(false,null,false);" class="slot draggable float_left draggableTargets"
                                                 ng-drop="true"
                                                 tabindex="{{ques.ANSWERSET.disabled?-1:0}}"
                                                 popover-is-open="ds.isPopoverOpen && ds.index == $index"
                                                 popover-trigger="none"
                                                 uib-popover-template="dynamicPopover.templateUrl">
                                                <label class="draggableAnswer">{{ ques.ANSWERSET.value.answer? ques.ANSWERSET.value.answer: ques.ANSWERSET.value }}</label>
                                            </div>
                                        </div>
                                    </div>
								</div>
                                        
                        </div>

                        <div class="col-md-3 col-sm-4 drag-options">
                            <div ng-repeat="answer in ctrl.shuffledAnswers track by $index">
                                <div class="drag-container">
                                    <span class="drag-answerset"
                                        ng-drag="true"
                                        ng-drag-data="{answer}"
                                        data-allow-transform="false"
                                        ng-drag-success="onDragComplete($data,$event)">
                                        {{ answer }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="drag-footer" ng-if="showSubmit && questionForm.$valid" ng-class="{'dragDropSubmitButton':ctrl.section['@TYPE'] == 'DRAGDROP'}">
                        <button type="submit" class="btn btn-drsubmit fontScaleX{{fontSize}}"  ng-click="ctrl.showNextQuestion(questionForm) && audio.pause()"
                                ng-enter="ctrl.showNextQuestion(questionForm) && audio.pause()">
                            <span class="q-text fontScaleX{{fontSize}}">{{'SUBMIT'|localization:ds.language}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="ctrl.section['@TYPE'] === 'MULTIPLECHOICE'">
                <div class="col-md-4 q-sidebar">
                    <h3 class="question-number">QUESTION {{ ctrl.QuestionService.questionNumber }}</h3>
                    <h4 class="question-title">{{ ctrl.sectionInstructionText }}</h4>
                </div>
                <div class="col-md-8 qmultiple">
                    <div class="q-audio">
                        <div tabindex="0" class="qmultiple-div" ng-if="ques[ctrl.QuestionService.currentQuestionIndex].AUDIO">
                            <img class="qplay-btn" src="images/placement-play-button.png" alt="Play audio" 
                                ng-click="ctrl.onAudioPlay()" 
                                ng-keypress="keyPressHandler($event)"
                                tooltip-class="tooltip-mult-audio" tabindex="-1"
                                uib-tooltip="{{ ctrl.question[$index].AUDIOCAPTION }}"
                                tooltip-placement="right"
                                tooltip-trigger="focus"
                                tooltip-enable="{{$root.audioCaptionControl}}">
                        </div>
                        <span class="q-audio-label" ng-hide="uib-tooltip" ng-if="ques[ctrl.QuestionService.currentQuestionIndex].AUDIO">{{ 'PLAY_AUDIO'|localization:ds.language }}</span>
                        <div tabindex="0" class="qmultiple-div" ng-if="!ques[ctrl.QuestionService.currentQuestionIndex].AUDIO">
                                <img class="qplay-btn" src="images/audio_play_dissabled.png" 
                                    alt="Play audio" 
                                    tabindex="-1">
                        </div>
                        <span class="q-audio-label" ng-hide="uib-tooltip" ng-if="!ques[ctrl.QuestionService.currentQuestionIndex].AUDIO">{{ 'AUDIO_PLAY'|localization:ds.language }}</span>
                        <button id="myAudio" ng-click='audio.paused ? audio.play() : audio.pause()'></button>                    
                    </div>
                    <hr>
                    <div class="qinput-multiple fire-fix" ng-repeat="ques in ctrl.question track by $index" ng-if="ctrl.QuestionService.currentQuestionIndex === $index">
                        <span>{{ ques.TEXT }}</span>
                        <label for="answer-{{$index}}" tabindex="-1" class="qform-check-multiple" ng-repeat="answer in ctrl.question[ctrl.QuestionService.currentQuestionIndex].ANSWERSET.ANSWER track by $index" ng-click="blurRadio($event)">
                            <input tabindex="0" type="radio" 
                                class="fake-radio" 
                                ng-model="ctrl.fillCorrectAns.answer" 
                                value="{{ answer.TEXT }}"
                                id="answer-{{$index}}"
                                ng-enter="validate(ctrl.fillCorrectAns, answer.TEXT)"
                                required> {{ answer.TEXT }}
                        </label>
                    </div>
                    <hr>
                    <div class="sq-footer" ng-if="questionForm.$valid && !questionForm.$pristine" ng-class="{'multiSubmitButton':ctrl.section['@TYPE'] == 'MULTIPLECHOICE'}">
                        <button type="submit" class="btn btn-qsubmit" ng-click="ctrl.showNextQuestion(questionForm) && audio.stop()"
                                ng-enter="ctrl.showNextQuestion(questionForm) && audio.stop()">
                            <span class="q-text fontScaleX{{fontSize}}">{{'SUBMIT'|localization:ds.language}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/ng-template" id="dragDropPopover.html">
    <div class="dragDropPopover">
        <div class="drag-answerset-popover" ng-repeat= "answer in ctrl.shuffledAnswers track by $index">
            <div ng-focus="setFocus(true, ds.index, true)"
                 tabindex="0"
                 id="{{$index}}"
                 ng-blur="setFocus(false)"
                 ng-enter="dropped(answer,ques.ANSWERSET,true)"
                 ng-click="dropped(answer,ques.ANSWERSET,true)"
                 ng-bind-html="answer|sanitize">

            </div>
        </div>
    </div>
</script>


