<div class="description-container fontScaleX{{fontSize}}">
    <div class="header"></div>
    <div class="descform-container">
        <div class="descform-header">
            <h1 class="objectiveTitle">{{'FRENCH'|localization:ds.language}} {{'PLACEMENT_TEST'|localization:ds.language}}</h1>
        </div>
        <div class="descform-body">
            <div class="row">
                <div class="descform-text">
                   <div class="col-md-10 descform-body">
                        <h3 class="desc-text">
                            {{ ctrl.sectionDescriptionTextIntro}}</h3>
                       <h3 class="desc-text">
                           {{ ctrl.sectionDescriptionTextRow}}</h3>
                        <h3 class="desc-text">
                            {{ ctrl.sectionDescriptionTextOutro}}
                        </h3>
                   </div>
                </div>
            </div>
            <div class="row descresult-footer">
                <div class="desc-footer">
                    <button type="submit"
                        class="btn btn-descsubmit" ng-click="ctrl.onStartPlacementTest()">
                        {{'START'|localization:ds.language}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
