<div class="questionnaire-container">
    <div class="header"></div>
    <div class="qform-container">
        <div class="qform-header">
            <H1>RESULTS PAGE</H1>
        </div>
        <div class="qform-body">
            <div class="container">
                <div class="row" ng-show="ctrl.loading">
                    <div class="col-md-12">
                        <div class="calculating-loader">
                            <div class="col-md-offset-2 r-loader">
                                <div class="col-md-2 spinner">
                                    <div class="loader"></div>
                                </div>
                                <div class="col-md-10 spinner-text">
                                    <h2>
                                        Calculating your results...
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="!ctrl.loading">
                    <div class="mresult-text">
                        <div class="col-md-10" ng-if="ctrl.sectionIndex === ctrl.sectionLength && ctrl.results[ctrl.results.length - 1] > 60">
                                <ul class="col-md-offset-2 sq-text" ng-repeat="result in ctrl.results track by $index">
                                    <li>Section {{ $index + 1}}: {{ result }}%</li>
                                </ul>
                                <ul class="col-md-offset-2 sq-text">
                                    <li>Average Score: {{ ctrl.finalScore }}%</li>
                                </ul>
                        </div>
                        <div class="col-md-10 mresult-body" ng-if="ctrl.defaultLanguage === 'en' && ctrl.results[ctrl.results.length - 1] < 60">
                            <h3 class="col-md-offset-2 m-text">
                                Your English is currently at Module {{ ctrl.sectionIndex }} ( Level {{ ctrl.learnerLevel }} ).Please download your free learning module to try some of LRDG's language learning features
                            </h3>
                        </div>
                        <div class="col-md-10 mresult-body" ng-if="ctrl.defaultLanguage === 'fr' && ctrl.results[ctrl.results.length - 1] < 60">
                            <h3 class="col-md-offset-2 m-text">
                                Votre anglais est actuellement au module {{ ctrl.sectionIndex }} ( niveau {{ ctrl.learnerLevel }} ).S'il vous plaît télécharger votre module d'apprentissage gratuit pour essayer certaines des fonctionnalités d'apprentissage des langues de LRDG
                            </h3>
                        </div>
                        <div class="col-md-10 mresult-body" ng-if="ctrl.defaultLanguage === 'es' && ctrl.results[ctrl.results.length - 1] < 60">
                             <h3 class="col-md-offset-2 m-text">
                                Su inglés se encuentra actualmente en el Módulo {{ ctrl.sectionIndex }} ( Nivel {{ ctrl.learnerLevel }} ).Descargue su módulo de aprendizaje gratuito para probar algunas de las funciones de aprendizaje de idiomas de LRDG
                            </h3>
                        </div>
                        <div class="col-md-10 mresult-body" ng-if="ctrl.defaultLanguage === 'zh' && ctrl.results[ctrl.results.length - 1] < 60">
                            <h3 class="col-md-offset-2 m-text">
                                您的英语目前位于第XX单元 {{ ctrl.sectionIndex }} ( 级 {{ ctrl.learnerLevel }} ).请下载您的免费学习模块来尝试一些LRDG的语言学习功能
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row result-footer">
                    <div class="r-footer" ng-show="!ctrl.loading">
                        <button type="submit"
                            class="btn btn-rsubmit">
                                DOWNLOAD TRIAL MODULE
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
