.dialogue-multipleChoice {
    legend {
        margin-bottom: 10px;
        font-size: inherit;
        border-bottom: none;
        float: left;
    }
  .questionNo {
    float: left;
    font-weight: bold;
    margin: -1px 10px 0 0;
  }
  .audio {
    float: left;
    margin-top: -7px;
    margin-right: 8px;
  }
  .question-text {
    font-size: 14px;
    text-align: left;
    height: 30px;
  }
  .answer-z {
    margin-left: 14%;
    clear: both;
    padding-top: 1%;
  }
  .answer-main .answer {
    float: left;
    clear: both;
  }
  .answer-container {
    .answer-main {
      .answer {
        text-align: left;
        width: 100%;
        display: inline-flex;
        display: -webkit-inline-flex;

        margin-left: -1px;

        &.questionAudio {
          margin-left: 42px;
        }

        .MultipleChoiceRadio {

          margin-left: 18px !important;

          .multipleChoiceInput {
            margin: 0px !important;
          }
        }

        .result {
          padding: 0px;
          text-align: center;
        }

        .multiplechoice_label {
          padding: 0px;
          font-weight: bold;
        }

        .input-text {
          cursor: pointer;
          font-weight: bold;
          padding-left: 0;
          float: left;
          margin-top: 7px;
          font-size: 14px;
        }
        @media only screen and (min-device-width: 300px) and (max-device-width: 800px) {
          .input-text {
            font-size: 10px;
          }
        }
      }
    }
  }
}

.fontScaleX0 {
  .dialogue-multipleChoice {
    .questionNo {
      margin: 0 10px 0 0;
    }

    .answer-container {
      .answer-main {
        .answer {
          margin-left: -6px;

          &.questionAudio {
            margin-left: 13px;
          }
          .multiplechoice_label {
            margin: 8.5px 3px 0.3px 8px;
          }
        }
      }
    }
  }
}

.fontScaleX1 {

  &.windows {
    .dialogue-multipleChoice {
      .answer-container {
        .answer-main {
          .answer {
            margin-left: -6px;

            &.questionAudio {
              margin-left: 28px;
            }
            .input-text {
              margin-top: 8px;
            }
          }
        }
      }
    }
  }

  .dialogue-multipleChoice {
    .answer-container {
      .answer-main {
        .answer {
          &.questionAudio {
            margin-left: 28px;
          }
          .input-text {
            margin-top: 8px;
          }
        }
      }
    }
  }
}

.fontScaleX3 {
  .dialogue-multipleChoice {
    .answer-container {
      .answer-main {
        .answer {
          &.questionAudio {
            margin-left: 54px;
          }
          .multiplechoice_label {
            margin: 0 3px 0.3px 8px;
          }
        }
      }
    }
    .question-text {
        height: 50px;
    }
  }
}

.fontScaleX4 {
  .dialogue-multipleChoice {
    .answer-container {
      .answer-main {
        .answer {
          margin-left: 8px;

          &.questionAudio {
            margin-left: 70px;
          }
        }

        .multiplechoice_label {
          margin: 0 3px 0.3px 8px;
        }
      }
    }
    .question-text {
        height: 110px;
    }
  }
}

// IE10 CSS
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
  .Dialogue {
    &.fontScaleX2 {
      .dialogue-multipleChoice {
        margin-top: 60px;
        .answer-container {
          .answer-main {
            .answer {
              line-height: 1.4;
              display: inline;
              .multiplechoice_label {
                margin-top: 1px;
                margin-left: 5px!important; 
              }
              .MultipleChoiceRadio {
                .multipleChoiceInput {
                  margin: 9px 8px !important;
                }
                margin : 0px !important;
              }
            }
          }
        }
      }
      .questionNo {
          margin-top: 0px !important;
      }

      .questionTab-pager {
        display: -ms-flexbox;
        justify-content: center;
        width: auto;
      }
      .audioContainer {
        .audioCol {
          .dialogueMultipleChoiceAudio {
            button {
              &.vjs-button {
                font-size: 6px;
              }
            }
            .vjs-control-bar {
              .vjs-volume-menu-button  {
                width: 5em;
              }
            }
            .vjs-volume-menu-button {
              font-size: 6px;
              .vjs-menu {
                font-size: 10px;
              }
              .vjs-control-text {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
    &.fontScaleX3{
       .dialogue-multipleChoice {
          .answer-container {
           .answer-main {
             .answer {
               .MultipleChoiceRadio {
                 .multipleChoiceInput {
                   margin: -4px !important;
                 }
                 margin : 0px !important;
               }
             }
           }
         }
       }
    }
  }
}
