.DragDropColumn-draggable {
  text-align: center;

  .peg {
    background-color: inherit;
    min-width: inherit;
    width: auto !important;
  }
}

.DragDropColumn {
  width: 100%;

  .questionMainContainer {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .dragdropcolumn {
    .dragDropColumnContainer {
      display: flex;
      display: -webkit-flex;

      .column {

        .txt {
          float: left;
          margin: 0 0 4px 0;
          line-height: 35px;
        }

        .colContainer {
          word-wrap: break-word;

          .dropTargetContainer {
            float: left;
            margin: 0 5px 4px 5px;

            .draggableTargets {
              margin: 0;
            }
          }

        }
      }

      .secondColumn {
        background-color: #F9F9F9;
        text-align: center;

        .txt {
          line-height: 32px;
          float: none;
        }
      }

      .thirdColumn {
        text-align: left;

        &.first {
          display: flex;
          display: -webkit-flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

.fontScaleX0 {
  .dragdropcolumn {
    .dragDropColumnContainer {
      .secondColumn {
        .txt {
          line-height: 34px;
        }
      }
      .correct-answer, .wrong-answer {
          padding-right: 15px !important;
          background-size: 5px !important;
      }
    }
  }
}

.fontScaleX1 {
  .dragdropcolumn {
    .dragDropColumnContainer {
      .secondColumn {
        .txt {
          line-height: 34px;
        }
      }
      .correct-answer, .wrong-answer {
           padding-right: 16px !important;
           background-size: 8px !important;
      }
    }
  }
}

.fontScaleX3 {
  .dragdropcolumn {
    .dragDropColumnContainer {
      .correct-answer, .wrong-answer {
          padding-right: 22px !important;
          background-size: 16px !important;
          background-position-x: 99% !important;
      }
    }
  }
}

.fontScaleX4 {
  .dragdropcolumn {
    .dragDropColumnContainer {
      .correct-answer, .wrong-answer {
          padding-right: 30px !important;
          background-size: 22px !important;
          background-position-x: 99% !important;
      }
    }
  }
}


