.dragdropanswers .llist.selected, .under_question .singlelist {
  display: none;
}

.DragAndDrop.btn {
  background-color: hotpink;
}

.draggableTargets {
  float: left;
  pointer-events: none;

  .draggableAnswer {
    line-height: inherit !important;
  }
}

.popover {
  z-index: 1000;
  max-width: 217px;
}

.popover-content {
  padding: 0;

  .dragDropPopover {
    padding: 0 15px 15px 15px;
    text-align: center;

    .playBtn {
      height: 25px;
    }

    .answerSetParent {
      border: none;
      width: inherit;
      float: none;
      display: inline-flex;

      .audio {
        margin: 4px 8px 3px 0 !important;
        height: 30px;
      }
    }

    .form-group {
      margin-bottom: -2px;

      .peg-audio {
        width: 150px;
        float: left;
        min-width: auto;
      }

      .btn-primary {
        margin-left: 10px;
        height: 48px;
        margin-top: 2px;
      }
    }
  }
}

.sectionContainer {
  text-align: center;

  .audioContainer {
    .audioImg {
      height: 35px;
    }

    .txt {
      font-weight: bold;
    }
  }
}

.module0, .module99 {
    .DragAndDrop {
        .imageAudio {
            width: 40%;
        }
    }
}
.tooltip-inner {
   max-width: none !important;
}

.DragAndDrop {

     .singleDragDropSpan {
       clear: left;
       line-height:11px !important;
      }

  .sectionContainer{
    padding-right: 3.6%;
  }

  &.singleQuestion {
    .sectionContainer{
        padding-right: 0;
    }
  }

  &.col-md-9{
    @media screen and (min-width: 992px) and (max-width: 1200px) {
      width: 75%;
    }
  }
  .isHorizontalActivity{
      width: 135%;
  }

   &.horizontal {
    width: 100%;

    .questionMainContainer {
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;

      .answer-feedback {
        top: 7px;
        left: inherit;
      }

      .questionText {
        margin-left: 47px;
        margin-right: 20px;
      }

      .image_question {
        .questionImage {
          position: relative;
          margin-left: 40px;
        }
      }

      .audioContainer {
        margin-left: 45px;
      }

      .questionNumber {
        position: relative;

        .question-no {
          left: 26px;
        }
      }
    }

    &.horizontalMultiAnswer {

        .questionMainContainer {
            .audioContainer {
                margin-left: 0px;
            }

            .answer-feedback {
                left: -54px;
            }
        }
    }

    .questionWrapper {
      .questionText {
        margin-right: 20px;
        padding: 0px;
      }
    }

  }

  &.DragDropHorizontalMultiAnswer {

    .horizontal {
        .imageAudioSingle {
            width: 20%;
        }
    }

  }

  .imageAudio {
    display: inline-flex;
    display: -webkit-inline-flex;
    width: 20%;
  }

 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
   .imageAudio {
       width: 25%;
     }
 }

 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
    .imageAudio {
        width: 40%;
      }
  }

  .imageAudioSingle {
    display: inline-flex;
    display: -webkit-inline-flex;
    width: 40%;
  }

  .question-no {
    margin-top: 1px;
  }

  &.singleQuestion {
    .question-no {
      margin-top: 1px;
    }

    .questionText {
      &.multiAnswer {
        margin: 0px 20px 0 0;
      }
    }
  }

  .singleAnswer {
    &.question-no {
      margin-top: 0;

      &.textDisabled {
        line-height: 37px;
      }
    }
  }

  .questionWrapper {
    display: inline-flex;
    width: 98%;

    &.draganddrop {
      .inline {
        .answer-feedback {
          top: 12px;
        }
      }
    }
  }

  .audioOnly {
    display: inline-block;
    margin-top: 6px;
    border: 1px solid;
    padding: 6px;
    clear: both;
  }

  .questionText {
    float: left;
    margin-bottom: 2%;
    line-height: 18px;

    &.multiAnswer {
      margin: 0px 20px;
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      &.multiAnswer {
        margin: 0px 0px 0px 60px;
      }
    }
  }
  .question-no {
    line-height: 35px;
  }

  .singleAnswerContainer {
    display: inline;
  }

  .answerSetParent {
    text-align: center;
    float: right;
    border: 2px solid lightgray;
    display: inline;

    .audio {
      float: left;
      margin: 4px 8px 3px 0;
    }

    .playBtn {
      height: 25px;
    }

    .peg {
      padding: 3px;
      margin: 4px;
    }
  }

  &.DragDropHorizontalMultiAnswer {
    padding-left: 0px;

    .questionObj {
        padding: 1% 0 0 3.6%;
    }

    .questionMainContainer {
        .questionText {
                margin-left: 0px;
                width: 100%;
            }

        .questionNumber {
            .question-no {
                    margin-left: -27px;
                    left: inherit;
                }
        }
    }

    .questionWrapper {
        margin-left: 17px;
    }

    .horizontal {
        padding: 0px;
    }

    .single-drag-drop-answers-container {
        padding-left: 1%;
    }



  }
}

.dragDropImage {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.dragdrop-video {
  width: 300px;
  height: 150px;
}

[ng-drag].dragging {
  opacity: 0.5;
  border: solid 1px orange;
}

[ng-drop].drag-enter {
  border: solid 1px orange !important;
}

.lvl-over {
  /* applied to a drop target when a draggable object is over it */
  border: 2px dashed black !important;
}

.drag-started {
  background-color: #ddd;
  opacity: .5;
}

.draggable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
  border: 1px solid black;
  float: left;
}

.inverted {
  .draggable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
    border: 1px solid #fff;
    float: left;
  }
}

.peg {
  font-weight: bold;
  border: 1px black solid;
  margin: 8px;
  min-width: 225px;
  padding: 6px;
  clear: right;
  text-align: center;
  display: inline-block;
  cursor: move;
  word-wrap: break-word;
}

.inverted {
  .slot {
    background-color: black;
    color: white;
  }
}

.slot {
  padding: 0 10px;
  margin: 0 5px 0px 5px;
  min-width: 127px;
  min-height: 35px;
  display: inline-block;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  color: #333;
  background: #f8f8f8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  line-height: 32px;
}

.drag-audio-image-answer, .drag-audio-image-answer-result {
  margin: 0 5px 10px 5px;
  min-width: 50px;
  height: 32px;
  display: inline-block;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  color: #333;
  background: #f8f8f8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  img {
    width: 50%;
    margin-top: -6px;
  }
}

.single-drag-drop-question {
  .slot {
    min-width: 100px;
    margin: 0px;
  }
}

.DragAndDrop {
  .questionText {
    span, label {
      float: none;
      vertical-align: middle;
      margin-top: 0px;
      margin-bottom: 0px;
      line-height: 35px;
    }
  }
}

.dragdrop-audio-image {
  margin-left: 10px;
}

.DragAndDrop .audio_question {
  float: left;
  display: inline-table;
}

.singleDragDropQuestionNo {
  margin-right: 1%;
  margin-top: 11px !important;
}

.single-drag-drop-questions-container {
  clear: both;
  padding-top: 10px;
  text-align: justify;

  .questionTxtContainer {
    margin-top: 10px;

    &.audio {
      margin-left: 46px;
    }

    .single-drag-drop-question {
      font-weight: normal !important;
      float: none !important;

      .popover {
        padding: 12px 10px 12px 12px;

        .popover-content {
          padding: 0;
        }
      }
    }
  }
}

.popover {
  .single-drag-drop-answers-container {
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
  }
}

.single-drag-drop-answer {
  width: auto;
  padding: 3px;
  border-radius: 2px;
  font-weight: bold;
  margin: 5px;
  text-align: center;
  float: none;
  display: inline-block;

  label {
    margin: 0px;
    font-weight: bold;
  }
}

.dragAudio {
  width: 18%;
  float: left;
}

.dragDropVideo-audio {
  float: left;
  clear: left;
}

.dragDropVideoContainer {
  text-align: center;

  .slot {
    margin-bottom: 20px;
  }
  .single-drag-drop-answers-container {
    padding: 0%;
  }
  .DragDropVideo {
    width: 50%;
  }
}

.singleDragDropAudio {
  float: left;
  clear: left;
  margin: 0px 15px;
  position: relative;
}

.single-dragrop-feedback-img-audio {
  margin-left: -55px !important;
  float: left !important;
}

.single-dragrop-feedback-img {
  margin-left: -54px !important;
  float: left !important;
}

.DragAndDrop {
  .audioAnswer {
    margin-top: 0 !important;
  }

  .dragdrop-text {
    line-height: 35px;
    float: left !important;

    &.textDisabled {
      line-height: 37px;
    }
  }
  .questionTextBreakTag {
    clear: both;
    line-height:11px !important;
  }

}

#dragDropAnswers {

}

.dragdropAnswerSet {
  float: left;
  margin-top: 6px;
}

.DragAndDropVideo {
    .validationImgBlock {
        line-height: 33px;
    }

    .questionText {
        float: none;

        .dragDropVideoContainer {
            .DragDropVideo {
                height: auto;

                .vjs-tech {
                    position: relative;
                    height: auto;
                }
            }
        }
    }
}

.fontScaleX0 {
  .popover-content {
    .dragDropPopover {
      .answerSetParent {
        .audio {
          margin: 9px -4px 3px 0 !important;
        }
      }
    }
  }

  .DragAndDrop {
    .question-no {
      margin-top: 0;
    }

    .answerSetParent {
      .audio {
        margin: 8px -25px 3px 0;
      }

      .playBtn {
        height: 13px;
      }
    }

    .singleAnswer {
      &.question-no {
        margin-top: -2px;
      }

    }

    &.horizontal {
      .questionMainContainer {
        .audioContainer {
          margin-top: 7px;
        }
      }
    }

    .answerSetParent {
      .peg {
        margin: 10px !important;
      }
    }

    .correct-answer, .wrong-answer {
        padding-right: 15px !important;
        background-size: 5px !important;
    }
  }

  .DragAndDropVideo {
    .dragDropVideo-audio {
        img {
            height: 23px;
        }
    }
    .correct-answer, .wrong-answer {
        padding-right: 15px !important;
        background-size: 5px !important;
    }

    .DragDropVideo {
        width: 30%;
    }
  }

  .singleDragDropQuestionNo {
    top: 0;
  }
}

.fontScaleX1 {
  .DragAndDrop {

    .answerSetParent {
      .audio {
        margin: 4px -25px 3px 0;
      }

      .playBtn {
        height: 21px;
      }
    }

    .singleAnswerContainer {
      .slot {
        margin: -2px 5px 0px 5px;
      }
    }

    .answer-feedback {
      top: 8px;
    }

    .singleAnswer {
      &.question-no {
        margin-top: -1px;
      }
    }

    .answerSetParent {
      .peg {
        margin: 5px !important;
      }
    }

    .correct-answer, .wrong-answer {
        padding-right: 16px !important;
        background-size: 8px !important;
    }
  }

  .DragAndDropVideo {
    .dragDropVideo-audio {
       img {
           height: 31px;
       }
   }
   .correct-answer, .wrong-answer {
       padding-right: 16px !important;
       background-size: 8px !important;
   }
   .DragDropVideo {
        width: 40%;
   }
  }

  .single-drag-drop-question {
    .singleDragDropQuestionNo {
      top: 1px;
    }

    span {
      margin-bottom: 5px;
    }
  }

}

.fontScaleX3 {
  .DragAndDrop {
    .question-no {
      left: -30px;
      top: -1px;
    }

    .answer-feedback {
      left: -57px;
      top: 4px;
    }

    .slot {
      margin: 0 5px 0px 5px;
    }

    &.horizontal {
      .questionMainContainer {
        .questionText {
          margin-top: 9px;
          margin-left: 58px;
        }

        .slot {
          margin: 1px 5px 0px 5px;
        }

        .answer-feedback {
          top: 12px;
        }

        .audioContainer {
          margin-left: 55px;
        }
        .image_question {
          .questionImage {
            margin-left: 50px;
          }
        }
      }
    }
    .questionWrapper {
      &.draganddrop {
        .questionAsset {
          margin-top: 0px !important;
        }
      }
    }

    .answerSetParent {
      padding: 0px 10px;

      .playBtn {
        height: 31px;
      }
    }

    .correct-answer, .wrong-answer {
        padding-right: 22px !important;
        background-size: 16px !important;
        background-position-x: 99% !important;
    }
    .peg-audio {
      width: 79% !important;
    }
  }

  .DragAndDropVideo {
    .dragDropVideo-audio {
       img {
           height: 41px;
       }
    }
    .dragDropVideoContainer {
        .slot {
            height: 34px;
            padding: 3px 0px;
        }
    }
    .correct-answer, .wrong-answer {
        padding-right: 22px !important;
        background-size: 16px !important;
        background-position-x: 99% !important;
    }

    .DragDropVideo {
        width: 60%;
    }
  }

  .singleDragDropQuestionNo {
    margin-top: 14px !important;
  }
}

.fontScaleX4 {
  .DragAndDrop {
    .answer-feedback {
      top: 6px;
    }
    .imageAudio {
      width: 50%;
    }

    .questionText {
      margin-left: 20px;
    }

    .question-no {
      top: -2px;
      left: -23px;
    }
    .slot {
      margin: -1px 5px 0px 5px;
    }

    .dragdrop-text {
      line-height: 35px;
    }

    .TargetBoxDragDrop {
      min-height: 38px;
    }

    .singleAnswerContainer {
      .dragdrop-text {
        line-height: 38px;
      }

    }

    &.horizontal {
      .questionMainContainer {
        .question-no {
          top: 9px;
        }

        .answer-feedback {
          top: 16px;
        }

        .questionText {
          margin-left: 71px;
          margin-top: 10px;
        }

        .audioContainer {
          margin-left: 63px;
        }

        .image_question {
          .questionImage {
            margin-left: 60px;
          }
        }

      }
      .questionAsset {
        margin-top: 0px !important;

        .singleDragDropAudio {
          margin: 0px 20px;
        }
      }
    }
    .questionWrapper {
      &.draganddrop {
        .questionAsset {
          margin-top: 0px !important;
          margin-left: 15px;
        }
      }
    }

    .answerSetParent {
      padding: 0px 5px;

      .audio {
        margin: 0px;
      }

      .playBtn {
        height: 36px;
      }

    }

    .correct-answer, .wrong-answer {
        padding-right: 30px !important;
        background-size: 22px !important;
        background-position-x: 99% !important;
    }
    .peg-audio {
      width: 77% !important;
    }

  }

  .DragAndDropVideo {
    .dragDropVideo-audio {
        img {
            height: 46px;
        }
    }

    .dragDropVideoContainer {
        .slot {
            height: 43px;
            padding: 3px 0px;
        }
    }
    .correct-answer, .wrong-answer {
        padding-right: 30px !important;
        background-size: 22px !important;
        background-position-x: 99% !important;
    }
    .DragDropVideo {
        width: 70%;
    }
  }
  .single-drag-drop-question {
    span {
      margin-bottom: 8px;
    }
  }
  .singleDragDropQuestionNo {
    top: 1px;
  }
}

.DragAndDrop {
  .questionWrapper {
    &.input{
      .questionText {
        margin-bottom: 5px;
        .mc-choices {
          span {
            &.single-drag-drop-question {
              label {
                line-height: 30px;
              }
            }
          }
        }
      }
    }
    &.button {
      .questionText {
        margin-bottom: 5px;
      }
    }
    &.draganddrop {
      .questionText {
        margin-bottom: 5px;
      }
    }
    &.variableinput {
      .questionText {
        margin-bottom: 5px;
      }
    }
  }
  .DragDropHorizontalMultiAnswer {
    .single-drag-drop-answers-container {
      margin-bottom: 5px;
    }
  }
}

// IE10 CSS
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
  .DragAndDrop {
    .questionWrapper {
      &.input {
        .questionNumber {
          .inline {
            .question-no {
              line-height: 1.4;
              margin: 9px 0;
              @include tablet {
                line-height: 1.3;
              }
            }
          }
          &.multiAnswerQuestionNumber {
            .inline {
              .question-no {
                margin: 10px 0;
              }
            }
          }
        }
        .questionText {
          margin-bottom: 5px; 
          margin-left: 20px;
          margin-right: 0; 
          .mc-choices {
            .singleAnswerContainer {
              .dragdrop-text {
                line-height: 36px;
                @include tablet {
                  line-height: 35px;
                }
              }
            }
          }
        }
      }
      &.dropdown {
        .questionText {
          .mc-choices {
            .singleAnswerContainer {
              display: inline-block;
              .dragdrop-text {
                display: inline-block;
                float: none!important;
              }
            }
          }
        }
      }
    }
  } 
}