.dropdown {
  margin-right: 5px;
  float: left;

  .btn-group {
    margin-bottom: 3px;

    &.correct-answer, &.wrong-answer {
      margin-bottom: 1px;
      border-radius: 10px;
    }
  }

  .caret {
    float: right;
  }

  .multiInput_text {
    line-height: 38px;
    padding: 0;
  }

  .dropdownBtn {
     min-width: 80px;
     min-height: 33px;
     width: auto;
     padding-left:20px;
     padding-right:20px;
     border-radius:10px;
  }

  .dropdown-toggle {
    min-height: 33px;
    border-radius:10px;
  }

  .dropdown-menu {
    min-width: 74px;

    & > li > a {
      padding: 3px 33px;
    }
  }
}

.fontScaleX0 {
  .dropdown {

      .answer-feedback {
        top: -4px;
      }


    .multiInput_text {
      line-height: 25px;
    }

    .questionNumber {
        height: 25px;
    }
  }
}

.fontScaleX1 {
  .dropdown {
    .multiInput_text {
      line-height: 30px;
      margin-bottom: 5px;
    }

    .answer-feedback {
          top: 0px;
        }

    .questionNumber {
        height: 30px;
    }
  }
}
.fontScaleX2 {
  _::-webkit-:not(:root:root), .dropdown  {
   .question-no {
    bottom: 3px;
    }
  }
}

.fontScaleX3 {
  _::-webkit-:not(:root:root), .dropdown  {
   .question-no {
    bottom: -3px;
    }
  }
  .dropdown {
    min-height: 42px;
    margin-top: -2px;
    margin-bottom: 5px;

    &.correct-answer, &.wrong-answer {
      margin-bottom: 3px;
    }

    .btn {
      font-size: 20px !important;
    }

    .dropdown-menu {
      font-size: 20px !important;
    }
    .dropdownBtn {
      min-height: 42px;
    }

    .dropdown-toggle {
      min-height: 42px;
    }

    .question-no {
      left: -26px;
    }

    .multiInput_text {
      line-height: 42px;
      margin-bottom: 5px;
    }

    .questionNumber {
        height: 42px;
    }
  }
}

.fontScaleX4 {
  _::-webkit-:not(:root:root), .dropdown  {
    .question-no {
     bottom: -12px;
     }
  }
  .dropdown {
    .question-no {
      left: -36px;
    }

    .containerrr {
      .answer-feedback {
        top: 11px;
      }

    }
     .questionNumber {
       height: 51px;
     }


    .multiInput_text {
      line-height: 48px;
      margin-bottom: 3px;
    }

  }
}