.FillInTheBlank_VariableInput {
    width: 100%;

    .questionNumber {
        height: 43px;
    }

    .FIBVIPointerBlock{
          pointer-events: none;
          -moz-user-focus: none;
          -moz-user-focus: -moz-none;
          user-focus:none;
          cursor:not-allowed;
          background-color: white;
          color: #000000;
    }

   .question-no {
      margin: 5px 0px;
      line-height: 33px;
    }

  .fontScaleX0 {
    .question-no {
      top: 0;
    }
  }

  .fontScaleX1 {
    .question-no {
      top: 0;
    }
  }

  .fontScaleX3 {
    .inputField {
      &.form-control {
        height: 47px;
      }
    }

    .questionAsset {
      margin-top: 0px;
    }

    .dropDownTooltip {
        .dropdown {
            .dropdownBtn, .dropdown-toggle {
                height: 47px;
            }
        }
    }

    .fillText {
        line-height: 47px;
    }
    .question-no {
        line-height: 47px;
     }
     .setButton {
        .ArraySpanButton {
            .btn {
                height: 47px;
            }
        }
     }
  }

  .fontScaleX4 {
    .questionAsset {
      margin-top: 0px;
    }

    .inputField {
      &.form-control {
        height: 56px;
      }
    }

    .setButton {
      margin-bottom: 4px;
    }
    .dropDownTooltip {
        .dropdown {
            .dropdownBtn, .dropdown-toggle {
                height: 56px;
            }
        }
    }

    .fillText {
        line-height: 56px;
    }
    .question-no {
        line-height: 56px;
     }
     .setButton {
       .ArraySpanButton {
           .btn {
               height: 56px;
           }
       }
    }
  }

  .answerSetContainer {
    width: 100%;
  }

  .dropDownTooltip {
    display: block;
    vertical-align: top;
    float: left;
    margin: 5px;
    height: 33px;

    .dropdown {
        margin: 0px;
    }
  }

  .dropdownText {
    height: 33px;
  }

  .setButton {
    margin: 5px 2.5px !important;

    .ArraySpanButton {
        .btn {
            height: 33px;
        }
    }
  }

  .buttonAnswersContainer {
    margin: 0px;
  }

  .clear-left {
    clear: left;
  }

  .clear-right {
    clear: right;
  }

  .form-control {
    margin: 5px;
    height: 33px;
    min-width: initial;
    width: auto;
  }

  .fillText {
    margin: 5px 0px;
    line-height: 33px;

    &.colorSpan {
      margin-bottom: 10px;
    }
  }
}

.fontScaleX0 {
    .FillInTheBlank_VariableInput {
        .questionNumber {
            height: 43px;
        }
        .inputField, .button {
           padding-right: 15px !important;
           background-size: 5px !important;
        }
        .dropdown {
            &.correct-answer, &.wrong-answer {
                background-size: 5px !important;
            }
            .dropdownBtn {
                padding-left: 15px !important;
            }
        }
    }
}

.fontScaleX1 {
    .FillInTheBlank_VariableInput {
        .questionNumber {
            height: 43px;
        }
        .inputField, .button {
           padding-right: 16px !important;
           background-size: 8px !important;
        }
        .dropdown {
            &.correct-answer, &.wrong-answer {
                background-size: 8px !important;
            }
            .dropdownBtn {
                padding-left: 16px !important;
            }
        }
    }
}

.fontScaleX3 {
    .FillInTheBlank_VariableInput {
        .questionNumber {
            height: 57px;

            .question-no {
                left: -30px;
            }
        }

        .inputField, .button {
             padding-right: 22px !important;
             background-size: 16px !important;
             background-position-x: 99% !important;
         }
         .dropdown {
             &.correct-answer, &.wrong-answer {
                 background-size: 16px !important;
             }
             .dropdownBtn {
                 padding-left: 22px !important;
             }
         }
    }
}

.fontScaleX4 {
    .FillInTheBlank_VariableInput {
        .questionNumber {
            height: 66px;

            .question-no {
                left: -28px;
            }
        }

        .inputField, .button {
            padding-right: 30px !important;
            background-size: 22px !important;
            background-position-x: 99% !important;
        }
        .dropdown {
            &.correct-answer, &.wrong-answer {
                background-size: 22px !important;
            }
            .dropdownBtn {
                padding-left: 30px !important;
            }
        }
    }
}