%input-struture {
  width: auto;
  margin-top: 0%;
  min-width: initial;
}

.dropdownText {
  display: inline-flex;
}

input {
  text-align: center;
}

.FillInTheBlank, .FillInTheBlank_VariableInput {
  .FillblankSectionAudio {
    padding: 10px;
    background-color: #e9e9e9;
    margin-bottom: 10px;
    text-align: center;
  }
  .FillblankSectionAudioObjective {
    word-break: break-all;
    text-align: left;
    display: inline-block;
  }

  .FillblankSectionAudioAudio {
    text-align: center;

    .play-button {
      background-color: transparent;
      border: none;
    }
  }

  .FillblankSectionAudioChild {
    display: inline-block;
  }

  .FillblankSectionAudioImg {
    width: 45px;
  }
}

.inverted {
  .FillInTheBlank, .FillInTheBlank_VariableInput {
    .FillblankSectionAudioChild {
      color: black;
    }
  }
}

.FillInTheBlank {
    .input {
        @-moz-document url-prefix() {
          .questionNumber{
              line-height: 37px;
           }
        }
      }
      .input{
        @media screen and (-webkit-min-device-pixel-ratio:0) {
          .questionNumber{
              height:37px;
          }
        }
      }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .questionNumber{
            .question-no{
                top: 9px;
            }
       }
    }
    .dropdown {
          @-moz-document url-prefix() {
            .questionNumber{
                line-height: 36px;
             }
          }
        }
  b {
    display: inline-block;
    margin-top: -1px;
  }

  .instruction-table{
    b {
      display: inline;
    }
  }

  .questionMainContainer, .questionWrapper {
    br {
      display: none;
    }
  }

  .containerrr {
    width: 100%;
  }
  .multiInput_text {
    display: inline-block;
    line-height: 39px;
    margin-bottom: 0px;
    b {
      display: inline-block;
      margin-top: -2px;
    }
    @-moz-document url-prefix() {
     b{
         margin-top: 0px;
      }
     }
  }

  .colorSpan {
    padding-bottom: 9px;
  }

  @-moz-document url-prefix() {
    .colorSpan {
      padding-bottom: 10px !important;
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .colorSpan {
      padding-bottom: 10px !important;
    }
  }

  @media only screen and (min-device-width: 1400px) {
    @-moz-document url-prefix() {
      .colorSpan {
        padding-bottom: 10px !important;
      }
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) and (min-device-width: 1300px) {
    .colorSpan {
      padding-bottom: 10px !important;
    }
  }

  @media screen and (min-color-index: 0) and (-webkit-min-device-pixel-ratio: 0) and (min-device-width: 1400px) {
    .colorSpan {
      padding-bottom: 9px;
    }
    .questionNumber {
      height: 37px !important;
    }
  }

  .multiInput-span {
    height: 38px;
    input {
      position: relative;
    }
  }

  &.btn {
    background-color: purple;
    margin: 0;
  }
  .questionText {
    float: left;
    padding: 0;
  }

  input {
    display: inline;
    width: 90%;
    margin-bottom: 3px;
    text-align: center;
    margin-top: 2%;
    margin-left: 0;

    &.btn {
      width: auto !important;
      margin: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
    &:disabled {
      text-align: center;
    }
  }
  label {
    font-weight: none;
  }
  .dropdownselect {
    width: 100px;
    margin: 0 5px 0 5px;
    display: inline;
    text-align: center;
    margin-bottom: 4px;
  }

  select {
    width: 100px;
    margin: 0 5px 0 5px;
  }
  .left {
    float: left;
  }

  .left.last {
    clear: left;
    float: left;
    display: inline;
  }

  @-moz-document url-prefix() {
    .ParentSpan {
      margin-bottom: 0px !important;
    }
    .multiInput-span {
      height: 38.56px;
    }
  }

  @media only screen and (min-device-width: 1600px) {
    .ParentSpan {
      margin-bottom: 0px !important;
    }
  }

  .dropdownText {
    float: left;
    line-height: 39px;
    margin-bottom:0px;
  }

  span.innerspan {
    margin-bottom: -2px !important;
    font-size: 1.05em;
  }

  .ArraySpanButtonLabel {
    float: left;
  }

  .questionText {
    &.audioAsset {
      width: 95%;
      padding-left: 7px;
    }
  }

  .ArraybuttonAnswersetDiv {
    padding-top: 1px;

    .buttonText {
        display: inline-block;
        float: left;
    }
  }
  @-moz-document url-prefix() {
    .ArraybuttonAnswersetDiv {
      padding-top: 0px !important;
    }
  }

  .wrong-answer, .correct-answer {
    line-height: 19px;
   }

  .text {
    float: left;
    margin-bottom: 1px;
  }

  .form-control {
    @extend %input-struture;
  }

  .wrong-answer {
    @extend %input-struture;
  }
  .correct-answer {
    @extend %input-struture;
  }

  .single-input-span {
    background-color: #EEE;
    margin-left: 6px;
    margin-right: 6px !important;
    margin-top: 4%;
    display: inline;
    width: 90%;
    min-width: 161px;
    margin-top: -1px;
    margin-bottom: 2px;
  }
  .setInput {
    min-width: 100%;
    padding-top: 1px;
    line-height: 36px;
  }

  .singleDropDownSpan {
    clear: left;
  }

  .ArraySpanButtonInput {
    margin: 1px 0px !important;
  }

  .FinalQuizsetButton {
    display: inline-block;
  }

  .setWidthFIBDropDown {
    width: 72%;
    padding-left: 10px;
  }

}

.FIBvariableIP {
  width: 100%;
}

.s-img {
  text-align: center;
  padding: 10px;
}

.element.inputText {
  display: inline;
}

.FillInTheBlank {
    .dropdown {
        .element {
            display: inline;
        }
    }
}

.FillInTheBlank .questionText-audio {
  padding-right: 0;
  padding-left: 7px;
  width: 95%;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .FillInTheBlank {
        .questionText-audio {
            width: 90%;
        }
    }
}

.fillText {
  float: left;
}

.fillInImageAudio1 {
  margin-right: 50px;
}

.input-span {
  background-color: #EEE;
  margin-right: 6px;
  margin-left: 6px;
  display: inline;
  width: 90%;
  min-width: 161px;
  margin-bottom: 2px;
}

.FillInTheBlank {
  .imageAudio {
    float: left;
    display: inherit;
    width: auto !important;
  }

  .form-control {
    &.short-input {
      min-width: 60px !important;
      width: 60px !important;
    }

    .wrong-answer {
      &.short-input {
        min-width: 60px !important;
        width: 60px !important;
      }
    }
    .correct-answer {
      &.short-input {
        min-width: 60px !important;
        width: 60px !important;
      }
    }
  }

}

.tooltip-SImage {
  z-index: 1000;

  .tooltip-inner {
    color: #080808;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    padding: 20px;
    white-space: pre-line;
    top: 70%;
    right: auto;
    margin: 0 auto;
    text-align: left;
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    max-width: 600px;
  }
  @-moz-document url-prefix() {
    .tooltip-inner {
      position: relative;
    }
  }

  .tooltip-arrow {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .tooltip-SImage {
    .tooltip-inner {
      top: auto;
    }
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
  .tooltip-SImage {
    .tooltip-inner {
      top: auto;
    }
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
  .tooltip-SImage {
    .tooltip-inner {
      top: 75%;
    }
  }
}

.selectize-dropdown {
  .active {
    background-color: #0094CF !important;
    color: #fff !important;
  }
}

.dropdownselectNew {
  text-align: center !important;
  min-width: 180px !important;
  height: 38px !important;
  // margin: 2px !important;
  margin-right: 4px !important;
}

.selectize-input {
  height: 38px !important;
}

.dropdownselectNewVariableIP {
  height: 35px !important;
  margin-top: -7px;
  text-align: center !important;
  width: 180px !important;
  margin-right: 4px !important;

  .selectize-input {
    height: 35px !important;
  }
}

@-moz-document url-prefix() {
  .dropdownselectNewVariableIP {
    height: 35.5666px !important;

    .selectize-input {
      height: 35.5666px !important;
    }
  }
}

.ui-select-match {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 25px;
}
.fontScaleX2 {
  .FillInTheBlank {
    .dropdown {
            .questionNumber{
             height: 36px;
             }
    }
  }
}

.fontScaleX0 {
  .FillInTheBlank {
    .dropdown {
      @-moz-document url-prefix() {
        .questionNumber{
            line-height: 28px;
         }
      }
    }
    .dropdownText {
      line-height: 25px !important;
      padding-bottom: 3px;
    }

    .button, .input {
        .correct-answer, .wrong-answer {
            padding-right: 15px !important;
            background-size: 5px !important;
        }
    }
    .dropdown {
        .correct-answer, .wrong-answer {
            background-size: 5px !important;
        }
        .dropdownBtn {
            padding-left: 15px !important;
        }
    }
   .button {
       .multiAnswerQuestionNumber {
           height: 34px;
       }
   }
   .q-img {
        width: 50px;
    }
  }
}

.fontScaleX1 {
  .FillInTheBlank {
    .dropdown {
      @-moz-document url-prefix() {
        .questionNumber{
            line-height: 33px;
         }
      }
    }
    .dropdownText {
      line-height: 30px !important;
      padding-bottom: 3px;
    }

    .button, .input {
        .correct-answer, .wrong-answer {
            padding-right: 16px !important;
            background-size: 8px !important;
        }
    }
    .dropdown {
        .correct-answer, .wrong-answer {
            background-size: 8px !important;
        }
        .dropdownBtn {
            padding-left: 16px !important;
        }
    }

    .button {
        .multiAnswerQuestionNumber {
            height: 40px;
        }
    }
    .q-img {
         width: 75px;
     }
  }
}

.fontScaleX3 {
  .FillInTheBlank {
    .dropdown {
     @-moz-document url-prefix() {
       .questionNumber{
           line-height: 43px;
        }
     }
   }
    .dropdownText {
      line-height: 42px !important;
      margin-bottom: 3px;
    }

    .button, .input {
        .correct-answer, .wrong-answer {
            padding-right: 22px !important;
            background-size: 16px !important;
            background-position-x: 99% !important;
        }
    }
    .dropdown {
       .correct-answer, .wrong-answer {
           background-size: 16px !important;
       }
       .dropdownBtn {
           padding-left: 22px !important;
       }
   }
   .input {
    .questionNumber {
        height: 50px;
    }
   }
   .button {
       .multiAnswerQuestionNumber {
           height: 40px;
           .question-no {
               left: -25px;
           }
       }
   }
   .q-img {
         width: 150px;
     }
  }
}

.fontScaleX4 {
  .FillInTheBlank {
     .dropdown {
       @-moz-document url-prefix() {
         .questionNumber{
             line-height: 52px;
          }
       }
     }
    .dropdownText {
      margin-top: 0px !important;
      line-height: 51px;
      padding-bottom: 3px;
    }

    .button, .input {
         .correct-answer, .wrong-answer {
             padding-right: 30px !important;
             background-size: 22px !important;
             background-position-x: 99% !important;
         }
    }
    .dropdown {
        .correct-answer, .wrong-answer {
            background-size: 22px !important;
        }
        .dropdownBtn {
            padding-left: 30px !important;
        }
    }
    .input {
        .questionNumber {
            height: 55px;
        }
     }
    .button {
        .multiAnswerQuestionNumber {
            height: 46px;

            .question-no {
                left: -25px;
            }
        }
    }

    .q-img {
        width: 200px;
    }
  }
  @media only screen and (min-device-width: 1400px) and (max-device-width: 1600px) {
    .FillInTheBlank {
      .dropdownText {
        margin-top: 0px !important;
        line-height: 54px;
        padding-bottom: 0.358px;
      }
    }
  }
}


.FillInTheBlank {
 .fillintheblank {
  .questionNumber {
    .question-no {
      margin: 0;
    }
  }
  .questionText {
    label {
      line-height: 19px;
    }
  }
 }
 .questionWrapper {
  &.button {
    span {
      display: inline-flex;
    }
    .questionNumber {
      .question-no {
        margin: 12px 0;
        line-height: normal;
      }
    }
    .mc-choices {
      span {
        display: inline;
        @-moz-document url-prefix() {
          .buttonText {
            line-height: 41px;
          }
        }
        @media screen and (-webkit-min-device-pixel-ratio:0) {
          .buttonText {
            line-height: 41px;
          }
        }
        .buttonAnswersContainer {
          display: inline;
          margin-bottom: 4px;
          .FinalQuizsetButton {
            display: inline;
            .button_tooltip {
              display: inline;
            }
          }
        }
      }
    }
    .ArraybuttonAnswersetDiv {
      display: inline-block;
      label {
        &.buttonText {
          line-height: 41px;
        }
      }
      span {
        display: inline;
        .buttonText {
          line-height: 36px;
          margin: 2px 0;
        }
        .buttonAnswersContainer {
          display: inline-flex;
          margin-bottom: 3px; 
          @include desktop-lg {
            margin-bottom: 0; 
          }
          @-moz-document url-prefix() {
            .ArraySpanButtonLabel {
              display: inline;
              line-height: 0;
              .ArraySpanButtonInput {
                margin-right: 4px!important;
              }
            }
          }
        }
      }
      .buttonAnswersContainer {
        .ArraySpanButtonInput {
          padding-right: 2px;
        }
      }
    }
  }
  &.input {
    .mc-choices {
      .element {
        &.setInput {
          padding-top: 0;
          line-height: 0;
          @supports (-ms-ime-align:auto) {
            padding-top: 0;
            line-height: 37px;
          }
          @-moz-document url-prefix() {
            padding-top: 1px;
            line-height: 37px;
            @include tablet {
              padding-top: 0;
              line-height: 37px;
            }
            @include desktop {
              padding-top: 0;
              line-height: 37px;
            }
            @include desktop-lg {
              padding-top: 0;
              line-height: 36px;
            }
            @include desktop-xlg {
              padding-top: 0;
              line-height: 36px;
            }
          }
          .text {
            margin-bottom: 1px;
            line-height: 39px;
            @-moz-document url-prefix() {
              margin: 0;
              line-height: 37px;
              @include tablet {
                padding-top: 1px;
                line-height: 36px;
              }
            }
          }
        }
        &.inputText {
          .multiInput_text {
            line-height: 39px;
          }
        }
      }
    }
    .element {
      &.setInput {
        padding-top: 1px;
        line-height: 37px;
        @supports (-ms-ime-align:auto) {
          padding-top: 0;
          line-height: 36px;
        }
      }
      @-moz-document url-prefix() {
        &.setInput {
          padding-top: 1px;
          line-height: 35px;
          @include tablet {
            line-height: 35px;
          }
          @include desktop {
            line-height: 36px;
          }
        }
      }
    }
    .questionNumber {
      .inline {
        .question-no {
          margin: 10px 0;
          @supports (-ms-ime-align:auto){
            margin:9px 0;
          }
          @-moz-document url-prefix() {
            margin: 0;
          }
        }
      }
    }
  }
  &.variableinput {
    .questionNumber {
      .inline {
        .question-no {
          margin: 9px 0;
        }
      }
    }
    .questionText {
      line-height: 37px;
      .elemensetInput {
        display: inline-flex;
        align-items: center;
      }
    }
  }
 } 
}

// IE10 CSS
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
  .FillInTheBlank {
    .questionWrapper {
      &.button {
        .questionNumber {
          .question-no {
            margin: 3px 0;
            line-height: normal;
          }
          &.multiAnswerQuestionNumber {
            .inline {
              .question-no {
                margin: 0;
                line-height: 1.4;
              }
            }
          }
        }
        .questionText {
          .mc-choices {
            .buttonText {
              line-height: 36px;
            }
            .ArraybuttonAnswersetDiv {
              .buttonText {
                line-height: 34px;
                margin: 0;
                @include desktop-lg {
                  line-height: 35px;
                }
              }
              .buttonAnswersContainer {
                display: inline-block;
              }
            }
          }
        }
        span{
            display:inline;
        }
      }
      &.input {
        .questionNumber {
          .inline {
            .question-no {
              margin: 3px 0;
              line-height: 1.6;
            }
          }
          &.multiAnswerQuestionNumber {
            .inline {
              .question-no {
                margin: 0;
                line-height: 1.5;
              }
            }
          }
        }
        .questionText {
          .mc-choices {
            line-height: normal;
            .element {
              &.setInput {
                padding-top: 2px;
                .text {
                  padding-top: 1px;
                  line-height: 39px;
                }
              }
            }
          }
          .element {
            &.setInput {
              padding-top: 2px;
              .text {
                line-height: 40px;
              }
            }
          }
        }
      }
      &.fillintheblank{
        .questionNumber {
          .inline {
            .question-no {
              margin: 0;
              line-height: 1.6;
            }
          }
          &.multiAnswerQuestionNumber {
            .inline {
              .question-no {
                margin: 3px 0;
              }
            }
          }
        }
        label{
          &.questionText {
            line-height: 39px;
          }
        }
        .questionAsset {
          &.audio_question {
            .audioContainer {
              .dummyBtnClass {
                img {
                  &.playBtn {
                    margin-top: 4px;
                  }
                }
              }
            }
          }
        }
        .questionText {
          &.questionText-audio {
            label {
              &.questionText {
                line-height: 45px;
              }
            }
          }
        }
      }
      &.variableinput {
        .questionNumber {
          .inline {
            .question-no {
              margin: 0;
              line-height: 1.5;
            }
          }
        }
        .questionText {
          display: inline-block;
          line-height: normal;
          label {
            &.questionText {
              line-height: 37px;
              margin-bottom: 0; 
            }
          }
          .mc-choices {
            .elemensetInput {
              display: inline-block;
              line-height: normal;
              .text {
                margin: 0;
                line-height: 37px;
              }
              .buttonAnswersContainer {
                .setButton {
                  margin: 0;
                  span {
                    &.ArraySpanButton {
                      line-height: normal;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.singleQuestion {
      .questionWrapper {
        &.button {
          .questionText {
            .mc-choices {
              .ArraybuttonAnswersetDiv {
                span {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }

    @media (min-width: 1024px) and (max-width: 1440px){
       .questionText {
           .mc-choices {
             .element {
               &.setInput {
                 .text {
                   line-height: 35px;
                 }
               }
             }
           }
       }
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @media (min-width: 1910px){
        .scroll-overflow {
          overflow-x: hidden !important;
        }
    }
}
_:-ms-lang(x), .FillInTheBlank  {
     @media (min-width: 1024px) and (max-width: 1440px){
         .questionText {
            .mc-choices {
              .element {
                &.setInput {
                  .text {
                    line-height: 36px !important;
                  }
                }
              }
            }
         }
     }

}
