.GroupList {

  &.questionObj {
    display: inline-block;
    vertical-align: bottom;
  }

  .slot{
    background: inherit;
  }

  .popover {
    max-width: 60%;

    .groupListPopover {
      .GroupList-draggable {
        border-top: none;
        border-bottom: none;
        max-height: inherit;
      }
    }
  }

  .draggable {
    float: none;
  }

  .multichoice-audio {
    margin-left: 0;
  }

  .questionWrapper {
    width: auto !important;
    clear: none !important;
  }

  .groupList-container {
    min-width: 150px;
    border: 2px solid #F9F9F9;
    margin-top: 20px;
    min-height: 205px;

    .mainContainer {
      height: 203px;
    }
  }

  .questionMainContainer {
    text-align: center;
    overflow: auto;

    .questionWrapper {
      width: auto !important;
      clear: none !important;
      float: none;
    }
  }

  .containerrr {
    width: 100%;
  }

  .mainContainer {
    border: solid 1px;

    .header {
      min-width: 144px;
      border-bottom: solid 1px;
      pointer-events: none;
      img {
        pointer-events: all;
      }
    }
  }

  .peg {
    width: auto !important;
    padding-right: 8px;
    background: #F9F9F9;
    &:focus {
      outline: 2px solid #1351b5 !important;
    }
  }

  .itemContainer {
    height: 155px;
    overflow-y: auto;

    .item {
      padding: 0;

      .itemAudioTxt {
        text-align: left;
        margin: 0 5px;
      }
    }
  }

  .answerAudio {
    margin-top: 5px;
    border: 1px solid;
    width: 22px;
  }
}

.GroupList-draggable {
  text-align: center;

  .play-button img {
    padding: 5px;
  }
}

.inverted {
  .GroupList .peg {
    width: auto !important;
    padding-right: 8px;
    background-color: #000;
    border: 1px solid #fff;
  }
}

#GroupListAnswerset:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.tooltip-Group {

  width: 45% !important;

  .popover-inner {

    width: 100% !important;

  }

}


.fontScaleX0 {
  .GroupList {
    .groupList-container  {
        .correct-answer-text, .wrong-answer-text {
                padding-right: 15px !important;
                background-size: 5px !important;
        }
    }
  }
}

.fontScaleX1 {
  .GroupList {
    .groupList-container  {
        .correct-answer-text, .wrong-answer-text {
                padding-right: 16px !important;
                background-size: 8px !important;
            }
        }
    }
 }


.fontScaleX3 {
  .GroupList {
    .groupList-container  {
        .correct-answer-text, .wrong-answer-text {
                padding-right: 22px !important;
                background-size: 16px !important;
                background-position-x: 99% !important;

        }
    }
     @media only screen and (min-width : 1224px) and (max-width: 1400px) {
         .questionMainContainer {
             height:initial !important;
         }
     }
  }
}

.fontScaleX4 {
  .GroupList {
    .groupList-container {
        .correct-answer-text, .wrong-answer-text {
                padding-right: 30px !important;
                background-size: 22px !important;
                background-position-x: 99% !important;

        }
    }
    @media only screen and (min-width : 1224px) and (max-width: 1400px) {
        .questionMainContainer {
            height:initial !important;
        }
    }
  }
}

.GroupList {
  .fontScaleX2 {
    .tab-content {
      .container {
        &.GroupList {
          width: 100%;
          padding: 20px 0 0 0;
          .sectionContainer {
            margin: 0 50px;
          }
        }
      }
    }
  }
}