.groupHeader-container{
  min-width: 150px;
  border: 2px solid #F9F9F9;
  margin-top: 20px;
  min-height: 202px;

  .mainContainer {
    border: solid 1px;
    height: 210px;

    .header {
      width: 0;
      min-width: 144px;
    }
  }
}

.GroupHeading{
    padding-left: 0px !important;

  &.questionObj{
    display: inline-block;
  }

  .itemContainer{
    text-align: left;
    width: 100%;

    .childItemContainer {
        height: 155px;
        overflow-y: auto;
        width: 100%;
    }
  }

  .containerrr {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;

    .questionMainContainer {
      text-align: center;
      overflow: auto;

      .questionWrapper {
        width: auto !important;
        clear: none !important;
        float: none;

        &.groupheading {
            float: left;
        }
      }
    }
  }

  .popover {
   // max-width: 325px;
    .popover-content {
      padding: 0;

      .groupHeadingPopover {
        padding: 10px 10px 16px 16px;
        text-align: center;
        margin-bottom: 0;

        .peg {
          min-width: 229px;
        }
      }
    }
  }
}

.groupHeader-container{
  .slot{
    border-top-left-radius: 0;
    border: none;
    border-bottom: 1px solid;
    border-top-right-radius: 0;


  }

  .popover {
          max-width: 300px;
      }
}



.groupHeader-container .slot, .groupList-container .slot {
  margin: 0;
  height: auto !important;
  min-height: 44px;
  width: 100%;
  padding: 5px;
  pointer-events: none;
}

.groupHeader-container .item, .groupList-container .item {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  font-size: inherit;
  font-weight: normal;
}

.GroupHeading-draggable{
  text-align: center;
  
  .draggable{
    float: none;
  }

  .peg {
    width: auto !important;
    padding-right: 8px;
    background: white;
  }
}

.GroupHeading-draggable,
.GroupList-draggable,
.WordScramble-draggable,
.DragDropColumn-draggable,
.wordScrambleClick .buttons-main {
  clear: both;
  float: none;
  width: 100%;
  font-weight: bold;
  border-top: 2px solid lightgray;
  margin-top: 5px;
  border-bottom: 2px solid lightgray;
}

.GroupHeading-draggable .items, .GroupList-draggable .items, .WordScramble-draggable .items {
  background-color: #F9F9F9;
  padding: 2px 5px;
  width: auto !important;
  min-width: 120px;
}
//
//.GroupHeading .questionWrapper{
//  width: auto !important;
//  clear: none !important;
//  margin-right: 30px;
//}

.GroupHeading .attempts, .GroupList .attempts, .WordScramble .attempts, .WordScrambleClick .attempts {
  margin-top: 5px;
  text-align: center;
}

.fontScaleX0 {
  .GroupHeading {
    .groupHeader-container  {
        .slot {
            &.correct-answer, &.wrong-answer {
                padding-right: 15px !important;
                background-size: 5px !important;
            }
        }
    }
  }
}

.fontScaleX1 {
  .GroupHeading {
    .groupHeader-container  {
        .slot {
            &.correct-answer, &.wrong-answer {
                padding-right: 16px !important;
                background-size: 8px !important;
            }
        }
    }
  }
}

.fontScaleX3 {
  .GroupHeading {
    .groupHeader-container  {
        .slot {
            &.correct-answer, &.wrong-answer {
                padding-right: 22px !important;
                background-size: 16px !important;
                background-position-x: 99% !important;
            }
        }
    }
     @media only screen and (min-width : 1224px) and (max-width: 1400px) {
         .questionMainContainer {
             height:initial !important;
         }
     }
  }
}

.fontScaleX4 {
  .GroupHeading {
    .groupHeader-container  {
        .slot {
            &.correct-answer, &.wrong-answer {
                padding-right: 30px !important;
                background-size: 22px !important;
                background-position-x: 99% !important;
            }
        }
    }
       @media only screen and (min-width : 1224px) and (max-width: 1400px) {
            .questionMainContainer {
                height:initial !important;
            }
        }
  }
}

.GroupHeading {
  .questionWrapper {
    &.button {
      display: inline-flex;
      .singleButtonSet {
        .mc-choices {
          .ArraybuttonAnswersetDiv {
            margin-left: 5px;
            label {
              display: inline-block;
              float: none;
            }
            span {
              display: inline-flex;
              align-items: center;
              label {
                display: inline-block;
                float: left;
                margin: 0;
                .buttonAnswersContainer {
                  .ArraySpanButtonLabel {
                    margin: 0 2px;
                  }
                }
              }
              .button_tooltip {
                margin: 0 1px;
              }
            }
          }
        }
      }
    }
  }
}
