.ListenAndRepeat {
  .listenQuestion {
    width: auto;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 50px;
    background: #f6f6f6;
    border: 1px solid #000000;
    color: #000000;

    &:focus:active {
        background: #f6f6f6;
        border: 1px solid #000000;
        color: #000000;
        outline-color: #c4c4c4;
    }
  }

  .listenImageQuestion {
    width: auto;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 154px;
    height: 70px;
    outline: none;
  }

  .listen-repeat-selected-image-text {
    width: 60%;
    height: 100px;
    background-color: white;
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    line-height: 102px;
    margin-bottom: 15px;
    border: 1px solid black;
    word-wrap: break-word;
    line-height: 52px;
    overflow: auto;
    color:#000;

    .text {
      display: inline-block;
      margin-top: 21px;
      font-size: xx-large;
    }
  }


  .listen-repeat-selected-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100px;
    background-color: white;
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 1px solid black;
    word-wrap: break-word;
    overflow: auto;
    color:#000;

    .text {
      display: inline-block;
      font-size: xx-large;
      padding-left: 10px;
      padding-right: 10px;
    }
  }


  .listen-repeat-selected-image {
    text-align: center;
    margin-top: 12px;
    width: auto;
    margin-bottom: 10px;
    min-width: 154px;
    height: 70px;
  }
  .listen-repeat {
    display: inline-block;
  }

  .correct-answer {
    opacity: 0.65;
  }

}

.fontScaleX0 {
    .ListenAndRepeat {
      .correct-answer, .wrong-answer {
          padding-right: 15px !important;
          background-size: 5px !important;
      }
      .listen-repeat-selected-text {
        .text {
            font-size: large;
        }
      }
    }
}

.fontScaleX1 {
    .ListenAndRepeat {
      .correct-answer, .wrong-answer {
           padding-right: 16px !important;
           background-size: 8px !important;
      }
      .listen-repeat-selected-text {
        .text {
            font-size: x-large;
        }
      }
    }
}

.fontScaleX2 {
    .ListenAndRepeat {
      .correct-answer, .wrong-answer {
           padding-right: 20px !important;
           background-position-x: 96% !important;
      }
    }
}

.fontScaleX3 {
    .ListenAndRepeat {
      .correct-answer, .wrong-answer {
          padding-right: 22px !important;
          background-size: 16px !important;
          background-position-x: 99% !important;
      }
      .listen-repeat-selected-text {
        height: 150px;
        .text {
            font-size: 48px;
        }
      }
    }
}

.fontScaleX4 {
    .ListenAndRepeat {
      .correct-answer, .wrong-answer {
          padding-right: 30px !important;
          background-size: 22px !important;
          background-position-x: 99% !important;
      }

      .listen-repeat-selected-text {
        height: 200px;
        .text {
            font-size: 64px;
        }
      }
    }
}

