.matchSpan {
  display: block !important;
  margin-top: 0 !important;
  width: 50px;
  min-width: 0 !important;
  float: left;
  div {
    margin-top: 0 !important;
  }
}

.match-text {
  float: left;
  margin-top: 0 !important;
}

.match-disabled-span {
  text-overflow: ellipsis !important;
  margin-left: 1px;
  display: inline-block !important;
  width: 44px !important;
  margin-bottom: 2px;
  background-color: #EEE;
  overflow: hidden;
  white-space: nowrap;
  margin-top: -8px;
  margin-right: 9px;
  text-align: center;
}

.match-answer-feedback {
  position: absolute;
  left: -42px;
  top: -5px;
}

.Match {
  padding-bottom: 0 !important;

  .questionMainContainer {
    display: block;
    float: left;
    clear: none !important;
    margin-bottom: 10px;
    width: 100%;
  }

  .shuffle {
    .questionMainContainer {
      width: 100%;
    }
  }

  .containerrr {
    float: left;
    margin-left: 12.5%;

    .shuffleContainer {
      width: 54%;
      float: left;
    }

    .shuffleOptionsContainer {
      width: 46%;
      float: left;
    }
  }

  .s-img {
    max-width: 40%;
    float: left;
    margin-right: 7%;
    padding-top: 0;
  }

  .MatchClassforMod0Img {
    width: 50%;
    text-align: right;
    margin: 0px;
    padding: 0px 20px 0px 0px;
    max-width: none;

    img {
      width: auto;
      max-height: 350px;
      max-width: 100%;
    }

    .tooltip-SImage {
      .tooltip-inner {
        position: fixed !important;
        top: 50% !important;
        max-width: 600px;
      }
    }

    @media only screen and (min-device-width: 1024px) and (max-device-width: 1400px) {
      .tooltip-SImage {
        .tooltip-inner {
          top: 35% !important;
          max-width: none;
          left: 0;
          right: 0;
          min-width: 20%;
          max-width: 85%;
        }
      }
    }

    @media screen and (min-device-width: 1400px) {
      .tooltip-SImage {
        .tooltip-inner {
          position: relative !important;
        }
      }
    }

    @media only screen and (device-width: 768px) {
      .tooltip-SImage {
        .tooltip-inner {
          position: relative !important;
        }
      }
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
      .tooltip-SImage {
        .tooltip-inner {
          position: relative !important;
        }
      }
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
      .tooltip-SImage {
        .tooltip-inner {
          position: fixed !important;
        }
      }
    }

    @-moz-document url-prefix() {
      .tooltip-SImage {
        .tooltip-inner {
          position: relative !important;
        }
      }
    }

  }

  .MatchImgParentDiv {
    .tooltip-SImage .tooltip-inner {
      position: relative;
    }
  }

  .input {
    .answer-feedback {
      top: 9px;
    }
  }

  .fillText {
    margin-bottom: 0px;
  }

}

.ParentImgDivMatch {
  width: 50% !important;
  margin-left: 0% !important;
  padding-left: 60px;

  .questionMainContainer {
    padding-top: 15px
  }

  .form-control {
    margin: 0px 5px;
    padding-left: 2px;
  }

  .fillText {
    line-height: 34px;
  }

}

.match-input {
  display: inline !important;
  width: 50px !important;
  margin-top: 0 !important;
}

.match-question {
  margin-left: 26%;
}

.match-question-no {
  padding-top: 8px;
  margin-left: 6%;
}

.match-section-image {
  float: left;
  margin-bottom: 5%;
}

.Match.btn {
  background-color: #c7254e;
}

.fontScaleX0 {
  .Match {
    .question-no {
      line-height: 30px;
    }

    .questionAsset {
      .audioContainer {
        margin-top: 6px;
      }
    }
  }
}

.fontScaleX1 {
  .Match {
    .question-no {
      line-height: 30px;
    }
  }
}

.fontScaleX3 {
  .Match {
    .question-no {
      top: 0;
    }

    .answer-feedback {
      left: -64px;
    }

    .form-control {
      height: 47px;
    }

    .MatchClassforMod0Img {

      .tooltip-SImage {
        .tooltip-inner {
          top: 50%;
          max-width: none;
        }
      }

    }

    .ParentImgDivMatch {

      .fillText {
        line-height: 47px;
      }

      .questionNumber {
        height: 47px;
      }

    }

    .input {
      .answer-feedback {
        top: 20px;
      }
    }
  }
}

.fontScaleX4 {
  .Match {
    .input {
      .answer-feedback {
        top: 20px;
        left: -60px
      }
    }

    .form-control {
      height: 50px;
      padding-left: 0px;
      padding-right: 10px;
    }

    .questionAsset {
      .audioContainer {
        margin-left: -3px;
      }
    }

    .MatchClassforMod0Img {

      .tooltip-SImage {
        .tooltip-inner {
          top: 15% !important;
          max-width: none;
        }
      }

    }

    .ParentImgDivMatch {

      .fillText {
        line-height: 50px;
      }

      .questionNumber {
        height: 50px;

        .question-no {
            left: -30px;
        }
      }

    }
  }
}

.Match {
  .questionWrapper {
    &.button {
      .questionNumber {
        .question-no {
          margin: 0;
        }
      }
      .mc-choices {
        span {
          display: inline-flex;
          align-items: center;
        }
        .buttonAnswersContainer {
          .button_tooltip {
            margin: 0 1px;
          }
        }
      }
    }
    &.dropdown {
      .mc-choices {
        .element {
          label {
            &.dropdownText { 
              line-height: 40px;
            }
          }
          span {
            .dropdown {
              float: none;
            }
          }
        }
      }
    }
  }
}

// IE10 CSS
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
  .Match {
    .questionWrapper {
      &.button {
        .questionNumber {
          .inline {
            .question-no {
              line-height: 1.3;
              margin: 10px 0;
            }
          }
        }
        .answerSetContainer {
          display: inline-block;
          label {
            &.questionText {
              line-height: 37px;
            }
          }
          .mc-choices {
            .buttonText {
              line-height: 37px;
            }
          }
        }
      }
    }
  }
}