.MultipleChoice {
  width: 100%;

  .questionsText{
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &.singleQuestion{
    .questionWrapper{
      width: 100%;
    }
  }

  &.sectionContainer {
    text-align: center;
    padding-right: 5%;
    margin-bottom: 20px;

    .audioContainer {
      margin-bottom: 10px;

      .audioImg{
        margin: 5px;
      }

      .txt{
        font-weight: bold;
      }
    }
  }

  .FinalQuizMultipleChoice {
    &.noTxt {
      margin-left: 29px;
    }

    .q-img {
        width: 100px;
    }
  }

  .questionText {
    width: auto;
    float: left;
    display: inline-block;
    padding-top: 1px;
    margin: 0px !important;
  }
  &.btn {
    background-color: cornflowerblue;
  }

  input[type="radio"], input[type="checkbox"] {
    float: left;
    line-height: normal;
    margin: 0px !important;
  }

  .questionWrapper {
    width: 32%;
    margin-right: 1%;
    padding: 0 2% 0 1%;
    clear: none !important;

    .question-no {
        bottom: initial;
    }
  }
  .mc-audio {
    margin-left: -14px;
  }

  .mc-choices label {
    display: block;
    clear: both;
    margin-left: -14px;
  }
  .questionAsset {
    width: 10%;
    display: inline;
  }
  .audio_question {
    width: 6%;
    margin-top: -7px;
    height: 0px;
  }
  .s-img {
    .tooltip-audio {
      .tooltip-inner {
        color: #080808;
        background-color: rgba(0, 0, 0, 0.65);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
        font-size: 1.2em;
        font-weight: bold;
        color: #ffffff;
        padding: 20px;
        white-space: pre-wrap;
        position: fixed;
        top: 70%;
        right: 0;
        margin: 0 auto;
        max-width: 600px;
      }

      .tooltip-arrow {
        display: none;
      }
    }
  }
}

.audio_question {
  float: left;
  padding-left: 0px;
  width: 40px;
}

.multipleChoiceContainer {
  display: block;
  clear: both;

  .mainContainer {
    display: inline-flex;
    display: -webkit-inline-flex;
    width: 100%;

    &.audioTxt{
      margin-left: 14px;
    }
  }
}

.multichoice-audio-image {
  margin-left: 60px;
}

.multichoice-audio {
  margin-left: 44px;
}

.multiplechoice_label {
  clear: right !important;
  margin-left: 0 !important;
  margin: 4px 3px 0.3px 8px;
  cursor: pointer;
  font-weight: normal !important;
  font-size: inherit !important;;
}

.multipleChoiceContainer {
    p {
        margin-bottom: 0px;
    }
}

.MultipleChoiceRadio {
  margin: 2px 3px 0.3px 8px;
  padding: 5px;
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
  //.foo CSS
  .MultipleChoiceRadio {
    margin-top:8px !important;
  }
   .fontScaleX4{
     input[type="radio"], input[type="checkbox"] {
       margin-top: 9px!important;
     }
  }
  .fontScaleX3{
     input[type="radio"], input[type="checkbox"] {
           margin-top:7px !important;
     }
  }
}

.MultiChoiceMultiAnswer {
  .questionNumber{
    height: 18px;
  }
  .question-no {
    &.img {
      top: 150px;
      display:inline;
    }
  }
  @media screen and (-webkit-min-device-pixel-ratio:0){
   .MultiChoiceMultiAnswer  {
    .question-no {
        &.img {
          top: 149px;
        }
    }
   }
  }

  .multiplechoice_label {
    margin: 6px 3px 0.3px 8px;
  }

  .q-img {
    height: 150px;
  }

  .questionText {
    width: 90%;
    float: left;
    display: inline-block;
  }

  width: 100%;

  .questionWrapper {
    @extend .col-md-6;
    clear: none;

    .multiChoiceMultiAnswer {
      padding-left: 0;
      margin-left: -7px;

      @extend .col-md-6;
      float: left;
    }
  }
}

.fontScaleX0 {
  .MultipleChoice {
    .question-no {
      top: 0;
    }

    .multiplechoice_label {
      margin-top: 8px;
    }

    .q-img {
      width: 50px;
    }
  }

  .MultiChoiceMultiAnswer {
    .multiplechoice_label {
      margin-top: 11px;
    }
  }
}

.fontScaleX1 {
  &.windows {
    .MultipleChoice {
      .multiplechoice_label {
        margin-top: 7px;
      }
    }
  }

  .MultipleChoice {
    .question-no {
      top: 0;
    }

    .multiplechoice_label {
      margin-top: 5px;
    }

    .q-img {
     width: 75px;
   }
  }
}

.fontScaleX3 {
  .MultipleChoice {
    .question-no {
      top: 4px;
    }

    .multiplechoice_label {
      margin-top: 3px;
    }

    .audio_question {
        margin-top: 0px;
    }

    .q-img {
      width: 150px;
    }

    input[type="radio"] {
          width: 15px;
          height: 15px;
    }

  }
  .MultiChoiceMultiAnswer {
    .question-no {
      &.img {
        top: 156px;
      }
    }

    .multiplechoice_label {
      margin-top: 0;
    }
  }
}

.fontScaleX4 {
  .MultipleChoice {
    .question-no {
      top: 8px;
    }

    .feedback {
      margin-top: -2px;
    }

    .multiplechoice_label {
      margin-top: 0;
    }

     .audio_question {
          margin-top: 0px;
      }

      .q-img {
        width: 200px;
      }

      input[type="radio"] {
        height: 20px;
        width: 20px;
      }
  }
  .MultiChoiceMultiAnswer {
    .question-no {
      &.img {
        top: 159px;
      }
    }

    .multiplechoice_label {
      margin-top: -3px;
    }

    .feedback {
      margin-top: -3px;
    }
  }
}

 
.MultipleChoice {
  .questionWrapper {
    &.dropdown {
      margin-bottom: 20px; 
      .mc-choices {
        div {
          display: inline-block;
          margin-left: 5px;
          &.element {
            display: inline;
            margin: 0;
            label {
              margin: 1px 0;
              &.dropdownText {
                display: inline-flex;
              }
              @media screen and (-webkit-min-device-pixel-ratio:0) { 
                ::i-block-chrome, .dropdownText {
                 line-height: 1.4;
                }
              }
              &.singleDropDownSpan {
                display: inline;
              }
            }
            span {
              .dropdown {
                float: none;
              }
            } 
          }
        }
        .dropdownText {
          display: inline-block;
          margin: 0;
        }
      }
      @media screen and (-webkit-min-device-pixel-ratio:0) { 
        ::i-block-chrome,
        .questionNumber {
          &.multiAnswerQuestionNumber {
            .inline {
              label {
                &.question-no {
                  bottom: 0;
                  margin: 0;
                  line-height: 1.6;
                }
              }
            }
          }
        }
      }
    }
    &.input {
      .answerSetContainer {
       .mc-choices {
        &.mc-audio {
          margin-left: 0; 
        }
        .setInput, .inputText {
         label {
            display: inline-flex;
            margin-left: 0;
            clear: none;
            margin-bottom: 25px;
          }
        }
        .multiInput_text {
            display: inline-block;
            clear: none;
            margin-left: 0; 
            margin-bottom: 25px;
          }
        } 
      }
    }
    &.button {
      .mc-choices {
        &.mc-audio {
          margin-left: 0;
        }
        .ArraybuttonAnswersetDiv {
          margin-left: 44px;
          span {
            display: inline-flex;
            label {
              display: inline;
              clear: none;
              margin: 3px 0;
            }
          }
          label {
            display: inline;
            clear: none;
            margin: 3px 0;
          }
          .buttonAnswersContainer{
            .button_tooltip {
              margin: 0 1px;
            }
          }
        }
      } 
      .multichoice-audio {
        .ArraybuttonAnswersetDiv {
          margin-left: 0;
          span {
            display: inline-flex;
            label {
              display: inline;
              clear: none;
              margin:3px 0;
            }
          }
          label {
              display: inline;
              clear: none;
              margin:3px 0;
          }
        }
        label {
          display: inline;
          clear: none;
          margin-left: 0;
          margin-bottom: 25px;
        }
      }
      .answerSetContainer {
        .mc-choices {
          span {
            display: inline-block;
            label {
              display: inline;
              clear: none;
              margin-left: 0;
            }
            .buttonAnswersContainer {
              float: none;
              .button_tooltip {
                margin: 0 1px;
              }
            }
          }
        }
      }
    }
    &.variableinput {
      .answerSetContainer {
        label {
          display: block;
          clear: both;
          margin-left: 0;
        }
      }  
      .mc-choices {
        display: inline-block;
        .elemensetInput{
          clear: both;
          display: inline;
          label {
            display: inline;
            clear: none; 
            margin: 5px 0;
          }
          div {
            display: inline-block;
            .form-control {
              margin: 0 5px 0px 5px;
            }
          }
        }
      }
    }
  } 
}

.MultiChoiceMultiAnswer {
  .questionWrapper {
    &.dropdown {
      margin-bottom: 20px; 
      .mc-choices {
        .questionText {
          line-height: 19px;
          @-moz-document url-prefix() {
           line-height: 20px;
            margin-top: -1px; 
          }
        }
        div {
          display: inline-block;
          margin-left: 5px;
          &.element {
            display: inline;
            margin: 0;
            label {
              margin: 1px 0;
              &.dropdownText {
                display: inline-flex;
              }
            }
            span {
              .dropdown {
                float: none;
              }
            } 
          }
        }
        .dropdownText {
          display: inline-block;
          margin: 0;
        }
      }
      .questionNumber {
        &.multiAnswerQuestionNumber {
          .inline {
            label {
              &.question-no {
                line-height: 1.4;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

.MultipleChoice {
  .questionWrapper {
    &.button {
      width: 100%;
    }
  }
}

// IE10 CSS
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
  .MultipleChoice {
    .questionWrapper {
      &.multiplechoice {
        .questionNumber {
          .inline {
            .question-no {
              margin: 8px 0;
            }
          }
        }
        .answerSetContainer {
          line-height: 2.5;
        }
      }
      &.input {
        .answerSetContainer {
          .mc-choices {
            .setInput {
              label {
                &.text {
                  &.singleDropDownSpan {
                    line-height: 6px;
                  }
                }
              }
            }
            .inputText  {
              label {
                &.multiInput_text {
                  line-height: 1.4;
                }
              }
            } 
          }
        }
      }
      &.variableinput {
        .questionNumber{
          &.multiAnswerQuestionNumber{
            .inline{
              label{
                &.question-no{
                  margin: 1px 0;
                }
              }
            }
          }
        }
        .answerSetContainer {
          label {
            &.questionText{
              line-height: 1.4;
            }
          }
        }
      }
    }
    &.singleQuestion {
      .questionWrapper {
        &.input {
          .questionNumber {
            .inline {
              .question-no {
                margin: 10px 0;
                line-height: 1.4;
              }
            }
          }
          .mc-choices {
            display: inline-block;
            label {
              &.questionText {
                line-height: 37px;
              }
            }
            .setInput {
              display: inline-block;
              label {
                &.fillText {
                  display: inline-block;
                  float: none;
                  margin-left: 0;
                  margin-bottom: 20px;
                  line-height: 1.4;
                }
              }
            }
          }
        }
      }
    }
  }
}