.onboarding-container {
    overflow-y: auto;
    max-height: calc(100vh - 112px);
    .header {
    height: 450px;
    width: 100%;
    background: #6faddc;
}

.form-container {
    width: 75%;
    height: 100%;
    margin: -256px auto 0;
    background: #f2f2f2;-webkit-box-shadow: 0px 9px 13px -5px rgba(207,207,207,1);
    -moz-box-shadow: 0px 9px 13px -5px rgba(207,207,207,1);
    box-shadow: 0px 9px 13px -5px rgba(207,207,207,1);
    .form-header {
        background: #4e83c3;
        height: 88px;
        color: #fff;
        padding: 5px 50px 0px;
    }
    .form-body {
        padding: 30px 80px;
        margin-top: 20px;
        .form-group {
            display: flex;
            margin-bottom: 26px;
            label {
                text-align: left;
            }
            input,
            select {
                margin-left: 34px;
                height: 36px;
                border-radius: 0;
            }
            &.wd-50 {
                margin-left: 28px;
                label {
                    width: 100px;
                }
                input {
                    width: 258px;
                    text-align: left;
                    padding-left: 5px;
                }
            }
            &.wd-100 {
                label {
                    width: 70px;
                }
                select {
                    width: 378px;
                }
            }
            &.md-50 {
                margin-left: 10px;
                input {
                    width: 378px;
                }
            }
            .help-block {
                margin-left: 36px;
                color: #c7254e;

            }
        }
        .form-check-input {
            display: block;
            clear: both;
            input[type="radio"] {
                margin: 4px 10px 0px 0px;
            }
        }
    }
    .form-footer {
        height: 100px;
        background: #fff;
        text-align: right;
        padding: 27px 40px;
        border-bottom: 5px solid #eeeeee;
        .btn-submit {
            background: #f69431;
            color: #fff;
            border-radius: 0;
            width: 144px;
            height: 39px;
        }
    }
    .question-header {
        margin-left: 20px;
    }
    .audio-container {
        text-align: center;
        position: relative;
        padding: 20px 0;
        .btn-primary {
            outline: 0 none;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    .cover {
        position: absolute;
        width: 33px;
        height: 33px;
        display: block;
        left: 32%;
        background: #f2f2f2;
        z-index: 999;
    }
    .results-headers {
        margin-left: 20px;
    }
    .results {
        margin-left: 20px;
    }
}
.particles{
    height: 300px;
}
}

.questionnaire-container {
    .header {
        height: 410px;
        width: 100%;
        background: #6faddc;
    }
    .qform-container {
        width: 75%;
        margin: -356px auto 0;
        background: #f2f2f2;-webkit-box-shadow: 0px 9px 13px -5px rgba(207,207,207,1);
        -moz-box-shadow: 0px 9px 13px -5px rgba(207,207,207,1);
        box-shadow: 0px 9px 13px -5px rgba(207,207,207,1);
        .qform-header {
            background: #4e83c3;
            height: 88px;
            color: #fff;
            padding: 12px 50px 0px;
            .headerTitle{
                font-size : 2em;
            }
        }
        .sqform-header {
            background: #4e83c3;
            height: 88px;
            color: #fff;
            padding: 5px 50px 0px;
        }
        .qform-body {
            .fill-row {
                margin-right: 0px;
            }
            .sqfill-row {
                margin-right: 0px;
            }
            .qinput {
                background: #ffffff;
                height: 572px;
                .user-ans {
                    padding-left: 35px;
                    padding-top: 60px;
                    padding-bottom: 70px;
                    .uanswer {
                        font-size: 1.3em;
                        font-weight: bold;
                        margin-left: 5px;
                        padding-bottom: 12px;

                    }
                    .fill-input {
                        text-align: left;
                        width: 100%;
                        border-radius: 0px;
                        margin-left: -8px;
                         &:focus {
                            outline: 2px solid #1351b5;
                            outline-offset: 3px;
                            text-decoration: none;
                            border: 1px solid #ccc;
                         }
                    }
                    .sqfill-input {
                        text-align: left;
                        width: 100%;
                        border-radius: 0px;
                        margin-left: -8px;
                    }
                }
                .qinput-choices {
                    padding-left: 35px;
                    padding-top: 42px;
                    padding-bottom: 30px;
                    font-size: 1.3em;
                    .qform-check-input {
                        display: block;
                        clear: both;
                        input[type="radio"] {
                            margin: 4px 7px 0px 0px;
                            &:focus {
                                outline: 4px solid #1351b5;
                                width: 17px;
                                height: 17px;
                            }
                        }
                        &:focus {
                            outline:none!important;
                        }
                    }
                }
                .fill-footer {
                    text-align: right;
                    padding-top: 115px;
                    padding-right: 35px;
                    .btn-qsubmit {
                        background: #f69431;
                        color: #fff;
                        border-radius: 0;
                        padding: 10px 30px;
                        font-weight: bold;
                        .q-text {
                            font-size: 18px;
                        }
                    }
                }
            }
            .qmultiple {
                background: #ffffff;
                height: 572px;
                .qmultiple-div {
                    &:focus {
                        outline: 2px solid #1351b5;
                    }
                }
                .tooltip-mult-audio .tooltip-inner {
                    background-color: rgba(0, 0, 0, 0.65);
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
                    font-size: 1.2em;
                    color: #ffffff;
                    padding: 20px;
                    white-space: pre-wrap;
                    width: 600px;
                    max-width: 600px;
                    text-align: left;
                    font-weight: bold;
                }
                .tooltip-mult-audio .tooltip-arrow {
                  display: none;
                }
                .qinput-multiple {
                    padding-left: 35px;
                    padding-top: 42px;
                    padding-bottom: 30px;
                    font-size: 1.3em;
                    .qform-check-multiple {
                        display: block;
                        clear: both;
                        input[type="radio"] {
                            margin: 4px 9px 0px 0px;
                            &:focus {
                                outline: 4px solid #1351b5;
                                width: 17px;
                                height: 17px;
                            } 
                        }
                        &:focus {
                            outline:none;
                        }
                    }
                }
            }
            .q-sidebar {
                background-color: #e5e3e3;
                height: 572px;
                padding-top: 123px;
                padding-left: 70px;
                .question-number {
                    color: #4e83c3;
                    font-weight: bold;
                    padding-bottom: 15px;
                    font-size: 1.4em;
                }
                .question-title {
                    font-weight: bold;
                    font-size: 1.4em;
                }
            }
            .fill-questions-container {
                padding-top: 123px;
                padding-left: 70px;
                .question-number {
                    color: #4e83c3;
                    font-weight: bold;
                    padding-bottom: 15px;
                    font-size: 1.4em;
                }
                .question-title {
                    font-weight: bold;
                    font-size: 1.4em;
                }
            }
            .sqfill-footer {
                text-align: right;
                padding-top: 115px;
                padding-right: 45px;
                .btn-qsubmit {
                    background: #f69431;
                    color: #fff;
                    border-radius: 0;
                    width: 180px;
                    height: 50px;
                    font-weight: bold;
                    .q-text {
                        font-size: 18px;
                    }
                }
            }
            .questionnaire-footer {
                text-align: right;
                padding-top: 85px;
                padding-right: 5px;
                .btn-qsubmit {
                    background: #f69431;
                    color: #fff;
                    border-radius: 0;
                    width: 180px;
                    height: 50px;
                    font-weight: bold;
                    .q-text {
                        font-size: 18px;
                    }
                }
            }
            .sq-footer {
                text-align: right;
                padding-top: 75px;
                padding-right: 35px;
                .btn-qsubmit {
                    background: #f69431;
                    color: #fff;
                    border-radius: 0;
                    width: 180px;
                    height: 50px;
                    font-weight: bold;
                    .q-text {
                        font-size: 18px;
                    }
                }
            }
            .st-footer {
                text-align: right;
                padding-top: 75px;
                padding-right: 45px;
                .btn-qsubmit {
                    background: #f69431;
                    color: #fff;
                    border-radius: 0;
                    width: 180px;
                    height: 50px;
                    font-weight: bold;
                    .q-text {
                        font-size: 18px;
                    }
                }
            }
            input[type="radio"] {
                &.fake-radio {
                    -moz-appearance: none;
                    position: relative;
                    margin:0;
                    &:focus {
                        outline: 2px solid #1351b5;
                        height: 15px;
                        width: 15px;
                        margin: 5px 2px 0px 0px;
                    }
                    &:before{
                        content: "";
                        background: white;
                        position: absolute;
                        width: 17px;
                        height:17px;
                        border-radius: 100%;
                        border: 2px solid grey;
                        z-index:2;
                        left: 0;
                    }
                    &:after{
                        content: "";
                        background: #f69431;
                        position: absolute;
                        width: 10px;
                        height:10px;
                        border-radius: 100%;
                        z-index:4;
                        opacity:0;
                        left: 0;
                    }
                }
            }
            input[type=radio]:checked {
                &.fake-radio {
                    &:focus {
                        outline: none;
                    }
                    &:before {
                        -moz-appearance: none;
                        border: none;
                    }
                    &:after {
                        content: "";
                        background: #f69431;
                        position: absolute;
                        width: 17px;
                        height:17px;
                        border-radius: 100%;
                        z-index:4;
                        opacity:1 !important;
                        left: -1px;
                        top: 0px;
                    }
                }
            }
            .q-audio {
                padding-left: 30px;
                padding-top: 42px;
                padding-bottom: 30px;
                display: flex;
                align-items: center;
                .qplay-btn {
                    height: 74px;
                    width: 74px;
                    &:focus {
                        outline: none;
                    }
                }
                .q-audio-label {
                    color: grey;
                    font-weight: bold;
                    font-size: 1.3em;
                    margin-left: 20px;
                }
                #myAudio {
                    display: none;
                }
            }
            .q-audio-fill {
                padding-left: 30px;
                padding-top: 42px;
                padding-bottom: 30px;
                display: flex;
                align-items: center;
                .qplay-fill-div{
                    &:focus {
                      outline: 2px solid #1351b5;;
                    }
                }
                .qplay-fill-btn {
                    height: 74px;
                    width: 74px;
                    margin-bottom: 5px;
                    &:focus {
                        outline: none;
                    }
                }
                .xfill-div {
                    &:focus {
                        outline: 2px solid #1351b5;;
                    }
                }
                .xfill-btn {
                    height: 74px;
                    width: 74px;
                    margin-bottom: 5px;
                    &:focus {
                        outline: none!important;
                    }                    
                }
                .xaudio-fill-label {
                    color: grey;
                    font-weight: bold;
                    font-size: 1.3em;
                    margin-left: 10px;                    
                }
                .qaudio-fill-label {
                    color:  #575b6e;
                    font-weight: bold;
                    font-size: 1.3em;
                    margin-left: 20px;
                }
                #myAudio {
                    display: none;
                }
                .tooltip-qaudio .tooltip-inner {
                    background-color: rgba(0, 0, 0, 0.65);
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
                    font-size: 1.2em;
                    font-weight: bold;
                    color: #ffffff;
                    padding: 20px;
                    white-space:
                    pre-wrap; width: 600px;
                    max-width: 600px;
                    text-align: left;
                }
                .tooltip-qaudio .tooltip-arrow {
                  display: none;
                }
            }
            .calculating-loader {
                padding-left: 200px;
                padding-top: 120px;
                .r-loader {
                    padding-top: 120px;
                    .spinner {
                        padding-top: 24px;
                        .loader {
                            border: 5px solid #f69431;
                            border-radius: 50%;
                            border-top: 5px solid #f6f6f6;
                            width: 25px;
                            height: 25px;
                            -webkit-animation: spin 2s linear infinite;
                            animation: spin 2s linear infinite;
                        }
                        /* Safari */
                        @-webkit-keyframes spin {
                          0% { -webkit-transform: rotate(0deg); }
                          100% { -webkit-transform: rotate(360deg); }
                        }

                        @keyframes spin {
                          0% { transform: rotate(0deg); }
                          100% { transform: rotate(360deg); }
                        }
                    }
                    .spinner-text {
                        padding-top: 0px;
                        margin-left: -60px;
                        color: #6faddc;
                    }
                }
            }
            .mresult-text {
                .mresult-body {
                    color: #4e83c3;
                    padding-left: 50px;
                    padding-top: 160px;
                    .m-text {
                        font-size: 26px;
                    }
                }
            }
            .result-footer {
                padding-top: 186px;
                .r-footer {
                    height: 100px;
                    background: #fff;
                    text-align: right;
                    padding: 27px 40px;
                    padding-right: 125px;
                    margin-bottom: -9px;
                    .btn-rsubmit {
                        background: #f69431;
                        color: #fff;
                        border-radius: 0;
                        width: 216px;
                        height: 40px;
                        font-weight: bold;
                    }
                }
            }
        }
        .drag-form {
            margin-bottom: 1px !important;
            margin-right: 0px !important;
            .items {
                display: inline-block;
                min-width: 120px;
                min-height: 30px;
                border: 1px solid;
                margin-left: 10px;
                &:focus {
                    outline: 2px solid #1351b5;
                    outline-offset: 3px;
                    text-decoration: none;
                }
            }
            .drag-questions {
                padding-top: 50px;
                background: #ffffff;
                height: 572px;

                .draggable-audio {
                    padding-bottom: 15px;
                    display: flex;
                    align-items: center;
                    .drag-play-div {
                        &:focus {
                            outline: 2px solid #1351b5;;
                        }
                    }
                    .dragplay-btn {
                        height: 40px;
                        width: 40px;
                        &:focus {
                            outline: none;
                        }
                    }
                    #myAudio {
                        display: none;
                    }
                    .tooltip-dragaudio .tooltip-inner {
                        background-color: rgba(0, 0, 0, 0.65);
                        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
                        font-size: 1.2em;
                        color: #ffffff;
                        padding: 20px;
                        white-space:pre-wrap; 
                        width: 600px;
                        max-width: 600px;
                        text-align: left;
                        font-weight: bold;
                    }
                    .tooltip-dragaudio .tooltip-arrow {
                      display: none;
                    }
                    .drag-audio-label {
                        color: grey;
                        font-weight: bold;
                        margin-left: 14px;
                        padding-top: 10px;
                        white-space: nowrap;
                    }
                    .draggable-answer-container {
                        white-space: nowrap;
                        max-width: 118px;
                        .slot {
                            margin-left: 5px;
                        }
                    }
                }
                .drag-options {
                    padding-top: 22px;                        
                    .drag-answerset {
                        border: 1px black solid;
                        padding: 6px;
                        display: inline-block;
                        line-height: normal;
                        min-width: 135px;
                        font-weight: bold;
                        text-align: center;
                        clear: right;
                        cursor: move;
                        word-wrap: break-word;
                        margin: 3px;
                        padding: 4px;
                    }
                    [ng-drag].dragging {
                        opacity: 0.5;
                        border: solid 1px orange;
                    }
                }
            }
        }
        .drag-footer {
            text-align: right;
            padding-top: 2%;
            padding-right: 35px;
            .btn-drsubmit {
                background: #f69431;
                color: #fff;
                border-radius: 0;
                width: 180px;
                height: 50px;
                font-weight: bold;
            }
        }
        .sqdrag-footer {
            text-align: right;
            padding-top: 115px;
            padding-right: 35px;
            .btn-drsubmit {
                background: #f69431;
                color: #fff;
                border-radius: 0;
                width: 180px;
                height: 50px;
                font-weight: bold;
            }
        }
    }
    .result-container {
        width: 1097px;
        height: 620px;
        margin: -356px auto 0;
        background: #f2f2f2;-webkit-box-shadow: 0px 9px 13px -5px rgba(207,207,207,1);
        -moz-box-shadow: 0px 9px 13px -5px rgba(207,207,207,1);
        box-shadow: 0px 9px 13px -5px rgba(207,207,207,1);
        .result-header {
            background: #4e83c3;
            height: 88px;
            color: #fff;
            padding: 5px 50px 0px;
        }
        .result-body {
            .loader-container {
                padding-left: 200px;
                padding-top: 100px;
                .sq-loader {
                    padding-top: 115px;
                    .sqpinner {
                        padding-top: 24px;
                        .rqloader {
                            border: 5px solid #f69431;
                            border-radius: 50%;
                            border-top: 5px solid #f6f6f6;
                            width: 25px;
                            height: 25px;
                            -webkit-animation: spin 2s linear infinite;
                            animation: spin 2s linear infinite;
                        }
                        /* Safari */
                        @-webkit-keyframes spin {
                          0% { -webkit-transform: rotate(0deg); }
                          100% { -webkit-transform: rotate(360deg); }
                        }

                        @keyframes spin {
                          0% { transform: rotate(0deg); }
                          100% { transform: rotate(360deg); }
                        }
                    }
                    .sqpinner-text {
                        padding-top: 0px;
                        margin-left: -60px;
                        color: #6faddc;
                    }
                }
            }
            .sqresult-text {
                .sqresult-body {
                    color: #4e83c3;
                    padding-left: 50px;
                    padding-top: 150px;
                    .sq-text {
                        font-size: 26px;
                    }
                }
            }
            .footer-container {
                padding-top: 158px;
                .sq-footer {
                    height: 100px;
                    background: #fff;
                    text-align: right;
                    padding: 27px 40px;
                    padding-right: 125px;
                    margin-bottom: -9px;
                    .btn-qrsubmit {
                        background: #f69431;
                        color: #fff;
                        border-radius: 0;
                        width: 216px;
                        height: 40px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.description-container {
    .header {
        height: 410px;
        width: 100%;
        background: #6faddc;
    }
    .descform-container {
        width: 75%;
        height: 100%;
        margin: -356px auto 0;
        background: #f2f2f2;-webkit-box-shadow: 0px 9px 13px -5px rgba(207,207,207,1);
        -moz-box-shadow: 0px 9px 13px -5px rgba(207,207,207,1);
        box-shadow: 0px 9px 13px -5px rgba(207,207,207,1);
        .descform-header {
            background: #4e83c3;
            height: 90px;
            color: #fff;
            padding: 12px 50px 0px;
            .objectiveTitle{
                font-size: 2em;
            }
        }
        .descform-body {
            .descform-text {
                .descform-body {
                    color: #4e83c3;
                    padding-left: 53px;
                    padding-top: 60px;
                    .desc-text {
                        font-size: 1.3em;
                        font-weight: normal;
                    }
                }
            }
            .descresult-footer {
                padding-top: 72px;
                .desc-footer {
                    height: 100px;
                    background: #fff;
                    text-align: right;
                    padding: 30px 40px;
                    padding-right: 50px;
                    .btn-descsubmit {
                        background: #f69431;
                        color: #fff;
                        border-radius: 0;
                        padding: 10px 30px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.placement-info {
    height: 37px;
}
.drag-answerset-popover{
    border: 1px black solid;
    padding: 6px;
    display: inline-block;
    line-height: normal;
    min-width: 135px;
    font-weight: bold;
    text-align: center;
    clear: right;
    cursor: move;
    word-wrap: break-word;
    margin: 3px;
    padding: 4px;

    div{
        &:focus {
            outline: 2px solid #1351b5;
            outline-offset: 3px;
            text-decoration: none;
            border: 1px solid #ccc;
        }
    }
}


.fontScaleX3{
   .descform-container {
       .descform-header {
            padding-top: 2px;
       }
   }
   .qform-container {
       .qform-header {
            padding-top: 2px;
       }
   }
   .fill-questions-container {
      padding-left:21px !important;
   }
   .q-sidebar {
        padding-left:52px !important;
   }
   .qplay-fill-btn {
      height: 78px !important;
      width: 78px !important;
   }
   .qinput-choices {
      .qform-check-input {
           input[type="radio"] {
               margin-top: 11px !important;
            }
            &:focus {
                outline: none;
            }
       }
   }
   .form-control{
       height: 1.5em !important;
   }
   .dragDropSubmitButton{
        padding-top: 23px !important;
        padding-bottom: 40px !important;
    }
    .qinput-multiple {
        .qform-check-multiple {
            input[type="radio"] {
                &.fake-radio {
                    margin: 9px 9px 0px 0px !important; 
                }
            }
            &:focus {
                outline: none;
            }
        }
    }
    .multiSubmitButton {
        padding-top: 36px !important;
    }
    .qinput-multiple {
        &.fireFix {
            input[type="radio"] {
                &.fake-radio {
                    margin: 10px 22px 0px 0px !important;
                }
            }
        }
    }
    .questionnaire-container {
        .qform-container {
            width: 86%!important;
            .drag-form {
                .drag-questions {
                    padding-top: 0px!important;
                }
            }
        }
    }
}

.fontScaleX4{
   .descform-container {
       .descform-header {
            padding-top: 1px;
            height:96px;
       }
   }
    .qform-container {
       .qform-header {
            padding-top: 1px;
            height:96px;
            white-space: nowrap;
       }
    }
    .fill-questions-container {
       padding-left:50px !important;
    }
    .q-sidebar {
        padding-left:50px !important;
        height: 636px !important;
    }
    .qmultiple {
        height: 636px !important;
    }
    .qplay-fill-btn {
       height: 84px !important;
       width: 84px !important;
    }
    .qinput-choices {
       .qform-check-input {
          input[type="radio"] {
              margin-top: 18px !important;
          }
          &:focus {
            outline: none;
          }
       }
    }
    .fill-footer {
        padding-top: 85px!important;
    }
    .form-control{
        height: 2em !important;
    }
    .dragDropSubmitButton {
        padding-top: 60px !important;
        padding-bottom: 40px !important;
    }

    .qinput-multiple {
        .qform-check-multiple {
            input[type="radio"] {
                &.fake-radio {
                    margin: 16px 9px 0px 0px !important; 
                }
            }
            &:focus {
                outline:none;
            }
        }
    }
    .multiSubmitButton {
        padding-top: 36px !important;
    }
    .qinput-multiple {
        &.fireFix {
            input[type="radio"] {
                &.fake-radio {
                    margin: 17px 22px 0px 0px !important;
                }
            }
        }
    }
}

.fireFix {
    input[type="radio"] {
        &.fake-radio {
            margin: 5px 20px 0px 0px !important;
            &:focus {
                outline: 2px solid #1351b5;
                height: 15px;
                width: 15px;
            }
        }
    }
}

// Remove default paading in drag-questions
.questions {
    padding: 5px;
}

// Tablet
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    .questionnaire-container {
        .qform-container {
            .qform-body {
                .fill-questions-container {
                    padding-top: 10px; 
                }
                .q-sidebar {
                    height: 135px;
                    padding-top: 30px;
                }
            }
        }
    }
    .fontScaleX3 {
        .questionnaire-container {
             .qform-container {
                .drag-form {
                    .drag-questions {
                        padding-top: 45px!important;
                    }
                }
             }
        }
    }
    .fontScaleX4 {
        .questionnaire-container {
            .qform-container {
                width: 90%;
                .qform-body {
                    .qinput {
                        .fill-footer {
                            padding-top: 55px!important;
                        }
                    }
                    .q-sidebar {
                        height: 0px;
                        padding-top: 50px;
                    }
                }
            }
        }
    }
}

// Desktop
@media only screen and (min-device-width: 1024px) and (max-device-width: 1599px) {
    .questionnaire-container {
        .qform-container {
            width: 80%!important;
            .qform-body {
                .fill-questions-container {
                    padding-left: 19px;
                }
            }
        }
    }
    .fontScaleX3 {
        .questionnaire-container {
            .qform-container {
                .drag-form {
                    .drag-questions {
                        padding-top: 60px!important;
                    }
                }
            }
        }
        .fill-questions-container {
            padding-left: 9px!important;
        }
    }
    .fontScaleX4 {
        .questionnaire-container {
            max-height: 650px;
            overflow: auto;
            .qform-container {
                width: 95%;
                .qform-body {
                    .fill-questions-container {
                        padding-left: 20px!important; 
                    }
                    .qinput {
                        .fill-footer {
                            padding-top: 35px!important;
                        }
                    }
                }
                .drag-form {
                    .drag-questions {
                        overflow:auto;
                        overflow-y: auto;
                        max-height: 800px;
                        padding-left: 0;
                        padding-top: 10px;
                        padding-right: 0;
                        .draggable-audio {
                            padding-left: 0;
                            padding-right: 0;
                        }
                        .drag-options {
                            padding-left: 0px;
                            padding-top: 0px;
                        }
                    }
                }
            }
        }
    }
}

//Large Desktop 
@media only screen and (min-device-width: 1600px) and (max-device-width: 2000px)  {
    .fontScaleX3 {
        .dragDropSubmitButton {
            padding-top: 60px;
        }
        .questionnaire-container {
            .qform-container {
                .drag-footer {
                    padding-right: 95px!important;
                }
            }
            .qform-body {
                .drag-form {
                    .drag-questions {
                        padding-top: 50px!important;
                    }
                }
                .qinput {
                    .fill-footer {
                        padding-top: 60px!important;
                        padding-right: 95px!important;
                    }
                }
            }
        }
    }
    .fontScaleX4 {
        .questionnaire-container {
            .qform-container {
                .qform-body {
                    .result-footer {
                        .r-footer {
                            padding-right: 65px!important;
                            .btn-rsubmit {
                                width: 391px;
                            }
                        }
                    }
                }
                .drag-footer {
                    padding-right: 95px!important;
                }
                .qform-body {
                    .sq-footer {
                        padding-right: 95px!important;
                    }
                    .qinput {
                        .fill-footer {
                            padding-right: 95px!important;
                            padding-top: 60px!important;
                        }
                    }
                }
            }
        }
    }
}


// CSS IE10 and IE11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    // Desktop
    @media only screen and(min-device-width: 1024px) and (max-device-width: 1599px) {
        .questionnaire-container {
            max-height: 700px;
            overflow: auto;
            .qform-container {
                .qform-body {
                    .qinput {
                        height: 572px;
                        .user-ans {
                            padding-top: 10px;
                            padding-bottom: 30px;
                        }
                    }
                }
            }
        }
    }
}

// FIREFOX 
@media all and (min--moz-device-pixel-ratio:0) {
    // Remove padding for firefox
    .draggable-audio-padding {
        padding: 0px;
    }
    //Small to Large Mobile
    @media (min-width: 320px) and (max-width: 767px) {
        .descform-container {
            .descform-container {
                .descform-header {
                    padding: 3px!important;
                    text-align: center!important;
                }
            }
        }
        .questionnaire-container {
            .qform-container {
                .qform-body {
                    .fill-questions-container {
                        padding-top: 0!important;
                    }
                    .qinput {
                        height: 400px!important;
                        .user-ans {
                            padding-bottom: 30px!important;
                            padding-top: 10px!important;
                        }
                        .fill-footer {
                            padding-top: 50px!important;
                        }
                    }
                }
                .q-audio-fill {
                    padding-bottom: 0!important;
                }
            }
        }
    }
    //Tablet
    @media (min-width: 768px) and (max-width: 1023px) {
        .questionnaire-container {
            .qform-container {
                width: 80%;
                .qform-body {
                    .fill-questions-container {
                        padding-top: 10px; 
                    }
                    .qinput {
                        height: 400px;
                        .user-ans {
                            padding-top: 10px;
                            padding-bottom: 30px;
                        }
                        .fill-footer {
                            padding-top: 50px;
                        }
                    }
                    .q-audio-fill {
                        padding-bottom: 0px;
                    }
                }
            }
        }
        // Large Font
        .fontScaleX3 {
            .questionnaire-container {
                .qform-container {
                    width:90%!important;
                    .qform-body {
                        .fill-questions-container {
                            padding-top: 10px;
                            padding-left: 20px!important;
                        }
                    }
                    .qform-container {
                        .drag-questions {
                            max-height: 400px;
                            overflow: auto;
                        }
                    }
                }
            }
        }
        //Very Large Font
        .fontScaleX4 {
            .questionnaire-container {
                .qform-container {
                    width: 95%;
                    .qform-body {
                        .q-audio-fill {
                            padding-top: 20px!important;
                        }
                        .qinput {
                            max-height: 350px;
                            overflow: auto;
                            .user-ans {
                                padding-top: 10px;
                                padding-bottom: 60px;
                            }
                            .fill-footer {
                                padding-top: 50px!important;
                            }
                        }
                        .q-sidebar {
                            padding-top: 30px;
                            height: 200px!important;
                        }
                        .q-audio {
                            padding-bottom: 0;
                        }
                        .qmultiple {
                            max-height: 500px!important;
                            overflow: auto;
                            .qinput-multiple {
                                padding-bottom: 30px;
                            }
                        }
                        .sq-footer {
                            padding-bottom: 10px;
                        }
                    }
                    .drag-form {
                        .drag-questions {
                            height: 100vh;
                        }
                    }
                }
            }
        }
    }
    //Dektop
    @media (min-width: 1024px) and (max-width: 1599px) {
        .questionnaire-container {
           /*  max-height: 700px;
            overflow: auto; */
            .qform-container {
                width: 80%;
                .qform-body {
                    .qinput {
                        height: 500px;
                        .user-ans {
                            padding-top: 10px;
                            padding-bottom: 30px;
                        }
                    }
                }
            }
        }
        // Large Font
        .fontScaleX3 {
            .dragDropSubmitButton {
                padding-top: 60px!important;
            }
            .questionnaire-container {
                .qform-container {
                    width: 90%;
                    .qform-body {
                        .fill-questions-container {
                            padding-left: 15px!important;
                        }
                    }
                }
            }
        }
        // Very Large Font
        .fontScaleX4 {
            .questionnaire-container {
                .qform-container {
                    width: 95%;
                    .qform-body {
                        .qinput {
                            max-height: 500px;
                            overflow: auto;
                            .user-ans {
                                padding-top: 10px;
                                padding-bottom: 50px!important;
                            }   
                        }
                        .fill-questions-container {
                            padding-left: 10px!important; 
                        }
                        .qmultiple {
                            max-height: 500px;
                            overflow: auto;
                        }
                    }
                    .drag-form {
                        .drag-questions {
                            height: 100vh;
                        }
                    }
                }
            }
        }
    }
}

// Safari
@media not all and (min-resolution:.001dpcm) {
    .questionnaire-container {
        .qform-container {
            width: 80%;
        }
    }
    .fontScaleX3 {
        .questionnaire-container {
            .qform-container {
                .qform-body {
                    .sq-footer {
                        padding-right: 95px;
                    }
                }
                .drag-form {
                    .drag-questions {
                        padding-top: 70px!important;
                    }
                }
            }
        }
        .fill-questions-container {
            padding-left: 13px!important;
        }
    }
    //Very Large Font
    .fontScaleX4 {
        .questionnaire-container {
            .qform-container {
                .qform-body {
                    .qinput {
                        height: 572px;
                        .user-ans {
                            padding-top: 20px;
                            padding-bottom: 70px;
                        }
                        .qinput-choices {
                            .qform-check-input {
                                &:focus {
                                    outline: none;
                                }
                            }
                        }
                        .fill-footer {
                            padding-top: 60px!important;
                            padding-right: 95px!important;
                        }
                    }
                    .qmultiple {
                        .qinput-multiple {
                            .qform-check-multiple {
                                &:focus {
                                    outline: none;
                                }
                            }
                        }
                    }
                }
                .drag-form {
                    .drag-questions {
                        height: 100vh;
                        .draggable-audio {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
    // Iphone
    @media only screen and (min-width: 320px) and (max-width: 767px) {
        .questionnaire-container {
            .qform-container {
                .qform-body {
                    .q-audio-fill {
                            padding-top: 20px!important;
                            padding-bottom: 20px!important;
                        }
                    .fill-questions-container {
                        padding-top: 10px!important;
                        padding-bottom: 10px!important;
                    }
                    .qinput {
                        .fill-footer {
                            padding-top: 50px!important;
                        }
                    }
                }
            }
        }
    }
    //Desktop 
    @media only screen and (min-width: 990px) and (max-width: 1316px) {
        .fontScaleX4 {
            .questionnaire-container {
                overflow-y: auto;
                max-height: 600px;
                .qform-container {
                    width: 95%;
                    .qform-body {
                        .fill-questions-container {
                            padding-left: 0px; 
                        }
                        .q-sidebar {
                            padding-left: 10px!important;
                        }
                    }
                    .drag-form .drag-questions .drag-options .drag-answerset {
                        min-width: 146px;
                    }
                }
            }
        }
    }
    //Ipad 
    @media only screen and (min-width: 768px) and (max-width: 989px) {
        .fontScaleX4 {
            .questionnaire-container {
                max-height: 500px;
                overflow: auto;
                .qform-container {
                    width: 95%;
                    .qform-body {
                        .q-sidebar {
                            height: 200px;
                            padding-top: 20px;
                        }
                        .fill-questions-container {
                            padding-top: 0; 
                        }
                    }
                }
            }
        }
    }
    //Tablet safari
    @media (min-width: 1024px) and (max-width: 1599px) {
        .fontScaleX4 {
            .questionnaire-container {
                overflow-y: auto;
                max-height: 600px;
                .qform-container {
                    width: 95%;
                    height: 650px;
                    .qform-body {
                        .qinput {
                            height: 500px;
                            .user-ans {
                                padding-top: 10px;
                                padding-bottom: 30px;
                            }
                        }
                    }
                    .drag-form .drag-questions .drag-options .drag-answerset {
                        min-width: 146px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1599px) {
    .fontScaleX4 {
        .questionnaire-container {
            .qform-container {
                width: 97%;
                .qform-body {
                    .qinput {
                        height: 500px;
                        .user-ans {
                            padding-top: 10px;
                            padding-bottom: 30px;
                        }
                    }
                }
                .drag-form .drag-questions .drag-options .drag-answerset {
                    min-width: 148px;
                }
            }
        }
    }
}

@media (min-width: 981px) and (max-width: 1114px) {
    .questionnaire-container {
        .qform-container {
            width: 95%;
            .qform-body {
                .qinput {
                    height: 500px;
                    .user-ans {
                        padding-top: 10px;
                        padding-bottom: 30px;
                    }
                }
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .questionnaire-container {
        overflow-y: auto;
        max-height: 500px;
        .qform-container {
            .drag-form {
                .drag-questions {
                    height: 100vh;
                }
            }
        }
    }
    .fontScaleX4{
        .dragDropSubmitButton {
            padding-top: 20px !important;
        }
    }
}
