
.single-drag-drop-answers-container {
  clear: both;
  float: none;
  width: 100%;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 5%;
}

.singleQuestion {
  &.DragAndDrop {
    br{
      display: inherit;
    }

    &.table-questions {
      padding-left: 0;

      .questionObj {
        padding: 1% 0 0 3.6%;
      }
    }
  }
}

.singleQuestion {
  &.DragAndDrop {
    overflow-y: auto;
    overflow-x: hidden;

    .question-no {
      margin-left: -27px;
      left: inherit;
    }

    .answer-feedback {
      left: -56px;
    }

    .singleDragDrop {
      .bold {
        margin-top: -1px;
      }
    }

    .questionWrapper {
      margin-left: 17px;
      width: 98%;

      .slot {
        margin: 0px 0px 3px 0px;
      }
    }
  }
}

.fontScaleX3 {
  .singleQuestion {
    &.DragAndDrop {
      .question-no {
        top: 1px;
      }
    }
  }
}

.fontScaleX4 {
  .singleQuestion {
    &.DragAndDrop {
      .question-no {
        margin-left: -33px;
        top: 2px;
      }

      .questionText{
        &.multiAnswer{
          margin: 0px 20px 0 -12px;
        }
      }
    }
  }
}