.WordScrambleClick {
  width: 100%;
  padding-right: 6%;

  .WordScrambleClickHeading {
    clear: both;
    font-weight: bold;
    font-size: x-large;
    width: 100%;
    text-align: center;
  }

  .buttons-main {
    text-align: center;
  }

  .buttons-main .buttons {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
  }

  .targetBoxContainer {
    display: inline-block;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align: center;

    .targetBoxes {
      display: inline-block;
      min-width: 50px;
      height: 30px;
      color: #333;
      background: #f8f8f8;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      text-align: center;
      font-weight: bold;
      font-family: Consolas, 'Liberation Mono', Courier, monospace;
      margin-right: 5px;
      margin-left: 5px;
      border: 1px solid black;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;
      padding-top: 6px;

      label {
        font-weight: bold;
        margin-bottom: 0px;
      }
    }
  }
  .attempts {
    .tooltip-wordscramble {
      .tooltip-inner {
        color: #080808;
        background-color: rgba(0, 0, 0, 0.65);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
        font-size: 1.2em;
        font-weight: bold;
        color: #ffffff;
        padding: 20px;
        max-width: 600px;

      }

      .tooltip-arrow {
        display: none;
      }
    }
  }

  &.btn {
    width: auto;
  }
}

.fontScaleX0 {
  .WordScrambleClickHeading {
    font-size: small;
  }
  .WordScrambleClick {
    .correct-answer, .wrong-answer {
      padding-right: 15px !important;
      background-size: 5px !important;
    }
  }
}

.fontScaleX1 {
  .WordScrambleClickHeading {
    font-size: 15px;
  }
  .WordScrambleClick {
    .correct-answer, .wrong-answer {
      padding-right: 16px !important;
      background-size: 8px !important;
    }
  }
}

.fontScaleX3 {
  .WordScrambleClickHeading {
    font-size: xx-large;
  }
  .WordScrambleClick {
    .correct-answer, .wrong-answer {
      padding-right: 22px !important;
      background-size: 16px !important;
      background-position-x: 99% !important;
    }
  }
}

.fontScaleX4 {
  .WordScrambleClickHeading {
    font-size: 35px;
  }
  .WordScrambleClick {
    .correct-answer, .wrong-answer {
      padding-right: 30px !important;
      background-size: 22px !important;
      background-position-x: 99% !important;
    }
  }
}