<div class="jumbotron tabs step2 fontScaleX{{fontSize}}">
    <tabset role="tablist">
        <tab heading="{{tab.heading | uppercase|localization:ds.language}}" select="tabSelected($index)" active="tab.isSelected"
             ng-repeat="tab in tabs">
            <div class="row com-tab active">
                <div class="mandatory-activities row">
                    <div class="activitiesList">
                        <div class="row mainContainer" ng-repeat="item in tab.dataSource|orderBy:'order'"
                             ng-if="item.skillType == tab.skillType">
                            <label class="contentIndex">{{$index+1}}.</label>

                            <div class="contentTitleContainer">
                                <span class="{{getContentStatus(item.id)}}-contents">
                                </span>
                                <a  ng-click="itemSelected(item)" href=""
                                   class="activity-item activityTitle">{{item.title}}</a>
                                <!--<span ng-if="item.meta" style="margin-top: -7px;" class="btn btn-sm btn-warning {{item.type}} disabled">{{item.meta}}</span>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>
<div class="jumbotron-footer jumbotron fontScaleX{{fontSize}}">
    <ul class="legend">
        <li><strong>{{'LEGEND'|localization:ds.language}}:</strong></li>
        <li ng-repeat="sta in status">
            <span alt="{{sta.statusName|localization:ds.language}}" class="{{sta.className}}">
            </span>
            <span>{{sta.statusName|localization:ds.language}}</span>
        </li>
    </ul>
</div>
