<div class="jumbotron step2 tabs fontScaleX{{fontSize}} module{{moduleId}}" ng-style="{'height': ch+'px'}" id="itemContainer">
    <tabset role="tab" justified="false" class="MainMenu">
        <tab select="tabSelected(unit)"
             active="unit.selected"
             aria-selected="{{unit.selected}}"
             role="tab"
             aria-controls="{{unit.title}}"
             ng-repeat="unit in units" ng-style="{'width':100/units.length+'%'}">
            <tab-heading>
                <span ng-bind="unit.title | uppercase|localization:ds.language" ></span>
            </tab-heading>
            <div class="row com-tab active">
                <div class="mandatory-activities scroll-overflow" id="test000"
                     ng-style="{'height': ch-100-mh+'px', 'max-height': ch-120-mh+'px'}">
                    <div class="activitiesList">
                        <ul ng-repeat="grpContent in unit.grpContents" class="mainMenuGrid"
                             ng-class="{'col-md-4':moduleId!=1000,'col-md-12':moduleId==1000}" style="width:100% !important">
                            <li class="mainContainer {{item.skillType}}" ng-class="{'dialogues' : item.type == 'DialogQuiz'}" ng-if="!item.isHidden "
                                 ng-repeat="item in grpContent|orderBy:'order'">
                                <div class="status contentTitleContainer" ng-init="status= getContentStatus(item.id)">
                                    <div ng-class="{'marginTopContent':!$root.isFireFox, 'col-md-10':moduleId!=1000, 'col-sm-11':moduleId!=1000}" class="parentItemListContainer">
                                        <div class="itemsContainer">

                                            <a ng-if="item.id == '118'" tabindex="{{item.isDisabled?-1:0}}"
                                               ng-click="!item.isDisabled && itemSelected(item)"
                                               href="" ng-disabled="item.isDisabled"
                                               class="activity-item activityTitle col-md-10"
                                               ng-class="{'col-md-11':moduleId!=1000, 'col-sm-11':moduleId!=1000}"
                                               lang="{{ds.mainMenuLinkLang}}">
                                                    <label ng-if="item.title.indexOf('/') == -1" class="titleText">{{item.title}}</label>
                                                <span ng-if="item.title.indexOf('/') >= 0">
                                                    <label ng-bind-html="item.title.split('/')[0]|sanitize"></label>
                                                    <label ng-if="moduleId != 99">/</label>
                                                    <label lang="{{ds.oppLang}}" ng-bind-html="item.title.split('/')[1]|sanitize"></label>
                                                </span>
                                            </a>
                                        <span ng-if="item.meta && moduleId==1000"
                                              class="btn btn-sm btn-warning metaInfoBtn {{item.type}} disabled">{{item.meta}}</span>
                                                          <!-- the GLOSSARY -->
                                                          <div  ng-if="item.id == '100'">
                                                              <div ng-repeat="row in item.glossary">
                                                                <h3><b>{{row.word}}</b></h3>
                                                                <p>{{row.description}}</p>
                                                              </div>
                                                          </div>
                                                          <!-- end the GLOSSARY -->
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
						<!-- the feed back -->
						<form class="feedback-form" ng-if="unit.title == 'quiz'">
						  <div class="form-group feedback-div">
							<textarea class="form-control col-sm-12 feedback-area border border-secondary"  rows="10" ></textarea>
							<input class="btn btn-primary feedback-submit" type="submit" value="Submit">
						  </div>
						</form>
						<!-- end the feedback -->

            <!-- THE TRIAGE -->
            <div  ng-if="unit.title == 'dialogues'">
                <h1> TRIAGE FORME TO COME </h1>
            </div>
            <!-- THE TRIAGE -->

                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>
<div id="fontScaleX{{fontSize}}">
<div class="fontScaleX{{fontSize}} mainMenuFooter" id="legend">
    <ul class="legend">
        <li><strong>{{'LEGEND'|localization:ds.language}}:</strong></li>
        <li ng-repeat="sta in status">
            <span  class="{{sta.className}} legend-status">
            </span>
            <label class="offscreen">{{sta.className+'_STATUS'|uppercase|localization:ds.language}}"</label>
            <label>{{sta.statusName|localization:ds.language}}</label>
        </li>
    </ul>
</div>
</div>