<div class="jumbotron instructions tabs step1 fontScaleX{{fontSize}}">
    <tabset>
        <tab select="getHeight()" ng-if="$root.isArray(landingPage.SECTIONS.SECTION)"
             ng-repeat="section in landingPage.SECTIONS.SECTION track by $index"
             ng-init="sectionIndex = $index"
             aria-selected="{{active}}" active ="active"
             heading="{{title[$index]['#text']}}"
             role="tab">

            <div class="row com-tab">
                <table class="table table-striped table-bordered table-hover table-condensed tableFixedWidth">
                    <thead>
                    <tr>
                        <th lang="{{$root.isFrenchModule?'fr':'en'}}">{{heading[$index]['#text']}}</th>
                    </tr>
                    </thead>
                </table>
                <div id="instructions" class="scroll-overflow" ng-style="{'max-height': instructionHeight}">
                    <table class="table table-striped table-bordered table-hover table-condensed tableFixedWidth"
                           ng-repeat="row in objective[sectionIndex] track by $index">
                        <tbody>
                        <tr ng-repeat="col in row.COL track by $index">
                            <td lang="{{$root.isFrenchModule?'fr':'en'}}">
                                <label ng-bind-html="col|sanitize" lang="{{col['@lang']}}"></label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div style="display: flex;" id="transLabel" class="flex-content">
                    <label class="translationButton" ng-click="translateObj()">
                        {{'SHOW_TRANSLATION'|localization:ds.language}}
                    </label>
                </div>

                <button id="startBtn" ng-click="start()"
                        class="btn btn-primary start-module center-block fontScaleX{{fontSize}}">
                    {{'START'|localization:ds.language}}
                </button>
                <label class="offscreen">{{'START'|localization:ds.language}}</label>
            </div>
        </tab>
    </tabset>
</div>
