<div class="fontScaleX{{fontSize}}" ng-class="{'windows': $root.isWindows}">
    <div class="Dialogue fontScaleX{{fontSize}}" ng-class="{'DialogueFrLang':(ds.language == 'fr' || ds.language == 'es')}">
        <div class="jumbotron " id="instructionsContainer">
            <div class="dialogue-title-container">
                <div class="row dialogue-title-row">
                    <h2 class="dialogue-title col-md-10 col-sm-10 col-lg-10">
                        <label ng-bind-html="dialogueTitle1|sanitize"></label>
                    </h2>
                    <div class="dialogue-instructions col-md-2 col-sm-2 col-lg-2">
                        <label tabindex="0" id="instruction_btn" tooltip-trigger="mouseenter focus"
                                class="instructions" tooltip-class="tooltip-audio" uib-tooltip="{{inst}}"
                                tooltip-placement="bottom">
                            {{'DIALOGUE_INSTRUCTIONS'|localization:ds.language}}
                        </label>
                        <label for="instruction_btn" class="offscreen">{{'Instructions'|localization:ds.language}}</label>
                    </div>
                </div>
            </div>
        </div>
        <audio id="loadAudio" alt="{{(question.AUDIO && getFileName(question.AUDIO))|| selectedActivity.type}}"
               ui-event="{ended : 'hideTooltip()'}">
            <p>Your browser does not support the <code>audio</code> element </p>
        </audio>

        <div class="dialogueVideoContainer scroll-overflow fullDialogueVideo " ng-if="section['@type']=='VIDEO'"
             ng-style="{'height': height+'px'}" ng-init="setFullDialgouePageTitle(section)">
            <label class="videoTabHeading" lang="{{ds.mainMenuLinkLang}}" ng-bind-html="section.TITLE|sanitize"></label>

            <video id="my-video" video-js-load class="video-js vjs-default-skin" controls preload="auto"
                   ui-event="{play:'videoStarted(section)'}">
                <track ng-if="videoCaptionControl" kind="captions" label="English captions"
                ng-src="{{getAssetsPath(section.CONTENT.VIDEOCAPTION)}}" srclang="en" default>
                Your browser does not support the video tag.
            </video>


            <div class="show_scoreFullDialogue row"
                 id="next">
                <button id="nextBtn" class="btn btn-primary nextActivityFullDialogue"
                        ng-disabled="!isNextItem()"
                        ng-click="goToNextItem()">
                    {{'NEXT_ITEM'|localization:ds.language}}
                </button>
                <label for="nextBtn" class="offscreen">{{'NEXT_ITEM'|localization:ds.language}}</label>
            </div>
        </div>
        <tabset justified="false" id="tabContainer" ng-if="isSectionArray">
            <tab ng-repeat="section in dialogue.SECTIONS.SECTION track by $index"
                 class="dialogue-tab-heading"
                 active="section.selected" select="tabSelected($index)"
                 ng-style="{'width':100/dialogue.SECTIONS.SECTION.length+'%'}"
                 aria-selected="{{section.selected}}"
                 role="tab"
                 aria-controls="{{section['@type']}}">
                <tab-heading>
                    <div class="status contentTitleContainer">
                        <span class="parentIconContainer">

                            <span tabindex="0" class="{{sectionStatusVideo}}-contents" ng-init="getSectionStatusVideo()"
                                  ng-if="section['@type'] == 'VIDEO'"
                                  uib-tooltip="{{'THIS' | localization:ds.language}} {{sectionStatusVideo+'_STATUS' | uppercase | localization:ds.language}}"
                                  tooltip-placement="top auto"
                                  tooltip-trigger="mouseenter focus"
                                  tooltip-append-to-body="true"></span>

                            <span tabindex="0" class="{{sectionStatusTerm}}-contents"
                                  ng-if="section['@type'] == 'TERM'"
                                  uib-tooltip="{{'THIS' | localization:ds.language}} {{sectionStatusTerm+'_STATUS' | uppercase | localization:ds.language}}"
                                  tooltip-placement="top auto"
                                  tooltip-trigger="mouseenter focus"
                                  tooltip-append-to-body="true"></span>

                            <span tabindex="0" class="{{sectionStatusRepeat}}-contents"
                                  ng-if="section['@type'] == 'REPEAT'"
                                  uib-tooltip="{{'THIS' | localization:ds.language}} {{sectionStatusRepeat+'_STATUS' | uppercase | localization:ds.language}}"
                                  tooltip-placement="top auto"
                                  tooltip-trigger="mouseenter focus"
                                  tooltip-append-to-body="true"></span>


                            <span tabindex="0" class="{{sectionStatusQuestion}}-contents"
                                  ng-if="section['@type'] == 'QUESTION'"
                                  uib-tooltip="{{'THIS' | localization:ds.language}} {{sectionStatusQuestion+'_STATUS' | uppercase | localization:ds.language}}"
                                  tooltip-placement="top auto"
                                  tooltip-trigger="mouseenter focus"
                                  tooltip-append-to-body="true"></span>

                            <span tabindex="0" class="{{sectionStatusTranscript}}-contents"
                                  ng-if="section['@type'] == 'TRANSCRIPT'"
                                  uib-tooltip="{{'THIS' | localization:ds.language}} {{sectionStatusTranscript+'_STATUS' | uppercase | localization:ds.language}}"
                                  tooltip-placement="top auto"
                                  tooltip-trigger="mouseenter focus"
                                  tooltip-append-to-body="true"></span>

                            <label>{{labelHeading[$index]}}</label>

                            <label class="hiddenValidationDescription"
                                   ng-if="selectedDialogue.type == 'DialogReview' && !$root.isFrenchModule">
                                Dialogue transcript review for dialogue {{section.LABEL2}}
                            </label>

                            <label class="hiddenValidationDescription"
                                   ng-if="selectedDialogue.type == 'DialogReview' && $root.isFrenchModule">
                                Révision du compte-rendu du dialogue pour le dialogue {{section.LABEL}}
                            </label>

                        </span>
                    </div>
                </tab-heading>

                <div ng-if="section['@type']=='VIDEO'" id="{{section['@type']}}" class="dialogueVideoContainer">
                    <label class="videoTabHeading" lang="{{ds.mainMenuLinkLang}}" ng-bind-html="section.TITLE|sanitize"></label>

                    <div class="scroll-overflow videoContainer" ng-style="{'height': height - 30+'px'}">
                        <video id="my-video" video-js-load class="video-js vjs-default-skin" controls preload="auto"
                               ui-event="{play:'videoStarted(section)',ended : 'videoEnded(section)'}">
                            <track ng-if="videoCaptionControl" kind="captions" label="English captions"
                                   ng-src="{{getAssetsPath(section.CONTENT.VIDEOCAPTION)}}" srclang="en" default>
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>

                <div ng-if="section['@type']=='AUDIO'" id="{{section['@type']}}" class="dialogueVideoContainer scroll-overflow"
                     ng-style="{'height': height+'px'}">
                    <label class="videoTabHeading" lang="{{ds.mainMenuLinkLang}}" ng-bind-html="section.TITLE|sanitize"></label>

                    <div class="audioMainDiv">
                     <span class="dialogueMultipleChoiceAudio"
                           ng-blur="hidetip()"
                           tabindex="0"
                           tooltip-class="tooltip-dialogue-audio"
                           uib-tooltip="{{section.CONTENT.AUDIOCAPTION}}"
                           tooltip-placement="top auto"
                           tooltip-is-open="ds.showAudioTooltip"
                           tooltip-trigger="none"
                           tooltip-enable="{{audioCaptionControl}}">
                    <audio controls alt="{{getFileName(section.CONTENT.AUDIO)}}" id="audio_example"
                           class="col-md-8 col-sm-8 audio video-js vjs-default-skin"
                           ui-event="{ended : 'videoEnded(section)','play':'videoStarted()'}" data-setup='{}'>
                        <source ng-src="{{getAudioAssetsPath(section.CONTENT.AUDIO)}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                         </span>
                    </div>
                </div>

                <div ng-if="section['@type']=='QUESTION'" id="{{section['@type']}}" class="center questionSection"
                     ng-style="{'height': height}">
                    <div class="questionContainer row">
                        <div ng-repeat="question in filteredQuestions" class="PaddingNone"
                             ng-class="{'col-md-12 col-lg-12 col-sm-12':filteredQuestions.length==1,
                                'col-lg-6 col-sm-6 col-md-6':filteredQuestions.length>1}">
                            <dialogue-multiple-choice question="question" question-no="getQuestionNo($index)"
                                                      selected-activity="selectedDialogue">
                            </dialogue-multiple-choice>
                        </div>

                    </div>
                </div>

                <div ng-if="section['@type']=='TERM'" id="{{section['@type']}}" class="dialogueTermTab scroll-overflow"
                     ng-style="{'height': height - 50 +'px'}">
                    <accordion close-others="true">
                        <accordion-group ng-repeat="term in terms" ng-if="$root.isArray(terms)">
                            <accordion-heading ng-class="{'terms-heading':true}"><a lang="{{ds.mainMenuLinkLang}}" class="termsHeader">{{term.KEY}}</a>
                            </accordion-heading>
                            <div class="termContainer">
                                <div ng-if="term.IMAGE" class="termImg">
                                <span tooltip-class="tooltip-dialogue" class="BusinessTermsImage"
                                      uib-tooltip="{{getImageCaptionsFromLang(term.IMAGECAPTIONS)}}"
                                      tooltip-placement="right"
                                      tooltip-trigger="mouseenter focus"
                                      tooltip-enable="{{$root.imageCaptionControl}}" tabindex="0">
                                    <img ng-src="{{getAssetsPath(term.IMAGE)}}" alt="{{getImageCaptionsFromLang(term.IMAGECAPTIONS)}}">
                                </span>
                                </div>
                                <div class="audio col-md-9 col-sm-9">
                                    <span ng-click="playTermAudio(section, term)" class="row BusinessTermsAudios"
                                          ng-blur="hidetip()"
                                          tabindex="0"
                                          ng-if="term.AUDIO"
                                          tooltip-class="tooltip-dialogue"
                                          uib-tooltip="{{term.AUDIOCAPTION}}"
                                          tooltip-placement="right"
                                          tooltip-is-open="ds.showTooltip && ds.focuss"
                                          tooltip-trigger="none"
                                          tooltip-enable="{{$root.audioCaptionControl}}">
                                        <img src="images/play.png" alt="Play audio">
                                    </span>

                                    <div class="audio row">
                                        <label class="termDef" lang="{{ds.mainMenuLinkLang}}">{{'DEFINITION'|localization:ds.language}}: </label>
                                        <!--<label class="termVal" lang="{{ds.mainMenuLinkLang}}" ng-bind-html="term.VALUE | sanitize"></label>-->
                                        <label ng-if="translateLang =='0' && !isFrenchModule" class="termVal" lang="{{ds.mainMenuLinkLang}}" ng-bind-html="term.VALUE[1]['#text'] | sanitize"></label>
                                        <label ng-if="translateLang =='0' && isFrenchModule" class="termVal" lang="{{ds.mainMenuLinkLang}}" ng-bind-html="term.VALUE[0]['#text'] | sanitize"></label>
                                        <label ng-if="translateLang =='1'" class="termVal" lang="{{ds.mainMenuLinkLang}}" ng-bind-html="term.VALUE[2]['#text'] | sanitize"></label>
                                        <label ng-if="translateLang =='2'" class="termVal" lang="{{ds.mainMenuLinkLang}}" ng-bind-html="term.VALUE[3]['#text'] | sanitize"></label>
                                    </div>
                                </div>

                            </div>
                        </accordion-group>

                        <accordion-group ng-if="!$root.isArray(terms)">
                            <accordion-heading ng-class="{'terms-heading':true}">{{terms.KEY}}</accordion-heading>
                            <div class="termContainer">
                                <div ng-if="terms.IMAGE" class="termImg">
                            <span tooltip-class="tooltip-dialogue" class="BusinessTermsImage"
                                  uib-tooltip="{{getImageCaptionsFromLang(terms.IMAGECAPTIONS)}}"
                                  tooltip-placement="right"
                                  tooltip-trigger="mouseenter focus"
                                  tooltip-enable="{{$root.imageCaptionControl}}" tabindex="0">
                                <img ng-src="{{getAssetsPath(term.IMAGE)}}" alt="{{getImageCaptionsFromLang(terms.IMAGECAPTIONS)}}">
                            </span>
                                </div>
                                <div class="audio col-md-9 col-sm-9">
                                    <span ng-click="playTermAudio(section, terms)" class="row BusinessTermsAudios"
                                          ng-blur="hidetip()"
                                          tabindex="0"
                                          ng-if="terms.AUDIO"
                                          tooltip-class="tooltip-dialogue"
                                          uib-tooltip="{{terms.AUDIOCAPTION}}"
                                          tooltip-placement="right"
                                          tooltip-is-open="ds.showTooltip && ds.focuss"
                                          tooltip-trigger="none"
                                          tooltip-enable="{{$root.audioCaptionControl}}">
                                        <img src="images/play.png" alt="Play audio">
                                    </span>

                                    <div class="row">
                                        <label class="termDef" lang="{{ds.mainMenuLinkLang}}">{{'DEFINITION'|localization:ds.language}}: </label>
                                        <label class="termVal" lang="{{ds.mainMenuLinkLang}}" ng-bind-html="terms.VALUE | sanitize"></label>
                                    </div>
                                </div>

                            </div>
                        </accordion-group>
                    </accordion>
                </div>

                <div ng-if="section['@type'] == 'REPEAT'" class="dialogueRepeatTab scroll-overflow"
                     ng-style="{'height': height+'px'}">
                <label class="title"
                      ng-bind-html="section.TITLE|localization:ds.language:section.TITLE1|sanitize"></label>

                    <div class="playerContainer">
                        <div ng-if="isArray(section.CONTENT.PLAYER)" ng-repeat="player in section.CONTENT.PLAYER"
                             class="player"
                             tabindex="0"
                             uib-tooltip="{{player.TOOLTIP}}"
                             tooltip-placement="bottom"
                             tooltip-class="customClass"
                             tooltip-trigger="mouseenter focus">

                            <img ng-src="{{getAssetsPath(player.IMAGE)}}" class="playerImg"
                                 alt="{{player.TOOLTIP}}"/>

                            <p ng-bind-html="player.NAME|sanitize"></p>
                        </div>

                        <div ng-if="!isArray(section.CONTENT.PLAYER)" class="player"
                             tabindex="0"
                             uib-tooltip="{{section.CONTENT.PLAYER.TOOLTIP}}"
                             tooltip-placement="bottom"
                             tooltip-class="customClass"
                             tooltip-trigger="mouseenter focus">
                            <img ng-src="{{getAssetsPath(section.CONTENT.PLAYER.IMAGE)}}" class="playerImg"
                                 alt="{{section.CONTENT.PLAYER.TOOLTIP}}" style="width: 175px;"/>

                            <p ng-bind-html="section.CONTENT.PLAYER.NAME|sanitize"></p>
                        </div>
                    </div>


                    <div ng-if="section.CONTENT.AC" class="audioPlayer">
                        <p class="hiddenValidationDescription">
                            {{'DIALOGUE_LISTEN_REPEAT_INST'|localization:ds.language}}
                        </p>
                        <a ng-click="changeAudioTrack(true)" ng-enter="changeAudioTrack(true)" alt="Previous track"
                           class="btn btn-link"
                           ng-disabled="!isPrevEnabled">
                            <img src="images/LRPrev.png" class="prevNextTrack" alt="Previous track">
                        </a>
                    <span
                            ng-blur="hidetip()"
                            tabindex="0"
                            tooltip-class="tooltip-dialogue"
                            uib-tooltip="{{section.CONTENT.AC[currentTrack-1].AUDIOCAPTION}}"
                            tooltip-placement="bottom auto"
                            tooltip-is-open="ds.showTooltip && ds.toolTipIndex == currentTrack+'_'+$index && ds.focuss"
                            tooltip-trigger="none"
                            tooltip-enable="{{$root.audioCaptionControl}}"
                            ng-click="playRepeatAudio(section.CONTENT.AC[currentTrack-1].AUDIO, section.CONTENT.AC.length, currentTrack+'_'+$index)">
                        <img src="images/LRPlay.png" class="playTrack" role="button"  uib-tooltip="{{'PLAY_AUDIO'|localization:ds.language}}"
                             tooltip-placement="top auto"
                             tooltip-trigger="mouseenter focus" alt="Play audio">
                        <label class="offscreen">{{'PLAY_AUDIO_LAB'|localization:ds.language}}</label>
                        </span>
                        <a tabindex="0" ng-click="changeAudioTrack(false)" ng-enter="changeAudioTrack(false)"
                           class="btn btn-link" alt="Next track"
                           ng-disabled="!isNextEnabled">
                            <img src="images/LRNext.png" class="prevNextTrack" alt="Next track">
                        </a>

                        <p class="tracks">
                            {{currentTrack}} of {{totalTracks}}
                        </p>
                    </div>
                </div>

                <div ng-if="(section['@type'] == 'TRANSCRIPT' || section['@type'] == 'READ')
            && section.selected"
                     class="dialogueReadTab">
                    <div class="row audioContainer">
                        <div class="col-md-12 col-sm-12 audioCol">
                            <span class="dialogueMultipleChoiceAudio"
                                  ng-blur="hidetip()"
                                  tabindex="0"
                                  tooltip-class="tooltip-dialogue"
                                  uib-tooltip="{{section.CONTENT.AUDIOCAPTION}}"
                                  tooltip-placement="top auto"
                                  tooltip-is-open="ds.showAudioTooltip"
                                  tooltip-trigger="none"
                                  tooltip-enable="{{audioCaptionControl}}">
                            <audio controls alt="{{section.CONTENT.AUDIOCAPTION}}" class="audio video-js vjs-default-skin"
                                   id="transcript_audio"
                                   ui-event="{ended : 'videoEnded(section)','play':'videoStarted()'}" data-setup='{}'>
                                <source ng-src="{{getAssetsPath(section.CONTENT.AUDIO)}}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>

                                </span>
                        </div>
                    </div>
                    <div>
                        <h3 ng-bind-html="section.TITLE | sanitize" lang="{{ds.mainMenuLinkLang}}" class="TranscriptHeading"></h3>
                    </div>

                    <div class="speech scroll-overflow" id="speech" ng-style="{'height':th+'px'}" tabindex="0"
                         ng-class="{'dialogueTranscriptFocus':focusActive}" ng-keyup="makeFocusActive($event)" ng-mousedown="makeFocusDeActive()">
                        <div ng-if="isArray(section.CONTENT.LINE)" ng-repeat="line in section.CONTENT.LINE"
                             class="line row" id="line">

                            <div class="playerNameContainer col-sm-1 col-md-1 col-lg-1" ng-style="{'width' : ds.playerNameWidth + 'px'}">
                            <label ng-bind-html="line.PLAYER | sanitize"
                                  class="player"></label>

                            </div>
                            <div class="ParentTranscriptSeparater col-sm-1 col-md-1 col-lg-1">
                                <label ng-if="line.PLAYER != null" class="TranscriptSeparater">:</label>
                            </div>
                            <div class="text-container col-sm-10 col-md-10 col-lg-10" ng-style="{'width' : ds.speechTextContent + 'px'}">
                            <label class="parsedSpeech" lang="{{ds.mainMenuLinkLang}}" compile-data
                                  template="{{line.parsedSpeech}}"></label>
                            </div>
                        </div>
                        <div ng-if="!isArray(section.CONTENT.LINE)" class="line row" id="line">

                            <div class="playerNameContainer col-sm-1 col-md-1 col-lg-1" ng-style="{'width' : ds.playerNameWidth + 'px'}">
                            <label ng-bind-html="section.CONTENT.LINE.PLAYER | sanitize"
                                  class="player"></label>

                            </div>
                            <div class="ParentTranscriptSeparater col-sm-1 col-md-1 col-lg-1">
                                <label ng-if="section.CONTENT.LINE.PLAYER != null" class="TranscriptSeparater">:</label>
                            </div>
                            <div class="text-container col-sm-10 col-md-10 col-lg-10" ng-style="{'width' : ds.speechTextContent + 'px'}">
                            <label class="parsedSpeech" compile-data
                                  template="{{section.CONTENT.LINE.parsedSpeech}}"></label>
                            </div>
                        </div>
                    </div>

                    <div class="show_score row"
                         id="next" ng-if="$last">
                        <button id="nextItemBtn" class="btn btn-primary nextActivityDialogues"
                                ng-disabled="!isNextItem()"
                                ng-click="goToNextItem()">
                            {{'NEXT_ITEM'|localization:ds.language}}
                        </button>
                        <label for="nextItemBtn" class="offscreen">{{'NEXT_ITEM'|localization:ds.language}}</label>
                    </div>
                </div>
            </tab>
        </tabset>
        <div ng-show="showPager" id="footer" class="questionTab-pager" ng-style="{'width':footerWidth+'px'}">
            <custom-pager total-items="totalQuestions"
                          items-per-page="questionsPerPage"
                          ng-model="currentQuestionTabPageNo"
                          ng-change="tabChanged()"
                          previous-text="&lsaquo;"
                          max-size="10"
                          next-text="&rsaquo;">
            </custom-pager>
        </div>
    </div>
</div>
