<audio id="loadAudio" alt="{{(question.AUDIO && getFileName(question.AUDIO))|| 'FinalQuiz mp3'}}"
       ui-event="{ended : 'hideTooltip()'}">
    <p>Your browser does not support the <code>audio</code> element </p>
</audio>

<div class="jumbotron finalQuiz-container row fontScaleX{{fontSize}}" id="finalQuiz-container">
    <div ng-if="quizStarted || showScore">
        <h2 class="innerActivityTitle" lang="{{ds.mainMenuLinkLang}}">{{'INNER_QUIZ_TITLE'|localization:ds.language}}</h2>
    </div>

    <div ng-if="!quizStarted && !showScore">

        <h2 class="innerActivityTitle" lang="{{ds.mainMenuLinkLang}}">{{'INNER_QUIZ_TITLE'|localization:ds.language}}</h2>

        <div id="landingpage-instruction-Nav">
            <div class="row landingpage-instruction text-center" id="landingpage-instruction" tabindex="0"
                 ng-class="{'eomDivFocus':focusActive}"
                 ng-keyup="makeEomFocusActive($event)"
                 ng-mousedown="makeEomFocusDeActive()"
                 ng-style="{'max-height':ih+'px'}">
                <div class="col-md-5 col-md-offset-4">
                    <p ng-bind-html="landRow.INTRO | sanitize"></p>
                    <ul>
                        <li ng-repeat="row in landRow.ROW" ng-bind-html="row | sanitize"></li>
                    </ul>
                    <p ng-bind-html="landRow.OUTRO | sanitize"></p>
                </div>
            </div>
            <div style="display: flex;">
                <label  class="translationButton"
                        ng-click="translateDes()">
                    {{'SHOW_TRANSLATION'|localization:ds.language}}
                </label>
            </div>
            <div class="quizInstructions" id="quizInstructions">
                <div class="quizStartButtons">
                    <button id="startTestBtn" class="btn btn-primary text-bold" ng-click="startQuiz(true)">
                        {{'START_TEST'|localization:ds.language}}
                    </button>
                    <label for="startTestBtn" class="offscreen">{{'START_TEST'|localization:ds.language}}</label>
                </div>
                <div class="quizCancelButtons">
                    <button id="cancelBtn" class="btn btn-danger text-bold" ng-click="startQuiz(false)">
                        {{'CANCEL'|localization:ds.language}}
                    </button>
                    <label for="cancelBtn" class="offscreen">{{'CANCEL'|localization:ds.language}}</label>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="quizStarted && !showScore">
        <div class="row quizStarted-instructions-main" id="quizStarted-instructions-main" ng-style="{'max-height' : instHeight+'px'}">
            <div class="row header-row">
                <label class="content description col-md-9 col-sm-9 fontScaleX{{fontSize}}"
                     ng-bind-html="instRowObj|sanitize">{{instRowObj}}
                </label>
                <div class="col-md-3 col-sm-3" ng-if="quizStarted"
                     ng-class="{'dragDropProgress':currentSection['@TYPE'] == 'DRAGDROP' ||
                     currentSection['@TYPE'] == 'MULTIANSWERDRAGDROP',
                     'progressInfo':currentSection['@TYPE'] != 'DRAGDROP'
                     && currentSection['@TYPE'] != 'MULTIANSWERDRAGDROP'}">
                    <label class="sectionInfo"
                         ng-class="{'dragDropSectionInfo':currentSection['@TYPE'] == 'DRAGDROP'||
                         currentSection['@TYPE'] == 'MULTIANSWERDRAGDROP'}">
                        {{'FINAL_QUIZ_SECTION_LABEL'|localization:ds.language}} {{currentSectionNo}}/{{totalSections}}
                    </label>
                    <label class="questionInfo" ng-if="currentSection['@TYPE'] != 'DRAGDROP'
                         && currentSection['@TYPE'] != 'MULTIANSWERDRAGDROP'">
                        - {{'QUESTION'|localization:ds.language}} {{currentQuestionNo}}/{{totalQuestions}}
                    </label>
                </div>
            </div>
            <div class="row header-row">
                <div class="timer col-md-3 col-sm-3">
                    <timer ng-if="ds.language =='en' || ds.language =='fr'" class="content" interval="60000" start-time="startTime">
                        <label>{{minutes}} Minute{{minutesS}}</label>
                        <p class="hiddenValidationDescription" ng-if="!$root.isFrenchModule">Timer gets updated every minute</p>
                        <p class="hiddenValidationDescription" ng-if="$root.isFrenchModule">Minuterie mise à jour toutes les minutes </p>
                    </timer>
                    <timer ng-if="ds.language =='es'" class="content" interval="60000" start-time="startTime">
                        <label>{{minutes}} Minuto{{minutesS}} </label>
                        <p class="hiddenValidationDescription" ng-if="$root.isSpanishModule">Temporizador se actualiza cada minuto</p>
                    </timer>
                    <timer ng-if="ds.language =='zh'" class="content" interval="60000" start-time="startTime">
                        <label>{{minutes}} 分钟 </label>
                        <p class="hiddenValidationDescription" ng-if="$root.isChineseModule">计时器每分钟更新一次</p>
                    </timer>

                </div>
            </div>

        </div>
        <div style="display: flex;">
             <label  class="translationButton"
                     ng-click="translateIns()">
            
            {{'SHOW_TRANSLATION'|localization:ds.language}}
             </label>
        </div>

        <div class="row quiz-question-container" id="quiz-question-container"
             ng-if="currentSection['@TYPE'] != 'DRAGDROP' &&
             currentSection['@TYPE'] != 'MULTIANSWERDRAGDROP'">

            <div class="QuestionAnswerContainer" ng-show="showQ" id="QuestionAnswerContainerParent" ng-style="{'padding-top':padTop+'px'}">
                <div class="col-md-12 col-sm-12 accentBar" ng-if="$root.isFrenchModule && getControlType()=='input'">
                    <div  ng-repeat="accent in accents" class="accents-container">
                        <label class="btn btn-link accents" ng-mousedown="accentMouseDown()" ng-click="addAccent($event, accent.text)">{{accent.text}}</label>
                    </div>
                </div>
                <div class="row col-md-12 col-sm-12 questionNoContainer" id="QuestionAnswerContainer" ng-class="{'audioContainerWithoutQuestion' : currentSection['@TYPE'] == 'MULTIPLECHOICE' && currentQuestion.AUDIO && currentQuestion.TEXT == ''}">

                    <div class="parentValidationQuestion">
                    <div class="inline"
                         ng-if="currentSection['@TYPE']!='WordScrambleClick'"
                         ng-show="currentQuestion.showResult
                 && currentSection['@TYPE'] != 'MULTIPLECHOICE' && currentSection['@TYPE'] != 'MULTICHOICEMULTIANSWER'">
                        <img tabindex="0" src="images/correct.png" alt="Correct Answer" class="quiz-feedback-img" ng-show="currentQuestion.result"/>
                        <img tabindex="0" src="images/wrong.png" alt="Wrong Answer" class="quiz-feedback-img" ng-show="!currentQuestion.result"/>
                        <p for="QuestionAnswerContainer" class="hiddenValidationDescription" ng-if="currentQuestion.result">{{'CORRECT_ANSWER'|localization:ds.language}}</p>
                        <p for="QuestionAnswerContainer" class="hiddenValidationDescription" ng-if="!currentQuestion.result">{{'WRONG_ANSWER'|localization:ds.language}}</p>
                    </div>
                    <div class="row EOMQuestionDiv" id="EOMQuestionDiv"  ng-style="{'max-height':questionDivHeight+'px'}" style="overflow: auto;" ng-if="currentSection['@TYPE']!='WordScrambleClick'">
                        <label class="questionNo col-md-1 col-lg-1 col-sm-1"   >{{currentQuestionNo}}.</label>
                        <span ng-if="currentQuestion.AUDIO">
                            <span ng-if="currentQuestion.AUDIO && currentSection['@TYPE'] == 'MULTIPLECHOICE'"
                                  ng-click="playAudio(currentQuestion.AUDIO)"
                                  class="audio"
                                  tabindex="0"
                                  tooltip-class="tooltip-audio {{currentSection['@TYPE']}}"
                                  uib-tooltip="{{htmlDecode(currentQuestion.AUDIOCAPTION)}}"
                                  tooltip-placement="right auto"
                                  tooltip-enable="{{$root.audioCaptionControl}}"
                                  tooltip-trigger="none"
                                  tooltip-is-open="ds.showTooltip && ds.FinalQuizFocus"
                                  ng-blur="hidetip()"
                                  id="FinalTest_question_{{currentQuestionNo}}_audio">
                                <img src="images/play.png" alt="Play question {{currentQuestionNo}}">
                            </span>

                         <span ng-if="currentQuestion.AUDIO && currentSection['@TYPE'] != 'MULTIPLECHOICE'"
                               ng-click="playAudio(currentQuestion.AUDIO)"
                               ng-blur="hidetip()"
                               class="audio"
                               tabindex="{{currentQuestion.tabIndex?currentQuestion.tabIndex:0}}"
                               uib-tooltip="{{currentQuestion.AUDIOCAPTION}}"
                               tooltip-class="tooltip-audio"
                               tooltip-placement="right"
                               tooltip-trigger="none"
                               tooltip-is-open="ds.showTooltip && ds.FinalQuizFocus"
                               tooltip-enable="{{$root.audioCaptionControl}}">
                             <img src="images/play.png" alt="Play question {{currentQuestionNo}}">
                         </span>
                        </span>
                        <label class="questionText col-md-11 col-lg-11 col-sm-11"
                               ng-bind-html="replaceBlank(currentQuestion.TEXT) | sanitize"
                               id="FinalTest_question_{{currentQuestionNo}}_text" lang="{{ds.mainMenuLinkLang}}"></label>
                    </div>
                    </div>

                    <div class="audioContainer" ng-if="currentQuestion.IMAGE" id="imageContainer" ng-style="{'max-height':questionDivHeight+'px'}" >

                    <div ng-if="currentQuestion.IMAGE" class="QuizImage">

                        <input id="back_previousbutton" type="button"
                               class="start-activity btn btn-primary"
                               value="{{'SHOW_IMAGE'|localization:ds.language}}"
                               tooltip-class="tooltip-audios"
                               tabindex="0"
                               tooltip-placement="top"
                               tooltip-trigger="click"
                               tooltip-is-open="myPopover.isOpen"
                               uib-tooltip-template="myPopover.templateUrl"/>
                        <label for="back_previousbutton" class="hiddenValidationDescription" for="back_previousbutton" ng-if="$root.isFrenchModule">{{'SHOW_IMAGE'|localization:ds.language}} pour la question {{currentQuestionNo}}</label>
                        <label for="back_previousbutton" class="hiddenValidationDescription" for="back_previousbutton" ng-if="!$root.isFrenchModule">{{'SHOW_IMAGE'|localization:ds.language}} for the question {{currentQuestionNo}}</label>


                        <script type="text/ng-template" id="myPopoverTemplate.html">
                            <img tabindex="0" ng-src="{{getImageAssetsPath(currentQuestion.IMAGE)}}" class="quiz-img"
                                 alt="{{imageCaptionObj}}"
                                 tooltip-class="tooltip-image"
                                 uib-tooltip="{{imageCaptionObj}}"
                                 tooltip-placement="bottom"
                                 tooltip-trigger="mouseenter focus"
                                 tooltip-enable="{{$root.imageCaptionControl}}">
                            <span class="popoverCloseBtn" ng-click="myPopover.close()">X</span>
                        </script>

                    </div>
                        </div>

                </div>

                <div class="row answerSet scroll-overflow {{currentSection['@TYPE']}}" id="answerSet" ng-style="{'max-height':questionDivHeight+'px'}"
                     ng-class="{'image-answerSet':currentQuestion.IMAGE}">
                    <answer-set control-type="getControlType()" selected-activity="selectedQuiz"
                                current-section="currentSection"
                                question="currentQuestion" question-no="currentQuestionNo">
                    </answer-set>
                </div>
            </div>
            <div ng-show="currentQuestion.disabled" class="nextQuestion" id="nextQuestion">
                <button id="nextQuestionBtn" class="btn btn-primary nextBtn" ng-click="showNextQuestion()">
                    {{'NEXT_QUESTION'|localization:ds.language}}
                </button>
                <label for="nextQuestionBtn" class="offscreen">{{'NEXT_QUESTION'|localization:ds.language}}</label>

            </div>
        </div>

        <div ng-if="currentSection['@TYPE'] == 'DRAGDROP' ||
        currentSection['@TYPE'] == 'MULTIANSWERDRAGDROP'" class="quiz-dragdrop-container DragAndDrop" id="quiz-dragdrop-container"
             ng-class="{'singleQuestion': isHorizontal}"
             ng-init="questions = currentSection.QUESTIONS.QUESTION;
                 activityType = 'DragAndDrop'; isHorizontal=questions.length == 1;
                 selectedQuiz.isHorizontal = isHorizontal">

            <audio id="load_audio" alt="{{(question.AUDIO && getFileName(question.AUDIO))||  'FinalQuiz mp3'}}"
                   ui-event="{ended : 'hideTooltip()'}">
                <p>Your browser does not support the <code>audio</code> element </p>
            </audio>

            <section-header current-section="currentSection" activity-type="activityType"
                            is-horizontal="isHorizontal"></section-header>
            <div class="row scroll-overflow questionText" id="dragContainer" ng-style="{'height':dh+'px'}"
                 ng-class="{questionWrapper:questions.length == 1}">
                <div class="col-md-8 col-sm-8 QuizDragDropQuestion" ng-class="{'singleDragdrop': isHorizontal }">
                    <div ng-repeat="question in questions" class="question">
                        <div class="DragDropQuestion">
                            <div class="inline float_left feedback" ng-show="question.showResult">
                                <img tabindex="0" class="dragdrop-feedback" src="images/correct.png" alt="Correct Answer" ng-show="question.result"/>
                                <img tabindex="0" class="dragdrop-feedback" src="images/wrong.png" alt="Wrong Answer" ng-show="!question.result"/>
                                <p for="dragContainer" class="hiddenValidationDescription" ng-if="question.result">{{'CORRECT_ANSWER'|localization:ds.language}}</p>
                                <p for="dragContainer" class="hiddenValidationDescription" ng-if="!question.result">{{'WRONG_ANSWER'|localization:ds.language}}</p>
                            </div>
                             <span ng-bind-html="question.PLAYER | sanitize"
                                   class="dragdrop-player col-sm-2"></span>
                            <div ng-if="question.AUDIO" class="col-sm-2 col-md-1 quizDragDropAudio">
                    <span>
                        <img src="images/play.png" alt="Play question {{$index+1}}"
                             ng-blur="hidetip()"
                             ng-click="play_audio(question.AUDIO, $index)"
                             tabindex="0"
                             tooltip-class="tooltip-audio"
                             uib-tooltip="{{question.AUDIOCAPTION}}"
                             tooltip-placement="right"
                             tooltip-trigger="none"
                             tooltip-is-open="ds.showTooltip && tooltipIndex == $index && ds.FinalQuizFocus"
                             tooltip-enable="{{$root.audioCaptionControl}}"></span>
                            </div>
                            <div ng-if="!question.AUDIO && question.ANSWERSET.ANSWER.AUDIO" class="quizDragDropAudio"
                                 ng-class="{'btnDisabled': !question.showResult}">
                    <span ng-click="play_audio(question.ANSWERSET.ANSWER.AUDIO, $index)"
                          tooltip-class="tooltip-audio"
                          uib-tooltip="{{question.ANSWERSET.ANSWER.AUDIOCAPTION}}"
                          tooltip-placement="right"
                          tooltip-trigger="none"
                          tooltip-is-open="ds.showTooltip && tooltipIndex == $index"
                          tooltip-enable="{{$root.audioCaptionControl}}"
                            ><img tabindex="0" src="images/play.png"
                                  alt="Play question {{$index+1}}"></span>
                            </div>
                            <div class="col-md-9 col-sm-9 col-lg-9 questionText" ng-class="{'HorizontalDragDropQuestion': isHorizontal}">
                                <answer-set ng-if="question.ANSWERSET"
                                        control-type="getControlType(currentSection['@TYPE'])"
                                            selected-activity="selectedQuiz"
                                            current-section="currentSection"
                                            question="question" question-no="$index+1">
                                </answer-set>
                                <div ng-init="adjustTotalQuestions()" ng-if="!question.ANSWERSET" lang="{{ds.mainMenuLinkLang}}" class="dragdrop-text" ng-bind-html="question.TEXT | sanitize"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!isHorizontal && !dragDropAnswersRemoved"
                     class="col-md-4 col-sm-4 answerSetParent scroll-overflow" id="dragDropAnswers"
                     style="float: left; border:2px solid lightgray;max-height:80%" ng-style="{'top':dragDropTop+'px'}">

                    <div ng-repeat="shuffledAnswer in ds.shuffledAnswers  |orderBy: 'ANSWER.order'"
                         ng-if="!shuffledAnswer.ANSWER.isRemoved">
                        <div ng-if="shuffledAnswer.questionAudio.audio && selectedActivity.inverseAudio && !shuffledAnswer.ANSWER.AUDIO && chk_is_array_Answerset()"
                             class="audio">
                                <span ng-blur="hidetip()"
                                      ng-click="!ds.dragStarted && play_audio(shuffledAnswer.questionAudio.audio,  $index)"
                                      tooltip-append-to-body="true"
                                      tooltip-class="tooltip-audio fontScaleX{{$root.fontSize}}"
                                      uib-tooltip="{{shuffledAnswer.questionAudio.audioCaption}}"
                                      tooltip-placement="left"
                                      tooltip-is-open="ds.showTooltip && $index == ds.toolTipIndex && ds.focuss"
                                      tooltip-trigger="none"
                                      tooltip-enable="{{$root.audioCaptionControl}}">
                                <img src="images/play.png" alt="Play question {{$index+1}}" class="playBtn">
                                </span>
                        </div>

                        <div ng-if="shuffledAnswer.ANSWER.TEXT">
                            <div class="dragdropAnswerSet"
                                 ng-if="shuffledAnswer.ANSWER.AUDIO && shuffledAnswer.ANSWER.TEXT">
                        <span ng-blur="hidetip()"
                              ng-click="!ds.dragStarted && play_audio(shuffledAnswer.ANSWER.AUDIO, $index)"
                              tooltip-append-to-body="true"
                              tooltip-class="tooltip-audio fontScaleX{{$root.fontSize}}"
                              uib-tooltip="{{shuffledAnswer.ANSWER.AUDIOCAPTION}}"
                              tooltip-placement="left"
                              tooltip-is-open="ds.showTooltip && $index == ds.toolTipIndex && ds.focuss"
                              tooltip-trigger="none"
                              tooltip-enable="{{$root.audioCaptionControl}}">
                            <img src="images/play.png" alt="Play question {{$index+1}}" class="playBtn">
                        </span>
                            </div>

                            <label ng-if="shuffledAnswer.ANSWER.TEXT" class="peg"
                                 ng-class="{'peg-audio':shuffledAnswer.questionAudio.audio || shuffledAnswer.ANSWER.AUDIO}"
                                 ng-drag="true" allow-transform="false"
                                 ng-drag-data="{DATA:shuffledAnswer.ANSWER.TEXT}"
                                 ng-bind-html="shuffledAnswer.ANSWER.TEXT|sanitize">
                            </label>
                        </div>
                        <div style="height: 55px;" ng-if="shuffledAnswer.ANSWER.AUDIO && !shuffledAnswer.ANSWER.TEXT">
                            <div ng-drag="true"
                                 allow-transform="false"
                                 class="audioOnly"
                                 ng-drag-data="{DATA:shuffledAnswer.ANSWER.AUDIO}">
                    <span ng-blur="hidetip()"

                          ng-click="!ds.dragStarted && play_audio(shuffledAnswer.ANSWER.AUDIO, $index, $event)"
                          tooltip-class="tooltip-audio fontScaleX{{$root.fontSize}}"
                          tooltip-append-to-body="true"
                          uib-tooltip="{{shuffledAnswer.ANSWER.AUDIOCAPTION}}"
                          tooltip-placement="right"
                          tooltip-is-open="ds.showTooltip && $index == ds.toolTipIndex && ds.focuss"
                          tooltip-trigger="none"
                          tooltip-enable="{{$root.audioCaptionControl}}">
                        <img src="images/play.png" alt="Play question {{$index+1}}" class="playBtn">
                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="ds.attendedTotalQuestions == totalQuestions" class="nextQuestion" id="nextQuestions">
                <button id="nextQuestionBtn" class="btn btn-primary nextBtn nextBtnDrag" ng-click="showNextQuestion()">
                    {{'NEXT_QUESTION'|localization:ds.language}}
                </button>
                <label for="nextQuestionBtn" class="offscreen">{{'NEXT_QUESTION'|localization:ds.language}}</label>
            </div>
        </div>
    </div>
</div>
<div ng-if="showScore" style="text-align: center;" class="fontScaleX{{$root.fontSize}}">
    <div class="quiz-your-score">{{'YOUR_SCORE'|localization:ds.language}}:
        {{calculateTotalScore()}}%
    </div>
    <div class="quiz-individual-score-main scroll-overflow" id="scoreMain" ng-style="{'max-height':sh+'px'}" tabindex="0"
         ng-class="{'eomDivFocus':focusActive}"
         ng-keyup="makeEomFocusActive($event)"
         ng-mousedown="makeEomFocusDeActive()">
        <div class="score-container">
            <div ng-repeat="section in sections" class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 scoreContainerSectionNo">
                    <label ng-class="{'scoreContainerSectionNoPadding':$index >=9}">{{'FINAL_QUIZ_SECTION_LABEL'|localization:ds.language}} {{$index+1}}</label>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 scoreContainerScore">
                    <label>{{calculateScore($index+1)}}%</label>
                </div>
            </div>
        </div>
    </div>
    <div id="close" class="quiz-score-close-btn">
        <button id="closeQuizBtn" ng-click="closeQuiz()" class="btn btn-primary">{{'CLOSE_TEST'|localization:ds.language}}</button>
        <label for="closeQuizBtn" class="offscreen">{{'CLOSE_TEST'|localization:ds.language}}</label>
    </div>
</div>
</div>
