<audio id="load_audio" alt="{{(question.AUDIO && getFileName(question.AUDIO))|| selectedActivity.type}}"
       ui-event="{ended : 'hideTooltip()'}">
    <p>Your browser does not support the <code>audio</code> element </p>
</audio>

<div class="jumbotron mainQuestion {{selectedActivity.type}}" ng-cloak>
    <div id="activityContainer" class="tabs fontScaleX{{fontSize}} ng-hide"
         ng-class="{'windows': $root.isWindows}"
         ng-show="templateLoaded">
        <div id="Activity_landing_page" class="scroll-div ng-isolate-scope stepactivity" ng-show="landPanel">

            <h2 class="innerActivityTitle" ng-if="selectedActivity.type == 'DialogQuiz'">
                <label ng-bind-html="dialogueTitle1|sanitize"></label> / <label lang="{{ds.oppLang}}" ng-bind-html="dialogueTitle2|sanitize"></label>
            </h2>
           

            <div class="tab-content">
                <div class="tab com-tab active instruction-table bff-background-color" >
                    <div class="act_landing_table" id="DescriptionTableBody"
                         ng-style="{'max-height':Descriptionheight+'px'}" tabindex="0"
                         ng-class="{'divFocus':focusActive}"
                         ng-keyup="makeDivFocusActive($event)"
                         ng-mousedown="makeDivFocusDeActive()">
                        <table class="table table-striped table-hover table-condensed" ng-repeat="row in landRow">
                            <tbody>
                            <tr class="tr_desciption">
                                <td colspan="{{col['@colspan']}}"
                                    ng-style="{'width' : col['@Cellwidth'] ? col['@Cellwidth']+'%' : 100/row.COL.length+'%'}"
                                    ng-if="isArray(row.COL)"
                                    ng-repeat="col in row.COL track by $index"
                                    ng-class="{'text-center':col['@textAlign']=='center'}"
                                    class="tableLeftBorder">
                                    <label ng-bind-html="col|sanitize" class="descriptionTxt"
                                           ng-if="!col.AUDIO && !col.TEXT && !isImage(col)"
                                           lang="{{col['@lang']}}"></label>
                                    <span ng-if="col.AUDIO"
                                          ng-click="play_audio(col.AUDIO, $parent.$parent.$parent.$index+'_'+$index)"
                                          ng-blur="hidetip()"
                                          tooltip-class="tooltip-audio"
                                          uib-tooltip="{{col.AUDIOCAPTION}}"
                                          tooltip-placement="right"
                                          tooltip-is-open="ds.showTooltip && ds.toolTipIndex == $parent.$parent.$parent.$index+'_'+$index && ds.focuss"
                                          tooltip-trigger="none"
                                          tooltip-enable="{{$root.audioCaptionControl}}">
                                    <img src="images/play.png" alt="Play audio">
                                </span>
                                    <img style="width: 80%" ng-if="isImage(col)"
                                         ng-src="{{getImageAssetsPath(col)}}"
                                         alt="{{row.IMAGECAPTION[$index]}}"
                                         tabindex="{{$index}}"
                                         tooltip-class="tooltip-audio"
                                         uib-tooltip="{{getImageCaptionsFromLang((row.IMAGECAPTIONS[$index].IMAGECAPTION ? row.IMAGECAPTIONS[$index] : row.IMAGECAPTIONS[$index-1]))}}"
                                         tooltip-placement="right"
                                         tooltip-trigger="mouseenter focus"
                                         tooltip-enable="{{$root.imageCaptionControl}}"/>

                                    <label ng-if="col.TEXT" class="descriptionTxt" ng-bind-html="col.TEXT|sanitize"
                                           ng-if="!col.AUDIO" lang="{{col['@lang']}}"></label>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 bff-background-color padding-top-30">
                      <h2 class="text-center white-text" >WELCOME</h2>
                      <div class="col-sm-2 nopadding"></div>
                      <div class="col-sm-8 nopadding text-center bff-background-color white-text " ng-bind-html="landRow.COL.TEXT |sanitize"></div>
                      
                    </div>
                    <div class="col-sm-12 nopadding bff-background-color" >
                      <div class="col-sm-2 nopadding"></div>
                      <div class="col-sm-8 bff-background-color" >
                        <div class="col-sm-2 text-center nopadding" ng-repeat="theme in landRow.THEMES.THEME">
                          <div class="col-sm-12 nopadding" >
                           <img ng-if="theme.IMAGE" src="images/{{theme.IMAGE}}.png" alt="Smiley face"  width="100%">

                          </div>
                          <h5 class="col-sm-12 text-left nopadding white-text" >
                            {{theme.TEXT}}
                          </h5>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 " style="margin-top:30px">
                      <div class="col-sm-2 nopadding"></div>
                      <div class="col-sm-8 nopadding text-center white-text" ng-bind-html="landRow.COL.TEXT2 |sanitize"></div>
                      
                    </div>
                    <!--Hidden description-->
                    <div class="hiddenValidationDescription">
                        <table ng-repeat="row in landRow">
                            <tbody>
                            <tr>
                                <td colspan="{{col['@colspan']}}"
                                    ng-style="{'width' : col['@Cellwidth'] ? col['@Cellwidth']+'%' : 100/row.COL.length+'%'}"
                                    ng-if="isArray(row.COL)"
                                    ng-repeat="col in row.COL track by $index"
                                    ng-class="{'text-center':col['@textAlign']=='center'}">
                                    <p ng-bind-html="col|sanitize" class="descriptionTxt"
                                       ng-if="!col.AUDIO && !col.TEXT && !isImage(col)"></p>
                                    <p ng-if="col.TEXT" class="descriptionTxt" ng-bind-html="col.TEXT|sanitize"
                                       ng-if="!col.AUDIO"></p>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--Hidden description ends-->

                    <div class="row descriptionTableBtnContainer bff-background-color" id="DescriptionTableButtons " style="height:100vh;">
                        <div class="col-lg-12 col-md-12 col-sm-12 start-btn-group">
                            <div class="col-lg-12" style="text-align:center;">
                                <input id="back_previousbutton" type="button"
                                       class="start-activity btn btn-primary fontScaleX{{fontSize}}"
                                       value="{{'START_ASSESSMENT'|localization:ds.language}}"
                                       ng-click="startTest(0)"/>
                                <label for="back_previousbutton" class="hiddenValidationDescription" ng-if="$root.isFrenchModule">{{'START_ASSESSMENT'|localization:ds.language}}</label>

                                <input type="button"
                                       id="resumeActivity"
                                       class="resume-activity btn btn-primary fontScaleX{{fontSize}}"
                                       value="{{!ds.isResuming?('START_FROM_WHERE_I_LEFT'|localization:ds.language):('RESUMING_WAIT'|localization:ds.language)}}"
                                       ng-disabled="!checkForResume()"
                                       ng-class="checkForResume()? 'activeActivity' : ''" ng-click="resumeActivityBtn()"/>
                                <label for="resumeActivity" class="hiddenValidationDescription" ng-if="$root.isFrenchModule">{{'START_FROM_WHERE_I_LEFT'|localization:ds.language}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="privacyButtonDiv">
                        <input id="privacyButton" type="button"
                               class="start-activity btn btn-primary fontScaleX{{fontSize}}"
                               value="Privacy Policy"
                               ng-click="openPolicy()" ng-enter="openPolicy()"/>
                        <label for="privacyButton" class="hiddenValidationDescription" ng-if="$root.isFrenchModule">{{'START_ASSESSMENT'|localization:ds.language}}</label>

                    </div>
                </div>

            </div>

        </div>

        <div id="Activity_landing_page" class="scroll-div ng-isolate-scope stepactivity" ng-hide="instPanel">

            <div class="tab-content" id="tab-content">
              <div ng-if="showScore" class="text-center" id="thank_you" style = "padding-top:40px;padding-bottom: 40px; width: 550px;  margin: 0 auto; display:none">{{'THANK_YOU'|localization:ds.language}}</div>
              <div ng-if="showScore" id="activity-score-container-graph" style = "width: 800px; height: 500px; margin: 0 auto; display:none">
                <div> text congratulation</div>
                {{calculatePercentage()}}

              </div>
              <div ng-if="showScore" id="activity-triage-container" style = "width: 1000px; height: 100vh; margin: 0 auto">
                <h1 class="text-center" style="margin-top:40px;">Triage</h1>
                <div class="text-center" style = "padding: 15px;font-size: 15px;"><b>{{'INSTRUCTION_TRIAGE'|localization:ds.language}}</b></div>
                <div id="listingTable" class="col-sm-12"></div>
                <div  class="col-sm-12">
                  <button ng-click="prevPage()" id="btn_prev" class="btn-primary">Prev</button>
                  <button ng-click="nextPage()" id="btn_next" class="btn-primary">Next</button>
                </div>
                <div class="col-md-1 col-sm-2 activitiesScore footerTopPadding" id="display_graph">
                    <button ng-click="display_score()" class="btn-primary">
                        {{'YOUR_SCORE'|localization:ds.language}}
                    </button>
                    <label ng-if="!scoreDisabled" for="yourScoreBtn" class="offscreen">{{'YOUR_SCORE'|localization:ds.language}}</label>
                    <label ng-if="scoreDisabled" for="yourScoreBtn" class="offscreen">{{'YOUR_SCORE'|localization:ds.language}} {{'DISABLED_BUTTON' | localization:ds.language}}</label>
                </div>
              </div>
                <div ng-if="showAccentBar()"
                     class="accentBar row">
                    <div ng-repeat="accent in accents" class="accents-container">
                        <label class="btn btn-link accents"
                               ng-click="addAccent($event, accent.text)"
                               ng-enter="addAccent($event, accent.text)">{{accent.text}}</label>
                    </div>
                </div>
                <div class="simpleDemo col-sm-12" ng-controller="OverviewCtrl" ng-if="currentSection['@type'] == 'DRAGDROP'" >
                  <div class="col-sm-3"></div>
                  <!-- The dnd-list directive allows to drop elements into it.
                       The dropped data will be added to the referenced list -->
                  <h5 class="text-left" ng-bind-html="currentSection.QUESTIONS.QUESTION.TEXT |sanitize" uib-tooltip="{{currentSection.QUESTIONS.QUESTION.TOOLTIP}}"
                      tooltip-placement="top auto"
                      tooltip-trigger="mouseenter focus"
                      tooltip-append-to-body="true"
                  ></h5>
                  <ul dnd-list="currentSection.QUESTIONS.QUESTION.ANSWERSET.ANSWER" class="col-sm-6">
                   
                      <!-- The dnd-draggable directive makes an element draggable and will
                           transfer the object that was assigned to it. If an element was
                           dragged away, you have to remove it from the original list
                           yourself using the dnd-moved attribute -->
                      <li ng-repeat="item in currentSection.QUESTIONS.QUESTION.ANSWERSET.ANSWER"
                          dnd-draggable="item"
                          dnd-moved="currentSection.QUESTIONS.QUESTION.ANSWERSET.ANSWER.splice($index, 1)"
                          dnd-effect-allowed="move"
                          dnd-selected="models.selected = item"
                          ng-class="{'selected': models.selected === item}"
                          data-score= '{"category":"{{currentSection.QUESTIONS.QUESTION.ANSWERSET["@CATEGORIE"]}}","index":{{currentPageNo}},"score":"{{item["@SCORE"]}}","issue_number":"{{currentSection.QUESTIONS.QUESTION.ANSWERSET["@num"]}}","choice_number":"{{item["@num_choice"]}}"}'                  
                      >

                          {{item.TEXT}}
                      </li>

                      <button
                      ng-model="answered_drag_drop" ng-click="cal_scor_drag_drop()" ng-init="count=0" type="button" id="btn_drag_drop_question" class="btn btn-success btn-drag-drop-question" >ok</button>
                  </ul>

                </div>

                <!-- END CASE DERAG AND DROP -->
                <div id="questionContainer"
                     ng-if="currentSection['@type'] == 'NULL' || currentSection['@type'] == 'CHECKBOX' "
                     class="table-questions container {{activityType}}"
                     ng-class="{'shuffle': selectedActivity.shuffleAnswers,
                     'singleQuestion': $root.isArray(currentSection.QUESTIONS.QUESTION) == false,
                     'DragDropHorizontalMultiAnswer' : selectedActivity.isHorizontal && selectedActivity.isMultiAnswer,
                     'DragDropColumnTableQuestions' : activityType == 'DragDropColumn',
                     'divFocus':focusActive,
                     'scroll-overflow': activityType !='GroupHeading',
                     'noScroll' : activityType =='DragDropColumn'}"
                     ng-if="testStarted && !showScore"
                     ng-style="{'height': ds.height+'px'}"
                     ng-blurs="hidetipinverse()" tabindex="0"
                     ng-keyup="makeDivFocusActive($event)"
                     ng-mousedown="makeDivFocusDeActive()">

                    <question current-section="currentSection" activity="activity" selected-activity="selectedActivity"
                              current-page-No="currentPageNo"></question>
                </div>
            </div>
        </div>
        <div ng-show="testStarted" class="table-pagination row step4 pagerFooter" id="pagerFooter"
             ng-style="{'width': ds.pageWidth+'px'}">
            <div ng-show="testStarted || masked">
                <div id="description_div"
                     class="col-md-3 col-sm-2">
                    <button id="goToDescriptionBtn" ng-click="descriptionTest()" class="btn btn-default ng-click-active topMargin btnButtonSet"
                            ng-disabled="landPanel" ng-class="{'footer-btn-active':landPanel}">
                        {{'DESCRIPTION_BUTTON'|localization:ds.language}}
                    </button>
                    <label for="goToDescriptionBtn" class="offscreen">{{'DASHBOARD'|localization:ds.language}}</label>
                </div>
                <div class="col-md-6 col-sm-5 activity-pager pagerNumbers" id="footer">
                    <custom-pager total-items="totalPageNo" items-per-page="1" ng-model="currentPageNo"
                                  ng-change="pageChanged()"
                                  previous-text="&lsaquo;"
                                  max-size="10"
                                  next-text="&rsaquo;"></custom-pager>
                </div>
                <div id="quiz_div" class="col-md-2 col-sm-2 attendedQuestions footerTopPadding">
                    <button class="btn btn-default btnButtonSet" ng-class="{'sysLang_zh':$root.sysLang == '3'}" id="questionCounterBtn"
                            ng-disabled="scoreDisabled">{{'QUESTION'|localization:ds.language}} {{ ds.answeredQuestions + ' / ' + totalQuestions }}</button>
                    <label ng-if="!scoreDisabled" for="questionCounterBtn" class="offscreen">{{'QUESTION'|localization:ds.language}} {{ ds.answeredQuestions + ' / ' + totalQuestions }}</label>
                    <label ng-if="scoreDisabled" for="questionCounterBtn" class="offscreen">{{'QUESTION'|localization:ds.language}} {{ ds.answeredQuestions + ' / ' + totalQuestions }} {{'DISABLED_BUTTON' | localization:ds.language}}</label>
                </div>
                <div class="col-md-1 col-sm-2 activitiesScore footerTopPadding">
                    <button class="btn btn-default btnButtonSet" id="yourScoreBtn"
                            ng-class="{'activeScoreButton':!scoreDisabled, 'footer-btn-active':showScore,'sysLang_zh':$root.sysLang == '3'}"
                            ng-disabled="scoreDisabled"
                            ng-click="goToScore()">
                        {{'YOUR_TRIAGE'|localization:ds.language}}
                    </button>
                    <label ng-if="!scoreDisabled" for="yourScoreBtn" class="offscreen">{{'YOUR_TRIAGE'|localization:ds.language}}</label>
                    <label ng-if="scoreDisabled" for="yourScoreBtn" class="offscreen">{{'YOUR_TRIAGE'|localization:ds.language}} {{'DISABLED_BUTTON' | localization:ds.language}}</label>
                </div>
            </div>


        </div>
        <input class="form-control fontScaleX{{fontSize}} compiledInput" id="maxInput" type="text">
    </div>
</div>
