<div class="scroll-overflow-StudySection" ng-style="{'max-height':$root.height-120}" tabindex="0"
     ng-class="{'ssDivFocus':focusActive}"
     ng-keyup="makeDivFocus($event)"
     ng-mousedown="makeDivblur()">
    <div class="row studySection theory container">
        <div class="contentContainer" compile-data template="{{studySection.CONTENT}}"></div>

        <div class="container show_score">
            <button id="nextUnitBtn"
                    class="btn btn-primary nextActivity"
                    ng-disabled="!isNextItem()"
                    ng-click="goToNextItem()">
                {{'NEXT_UNIT'|localization:ds.language}}
            </button>
            <label for="nextUnitBtn" class="offscreen">{{'NEXT_UNIT'|localization:ds.language}}</label>
        </div>
    </div>
</div>