<audio id="loadAudio" alt="{{(question.AUDIO && getFileName(question.AUDIO))|| selectedActivity.type}}">
    <p>Your browser does not support the <code>audio</code> element </p>
</audio>
<div id="glance" class="mainContainer">
    <div>
        <div class="header" ng-if="!$root.isFrenchModule">
            <h2>{{currentSection.TITLE1.EN}}
                <span ng-if="translateLang == '0'"> / {{currentSection.TITLE1.FR}}</span>
                <span ng-if="translateLang == '1'"> / {{currentSection.TITLE1.ES}}</span>
                <span ng-if="translateLang == '2'"> / {{currentSection.TITLE1.ZH}}</span>
            </h2>
            <h3 ng-if="currentSection.TITLE2" id="{{currentSection.TITLE2.ID}}">{{currentSection.TITLE2.EN}}
                <span ng-if="translateLang == '0'"> / {{currentSection.TITLE2.FR}}</span>
                <span ng-if="translateLang == '1'"> / {{currentSection.TITLE2.ES}}</span>
                <span ng-if="translateLang == '2'"> / {{currentSection.TITLE2.ZH}}</span>
            </h3>

            <h4 id="{{currentSection.TITLE3.ID}}" ng-if="currentSection.TITLE3">{{currentSection.TITLE3.EN}}
                <span ng-if="translateLang == '0'"> / {{currentSection.TITLE3.FR}}</span>
                <span ng-if="translateLang == '1'"> / {{currentSection.TITLE3.ES}}</span>
                <span ng-if="translateLang == '2'"> / {{currentSection.TITLE3.ZH}}</span>
            </h4>

            <video ng-if="currentSection.VIDEO" id="my-video" controls class="video-js vjs-default-skin theoryVideo" alt="{{currentSection.VIDEO}}">
                <source ng-src="{{getVideoPath()}}" type="video/mp4">
                <track ng-if="videoCaptionControl" ng-src="{{getVideoCaptionPath()}}" label="English" kind="captions" srclang="en-us" default ></track>
                Your browser does not support the video tag.
            </video>
            </div>
        <div class="header" ng-if="$root.isFrenchModule">
            <h2>{{currentSection.TITLE1.FR}}
                <span ng-if="translateLang == '0'"> / {{currentSection.TITLE1.EN}}</span>
                <span ng-if="translateLang == '1'"> / {{currentSection.TITLE1.ES}}</span>
                <span ng-if="translateLang == '2'"> / {{currentSection.TITLE1.ZH}}</span>
            </h2>

            <h3 ng-if="currentSection.TITLE2" id="{{currentSection.TITLE2.ID}}">{{currentSection.TITLE2.FR}}
                <span ng-if="translateLang == '0'"> / {{currentSection.TITLE2.EN}}</span>
                <span ng-if="translateLang == '1'"> / {{currentSection.TITLE2.ES}}</span>
                <span ng-if="translateLang == '2'"> / {{currentSection.TITLE2.ZH}}</span>
            </h3>

            <h4 id="{{currentSection.TITLE3.ID}}" ng-if="currentSection.TITLE3">{{currentSection.TITLE3.FR}}
                <span ng-if="translateLang == '0'"> / {{currentSection.TITLE3.EN}}</span>
                <span ng-if="translateLang == '1'"> / {{currentSection.TITLE3.ES}}</span>
                <span ng-if="translateLang == '2'"> / {{currentSection.TITLE3.ZH}}</span>
            </h4>

            <video ng-if="currentSection.VIDEO " controls id="my-video" class="video-js vjs-default-skin theoryVideo" alt="{{getVideoAssest(currentSection.VIDEO)}}">
                <source  ng-src="{{getVideoPath()}}" type="video/mp4">
                <track ng-if="videoCaptionControl" ng-src="{{getVideoCaptionPath()}}" label="English" kind="captions" srclang="en-us" default ></track>
                Your browser does not support the video tag.
            </video>

        </div>

        <div ng-repeat="subSection in currentSection.SUBSECTIONS.SUBSECTION"
             ng-if="isArray(currentSection.SUBSECTIONS.SUBSECTION)">
            <div class="translation">
                <div ng-if="$root.isFrenchModule">
                    <h3 id="{{subSection.TITLE2.ID}}" ng-if="subSection.TITLE2">{{subSection.TITLE2.FR}}
                        <span ng-if="translateLang == '0'"> / {{subSection.TITLE2.EN}}</span>
                        <span ng-if="translateLang == '1'"> / {{subSection.TITLE2.ES}}</span>
                        <span ng-if="translateLang == '2'"> / {{subSection.TITLE2.ZH}}</span></h3>
                    <h4 class="offset" id="{{subSection.TITLE4.ID}}" ng-if="subSection.TITLE4">{{subSection.TITLE4.FR}}<span> / {{subSection.TITLE4.EN}}</span></h4>
                </div>
                <div ng-if="!$root.isFrenchModule">
                    <h3 id="{{subSection.TITLE2.ID}}" ng-if="subSection.TITLE2">{{subSection.TITLE2.EN}}
                        <span ng-if="translateLang == '0'"> / {{subSection.TITLE2.FR}}</span>
                        <span ng-if="translateLang == '1'"> / {{subSection.TITLE2.ES}}</span>
                        <span ng-if="translateLang == '2'"> / {{subSection.TITLE2.ZH}}</span>
                    </h3>
                    <h4 class="offset" id="{{subSection.TITLE4.ID}}" ng-if="subSection.TITLE4">{{subSection.TITLE4.EN}}<span> / {{subSection.TITLE4.FR}}</span></h4>
                </div>
                <span compile-data template="{{subSection.CONTENT|sanitize}}"></span>
            </div>
        </div>
        <div ng-if="!isArray(currentSection.SUBSECTIONS.SUBSECTION)">
            <div class="translation">
                <div ng-if="!$root.isFrenchModule">
                    <h3 id="{{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.ID}}"
                        ng-if="currentSection.SUBSECTIONS.SUBSECTION.TITLE2">{{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.EN}}
                        <span ng-if="translateLang == '0'"> / {{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.FR}}</span>
                        <span ng-if="translateLang == '1'"> / {{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.ES}}</span>
                        <span ng-if="translateLang == '2'"> / {{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.ZH}}</span>
                    </h3>
                    <h4 class="offset" id="{{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.ID}}" ng-if="subSection.TITLE4">
                        {{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.EN}}
                        <span ng-if="translateLang == '0'"> / {{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.FR}}</span>
                        <span ng-if="translateLang == '1'"> / {{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.ES}}</span>
                        <span ng-if="translateLang == '2'"> / {{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.ZH}}</span>
                    </h4>
                </div>
                <div ng-if="$root.isFrenchModule">
                    <h3 id="{{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.ID}}"
                        ng-if="currentSection.SUBSECTIONS.SUBSECTION.TITLE2">{{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.FR}}
                        <span ng-if="translateLang == '0'"> / {{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.EN}}</span>
                        <span ng-if="translateLang == '1'"> / {{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.ES}}</span>
                        <span ng-if="translateLang == '2'"> / {{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.ZH}}</span>
                    </h3>
                    <h4 class="offset" id="{{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.ID}}" ng-if="subSection.TITLE4">
                        {{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.FR}}
                        <span ng-if="translateLang == '0'"> / {{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.EN}}</span>
                        <span ng-if="translateLang == '1'"> / {{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.ES}}</span>
                        <span ng-if="translateLang == '2'"> / {{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.ZH}}</span>
                    </h4>
                </div>
                <span compile-data template="{{currentSection.SUBSECTIONS.SUBSECTION.CONTENT|sanitize}}"></span>
            </div>
        </div>
    </div>
</div>
