<div class="tv module opened-panel scroll-overflow" tabindex="0"
     ng-class="{'opened-panel':isPanelOpened ,
    'closed-panel':!menu.isPanelOpened && !isInit,'opened-panel-withoutAnimation':menu.isPanelOpened  && menu.isInit,
    'tvDivFocus':focusActive}"
     ng-style="{'max-height':$root.height-120}"
     ng-keyup="makeDivFocus($event)"
     ng-mousedown="makeDivblur()">
    <div id="content" class="content">
        <div ui-view>
        </div>
    </div>
    <div class="row nextItem tab-stripped">
        <button id="nextItemBtn"
                class="btn btn-primary nextActivity"  alt="Next"
                ng-disabled="!isNextItem()"
                ng-click="goToNextItem()">
            {{'NEXT_ACTIVITY'|localization:ds.language}}
        </button>
        <label for="nextItemBtn" class="offscreen">{{'NEXT_ACTIVITY'|localization:ds.language}}</label>
    </div>
</div>