<audio id="loadAudio" alt="{{(question.AUDIO && getFileName(question.AUDIO))|| selectedActivity.type}}">
</audio>
<div id="glance" class="whatsNewContentContainer" tabindex="-1" ng-class="{'whatsnew-content-highlighted':isLangFocused, 'whatsNewDirective':isDirective}">
    <div class="translation mainContainer" id="whatsNewContentContainer">
            <button class="btn dummyBtn" ng-focus="toggleFocus(true)" ng-blur="toggleFocus(false)"></button>

        <div ng-if="!$root.isFrenchModule && currentSection.TITLE2"  class="FixedHeader" id="header">

            <h2 ng-if="currentSection.TITLE2" id="{{currentSection.TITLE2.ID}}" tabindex="0">
                <span ng-class="{'nouns' : currentSection.TITLE2.EN.localeCompare('NOUNS') == 0 || currentSection.TITLE2.EN.localeCompare('Nouns') == 0,
                                 'adverbs' : currentSection.TITLE2.EN.localeCompare('ADVERBS') == 0 || currentSection.TITLE2.EN.localeCompare('Adverbs') == 0,
                                 'determiners' : currentSection.TITLE2.EN.localeCompare('DETERMINERS') == 0 || currentSection.TITLE2.EN.localeCompare('ADJECTIVES') == 0,
                                 'relatedVocabER' : currentSection.TITLE2.EN.localeCompare('RELATED VOCABULARY') == 0,
                                 'verbs' :  currentSection.TITLE2.EN.localeCompare('VERBS') == 0,
                                 'pronouns' : currentSection.TITLE2.EN.localeCompare('PRONOUNS') == 0,
                                 'usefulExpressions' : currentSection.TITLE2.EN.localeCompare('USEFUL EXPRESSIONS') == 0,
                                 'prepositions' : currentSection.TITLE2.EN.localeCompare('PREPOSITIONS') == 0,
                                  'conjunctions' : currentSection.TITLE2.EN.localeCompare('CONJUNCTIONS') == 0,
                                  'idioms' : currentSection.TITLE2.EN.localeCompare('IDIOMS') == 0,
                                 }"> {{currentSection.TITLE2.EN}}
                    <span ng-if="translateLang =='0'" >/ {{currentSection.TITLE2.FR}}</span>
                    <span ng-if="translateLang =='1'" >/ {{currentSection.TITLE2.ES}}</span>
                    <span ng-if="translateLang =='2'" >/ {{currentSection.TITLE2.ZH}}</span>
                </span>
            </h2>


            <h3 id="{{currentSection.TITLE3.ID}}" ng-if="currentSection.TITLE3" tabindex="0">{{currentSection.TITLE3.EN}} <span
                    ng-if="translateLang =='0'" >/ {{currentSection.TITLE3.FR}}</span>
                <span ng-if="translateLang =='1'" >/ {{currentSection.TITLE3.ES}}</span>
                <span ng-if="translateLang =='2'" >/ {{currentSection.TITLE3.ZH}}</span>
            </h3>


        </div>
        <div ng-if="$root.isFrenchModule && currentSection.TITLE2" class="FixedHeader" id="header">
            <h2 tabindex="0" ng-if="(moduleId==99 || moduleId==0) && currentSection.TITLE2 && (currentSection.TITLE2.FR.indexOf('EXPRESSIONS UTILES')>-1 == false) && (currentSection.TITLE2.EN.indexOf('RELATED VOCABULARY')>-1 == false) && (currentSection.TITLE2.EN.indexOf('Adverbs')>-1 == false) &&
             (currentSection.TITLE2.EN.indexOf('PRONOUNS')>-1 == false) && (currentSection.TITLE2.EN.indexOf('VERBS')>-1 == false) && currentSection.TITLE2.EN.indexOf('DETERMINERS')>-1 ==false &&
             currentSection.TITLE2.EN.indexOf('ADJECTIVES')>-1 == false && currentSection.TITLE2.FR.indexOf('Noms')>-1 == false && currentSection.TITLE2.EN.indexOf('Determiners')>-1 == false" id="{{currentSection.TITLE2.ID}}">{{currentSection.TITLE2.FR}}
                <span ng-if="translateLang == '0'">/ {{currentSection.TITLE2.EN}}</span>
                <span ng-if="translateLang == '1'">/ {{currentSection.TITLE2.ES}}</span>
                <span ng-if="translateLang =='2'" >/ {{currentSection.TITLE2.ZH}}</span>
            </h2>
            <h2 tabindex="0" ng-if="(moduleId==99 || moduleId==0) && currentSection.TITLE2.FR.indexOf('EXPRESSIONS UTILES')>-1" id="{{currentSection.TITLE2.ID}}">
                <span class="usefulExpressions"> {{currentSection.TITLE2.FR}}
                    <span ng-if="translateLang == '0'">/ {{currentSection.TITLE2.EN}}</span>
                    <span ng-if="translateLang == '1'">/ {{currentSection.TITLE2.ES}}</span>
                    <span ng-if="translateLang =='2'" >/ {{currentSection.TITLE2.ZH}}</span>
                </span>
            </h2>
            <h2 tabindex="0" ng-if="(moduleId==99 || moduleId==0) && currentSection.TITLE2.EN.indexOf('PRONOUNS')>-1" id="{{currentSection.TITLE2.ID}}">
                <span class="pronouns"> {{currentSection.TITLE2.FR}}
                    <span ng-if="translateLang == '0'">/ {{currentSection.TITLE2.EN}}</span>
                    <span ng-if="translateLang == '1'">/ {{currentSection.TITLE2.ES}}</span>
                    <span ng-if="translateLang =='2'">/ {{currentSection.TITLE2.ZH}}</span>
            </span>
            </h2>
            <h2 tabindex="0" ng-if="(moduleId==99 || moduleId==0) && currentSection.TITLE2.EN.indexOf('VERBS')>-1" id="{{currentSection.TITLE2.ID}}">
                <span class="verbs"> {{currentSection.TITLE2.FR}}
                    <span ng-if="translateLang == '0'" >/ {{currentSection.TITLE2.EN}}</span>
                    <span ng-if="translateLang == '1'" >/ {{currentSection.TITLE2.ES}}</span>
                    <span ng-if="translateLang =='2'" >/ {{currentSection.TITLE2.ZH}}</span>
                </span>
            </h2>
            <h2 tabindex="0" ng-if="(moduleId==99 || moduleId==0) && currentSection.TITLE2.EN.indexOf('RELATED VOCABULARY')>-1" id="{{currentSection.TITLE2.ID}}">
                <span class="relatedVocabFR"> {{currentSection.TITLE2.FR}}
                    <span ng-if="translateLang == '0'" >/ {{currentSection.TITLE2.EN}}</span>
                    <span ng-if="translateLang == '1'" >/ {{currentSection.TITLE2.ES}}</span>
                    <span ng-if="translateLang =='2'" >/ {{currentSection.TITLE2.ZH}}</span>
                </span>
            </h2>
            <h2 tabindex="0" ng-if="(moduleId==99 || moduleId==0) && currentSection.TITLE2.EN.indexOf('Adverbs')>-1" id="{{currentSection.TITLE2.ID}}">
                <span class="adverbs"> {{currentSection.TITLE2.FR}}
                    <span ng-if="translateLang == '0'" >/ {{currentSection.TITLE2.EN}}</span>
                    <span ng-if="translateLang == '1'" >/ {{currentSection.TITLE2.ES}}</span>
                    <span ng-if="translateLang =='2'" >/ {{currentSection.TITLE2.ZH}}</span>
                </span>
            </h2>
            <h2 tabindex="0" ng-if="(moduleId==99 || moduleId==0) && (currentSection.TITLE2.EN.indexOf('DETERMINERS')>-1 || currentSection.TITLE2.EN.indexOf('ADJECTIVES')>-1)" id="{{currentSection.TITLE2.ID}}">
                <span class="determiners"> {{currentSection.TITLE2.FR}}
                    <span ng-if="translateLang == '0'" >/ {{currentSection.TITLE2.EN}}</span>
                    <span ng-if="translateLang == '1'" >/ {{currentSection.TITLE2.ES}}</span>
                    <span ng-if="translateLang =='2'" >/ {{currentSection.TITLE2.ZH}}</span>
                </span>
            </h2>
            <h2 tabindex="0" ng-if="(moduleId==99 || moduleId==0) && currentSection.TITLE2.FR.indexOf('Noms')>-1">
                <span class="nounsFR">{{currentSection.TITLE2.FR}}</span>
                <span class="nounsFRS">S</span>
                <span class="nounsSlash"  > / </span>
                <span class="nounsER" ng-if="translateLang == '0'">{{currentSection.TITLE2.EN}}</span>
                <span class="nounsER" ng-if="translateLang == '1'">{{currentSection.TITLE2.ES}}</span>
                <span class="nounsER" ng-if="translateLang == '2'">{{currentSection.TITLE2.ZH}}</span>
                <span class="nounsFRS" >S</span>
            </h2>
            <h2  tabindex="0" ng-if="(moduleId==99 || moduleId==0) && currentSection.TITLE2.EN.indexOf('Determiners')>-1">
                <span class="determinersFR" >{{currentSection.TITLE2.FR}}</span>
                <span class="determinersFRS"  > / </span>
                <span class="determinersER" ng-if="translateLang == '0'" >{{currentSection.TITLE2.EN}}</span>
                <span class="determinersER" ng-if="translateLang == '1'" >{{currentSection.TITLE2.ES}}</span>
                <span class="determinersER" ng-if="translateLang == '2'" >{{currentSection.TITLE2.ZH}}</span>
            </h2>

            <h2 tabindex="0" id="{{currentSection.TITLE2.ID}}" ng-if="(moduleId!=99 && moduleId!=0) && currentSection.TITLE2 && currentSection.TITLE2.FR.indexOf('Nom')>-1 == false && currentSection.TITLE2.EN.indexOf('DETERMINERS')>-1 == false && currentSection.TITLE2.FR.indexOf('ADJECTIF')>-1 == false">
                      <span ng-class="{'verbs' : currentSection.TITLE2.EN.localeCompare('VERBS') == 0,
                                        'tnouns' : currentSection.TITLE2.EN.localeCompare('PRONOUNS') == 0,
                                        'prepositions' : currentSection.TITLE2.EN.localeCompare('PREPOSITIONS') == 0,
                                        'tadjectives' : currentSection.TITLE2.EN.localeCompare('CONJUNCTIONS') == 0,
                                        'trel-voc-FR' : currentSection.TITLE2.EN.localeCompare('RELATED VOCABULARY') == 0,
                                        'usefulExpressions' : currentSection.TITLE2.EN.localeCompare('USEFUL EXPRESSIONS') == 0,
                                        'idioms' : currentSection.TITLE2.EN.localeCompare('IDIOMS') == 0,
                                        'adverbs' : currentSection.TITLE2.EN.localeCompare('ADVERBS') == 0}">{{currentSection.TITLE2.FR}}
                            <span ng-if="translateLang == '0'" >/ {{currentSection.TITLE2.EN}}</span>
                            <span ng-if="translateLang == '1'" >/ {{currentSection.TITLE2.ES}}</span>
                            <span ng-if="translateLang == '2'" >/ {{currentSection.TITLE2.ZH}}</span>
                      </span>  </h2>
            <h2 tabindex="0" id="{{currentSection.TITLE2.ID}}" ng-if="(moduleId!=99 && moduleId!=0) && currentSection.TITLE2.EN.indexOf('DETERMINERS')>-1">
                <span class="determinersFR">{{currentSection.TITLE2.FR}}</span>
                <span class="determinersFRS"  > / </span>
                <span class="determinersER" ng-if="translateLang == '0'" >{{currentSection.TITLE2.EN}}</span>
                <span class="determinersER" ng-if="translateLang == '1'" >{{currentSection.TITLE2.ES}}</span>
                <span class="determinersER" ng-if="translateLang == '2'" >{{currentSection.TITLE2.ZH}}</span>
            </h2>
            <h2 tabindex="0" id="{{currentSection.TITLE2.ID}}" ng-if="(moduleId!=99 && moduleId!=0) && currentSection.TITLE2.FR.indexOf('Nom')>-1">
                <span class="nounsFR">{{currentSection.TITLE2.FR}}</span><span class="nounsFRS">S</span>
                <span class="nounsSlash"  > / </span>
                <span class="nounsER" ng-if="translateLang == '0'" >{{currentSection.TITLE2.EN}}</span>
                <span class="nounsER" ng-if="translateLang == '1'" >{{currentSection.TITLE2.ES}}</span>
                <span class="nounsER" ng-if="translateLang == '2'" >{{currentSection.TITLE2.ZH}}</span>
                <span class="nounsFRS" >S</span>
            </h2>

            <h2 tabindex="0" id="{{currentSection.TITLE2.ID}}" ng-if="(moduleId!=99 && moduleId!=0) && currentSection.TITLE2.FR.indexOf('ADJECTIF')>-1" >
                        <span class="adjectifsFR">{{currentSection.TITLE2.FR}}
                            <span class="adjectifsFRS">S</span>
                            <span class="adjectifsSlash"  > / </span>
                            <span class="adjectifsER" ng-if="translateLang == '0'"  >{{currentSection.TITLE2.EN}}</span>
                            <span class="adjectifsER" ng-if="translateLang == '1'"  >{{currentSection.TITLE2.ES}}</span>
                            <span class="adjectifsER" ng-if="translateLang == '2'"  >{{currentSection.TITLE2.ZH}}</span>
                            <span class="adjectifsERS" >S</span>
                        </span>
            </h2>

            <h3 tabindex="0" id="{{currentSection.TITLE3.ID}}" ng-if="currentSection.TITLE3">{{currentSection.TITLE3.FR}}
                <span ng-if="translateLang == '0'">/ {{currentSection.TITLE3.EN}}</span>
                <span ng-if="translateLang == '1'">/ {{currentSection.TITLE3.ES}}</span>
                <span ng-if="translateLang == '2'">/ {{currentSection.TITLE3.ZH}}</span>
            </h3>
        </div>

        <div ng-repeat="subSection in currentSection.SUBSECTIONS.SUBSECTION"
             ng-if="$root.isArray(currentSection.SUBSECTIONS.SUBSECTION)" class="ContentTranslations">
            <div class="translation">
                <div class="contentTitle" ng-if="$root.isFrenchModule" >
                    <h2 tabindex="0" id="{{subSection.TITLE2.ID}}" ng-if="subSection.TITLE2 && subSection.TITLE2.FR.indexOf('Noms')>-1 == false && subSection.TITLE2.EN.indexOf('Determiners')>-1 == false">{{subSection.TITLE2.FR}}
                        <span ng-if="translateLang == '0'" >/ {{subSection.TITLE2.EN}}</span>
                        <span ng-if="translateLang == '1'" >/ {{subSection.TITLE2.ES}}</span>
                        <span ng-if="translateLang == '2'" >/ {{subSection.TITLE2.ZH}}</span>
                    </h2>

                    <h2 tabindex="0" id="{{subSection.TITLE2.ID}}" ng-if="subSection.TITLE2.FR.indexOf('Noms')>-1">
                        <span class="nounsFR">{{subSection.TITLE2.FR}}</span>
                        <span class="nounsFRS">S</span>
                        <span class="nounsSlash"  > / </span>
                        <span class="nounsER" ng-if="translateLang == '0'" >{{subSection.TITLE2.EN}}</span>
                        <span class="nounsER" ng-if="translateLang == '1'" >{{subSection.TITLE2.ES}}</span>
                        <span class="nounsER" ng-if="translateLang == '2'" >{{subSection.TITLE2.ZH}}</span>
                        <span class="nounsFRS" >S</span>
                    </h2>

                    <h2 tabindex="0" id="{{subSection.TITLE2.ID}}" ng-if="subSection.TITLE2.EN.indexOf('Determiners')>-1">
                        <span class="determinersFR">{{subSection.TITLE2.FR}}</span>
                        <span class="determinersFRS"  > / </span>
                        <span class="determinersER" ng-if="translateLang == '0'" >{{subSection.TITLE2.EN}}</span>
                        <span class="determinersER" ng-if="translateLang == '1'" >{{subSection.TITLE2.ES}}</span>
                        <span class="determinersER" ng-if="translateLang == '2'" >{{subSection.TITLE2.ZH}}</span>
                    </h2>

                    <h3 tabindex="0" id="{{subSection.TITLE3.ID}}" ng-if="subSection.TITLE3 && subSection.TITLE3.FR.localeCompare('Nom') != 0 && subSection.TITLE3.FR.localeCompare('NOMS') != 0 && subSection.TITLE3.EN.indexOf('DETERMINERS')>-1 == false && subSection.TITLE3.FR.indexOf('ADJECTIF')>-1 == false && subSection.TITLE3.FR.indexOf('ADVERBES')>-1 == false">
                      <span ng-class="{'verbs' : subSection.TITLE3.EN.localeCompare('VERBS') == 0,
                                        'tnouns' : subSection.TITLE3.EN.localeCompare('PRONOUNS') == 0,
                                        'prepositions' : subSection.TITLE3.EN.localeCompare('PREPOSITIONS') == 0,
                                        'tadjectives' : subSection.TITLE3.EN.localeCompare('CONJUNCTIONS') == 0,
                                        'trel-voc-FR' : subSection.TITLE3.EN.localeCompare('RELATED VOCABULARY') == 0,
                                        'usefulExpressions' : subSection.TITLE3.EN.localeCompare('USEFUL EXPRESSIONS') == 0,
                                        'idioms' : subSection.TITLE3.EN.localeCompare('IDIOMS') == 0}">{{subSection.TITLE3.FR}}
                            <span ng-if="translateLang == '0'" >/ {{subSection.TITLE3.EN}}</span>
                            <span ng-if="translateLang == '1'" >/ {{subSection.TITLE3.ES}}</span>
                            <span ng-if="translateLang == '2'">/ {{currentSection.TITLE3.ZH}}</span>
                      </span>  </h3>

                    <h3 tabindex="0" id="{{subSection.TITLE3.ID}}" ng-if="(subSection.TITLE3.FR.localeCompare('Nom') == 0 || subSection.TITLE3.FR.localeCompare('NOMS') == 0)">
                        <span class="nounsFR">{{subSection.TITLE3.FR}}</span><span class="nounsFRS">S</span>
                        <span class="nounsSlash"> / </span>
                        <span class="nounsER" ng-if="translateLang == '0'" >{{subSection.TITLE3.EN}}</span>
                        <span class="nounsER" ng-if="translateLang == '1'" >{{subSection.TITLE3.ES}}</span>
                        <span class="nounsER" ng-if="translateLang == '2'" >{{subSection.TITLE3.ZH}}</span>
                        <span class="nounsFRS">S</span>
                    </h3>

                    <h3 tabindex="0" id="{{subSection.TITLE3.ID}}" ng-if="subSection.TITLE3.EN.indexOf('DETERMINERS')>-1">
                        <span class="determinersFR">{{subSection.TITLE3.FR}}</span>
                        <span class="determinersFRS"> / </span>
                        <span class="determinersER"  ng-if="translateLang == '0'" >{{subSection.TITLE3.EN}}</span>
                        <span class="determinersER"  ng-if="translateLang == '1'" >{{subSection.TITLE3.ES}}</span>
                        <span class="determinersER"  ng-if="translateLang == '2'" >{{subSection.TITLE3.ZH}}</span>
                    </h3>

                    <h3 tabindex="0" id="{{subSection.TITLE3.ID}}" ng-if="subSection.TITLE3.FR.indexOf('ADJECTIF')>-1" >
                        <span class="adjectifsFR">{{subSection.TITLE3.FR}}
                            <span class="adjectifsFRS">S</span>
                            <span class="adjectifsSlash"  > / </span>
                            <span class="adjectifsER" ng-if="translateLang == '0'">{{subSection.TITLE3.EN}}</span>
                            <span class="adjectifsER" ng-if="translateLang == '1'">{{subSection.TITLE3.ES}}</span>
                            <span class="adjectifsER" ng-if="translateLang == '2'">{{subSection.TITLE3.ZH}}</span>
                            <span class="adjectifsERS">S</span>
                        </span>
                    </h3>

                    <h3 tabindex="0" id="{{subSection.TITLE3.ID}}" ng-if="subSection.TITLE3.FR.indexOf('ADVERBES')>-1" >
                        <span class="adverbs">{{subSection.TITLE3.FR}}
                            <span ng-if="translateLang == '0'"  >/ {{subSection.TITLE3.EN}}</span>
                            <span ng-if="translateLang == '1'"  >/ {{subSection.TITLE3.ES}}</span>
                            <span ng-if="translateLang == '2'"  >/ {{subSection.TITLE3.ZH}}</span>
                        </span>
                    </h3>

                    <h4 tabindex="0" class="offset" id="{{subSection.TITLE4.ID}}" ng-if="subSection.TITLE4">
                        <span ng-bind-html="subSection.TITLE4.FR | sanitize"></span>
                        <span  ng-if="translateLang == '0'" >/ {{subSection.TITLE4.EN}}</span>
                        <span  ng-if="translateLang == '1'" >/ {{subSection.TITLE4.ES}}</span>
                        <span  ng-if="translateLang == '2'" >/ {{subSection.TITLE4.ES}}</span>
                    </h4>
                    <h5 tabindex="0" class="offset title5" id="{{subSection.TITLE5.ID}}" ng-if="subSection.TITLE5">{{subSection.TITLE5.FR}}
                        <span ng-if="translateLang == '0'">/ {{subSection.TITLE5.EN}}</span>
                        <span ng-if="translateLang == '1'">/ {{subSection.TITLE5.ES}}</span>
                        <span ng-if="translateLang == '2'">/ {{subSection.TITLE5.ZH}}</span>
                    </h5>
                    <h6 tabindex="0" class="offset title6" id="{{subSection.TITLE6.ID}}" ng-if="subSection.TITLE6">{{subSection.TITLE6.FR}}
                        <span ng-if="translateLang == '0'">/ {{subSection.TITLE6.EN}}</span>
                        <span ng-if="translateLang == '1'">/ {{subSection.TITLE6.ES}}</span>
                        <span ng-if="translateLang == '2'">/ {{subSection.TITLE6.ZH}}</span>
                    </h6>
                </div>
                <div class="contentTitle" ng-if="!$root.isFrenchModule">
                    <h2 tabindex="0" id="{{subSection.TITLE2.ID}}" ng-if="subSection.TITLE2">{{subSection.TITLE2.EN}}
                        <span ng-if="translateLang =='0'">/ {{subSection.TITLE2.FR}}</span>
                        <span ng-if="translateLang =='1'">/ {{subSection.TITLE2.ES}}</span>
                        <span ng-if="translateLang =='2'">/ {{subSection.TITLE2.ZH}}</span>
                    </h2>

                    <h3 tabindex="0" id="{{subSection.TITLE3.ID}}" ng-if="subSection.TITLE3 &&  currentSection.TITLE2.EN.indexOf('ACTIVE OFFER')> -1 == false">
                   <span  ng-class="{'verbs' : subSection.TITLE3.EN.localeCompare('VERBS') == 0,
                                    'determiners': subSection.TITLE3.EN.localeCompare('DETERMINERS') == 0 || subSection.TITLE3.EN.localeCompare('ADJECTIVES') == 0,
                                    'pronouns': subSection.TITLE3.EN.localeCompare('PRONOUNS') == 0,
                                    'nouns': subSection.TITLE3.EN.localeCompare('NOUNS') == 0,
                                    'adverbs': subSection.TITLE3.EN.localeCompare('ADVERBS') == 0,
                                    'prepositions' : subSection.TITLE3.EN.localeCompare('PREPOSITIONS') == 0,
                                    'conjunctions' : subSection.TITLE3.EN.localeCompare('CONJUNCTIONS') == 0,
                                    'relatedVocabER' : subSection.TITLE3.EN.localeCompare('RELATED VOCABULARY') == 0,
                                    'usefulExpressions' : subSection.TITLE3.EN.localeCompare('USEFUL EXPRESSIONS') == 0,
                                    'idioms' : subSection.TITLE3.EN.localeCompare('IDIOMS') == 0}">{{subSection.TITLE3.EN}}
                        <span ng-if="translateLang =='0'" >/ {{subSection.TITLE3.FR}}</span><!--{{subSection.TITLE3.EN.toLowerCase().localeCompare('adverbs') == 0}}-->
                        <span ng-if="translateLang =='1'" >/ {{subSection.TITLE3.ES}}</span>
                        <span ng-if="translateLang == '2'">/ {{subSection.TITLE3.ZH}}</span>
                   </span>
                    </h3>

                    <h3 tabindex="0" id="{{subSection.TITLE3.ID}}" ng-if="currentSection.TITLE2.EN.indexOf('ACTIVE OFFER')> -1 && translateLang =='0'">{{subSection.TITLE3.FR}}</h3>
                    <h3 tabindex="0" id="{{subSection.TITLE3.ID}}" ng-if="currentSection.TITLE2.EN.indexOf('ACTIVE OFFER')> -1 && translateLang =='1'">{{subSection.TITLE3.ES}}</h3>
                    <h3 tabindex="0" id="{{subSection.TITLE3.ID}}" ng-if="currentSection.TITLE2.EN.indexOf('ACTIVE OFFER')> -1 && translateLang =='2'">{{subSection.TITLE3.ZH}}</h3>


                    <h4 tabindex="0" class="offset" tabindex="0" id="{{subSection.TITLE4.ID}}" ng-if="subSection.TITLE4 && currentSection.TITLE2.EN.indexOf('ACTIVE OFFER OF SERVICE')> -1 == false">{{subSection.TITLE4.EN}}
                        <span ng-if="translateLang =='0'" >/ {{subSection.TITLE4.FR}}</span>
                        <span ng-if="translateLang =='1'" >/ {{subSection.TITLE4.ES}}</span>
                        <span ng-if="translateLang =='2'" >/ {{subSection.TITLE4.ZH}}</span>
                    </h4>

                    <h4 tabindex="0" class="offset" tabindex="0" id="{{subSection.TITLE4.ID}}" ng-if="currentSection.TITLE2.EN.indexOf('ACTIVE OFFER OF SERVICE')> -1">{{subSection.TITLE4.FR}} </h4>

                    <h5 tabindex="0" class="offset title5" id="{{subSection.TITLE5.ID}}" ng-if="subSection.TITLE5">{{subSection.TITLE5.EN}}
                        <span ng-if="translateLang =='0'" >/ {{subSection.TITLE5.FR}}</span>
                        <span ng-if="translateLang =='1'" >/ {{subSection.TITLE5.ES}}</span>
                        <span ng-if="translateLang =='2'" >/ {{subSection.TITLE5.ZH}}</span>
                    </h5>
                    <h6 tabindex="0" class="offset title6" id="{{subSection.TITLE6.ID}}" ng-if="subSection.TITLE6">{{subSection.TITLE6.EN}}
                        <span ng-if="translateLang =='0'"  >/ {{subSection.TITLE6.FR}}</span>
                        <span ng-if="translateLang =='1'"  >/ {{subSection.TITLE6.ES}}</span>
                        <span ng-if="translateLang =='2'" >/ {{subSection.TITLE6.ZH}}</span>
                    </h6>
                </div>
                <span class="contentSpan" compile-data template="{{subSection.CONTENT|sanitize}}"></span>
            </div>
        </div>
        <div ng-if="!$root.isArray(currentSection.SUBSECTIONS.SUBSECTION)">
            <div class="translation">
                <div ng-if="!$root.isFrenchModule">
                    <h2 tabindex="0" id="{{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.ID}}"
                        ng-if="currentSection.SUBSECTIONS.SUBSECTION.TITLE2">{{subSection.TITLE2.EN}}
                        <span ng-if="translateLang =='0'">/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.FR}}</span>
                        <span ng-if="translateLang =='1'">/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.ES}}</span>
                        <span ng-if="translateLang =='2'">/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.ZH}}</span>
                    </h2>
                    <h3 tabindex="0" id="{{currentSection.SUBSECTIONS.SUBSECTION.TITLE3.ID}}"
                        ng-if="currentSection.SUBSECTIONS.SUBSECTION.TITLE3">{{currentSection.SUBSECTIONS.SUBSECTION.TITLE3.EN}}
                        <span ng-if="translateLang =='0'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE3.FR}}</span>
                        <span ng-if="translateLang =='1'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE3.ES}}</span>
                        <span ng-if="translateLang =='2'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE3.ZH}}</span>
                    </h3>
                    <h4 tabindex="0" class="offset" id="{{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.ID}}"
                        ng-if="currentSection.SUBSECTIONS.SUBSECTION.TITLE4">
                        {{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.EN}}
                        <span ng-if="translateLang =='0'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.FR}}</span>
                        <span ng-if="translateLang =='1'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.ES}}</span>
                        <span ng-if="translateLang =='2'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.ZH}}</span>
                    </h4>
                    <h5 tabindex="0" class="offset title5" id="{{currentSection.SUBSECTIONS.SUBSECTION.TITLE5.ID}}" ng-if="subSection.TITLE5">
                        {{currentSection.SUBSECTIONS.SUBSECTION.TITLE5.EN}}
                        <span ng-if="translateLang =='0'">/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE5.FR}}</span>
                        <span ng-if="translateLang =='1'">/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE5.ES}}</span>
                        <span ng-if="translateLang =='2'">/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE5.ZH}}</span>
                    </h5>
                    <h6 tabindex="0" class="offset title6" id="{{currentSection.SUBSECTIONS.SUBSECTION.TITLE6.ID}}" ng-if="subSection.TITLE6">
                        {{currentSection.SUBSECTIONS.SUBSECTION.TITLE6.EN}}
                        <span ng-if="translateLang =='0'">/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE6.FR}}</span>
                        <span ng-if="translateLang =='1'">/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE6.ES}}</span>
                        <span ng-if="translateLang =='2'">/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE6.ZH}}</span>
                    </h6>
                </div>
                <div ng-if="$root.isFrenchModule">

                    <h2 tabindex="0" id="{{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.ID}}"
                        ng-if="currentSection.SUBSECTIONS.SUBSECTION.TITLE2">{{subSection.TITLE2.FR}}
                        <span ng-if="translateLang == '0'">/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.EN}}</span>
                        <span ng-if="translateLang == '1'">/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.ES}}</span>
                        <span ng-if="translateLang == '2'">/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE2.ZH}}</span>
                    </h2>
                    <h3 tabindex="0" id="{{currentSection.SUBSECTIONS.SUBSECTION.TITLE3.ID}}"
                        ng-if="currentSection.SUBSECTIONS.SUBSECTION.TITLE3">{{currentSection.SUBSECTIONS.SUBSECTION.TITLE3.FR}}
                        <span ng-if="translateLang == '0'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE3.EN}}</span>
                        <span ng-if="translateLang == '1'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE3.ES}}</span>
                        <span ng-if="translateLang == '2'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE3.ZH}}</span>
                    </h3>
                    <h4 tabindex="0" class="offset" id="{{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.ID}}"
                        ng-if="currentSection.SUBSECTIONS.SUBSECTION.TITLE4">
                        {{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.FR}}
                        <span ng-if="translateLang == '0'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.EN}}</span>
                        <span ng-if="translateLang == '1'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.ES}}</span>
                        <span ng-if="translateLang == '2'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE4.ZH}}</span>
                    </h4>
                    <h5 tabindex="0" class="offset title5" id="{{currentSection.SUBSECTIONS.SUBSECTION.TITLE5.ID}}" ng-if="subSection.TITLE5">
                        {{currentSection.SUBSECTIONS.SUBSECTION.TITLE5.FR}}
                        <span ng-if="translateLang == '0'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE5.EN}}</span>
                        <span ng-if="translateLang == '1'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE5.ES}}</span>
                        <span ng-if="translateLang == '2'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE5.ZH}}</span>
                    </h5>
                    <h6 tabindex="0" class="offset title6" id="{{currentSection.SUBSECTIONS.SUBSECTION.TITLE6.ID}}" ng-if="subSection.TITLE6">
                        {{currentSection.SUBSECTIONS.SUBSECTION.TITLE6.FR}}
                        <span ng-if="translateLang == '0'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE6.EN}}</span>
                        <span ng-if="translateLang == '1'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE6.ES}}</span>
                        <span ng-if="translateLang == '2'" >/ {{currentSection.SUBSECTIONS.SUBSECTION.TITLE6.ZH}}</span>
                    </h6>
                </div>
                <span class="contentSpan" compile-data template="{{currentSection.SUBSECTIONS.SUBSECTION.CONTENT|sanitize}}"></span>
            </div>
        </div>
    </div>
</div>
