<div class="whats-new module opened-panel fontScaleX{{fontSize}}" ng-class="{'opened-panel':isPanelOpened ,
'closed-panel':!menu.isPanelOpened && !isInit,'opened-panel-withoutAnimation':menu.isPanelOpened  && menu.isInit,
'theory': $root.isUnits,
'whatsnew-content-highlighted':isLangFocused
}">
    <div class="panel" ng-style="{'height' : panelHeight+'px'}">

        <div class="scroll">
            <div class="inner">
                <div ng-if="$root.isFrenchModule" class="translation NavTitle">
                    <label class="whatsNewPanelTitle" ng-if="moduleId==99 || moduleId==0">{{currentSection.TITLE1.FR}}
                        <span>/
                        {{currentSection.TITLE1.EN}}</span>
                    </label>

                    <label class="whatsNewPanelTitle" ng-if="moduleId != 99 && moduleId != 0">{{'WHATS_NEW_PANEL_TITLE'|localization:ds.language}} {{moduleId}}</span>
                    </label>
                </div>

                <div ng-if="!$root.isFrenchModule" class="translation NavTitle">
                    <label class="whatsNewPanelTitle" ng-if="moduleId==99 || moduleId==0">{{currentSection.TITLE1.EN}} <span>/
                        {{currentSection.TITLE1.FR}}</span>
                    </label>

                    <label class="whatsNewPanelTitle" ng-if="moduleId != 99 && moduleId != 0">{{'WHATS_NEW_PANEL_TITLE'|localization:ds.language}} {{moduleId}}</span>
                    </label>
                </div>

                <div class="icon-bar translation">
                    <div class="iconParent">
                        <button id="printBtn"
                                tabindex="0" class="btn-link button-print btn-icon"
                                ng-click="printFile(pdfPrintFile)"
                                uib-tooltip="{{'PRINT_LABEL_WN'|localization:ds.language}}"
                                tooltip-placement="top auto"
                                tooltip-trigger="mouseenter focus"></button>
                        <label  for="printBtn" class="offscreen">{{'PRINT'|localization:ds.language}}</label>
                    </div>

                    <div class="iconParent">
                        <button id="contentTopBtn"
                                tabindex="0" class="btn-link button-glance btn-icon"
                                ng-class="{'btnDisabled': moduleId==99 || moduleId==0 || moduleId==1000}"
                                ng-click="moduleId!=99 && goToPage(1)"
                                uib-tooltip="{{'CONTENT_LABEL_WN'|localization:ds.language}}"
                                tooltip-placement="top auto"
                                tooltip-trigger="mouseenter focus"></button>
                        <label for="contentTopBtn" class="offscreen">{{'CONTENT_TOP'|localization:ds.language}}</label>
                    </div>

                    <!--<div class="iconParent">-->
                        <!--<button id="menuBtn" tabindex="0" class="btn-link button-legend btn-icon"-->
                                <!--ng-class="{'btnDisabled': moduleId==99 || moduleId==0 || moduleId==1000}"-->
                                <!--ng-click="moduleId!=99 && goToPage(totalPageNo)"-->
                                <!--uib-tooltip="{{'LEGEND_LABEL_WN'|localization:ds.language}}"-->
                                <!--tooltip-placement="top auto"-->
                                <!--tooltip-trigger="mouseenter focus"></button>-->
                        <!--<label for="menuBtn" class="offscreen">{{'MENU_LEGEND'|localization:ds.language}}</label>-->
                    <!--</div>-->

                    <div class="iconParent" ng-if="moduleId==99 || moduleId==0">
                        <button id="goBackBtn" tabindex="0" class="btn-link button-back btn-icon" ng-click="goToStudySection()"
                                uib-tooltip="{{'STUDY_LABEL_WN'|localization:ds.language}}"
                                tooltip-placement="top auto"
                                tooltip-trigger="mouseenter focus"></button>
                        <label for="goBackBtn" class="offscreen">{{'GO_BACK_TO_STUDY_SECTION'|localization:ds.language}}</label>
                    </div>
                </div>

                <menu collection="menu.ITEMS.ITEM"></menu>
            </div>
        </div>
        <a tabindex="-1" href="" class="closer"><div tabindex="0" ng-click="togglePanel()"></div></a>

    </div>
    <div tabindex="-1" id="content" class="content fontScaleX{{fontSize}} marginOffset"
         ng-style="{height: contentHeight +'px'}"
         ng-class="{'contentIE': $root.isInternetExplorer}">
        <div id="whatsNewContent" tabindex="-1" ui-view >
        </div>
    </div>

    <div id="newContent">
    </div>

</div>