.space_activities {
  background: url('../images/line.png') no-repeat;
  width: 1000px;
  height: 12px;
  padding: 0px;
  margin: 0px;
}
.langChangeBtn{
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-top: 2px;
 background-color: #1E62A4;
}

.mandatory-activities {
  margin-bottom: 10px;
  min-height: 150px;
  padding: 0px 30px;

  .mainMenuGrid {
    padding: 0px 0px 20px 0px;
  }
}
@media screen and (min-width: 1281px) and (max-width: 2048px){
    .mandatory-activities {
        .mainMenuGrid {
          width: 33.3333% !important;
        }
    }
}
@media screen and (min-width: 767px) and (max-width: 1280px){
     .mandatory-activities {
        .mainMenuGrid {
          width: 100% !important;
        }
     }

     .contentTitleContainer{
        .parentIconContainer{
         width : 8.33333%;
        }
     }
     .itemsContainer {
        .contentIndex {
             width: 5%;
        }
     }
 }
@media (max-height: 700px){
    .mandatory-activities {
        .mainMenuGrid {
          width: 100% !important;
        }
    }

    .contentTitleContainer{
        .parentIconContainer{
         width : 8.33333%;
        }
    }
    .itemsContainer {
        .contentIndex {
          width: 5%;
        }
    }

}

.non-mandatory-activities {
  padding: 20px 30px 0px;
}

.activitiesList {
  padding-top: 20px;
  .mainContainer {
    margin-bottom: 0px;
    min-height: 40px;
    display: inline-block;
    width: 100%;
    padding:0px;

    .contentTitleContainer {
        .parentIconContainer, .parentItemListContainer {
            padding: 0px;
        }
        .floatLeft {
            float: left;
        }
    }
  }
}

.questionAsset {
  .audioContainer {
    float: left;
    margin-right: 10px;
    padding: 0;
  }

  .btnAudioAsset {
    @extend .col-md-1;
    padding-left: 5px;
  }
}

.outline-none {
  outline: none;
}

.stepactivity {

  .pagerFooter {

  }

  .nav-tabs {
    padding-right: 0;
    padding-left: 0;
    margin: 0 30px;
    border-bottom: 2px solid;
  }

  .nav-tabs > li {
    margin-bottom: -0.2em;
  }

  @media screen and (min-device-width: 768px) and (max-device-width: 800px) {
    .nav-tabs > li {
      margin-bottom: -0.55%;
    }
  }

  .nav-tabs > li > a {
    color: #575b6e;
    border: none;
    border-bottom: 2px solid black;

    &:hover {
      border-color: transparent;
      border-bottom: 2px solid black;
    }
  }

  .nav > li.active > a {
    border: 2px solid black;
    border-bottom: none;
    //border-bottom-color: transparent;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: white;
  }

  .flex-container {
    height: 100%;
    padding: 0;
    margin: 20px 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-row {
    width: auto;
    padding: 0 30px;
  }
  .flex-item {
    text-align: center;
  }
}

.inverted {
  .activitiesList {
    padding-top: 20px;
    .mainContainer {
      margin-bottom: 18px;
      padding-bottom: 16px;
      background-color: #000;
    }
  }

  .flex-item {
    background-color: black;
  }

  .score-active {
    color: white !important;
  }
}

.activityTitle {
  display: block;
  float: left;
  padding-left: 10px;
  padding-right: 0px;

  .titleText{
    font-weight: normal;

  &:hover {
		color: #15C1C1;
		text-decoration:none;
		font-weight: bold;
		cursor:pointer;
	  }  
  }
}

a, button , span, input, .pagination, audio, video, img, .player, li {
     &:focus {
        outline: 2px solid #1351b5;
        outline-offset: 3px;
        text-decoration: none;
     }
}

.btn, .btn.active{
  &:focus {
    outline: 3px solid #1351b5;
    outline-offset: 3px;
    text-decoration: none;
  }
}



.safari {
    span {
        &:focus {
            display: inline-table;
            outline: 2px solid #1351b5;
        }
    }

     .whats-new {
        span {
            &:focus {
                outline: none;
            }
        }
    }
}

.divFocus {
    &:focus {
      outline: 2px solid #5185C2 !important;
      outline-offset: 3px;
      z-index: 99999;
      position: relative;
    }
}

#DescriptionTableBody, #instructionTableDiv, #questionContainer, #landingpage-instruction, .quiz-individual-score-main, .scroll-overflow-StudySection {
    &:focus {
      outline: none;
    }
}

input[type="radio"]:focus {
    outline-color: #5185C2;
}

.ngdialog-button:focus {
    outline: 2px solid #132B4C !important;
    outline-offset: 3px;
}

.form-control:focus {
    border-color: #5185C2;
}

.mandatory-activities {
    .DragDropColumn {
        width: auto !important;
    }
}


.module1000 {
  .activityTitle {
    width: 22%;
  }

  .contentTitleContainer {
    .MultipleChoice {
      width: auto;
    }
  }
}

#instructionTableDiv {
  overflow-y: auto;
  border-bottom: 1px solid;
}

.activity-instructions-txt {
  width: 100%;
}

.questionImage{
  float: left;
  margin-bottom:5px;
}

.activity-instructions-img {
  text-align: center;
}

.activity-instructions-video {
  text-align: center;
}
.fontScaleX0 , .fontScaleX1, .fontScaleX2 {
    .activity-score-container {
        padding: 0px !important;

    }
}

.fontScaleX0 {
    .stepactivity {
        .nav-tabs {
            li {
                margin-bottom: -0.4em;
            }
        }
    }
}

.fontScaleX3, .fontScaleX4 {
    .scoreItems{
         padding: 15% 0;
         vertical-align: middle;
       }

}
.activity-score-container {
  margin: 0;
  text-align: center;
  background: white;
  overflow: auto;
  padding: 5% 0;


  .title {
    text-align: center;
    //background-color: #dddde5;
    font-weight: bold;
    font-size: 20px;
  }

  .parentScoreContianer {
    margin: 0px;
  }
  .score-container {
    font-weight: 400;
    text-align: center;
    font-size: 395%;
    margin: 2% 0;

    .score {
      padding: 9px 11px;
    }
  }
  .info {
    font-weight: 400;
    //background-color: #F9F9F9;

    .score-col {
      text-align: center;
      font-style: italic;
      color: #7F838E;
      font-size: 1.1em;

      &.score-active {
        font-size: 1.3em;
        color: black;
        font-style: normal;
      }
    }
  }
}

.inverted {
  .activity-score-container {
    .info {
      font-weight: 400;
      background-color: #000;
    }
  }
  .activity-instructions-container {
    background-color: #000;

    &:hover {
      background-color: #000;
    }
  }
}

.nextActivity {
  margin-top: 45px;
}
.nextActivityDialogues{
    margin-bottom:10px;
	background-color: #132B4C !important;

    &:active, &:focus, &:active:focus, &:hover {
      background-color: #15C1C1 !important;
    }
}

.activity-instruction-header {
  background-color: #dddde5;
  text-align: center;
  padding: 10px 15px;
  font-weight: bold;
  border: 1px solid;
  display: block;
  margin-bottom: 0px;
}

.start-activity, .resume-activity {
  font-weight: bold;

  &:hover {
    color: #fff;
    background-color: #15C1C1;
    border-color: #15C1C1;
  }
}

.inverted {
  .activity-instruction-header {
    background-color: #dddde5;
    text-align: left;
    padding: 10px 15px;
    font-weight: bold;
    color: #000;
  }
  .activity-instructions-content {
    float: left;
    width: 50%;
    padding: 10px 15px;
    line-height: 1.42857143;
    vertical-align: top;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: #000;
  }
}

.activity-instructions-container {
  background-color: #f9f9f9;
  border: 1px solid;
  border-bottom: none;
  margin-right: 0;
  margin-left: 0;
  height: auto;
  overflow-y: auto;
  display: flex;

  &:first-child {
    border-top: none;
    text-align: center;
  }
  &:hover {
    background-color: #f5f5f5;
  }

  .activity-instructions-content {
    float: left;
    width: 100%;
    padding: 10px 15px;
    line-height: 1.42857143;
    vertical-align: top;
    border-right: 1px solid;
    align-items: stretch;
    margin-bottom: 0px;

    &:last-child {
      border-left: 1px solid;
      border: none;
    }

    br {
        display:block;
    }
    ul{
        li{
            list-style-position: inside;
        }
        li:last-child{
            padding-left:6px;
        }
    }
  }
}

.activity-content-full {
  width: 100% !important;
  text-align: center;
}

.stepactivity {
  .nav-tabs {
    .active {
      a {
        cursor: default !important;
        outline: none;
      }
    }
  }
}
.instructionPadding_en{
    padding-left : 11.2%;
}
.instructionPadding_fr{
    padding-left : 14.4%;
}
.instructionPadding_es{
    padding-left : 13%;
}
.instructionPadding_zh{
    padding-left : 7.2%;
}
.instPadding_en{
    float:right;
    width:115px;
}
.instPadding_fr{
    float:right;
    width:155px;
}
.instPadding_es{
    float:right;
    width:139px;
}
.instPadding_zh{
    float:right;
    width:60px;
}
.showHideArrow{
    width: 2% ;
    height: 2%;
    float: right;
    margin-top: 4px;
}
@media screen and (min-width: 540px) and (max-width: 780px) {
    .instructionPadding_en{
        padding-left : 21%;
    }
    .instructionPadding_zh{
        padding-left : 21%;
    }
    .instructionPadding_fr{
        padding-left : 26%;
    }
    .instructionPadding_es{
       padding-left : 26%;
    }
    .translationButton{
        text-align: center;
        display: block;
    }
}
@media screen and (min-width: 1024px)and (max-width: 1270px){
    .instructionPadding_en{
        padding-left : 14%;
    }
    .instructionPadding_fr{
        padding-left : 19%;
    }
    .instructionPadding_es{
        padding-left : 16.3%;
    }
    .instructionPadding_zh{
        padding-left : 8.2%;
    }
}
@media screen and (min-width: 1440px)and (max-width: 1598px){
    .instructionPadding_en{
        padding-left : 10.3%;
    }
    .instructionPadding_fr{
        padding-left : 13%;
    }
    .instructionPadding_es{
        padding-left : 11.1%;
    }
    .instructionPadding_zh{
        padding-left : 7.3%;
    }
}
@media screen and (min-width: 1600px)and (max-width: 1910px){
    .instructionPadding_en{
        padding-left : 8.4%;
    }
    .instructionPadding_fr{
        padding-left : 11.2%;
    }
    .instructionPadding_es{
        padding-left : 10.1%;
    }
    .instructionPadding_zh{
        padding-left : 6%;
    }
}
@media screen and (min-width: 1920px){
    .instructionPadding_en{
        padding-left : 7.6%;
    }
    .instructionPadding_fr{
        padding-left : 9.6%;
    }
    .instructionPadding_es{
        padding-left : 8%;
    }
    .instructionPadding_zh{
        padding-left : 6%;
    }
}
@media screen and (min-width: 2048px){
    .instructionPadding_en{
        padding-left : 6%;
    }
    .instructionPadding_fr{
        padding-left : 8%;
    }
    .instructionPadding_es{
        padding-left : 8%;
    }
    .instructionPadding_zh{
        padding-left : 5%;
    }
}

// IE10 CSS
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
  .mainContainer {
    &.activities {
      .itemsContainer {
        .activity-item  {
          margin-top: 0;
        }
      }
    }
    &.dialogues {
      .contentTitleContainer {
        .itemsContainer {
          .activity-item  {
            margin-top: 0; 
          }
        }
      }
    }
  }
}

.fontScaleX3 {
    .showHideArrow{
        width: 2.5%;
        height: 2.5%;
        margin-top: 9px;
    }
    .instructionPadding_en{
        padding-left : 16.5%;
    }
    .instructionPadding_fr{
        padding-left : 21.6%;
    }
    .instructionPadding_es{
        padding-left : 19.6%;
    }
    .instructionPadding_zh{
        padding-left : 9.2%;
    }
    .instPadding_en{
        width:175px;
    }
    .instPadding_fr{
        width:237px;
    }
    .instPadding_es{
        width:212px;
    }
    .instPadding_zh{
        width:86px;
    }

}
.fontScaleX4 {
    .showHideArrow{
        margin-top: 11px;
        width: 3.5%;
    }
    .instructionPadding_en{
        padding-left : 21.5%;
    }
    .instructionPadding_fr{
        padding-left : 25.6%;
    }
    .instructionPadding_es{
        padding-left : 23.6%;
    }
    .instructionPadding_zh{
        padding-left : 12.2%;
    }
    .instPadding_en{
        width:230px;
    }
    .instPadding_fr{
        width:307px;
    }
    .instPadding_es{
        width:275px;
    }
    .instPadding_zh{
        width:109px;
    }
    .table-questions{
        overflow:auto;
        .questionMainContainer{
          min-height: 120px !important;
        }
    }
}
@media screen and (min-width: 1024px)and (max-width: 1270px){
    .fontScaleX2{
        .showHideArrow{
            margin-top: 5px;
        }
    }
     .fontScaleX3{
         .showHideArrow{
             margin-top: 10px;
         }
     }
     .fontScaleX4{
         .showHideArrow{
             margin-top: 13px;
         }
     }
}

@media screen and (min-width: 1600px) and (max-width: 1680px) {

        .fontScaleX2{
            .showHideArrow{
                margin-top: 2px;
            }
        }
        .fontScaleX3{
            .showHideArrow{
                margin-top: 5px;
            }
        }
        .fontScaleX4{
            .showHideArrow{
                margin-top: 8px;
            }
        }
}

@media screen and (min-width: 1900px) and (max-width: 2048px) {
        .showHideArrow{
            width: 1.3%;
        }
        .fontScaleX3 {
            .showHideArrow{
                width: 2%;
                margin-top: 6px;
            }
        }
        .fontScaleX4 {
            .showHideArrow{
                width: 3%;
                margin-top: 6px;
            }
        }
    }

 /* CSS for Safari 9.0 and higher */
_:default:not(:root:root), .showHideArrow {
   @media screen and (min-width: 1900px) and (max-width: 1940px) {
        width: 1.3%;
   }
   .fontScaleX3 {
       .showHideArrow{
           width: 2%;
            margin-top: 6px;
       }
   }
   .fontScaleX4 {
       .showHideArrow{
           width: 3%;
           margin-top: 6px;
       }
   }
}







