.DialogQuiz {
  .containerrr {
    width: 100%;

    .button {
      .question-no {
        margin-top: 10px;
      }

      .questionNumber {
        height: 35px;

        .answer-feedback {
            top: 0;
            bottom: 0;
            margin: auto;
        }

        @media screen and (-webkit-min-device-pixel-ratio:0) {
           .question-no {
                       top: 0;
                       bottom: 0;
                       margin: auto;
                       display: table;
                   }
        }


      }
    }
  }
}

.fontScaleX0 {
  .DialogQuiz {
    .playBtn {
      margin-top: 5px;
    }

    .button {
      .question-no {
        margin-top: 8px;
      }

      .buttonText {
        margin: 10px 0 9px 0 !important;
      }

      .questionNumber {
         height: 32px;
      }

      .questionAsset {
          margin-top: 0px !important;
      }

       .correct-answer, .wrong-answer {
           padding-right: 15px !important;
           background-size: 5px !important;
       }

    }
  }
}

.fontScaleX1 {
  .DialogQuiz {
    .button {
      .question-no {
        margin-top: 7px;
      }

      .buttonText {
        margin: 9px 0 14px 0 !important;
      }

      .questionNumber {
        height: 36px;
      }

      .questionAsset {
          margin-top: 2.5px !important;
      }
      .correct-answer, .wrong-answer {
          padding-right: 16px !important;
          background-size: 8px !important;
      }
    }
  }
}

.fontScaleX3 {
  .DialogQuiz {

    .containerrr {
      .answer-feedback {
        top: 10px;
      }
    }

    .button {
      .question-no {
        margin-top: 14px;
      }

      .questionNumber {
         height: 36px;
       }

      .questionAsset {
          margin-top: 0px !important;
      }

      .correct-answer, .wrong-answer {
          padding-right: 22px !important;
          background-size: 16px !important;
          background-position-x: 99% !important;
      }

    }
  }
}

.fontScaleX4 {
  .DialogQuiz {
    .containerrr {
      .answer-feedback {
        top: 17px;
      }
    }
    .questionAsset {
      .audioContainer {
        margin-left: -13px;
      }
    }

    .button {
      .question-no {
        margin-top: 13px;
        margin-left: -7px;
      }

      .questionNumber {
         height: 46px;
      }

       .questionAsset {
           margin-top: 0px !important;
       }

       .correct-answer, .wrong-answer {
           padding-right: 30px !important;
           background-size: 22px !important;
           background-position-x: 99% !important;
       }
    }
  }
}