.tooltip-dialogue {
  .tooltip-inner {
    color: #080808;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    padding: 20px;
    margin-top: 35px;
    text-align: left;
    max-width: 600px;
  }

  .tooltip-arrow {
    display: none;
  }
}
  audio::-webkit-media-controls-enclosure, video::-webkit-media-controls.audio-only [pseudo="-webkit-media-controls-enclosure"]{
	background-color:black !important;
  }
.tooltip-dialogue-audio {

  position: relative;
  left: 0px !important;
  top: 0px !important;

  .tooltip-inner {
    max-width: 100%;
    color: #080808;
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    padding: 20px;
    margin-top: 35px;
    text-align: left;
    white-space: pre-wrap;
  }

  .tooltip-arrow {
    display: none;
  }
}

.Dialogue {
  h3 {
    font-size: inherit;
  }

  .accordion-toggle {
    &:hover, &:focus {
      text-decoration: none;
    }

    &:hover {
      outline: none;
    }
  }

  .tooltip.customClass {
    .tooltip-inner {
      font-size: inherit;
    }
  }

  .nextActivity {
    float: right;
  }
  .nextActivityFullDialogue {
    float: right;
    right: 30px;
    bottom: 10px;
    position: absolute;
  }

  .show_score {
    height: auto;
    float:right;
  }
  .show_scoreFullDialogue {
      height: auto;
  }

  .questionSection {
    display: flex;
    align-items: center;
    min-height: 150px;
  }

  .videoContainer {
    min-height: 100px;
  }

  .radioAlignment {
    margin: 9px 8px;
  }
  @media only screen and (min-device-width: 300px) and (max-device-width: 800px) {
    .radioAlignment {
      margin: 2px 8px;
    }
  }
  .questionContainer {
    width: 90%;
    margin: 0 auto;
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .questionContainer {
      padding-top: 50px;
    }
  }

  .ParentTranscriptSeparater {
    width: 28px;
    padding: 0px 6px;
  }

  .TranscriptSeparater {
    padding: 0 8px 0 6px;
  }

  .PaddingNone {
    padding-right: 0px;
    padding-left: 20px;
    height: 150px;
  }
  .captionButtonDiv {
    padding-top: 35px;
  }
  .CaptionButton {
    background-color: #2c96d6;
    border-color: #2c96d6;
    padding: 7px 7px;
    border-radius: 0px;
    border: 1px solid transparent;
    color: white;
  }
  .CaptionButtonVideo {
    background-color: #2c96d6;
    border-color: #2c96d6;
    padding: 7px 7px;
    border-radius: 0px;
    border: 1px solid transparent;
    color: white;
    float: right;
  }

  .DialogueVideoCaptionBox {
    width: 55%;
    margin: 0 auto;
    text-align: left;
    border: 1px solid grey;
    padding: 10px;
  }

  .nav-tabs {
    padding-right: 0;
    padding-left: 0;
    margin: 0 30px;
  }

  .nav-tabs > li > a {
    color: #575b6e;
    border: none;
    border-bottom: 2px solid #132B4C;

    &:hover {
      border-color: transparent;
      border-bottom: 2px solid #132B4C;
    }
  }

  .nav > li.active > a {
    border: 2px solid #132B4C;
    border-bottom: none;
    //border-bottom-color: transparent;
  }

  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: white;
    outline-offset: -2px;
  }

   @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .nav-tabs > li > a:focus {
            margin-right: 2px !important;
       }
   }

  .nav-tabs > li > a,
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    font-size: 0.9em !important;
    color: #132B4C;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }

  .nav-tabs > li > a:hover {
    color: gray;
    outline: none;
  }

  .nav-tabs > li.active > a:hover {
    outline: none;
  }

  .TranscriptHeading {
    font-weight: bold;
    text-align: center;
  }

  .form-controls {
    width: auto;
  }

  .dialogueTranscriptFocus {
      &:focus {
        outline: 2px solid #5185C2 !important;
        outline-offset: 3px;
      }
    }
  .speech {
     &:focus {
       outline: none;
     }
  }
}

.jumbotron {
  margin-bottom: 15px;
}

.dialogue-content {
  padding: 0px;
  list-style: none;
  float: left;
  margin-right: 100px;
}

ul.dialogue-content li {
  display: table;
  vertical-align: middle;
  line-height: 50px;
  span {
    float: left;
    &:first-child {
      margin-top: 10px;
      width: 30px;
      height: 30px;
      border-radius: 15px;
    }
    &:last-child {
      margin-left: 15px;
      margin-top: 2px;
    }
  }
}

.dialogue-title-container {
  height: 40px;
  padding-left: 26px;
  margin-top: 10px;

  .dialogue-title-row {
    margin-right: 30px;
    display: flex;
  }
}

.dialogue-title {
  font-size: x-large !important;
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  text-align: center;
  margin-left: 0px !important;
  font-weight: 300;
  padding: 0 0 0 15% !important;
}

.dialogueQuestionTab {
  margin-left: 10%;
  margin-top: 2%;
}

.dialogueQuestionTab .btn {
  float: right;
}

.dialogue-instructions {
  font-size: 14px;
  color: white;
  
  .instructions {
	background-color: #132B4C !important;
    float: right;
    margin-top: 3px;
	&:active, &:focus, &:active:focus, &:hover {
		background-color: #15C1C1 !important;
    }
  }
}

.speech {
  .line .playerNameContainer {
    padding: 0px !important;

    .separator {
      font-weight: bold;
      margin-top: 3px;
    }
  }
  .text-container {
    float: left;
    padding: 0px !important;
  }
}

.dialogue-tab-pager {
  display: inline-block;
}

.dialogue-instructions {
  margin-top: 3px;
  padding-right: 0px !important;
  float: right;
}

.dialogue-questions {
  margin: 0;
  padding: 0;
  float: left;
}

.transcript-term {
  color: #337AC2;
}

.transcript-term:hover {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
  outline: none;
}

.transcript-term:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}

.accordion-toggle {
  font-weight: bold !important;
  text-transform: capitalize !important;
  cursor: pointer;
}

.playTrack {
  height: 91px;
}

.prevNextTrack {
  height: 40px;
  &:hover:enabled {
    opacity: 0.5;
  }
}

.dialogue-tab-heading {
  font-size: large;
  width: 50%;

  label {
    margin-bottom: 0px;
  }

  .contentTitleContainer{
      display: inline-table;
      height: 30px;
      overflow-y: auto;
  }

  .status {

      .success-contents{
        @extend .statuses;
        background-image: url("../../images/dialogue-success.png");
        float: left !important;
      }

      .tryIt-contents{
        @extend .statuses;
        background-image: url("../../images/dialogue-tryit.png");
        float: left !important;
      }

      .inProgress-contents{
        @extend .statuses;
        background-image: url("../../images/dialogue-inprogress.png");
        float: left !important;
      }
  }
  span:focus{
     outline-offset: -2px;
  }

}

.videoTabHeading {
  display: block;
  clear: both;
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 1.2em;
}

.dialogueVideo {
    display: inline-block;
    width: 55%;
}

.video-js {
    display: inline-block !important;
    width: 645px;
    height: 448px;

    &.vjs-fullscreen {
        display: block !important;
    }

    .vjs-captions-button{
        display: none;
    }
}

.my-video-dimensions {
    width: 645px;
    height: 448px;
}

.dialogueVideoContainer {
  text-align: center;
  overflow-y: auto;

  .audioMainDiv{
    width: 100%;
    text-align: center;
    display: inline-block;

    .audio {
      float: none;
    }
  }


  &.fullDialogueVideo {
    width: 100%;
  }
}

.dialogueTermTab {
  width: 98%;
  margin: 1%;
  padding-bottom: 0.5%;

  .accordion-toggle {
    width: 100%;
    display: block;

    span {
      width: 100%;
      display: block;
      text-align: center;

      .termsHeader {
        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
  }

  .termContainer {

    .termImg {
      padding-left: 0;
      float: left;

      img {
        width: 162px;
      }
    }

    .audio {
      margin-bottom: 1%;
      margin-top: 1%;
    }
    .termDef {
      font-weight: bold;
    }

    .termVal {
      clear: both;
    }
  }
}

.dialogueRepeatTab {
  text-align: center;
  overflow-y: auto;
  margin-top: 32px;

  .title {
    font-size: 1.2em;
    font-weight: bold;
  }
  .playerContainer {
    margin: 15px 0;
    text-align: center;
    .player {
      display: inline-block;
      padding: 0px 10px;

      .playerImg {
        width: 175px;
      }
    }
  }
  .audioPlayer {
    margin: 5px 0 5% 0;
    .tracks {
      margin: 5px 0;
      font-weight: bold;
    }
  }
}

.dialogueReadTab {
  width: 100%;
  padding-bottom: 0.5%;

  .audioContainer {
    margin: 0 30px;
  }

  .audioCol {
    padding: 15px 0px 0px 0px;
  }

  .audioContainerButtons {
    text-align: right;
    padding: 0px !important;

    .btn {
      font-size: inherit;
    }

    .translationBtn, .colorSpeechBtn {
      min-width: 45%;

      &.active {
        background-color: #2c96d6;
        border-color: #2c96d6;
        padding: 7px 7px;
        border-radius: 0px;
        margin: 17px 0px 0 0;
        color: white;
      }
      &.inActive {
        background-color: #E0E0E6;
        color: #132B4C;
        border-color: #2c96d6;
        padding: 7px 7px;
        border-radius: 0px;
        margin: 17px 0px 0 0;
      }

      &:hover {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
      }
    }

    .colorSpeechBtn {
      box-shadow: none;
    }
  }

  .btns {
    margin-top: 1%;
  }
  .audio {
    margin: 17px 10px 0 0;
    width: 100%;
    padding: 0;
    height: 30px !important;

    .vjs-big-play-button {
        display:none !important;
    }

    .vjs-control-bar {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        visibility: visible;
        opacity: 1;
    }

    &.vjs-has-started {
        height: 30px;
    }

  }
  .feedback {
    padding: 5px;
    text-align: center;
    border: 1px solid;
    color: #000;
    height: 72px;
    overflow: auto;
    margin-left: 30px;
    margin-right: 30px;

    .transcriptTerm {
        text-align: center;
        display: inline-block;
        font-style: italic;
        vertical-align: top;
        margin-left: 10px;

        .term {
         font-weight: bold;
         display: inline-block;
        }

        .termColor {
          padding: 5px 15px;
          border: 1px solid #000;
          border-radius: 10px;
          display: inline-block;
          width: 100%;
        }
     }
     label {
        display: inline;
     }
  }
  .colorFeedback {
    height: 72px;
    padding: 1%;
    font-size: 10px !important;
    font-weight: bold;
    border: 1px solid;
    margin: 0 30px;
  }

  .speech {
    margin: 25px 30px 0;
    height: 250px;
    overflow-y: auto;

    .line {
      width: 100%;
      margin-bottom: 0px !important;
      .player {
        color: #15C1C1;
        font-weight: bold;
      }
      .parsedSpeech {
        margin-bottom: 0px;
        .transcript-term {
          color: #337AC2;
          margin-bottom: 0px;
          display: inline;

          &:hover {
            color: #23527c;
            text-decoration: underline;
            background-color: transparent;
            outline: none;
          }

          &:focus {
            color: #23527c;
            text-decoration: underline;
            background-color: transparent;
          }
        }

        .TranscriptSeparater {
          padding: 0 8px 0 6px;
        }
      }
    }
  }
}

.questionTab-pager {
  background-color: white;
  min-height: 77px;
  text-align: center;
  border-top: 1px solid;
  margin: 0 30px;
  position: fixed;
  bottom: 0;
}

.inverted {
  .questionTab-pager {
    background-color: #132B4C;
    height: 83px;
    text-align: center;
  }
}

.dialoguetab-pager {
  background-color: lightgray;
  height: 37px;
  text-align: center;
}

.grammerText {
  text-align: center;
}

//accessibility menu settings for dialogues
.fontScaleX0 {
  .Dialogue .nav-tabs > li > a,
  .Dialogue .nav-tabs > li.active > a,
  .Dialogue .nav-tabs > li.active > a:hover,
  .Dialogue .nav-tabs > li.active > a:focus {
    font-size: 5px !important;
  }

  .tooltip {
    font-size: 5px;
  }

  .playerImg {
    width: 100px;
  }

  .playTrack {
    height: 30px;
  }

  .prevNextTrack {
    height: 20px;
  }

  .dialogue-title-container {
    height: auto !important;
    .dialogue-title {
      font-size: small !important;
      padding-left: 16.5% !important;
    }
    .dialogue-instructions {
      font-size: 10px !important;
    }
  }

  .dialogue-multipleChoice {
    .answer-container .answer-main .answer .radioAlignment {
      margin: 4px 8px;
    }

    .question-text {
      font-size: 5px !important;
    }
    .input-text {
      font-size: 5px !important;
    }
    .dialogueMultipleChoiceAudio {
      img {
        width: 15px;
      }
    }
    .answer-container {
      .answer-main {
        .answer {
         .result {
            img {
                width: 8px;
            }
          }
        }
      }
    }
  }

  .panel-title {
    font-size: 8px !important;
  }

  .BusinessTermsAudios {
    img {
      width: 15px;
    }
  }

  .BusinessTermsImage {
    img {
      width: 60px !important;
    }
  }
  .dialogue-tab-heading {
     label {
      line-height: 16px;
     }
  }
}

.fontScaleX1 {
  .Dialogue .nav-tabs > li > a,
  .Dialogue .nav-tabs > li.active > a,
  .Dialogue .nav-tabs > li.active > a:hover,
  .Dialogue .nav-tabs > li.active > a:focus {
    font-size: 10px !important;
  }

  .tooltip {
    font-size: 10px;
  }
  .playTrack {
    height: 50px;
  }

  .prevNextTrack {
    height: 30px;
  }

  .playerImg {
    width: 130px;
  }

  .dialogue-title-container {
    height: auto !important;
    .dialogue-title {
      font-size: medium !important;
      padding-left: 16.5% !important;
    }
    .dialogue-instructions {
      font-size: 12px !important;

      #instruction_btn {
          text-overflow: inherit;
      }
    }
  }

  .dialogue-multipleChoice {
    .question-text {
      font-size: 10px !important;
    }
    .input-text {
      font-size: 10px !important;
    }
    .dialogueMultipleChoiceAudio {
      img {
        width: 25px;
      }
    }
    .answer-container {
      .answer-main {
        .answer {
         .result {
            img {
                width: 12px;
            }
          }
        }
      }
    }
  }

  .panel-title {
    font-size: 13px !important;
  }

  .BusinessTermsAudios {
    img {
      width: 25px;
    }
  }
  .BusinessTermsImage {
    img {
      width: 100px !important;
    }
  }
  .dialogue-tab-heading {
     label {
      line-height: 22px;
     }
  }
}

.fontScaleX2 {
  .Dialogue .nav-tabs > li > a,
  .Dialogue .nav-tabs > li.active > a,
  .Dialogue .nav-tabs > li.active > a:hover,
  .Dialogue .nav-tabs > li.active > a:focus {
    font-size: 0.9em !important;
  }

  .dialogueReadTab {
    .feedback {
      font-size: medium;
    }
  }

  .tooltip {
    font-size: 13px;
  }

  .playerImg {
    width: 150px;
  }

  .playTrack {
    height: 70px;
  }

  .prevNextTrack {
    height: 30px;
  }

  &.dialogueInstructionsModel {
    .itemContainer {
      font-size: 18px !important;
    }
  }

  .dialogue-multipleChoice {
    .question-text {
      font-size: 13px !important;
    }
    .input-text {
      font-size: 13px !important;
    }
  }

  .dialogue-title-container {
      .dialogue-title {
        width: 91.66%;
      }
    }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
     .dialogue-title-container {
          .dialogue-title {
            padding-left: 100px !important;
          }
     }
     .video-js {
         height: 330px;
     }
  }

}

.fontScaleX3 {
  .Dialogue .nav-tabs > li > a,
  .Dialogue .nav-tabs > li.active > a,
  .Dialogue .nav-tabs > li.active > a:hover,
  .Dialogue .nav-tabs > li.active > a:focus, {
    font-size: 20px !important;
  }

  .questionSection {
    display: block;
  }

  .tooltip {
    font-size: 20px;
  }

  .dialogue-title-container {
    height: auto !important;
    .dialogue-title {
      font-size: xx-large !important;
      padding-left: 16.5% !important;
    }
    .dialogue-instructions {
      font-size: 20px !important;
    }
  }

  .dialogueRepeatTab {
    .audioPlayer {
      .tracks {
      }
    }
  }

  .dialogue-multipleChoice {
    .question-text {
      font-size: 20px !important;
    }
    .input-text {
      font-size: 20px !important;
    }
    .dialogueMultipleChoiceAudio {
      img {
        width: 40px;
      }
    }

    .answer-container {
      .answer-main {
        .answer {
          .radioAlignment {
            margin: 14px 8px;
          }

          .result {
            img {
                width: 18px;
            }
          }
        }
      }
    }
  }

  .panel-title {
    font-size: 23px !important;
  }

  .BusinessTermsAudios {
    img {
      width: 40px;
    }
  }

  .BusinessTermsImage {
    img {
      width: 200px !important;
    }
  }

  .dialogue-multipleChoice {
    .multipleChoiceInput {
      margin-top: 14px;
    }
  }

  .speech {
    .line {
        .text-container {
            width: 88% !important;
        }
    }
  }
   @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
       .dialogue-title-container {
            .dialogue-title {
              width: 75%;
              padding-left: 0px !important;
            }
       }
       .video-js {
          height: 330px;
       }
   }

   .dialogueReadTab {
       .feedback {
           height: 85px;
       }
   }
   .dialogue-tab-heading {
     .contentTitleContainer{
         height: 35px;
     }
     label {
       max-width: 80%;
        margin-top:1px;
     }
   }

   &.Dialogue {
    &.DialogueFrLang {
        .nav-tabs > li > a {
            height: 75px;
        }
    }
   }

}

.fontScaleX4 {
  .nav-tabs {
    padding-top: 0;
  }

  .nextActivity {
    margin: 5px 0;
  }

  .Dialogue .nav-tabs > li > a,
  .Dialogue .nav-tabs > li.active > a,
  .Dialogue .nav-tabs > li.active > a:hover,
  .Dialogue .nav-tabs > li.active > a:focus {
    font-size: 26px !important;
  }

  .questionSection {
    display: block;
  }

  .tooltip {
    font-size: 26px !important;
  }

  .dialogue-title-container {
    height: auto !important;
    .dialogue-title {
      font-size: 40px !important;
      padding-left: 16% !important;
    }
    .dialogue-instructions {
      font-size: 26px !important;
    }
  }

  .dialogueRepeatTab {
    .audioPlayer {
      .tracks {
        font-size: xx-large;
      }
    }
  }

  .dialogueReadTab {
    .feedback {
        height: 108px;

        .transcriptTerm {
            .term {
                margin-bottom:10px;
            }
        }
    }
  }

  .dialogue-multipleChoice {

    .multipleChoiceInput {
      margin-top: 18px;
    }

    .answer-container {
      .answer-main {
        .answer {
          .radioAlignment {
            margin: 19px 8px;
          }
          .result {
            img {
                width: 25px;
            }
          }
        }
      }
    }

    .question-text {
      font-size: 26px !important;
    }
    .input-text {
      font-size: 26px !important;
    }
    .dialogueMultipleChoiceAudio {
      img {
        width: 50px;
      }
    }
  }

  &.Dialogue {
    &.DialogueFrLang {
        .nav-tabs > li > a {
            height: 85px;
            overflow: auto;
        }
    }
  }

  .panel-title {
    font-size: 29px !important;
  }

  .BusinessTermsAudios {
    img {
      width: 50px;
    }
  }
  .BusinessTermsImage {
    img {
      width: 250px !important;
    }
  }

  .speech {
    .line {
        .text-container {
            width: 88% !important;
        }
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
       .dialogue-title-container {
          .dialogue-title {
            width: 75%;
            padding-left: 0px !important;
          }
     }
     .video-js {
        height: 320px;
     }
  }
  .dialogue-tab-heading {
    .contentTitleContainer{
        height: 40px;
    }
    label {
      max-width: 80%;
      margin-top:2px;
    }
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
     .dialogue-tab-heading {
        .contentTitleContainer{
          label {
              margin-top:3px;
          }
        }
     }
  }

}

.Dialogue {
  .tab-content {
    .tab-pane {
      &.active {
        .questionSection {
          display: flex;
          justify-content: center;
          align-items: normal;
          overflow: scroll;
          .questionContainer {
            height: 320px;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  .questionTab-pager {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    .pagination {
      display: block;
    }
  }
  .audioContainer {
    .audioCol {
      span {
        &:focus {
          display: block!important;
        }
      }
    }
  }

.speech {
    .line {
      display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      .playerNameContainer {
        margin: 0;
      }
      .text-container {
        width: 100%;
        float: none;
      }
    }
  }
}

.dialogue-multipleChoice {
  .tooltip {
    &.tooltip-dialogue {
      .tooltip-inner {
        margin-top: 0;
      }
    }
  }
}




// CSS IE10 and IE11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .Dialogue {
    .tab-content {
      .tab-pane {
        &.active {
          .dialogueVideoContainer {
             .videoContainer {
              .video-js {
                width: 645px;
                height: 448px;
                .vjs-control-bar {
                  .vjs-control {
                    &::before {
                      line-height: 1.7;
                      font-size: 18px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .dialogueVideoContainer {
      .video-js {
        width: 645px;
        height: 448px;
        .vjs-control-bar {
          .vjs-control {
            &::before {
              line-height: 1.7;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

// CSS Edge
@supports (-ms-ime-align:auto) {
  .Dialogue {
    .tab-content {
      .tab-pane {
        &.active {
          .dialogueVideoContainer {
             .videoContainer {
              .video-js {
                width: 645px;
                height: 448px;
              }
            }
          }
        }
      }
    }
    .dialogueVideoContainer {
      .video-js {
        width: 645px;
        height: 448px;
      }
    }
  }
}

//Chrome
@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
   .dialogueReadTab {
        .audio{
            height: 55px !important;
            background-color: white;
        }
   }
}
