
.scoreHeading {
  padding-left: 0px !important;
  padding-top: 24px !important;
  margin-top: 0px !important;
  padding-right: 0px !important;
}

.finalQuiz-container {
  .nav-tabs {
    padding-right: 0;
    padding-left: 0;
    margin: 0 30px;
    border-bottom: 2px solid;
  }

  .WordScrambleClick {
    padding: 0 30px;

    img {
      vertical-align: inherit;
    }
  }

  .buttonAnswersContainer {
    float: none;
  }

  .nav-tabs > li {
    margin-bottom: -2px;
  }
  .nav-tabs > li > a {
    color: #575b6e;
    border: none;
    border-bottom: 2px solid black;

    &:hover {
      border-color: transparent;
      border-bottom: 2px solid black;
    }
  }

  .nav > li.active {
    width: 50%;

    a {
      border: 2px solid black;
      border-bottom: none;
      color: black;
      outline: none;

      &:hover {
        cursor: default;
      }
    }
  }

  .nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: white;
  }

  .QuizDescriptionDiv {
    border-right: 2px solid darkgrey;
  }

  .QuizDragDropQuestion {
    text-align: center;

    .DragDropQuestion {
        .inline {
            margin-top: 1px;
        }
    }

  }


    .answerSetParent {
        .peg {
            display: inline-block;
            line-height: normal;
        }
    }

  .QuizDragDropAnswers {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2px;
  }

  .fillInput {
    display: inline-block !important;
    float: none !important;
  }

  .setButton {
    float: none !important;
  }

  .multiInput-span {
    input {
      float: none;
      display: inline-block;
    }
  }
  .quizMultiInput {
    float: none;
    display: inline-block;
  }

  .QuestionTextDD {
    display: inline;
  }

  .multipleChoiceContainer {
    float: left;
    min-height: 40px;
  }

  .FinalQuizMultipleChoice, .FinalQuizMultiChoiceMultiAnswer {
    display: inline-block;
  }

  .FinalQuizMultipleChoice {
    position: relative;
    text-align: left;
  }

  .quiz-img {
    position: relative;
  }

  .multiChoiceMultiAnswer {
    // margin-left: 50px;
    //margin-right: 30px;
    position: relative;
    float: left;
  }

  #dragContainer {
    margin-bottom: 0px !important;
    width: 100%;
  }


  .nextBtnDrag {
    margin-top: 10px !important;
  }

  .image-answerSets {
    overflow-y: auto;
    margin-top: -20px !important;
  }

  .image-answerSet {

    .fillInput {
      margin: 0px !important;
    }
  }

  #landingpage-instruction-Nav {
    .nav {
      border: 0px !important;
    }
  }

  .quizStartButtons {
    .btn {
      border-radius: 0px;
      background-color: #132B4C;
      border-color: #132B4C;

      &:active, &:focus, &:active:focus,&:hover {
        background-color: #15C1C1;
        border-color: #15C1C1;
      }
    }
  }

  .quizCancelButtons {
      .btn {
        border-radius: 0px;
        background-color: #CA3937;
        border-color: #CA3937;

        &:active, &:focus, &:active:focus {
          background-color: #982a28;
          border-color: #982a28;
        }
      }
    }

  .inline {
    vertical-align: middle;
    margin-left: -21px;
    margin-top: 3px;
  }

  input[type="radio"] {
    margin: auto 8px;
  }

  .audio {
    img {
      vertical-align: middle;
      width: 45px;
      position: relative !important;
    }
  }

  .accents-container {
    float: none;
    display: inline-block;
  }

  .accentBar {
    text-align: center;
  }
  .tooltip{
      top: 0px !important;
      left: 300px !important;
  }

  .tooltip-audio {
    .tooltip-inner {
      color: #080808;
      background-color: rgba(19,43,76, 0.85);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
      font-size: 1.2em;
      font-weight: bold;
      color: #ffffff;
      padding: 20px;
      white-space: pre-line;
      margin-top: -8px;
      max-width: 500px !important;
      width: 500px !important;
    }
    &.MULTIPLECHOICE{
        .tooltip-inner{
            text-align: left !important;
            }
          }

    .tooltip-arrow {
      display: none;
    }
  }

  .QuizImage {
    img {
      vertical-align: middle !important;
    }
    .tooltip-audios {
      .tooltip-inner {
        color: #080808;
        background-color: rgba(0, 0, 0, 0.65);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
        font-size: 1.2em;
        font-weight: bold;
        color: #ffffff;
        padding: 20px;
        white-space: pre-wrap;
        position: fixed;
        max-width: 50% !important;
        top: 50%;
        left: 0%;
        right: 0%;
        margin: 0 auto;
        transform: translatey(-50%);
      }

      .tooltip-arrow {
        display: none;
      }
    }

    .tooltip-image {
      .tooltip-inner {
        color: #080808;
        background-color: rgba(0, 0, 0, 0.65);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
        font-size: 1.2em;
        font-weight: bold;
        color: #ffffff;
        padding: 20px;
        white-space: normal;
        position: fixed;
        margin-top: 40px;
        max-width: 90% !important;
        top: auto;
        left: 0%;
        right: 0%;
        margin: 15% auto;
      }

      .tooltip-arrow {
        display: none;
      }
    }

    .popoverCloseBtn {
      top: 0;
      right: 0;
      position: absolute;
      margin: 5px;
    }
  }

  .FinalQuizsetButton {
    margin-top: 20px;

     .btnButtonSet {
        background: #f6f6f6;
        border: 1px solid #000000;
        color: #000000;

        &:focus:active {
            background: #f6f6f6;
            border: 1px solid #000000;
            color: #000000;
            outline-color: #c4c4c4;
        }

        &:focus {
            outline-offset: -2px;
        }
      }
  }
  .quiz-dragdrop-container {

    .quizDragDropAudio {
      float: left;
      padding: 0px;
      text-align: center;
    }
  }

}

.eomDivFocus {
     &:focus {
       outline: 2px solid #5185C2 !important;
       outline-offset: 3px;
       z-index: 99999;
       position: relative;
     }
 }

.quizMultiInput {
  float: left;
  margin-top: 27px;
}

.single-input-span-eom {
  min-width: 182px;
  margin-top: 7px;
}

.finalTest-disabled-input {
  background-color: #F8F8F8;
  text-align: center;
}

.quiz-question-container .questionNoContainer {
  padding-bottom: 1%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.audioContainerWithoutQuestion {
    display: inline-flex;
    display: -webkit-inline-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.quiz-question-container .answerSet {
  text-align: center;
  width: 100%;
}

.finalQuiz-container .dragDropSectionInfo {
  float: right;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 2%;
}

.quizStarted-instructions-main {
  margin: 0 30px;
  .header-row {
    margin: 0 30px;

    .description {
      margin-top: 20px;
      font-weight: bold;
      font-size: medium;
    }

    .instructions {
      margin-top: 7px;
      margin-bottom: 20px;
    }
  }

  .dragDropProgress {
    padding-right: 0;
  }

  .timer {
    font-size: xx-large;
    font-weight: bold;
    padding-right: 0;
    float: right;
    text-align: end;

    .content {
      float: right;
      padding-bottom: 10px;
    }
  }
}

.quiz-img {
  width: 100%;
}

.quiz-multi-dragDropText {
  float: left;
}

.quiz-question-container {
  .form-control {
    margin: 20px 5px 10px 5px;
  }

  .questionNoContainer {

    .parentValidationQuestion {
      display: inline-flex;
      display: -webkit-inline-flex;

      .inline {
        position: absolute;
      }
    }

    .EOMQuestionDiv {
      justify-content: center;
      display: inline-flex;
      display: -webkit-inline-flex;
      padding: 5px 0px;
    }
    .questionNo {
      float: left;
      font-weight: bold;
      font-size: x-large;
      width: auto;
      padding: 0px 5px;
      display: inline-table;
    }

    .questionNoAudio {
      margin-top: -6px;
      position: absolute;
    }

  }

  .MULTICHOICEMULTIANSWER {
    .FinalQuizMultiChoiceMultiAnswer {
      width: 80%;

      .multiChoiceMultiAnswer {
        .multipleChoiceContainer {
          .mainContainer {
            text-align: left;
          }
        }

        .childMultiChoiceMultiAnswer{
            display: inline-block;
        }
      }
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .MULTICHOICEMULTIANSWER {
      .FinalQuizMultiChoiceMultiAnswer {
        width: 80%;
      }
    }
  }

}

.finalQuiz-container {

    label {
        margin-bottom: 0px;
    }
  .container {
    .jumbotron {
      padding-top: 20px;
    }
  }

  .answerSetParent {
    width: auto;
  }

   .nextQuestion {

      .nextBtn {
		  background-color: #132B4C;
		  border-color: #132B4C;

		  &:active, &:focus, &:active:focus,&:hover {
			background-color: #15C1C1;
			border-color: #15C1C1;
		  }
      }
    }
}

.alert {
  z-index: 1000;
}

.inverted {
  .finalQuiz-container {
    .btn {
      border-color: black;
      background-color: white;
      color: black;
    }
  }

  .quiz-dragdrop-container {
    .answerSet {
      background-color: black;
      border: 1px solid white;
    }
  }
}

.quiz-dragdrop-container {
  margin-top: 6%;

  &.singleQuestion {
    margin-top: 0;

    .feedback {
      position: absolute;
      margin-left: -46px;
      display: inherit;
    }
  }

  .QuestionTextDD {
    .dragdrop-text {
      float: left;
      margin-top: 8px;
    }
  }

  .dragdrop-text {
    line-height: 37px !important;
    float: left !important;
    margin: 0px !important;
  }

  .question {
    margin-top: 1%;
    clear: both;

    .questionNo {
      float: left;
      font-size: large;
      margin-right: 5px;
      margin-left: 1%;
      margin-bottom: 1%;
    }

    .dragdrop-questionNo {
      float: left;
      margin: 9px 5px 20px 71px;
      font-weight: bold;
      position: absolute;
      left: 6px;
    }

    .dragdrop-player {
        float: left;
        font-weight: bold;
        padding: 0px;
        margin: 0px;
        width: auto !important;
        min-width: 20px;
    }


    .DragDropQuestionAudio {
      margin-top: 8px !important;
    }
  }

  .answerSet {
    float: left;
    width: 94%;
    background-color: white;
    border: 1px solid blue;
    margin: 4% 0 0 3%;
  }

  .nextQuestion {
    clear: both;
    text-align: center;

    .nextBtn {
      margin-top: 25px;
      margin-bottom: 4%;
    }
  }

  .TargetBoxDragDrop {
    display: inline;
  }

  .DragDropQuestion {
    img {
      position: relative !important;
    }

    .tooltip-audio {
      .tooltip-inner {
        position: relative;
        padding: 15px !important;
        margin-top: -7px !important;

      }

      .tooltip-arrow {
        display: none;
      }
    }

    .TargetBoxDragDrop {
      min-height: 37px;
    }

  }

  .HorizontalDragDropQuestion {
    width: 90%;
  }

  .DragDropQuestion {
  .questionText {
      padding-right: 0px;
          float: none !important;
          display:flex;
          width:auto;
  }
  }

}

.quiz-question-container {
  .MultipleChoiceRadio {
    margin: auto;
    padding: 0px;
  }
}

.finalQuiz-container {
  padding-bottom: 1% !important;

  .singleDragdrop {
    width: 100%;
  }

  .alert {
    position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    margin-left: 30%;
    margin-top: 6%;
  }

  .header {
    margin-top: 1%;
  }

  .landingpage-instruction {
    margin: 0 3%;
    max-height: 300px;
    overflow-y: auto;

    ul {
        padding: 0px;
        text-align: left;
        list-style: none;
    }

    p {
        font-size: inherit;
        font-weight: inherit;
        text-align: left;
    }
  }

  .parentOfEOMTLandingInst {
    max-height: 300px;
    overflow-y: auto;
  }

  .progressInfo {
    float: left;
    font-size: medium;
    font-weight: bold;
    margin-top: 20px;
    padding: 0px;
    text-align: right;

    .questionInfo, .sectionInfo {
      display: inline-block;
      font-weight: bold;
    }

    .sectionInfo {
      margin-right: 5px;
    }
  }

  .quizInstructions {
    margin-top: 5%;
    padding-bottom: 5%;
    text-align: center;
  }
}

.quizInstructions {
    .quizStartButtons, .quizCancelButtons {
      display: inline-block;
    }
}

.quizStarted-instructions-main {
  border-bottom: solid 1px black;
  max-height: 150px;
  overflow: auto;
  margin-bottom: 0px !important;
}

.quiz-question-container {
  margin: 0px !important;

  .nextQuestion {
    clear: both;
    text-align: center;
  }

  .questionNoContainer {
    .dragDropQuestionNo {
      float: left;
      font-weight: bold;
      margin-left: 3%;
      font-size: large;
      margin-top: 5px;
      position: absolute;
    }

    .questionText {
      font-weight: normal;
      font-size: x-large;
      text-align: left;
      padding: 0px 5px;
      width: auto;
    }

    .inline {
        margin-top: 8px;
    }
  }
}

.dragdrop-feedback {
  position: absolute;
  margin-top: 10px;
  margin-left: -16px;
}

.inline {
    margin-top: 0px;
}

.quiz-your-score {
  font-size: x-large;
  font-weight: bold;
}

.quiz-individual-score-main {
  font-weight: bold;
  font-size: large;
  border: 2px solid lightgray;
  margin-left: 28%;
  margin-right: 28%;
  margin-top: 1%;
  overflow-y: auto;

  .score-container {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;

    .scoreContainerSectionNo {
      text-align: center;
      padding: 0px;
    }
    .scoreContainerSectionNoPadding{
        padding-left: 8px;
    }

    .scoreContainerScore {
      text-align: center;
    }
  }
}

.quiz-score-close-btn {
  margin-top: 2%;
}

@media (max-width: 992px) {
  .jumbotron h1 {
    margin-left: 34px;
  }

  .dialogueRepeatTab .audioPlayer .tracks {
    margin: 2% 23% !important;
  }
}

.fontScaleX0 {
  .quiz-individual-score-main {
    font-size: 10px;
  }

  .quiz-your-score {
    font-size: 16px;
  }

  &.finalQuiz-container {
    .progressInfo {
      font-size: 8px;
    }

    .quiz-dragdrop-container {
      .question {
        .dragdrop-questionNo {
          margin-top: 8px;
        }
      }
    }

    .timer {
      font-size: 12px;
    }

    .multiplechoice_label {
      margin-top: 3px;
    }

    .questionNoContainer {
      .questionNo {
        margin-top: 2px;
      }

      .questionNo, .questionText {
        font-size: 16px;
      }
    }
    .audio {
        img {
            width: 25px;
        }
    }

     .QuizImage {
         .tooltip-audios {
             .tooltip-inner {
                 max-width: 30% !important;
                 padding: 15px;
             }
         }
     }
  }
}

.fontScaleX1 {
  .quiz-individual-score-main {
    font-size: 14px;
  }

  .quiz-your-score {
    font-size: 20px;
  }

  &.finalQuiz-container {
    .progressInfo {
      font-size: 12px;
    }

    .timer {
      font-size: 16px;
    }

    .multiplechoice_label {
      margin-top: 1px;
    }

    .questionNoContainer {
      .questionNo {
        margin-top: -1px;
      }

      .questionNo, .questionText {
        font-size: 20px;
      }
    }
    .audio {
        img {
            width: 35px;
        }
    }

    .QuizImage {
        .tooltip-audios {
            .tooltip-inner {
                max-width: 40% !important;
            }
        }
    }
  }
}

.fontScaleX2 {
    .finalQuiz-container {
        .dragDropSectionInfo {
            font-size: medium;
        }
    }
}

.fontScaleX3 {
  .quiz-your-score {
    font-size: xx-large;
  }

  .quiz-dragdrop-container {
    .dragdrop-text {
      line-height: 37px !important;
    }

    .TargetBoxDragDrop {
      min-height: 37px;
    }

  }

  .quiz-individual-score-main {
    font-size: 24px;
  }

  &.finalQuiz-container {
    .progressInfo {
      font-size: 20px;
    }

    .QuestionAnswerContainer {
      padding-top: 1%;
    }

    .timer {
      font-size: 36px;
    }

    .questionNoContainer {

      .questionNo, .questionText {
        font-size: 28px;
      }

    }

    .audio {
        img {
            width: 55px;
        }
    }

    .MULTICHOICEMULTIANSWER {
      .FinalQuizMultiChoiceMultiAnswer {
        width: 70%;
      }
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .MULTICHOICEMULTIANSWER {
        .FinalQuizMultiChoiceMultiAnswer {
          width: 100%;
        }
      }
    }
    .FinalQuizMultipleChoice {
      &.noTxt {
        .feedback {
          img {
            position: relative;
          }
        }
      }
    }

    .fillInput {
      height: auto;
    }

    .QuizImage {
        .tooltip-audios {
            .tooltip-inner {
                max-width: 60% !important;
                padding: 35px;
            }
        }
    }

  }
  .WordScrambleClick {
    .targetBoxContainer {
      .targetBoxes {
        height: auto !important;
      }
    }
  }
  .tooltip-inner{
      max-width: fit-content !important;
  }
  .scoreContainerSectionNoPadding{
      padding-left: 9px !important;
  }
}

.fontScaleX4 {

  .quiz-dragdrop-container {
    .questionText {
      margin-left: 0px !important;
    }
    .quizDragDropAudio {
      padding-left: 20px;
    }

    .singleAnswerContainer {
      .slot {
        height: auto !important;
      }
      .dragdrop-text {
        line-height: 38px !important;
      }
    }

    .TargetBoxDragDrop {
      min-height: 38px;
      margin-bottom: 0 !important;
    }

  }
  .quiz-individual-score-main {
    font-size: 30px;
  }

  .quiz-your-score {
    font-size: 35px;
  }

  &.finalQuiz-container {
    .progressInfo {
      font-size: 24px;
    }

    .timer {
      font-size: 40px;
    }

    .QuestionAnswerContainer {
      padding-top: 1%;
    }

    .questionNoContainer {

      .questionNo, .questionText {
        font-size: 35px;
      }

    }

    .audio {
        img {
            width: 65px;
        }
    }

    .MULTICHOICEMULTIANSWER {
      .FinalQuizMultiChoiceMultiAnswer {
        width: 80%;
      }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .MULTICHOICEMULTIANSWER {
        .FinalQuizMultiChoiceMultiAnswer {
          width: 100%;

        }
      }
    }

    .FinalQuizMultipleChoice {
      &.noTxt {
        .feedback {
          img {
            position: relative;
          }
        }
      }
    }

    .fillInput {
      height: auto;
    }

    .QuizImage {
         .tooltip-audios {
             .tooltip-inner {
                 max-width: 70% !important;
                 padding: 35px;
             }
         }
     }

  }

  .WordScrambleClick {
    .targetBoxContainer {
      .targetBoxes {
        height: auto !important;
      }
    }
  }

  .multiInput-span {
      input {
        height: 44px;
      }
  }
  .finalQuiz-container{
    .progressInfo {
        .sectionInfo{
            margin-left: -30px;
        }
    }

  }
  .tooltip-inner{
    max-width: fit-content !important;
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .multiChoiceMultiAnswer {
      // margin-left: 30px;
    }
  }
  .scoreContainerSectionNoPadding{
      padding-left: 10px !important;
  }
}
@media screen and (min-width: 540px) and (max-width: 780px) {
    .translationButton{
        text-align: center;
        display: block;
    }
}

.finalQuiz-container {
  .quiz-dragdrop-container {
    .nextQuestion {
      position: sticky;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

