.nav {
  padding-left: 29px;
  padding-top: 24px;
  text-align: center;
}

.navbar-default {
  .navbar-collapse, .navbar-form {
    border-color: transparent !important;
  }

  .container-fluid {
    .btn:focus, .navbar-toggle:focus {
        outline: 3px solid #fff;
        outline-offset: -2px;
    }
  }

  .module-title {
    .menuLowerRow {
        .module-info {
            a:focus, .btn:focus {
                outline: 2px solid #132B4C;
                outline-offset: 3px;
                color: #132B4C;
            }
        }
    }
  }
}

.navbar-header {
  text-align: center;
}

.nav-tabs > li.active > a {
  @extend %navtabs;
  &:hover, &:focus {
    @extend %navtabs;
  }
}

#nav_ul li a {
  cursor: pointer;
}

.nav-tabs > li > a {
  border-radius: 0px;
  cursor: pointer;
  margin-right: 0;
}

.nav > li > a {
  padding: 15px 0px !important;
  font-size: 1.5em !important;
}

 @media screen and (min-device-width: 600px) and (max-device-width: 800px) {
      .nav > li > a {
        padding: 18px 18px !important;
      }
      }

      @media screen and (min-device-width: 768px) and (max-device-width: 800px) {
        .nav > li > a {
          padding: 15px 15px !important;
        }
        #itemContainer {
            .nav > li > a {
                padding: 15px 0px !important;
            }
            &.fontScaleX2 {
                .nav > li > a {
                  height: 100px;
                }
            }
        }
      }

@media only screen and (min-device-width: 300px) and (max-device-width: 800px) {
  .nav > li > a {
    font-size: 0.8em;
    padding: 10px;
  }
}

#nav_ul li a {
  color: #fff;
  padding: 27px 0px;
  margin-left: 30px;
}

.navbar-nav li a
{
    line-height: 35px;
}

.navbar-default .navbar-nav > .active > a {
  @extend %navbar;
  &:hover, &:focus {
    @extend %navbar;
  }
}

.nav-tabs {
  padding-right: 40px;
  padding-left: 40px;
  margin-top: 11px;
  border-bottom: 1px solid gray;
  > li {
    > a {
      text-decoration: none;
      border-radius: 0;
    }
    background-color: white;
  }
}

.nav-justified {
  padding-right: 40px;
  padding-left: 40px;
  border-bottom: 1px solid gray !important;
  border-top: none;
  margin-top: 0px !important;
  padding-top: 15px !important;
  > li {
    > a {
      text-decoration: none;
      border-radius: 0 !important;
      padding: 7px 7px;
      font-size: 0.9em;
    }
    background-color: white;
    white-space: normal;
  }

}

.nav-tabs.nav-justified > .active {
  > a {
    background-color: white;
    border-radius: 4px;
    border: 1px solid;

    &:hover {
      border: 1px solid;
    }
  }
  top: 1px;
}

.nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
  border-bottom: none !important;
}

.navbar {
  position: fixed;
  z-index: 11;
  width: 100%;
}

.show_score {
  height: 200px;
  position: relative;
  text-align: center;
  margin: 0 30px;

  span {
    width: 100px;
    height: 100px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 30px;
    font-weight: bold;
  }
}

.menuItems {
  height: 68px;
  color: white !important;
  text-decoration: none;
  &:active, &:focus, &:active:focus,&:hover {
    color: #15C1C1 !important;
    border-color: #15C1C1;
  }
}

.menuItems:hover {
  color: #333333;
  text-decoration: none;
  // border-bottom: 3px solid #132B4C;
}

.mainQuestion .nav-tabs > li {
  width: 50%;
  text-align: center;
}

.instructions{
  .nav-tabs {
    li {
      width: 50%;
      text-align: center;
    }
  }

  .table{
    border: 1px solid;
    th{
      border: 1px solid;
      border-right: none;

      &:last-child{
        border-right: 1px solid;
        border-left: none;
      }
    }

    td{
      border-left: 1px solid;
      border-right: none;
      border-top: 1px solid;

      &:last-child{
        border-right: 1px solid;
      }
    }
  }
}

.step1, .step2{
  .nav-tabs {
    padding-right: 0;
    padding-left: 0;
    margin: 0 30px;
    color:#132B4C;
    border-bottom: 2px solid;

    li{
      margin-bottom: -2px;
      
      a{
        color: #132B4C;
        border:none;
        border-bottom: 2px solid #132B4C;

        &:hover{
          color: #15C1C1;
          outline: none;
          border-color: transparent;
          border-bottom: 2px solid #132B4C;
        }

        &:hover, &:focus{
          text-decoration: none;
          background-color: white;
          outline-offset: 3px !important;
          z-index: 1;
        }
      }

      &.active{
        a{
          border: 2px solid #132B4C;
          border-bottom: none;
          color: #132B4C;
          outline: none;
        }
      }
    }

    @media screen and (min-device-width: 600px) and (max-device-width: 800px) {
      li {
        margin-bottom: -4px;
        }

      }
  }
  @media screen and (min-device-width: 600px) and (max-device-width: 800px) {
        .nav-tabs {
          margin : 0px 24px !important;
          }

        }
}

.accentBar {
  margin-top: 5px;
  margin-bottom: 5px !important;
  text-align: center;
}

.fontScaleX3{
    .MainMenu {

        .nav-tabs {
            li {
                margin-bottom: -4px;
            }
        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        .nav-tabs > li > a {
            height: 100px;
            font-size: 20px !important;
          }
        }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1280px) {
          .navbar-nav {
            margin: 7.5px -15px !important;
          }
        }
        .nav-tabs {
            padding-top: 10px;
        }
    }
    &.module0, &.module99 {
       .MainMenu {
           .nav-tabs {
               li {
                   a {
                      height: 125px;
                   }
               }
           }
       }
    }
}

.fontScaleX4 {
    .MainMenu {

        .nav-tabs {
            li {
                margin-bottom: -4px;
            }
        }

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
           .nav-tabs > li > a {
             height:110px;
             font-size: 23px !important;
           }
        }

        .nav-tabs {
            padding-top: 20px;
            margin: 0px !important;
        }
    }

    &.module0, &.module99 {
        .MainMenu {
            .nav-tabs {
                li {
                    a {
                       height: 125px;
                    }
                }
            }
        }
    }
}