.mainQuestion {

    .compiledInput {
        left:-999em;
        display: inline;
        position: absolute;
        min-width:0;
        padding:0 20px;
        font-size: 1.1em !important;
    }

  .resume-activity.activeActivity {
    background-color: rgb(21,193,193);
    color: white;

    &:active, &:focus, &:hover, &:active:focus {
		background-color: rgba(21,193,193,.5);
		border-color: rgba(21,193,193,.5);
		color:#132B4C;
    }
  }
  .btn-primary[disabled] {
    background-color: #d0d0d9;
	border-color: #d0d0d9;
  }
}

.legend {
  margin: 0;
  text-align: center;
  padding-bottom: 24px;
}

#legend {
  position: fixed;
  background: #fff;
  right: 0;
  left: 0;
  bottom: 0;
}

ul.legend li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  label {
    padding-left: 5px;
    line-height: 31px;
    margin-bottom: 0px;
  }
}

#page_number_div {
  margin-top: 5px !important;
  text-align: center;
  .pagination li a {
    color: white;
    background: rgb(44, 150, 214);
    border-radius: 0px;
    padding: 6px 25px;
  }
}

#score_div {
  font-size: 20px;
  margin-top: 20px !important;
}

.pagination-pn li a {
  border: none;
}

.fontScaleX0 {

    .answer-feedback, .answer-feedback-dragVideo {
        width: 8px;
    }

  .container-fluid {
     .mainLogo {
         width: 20%;
     }
     .titleImg {
         width: 100px;
         height: 50px;

         &.en, &.fr {
            margin-top: 0px;
         }
     }
  }

  .legend-status {
      margin-top: 12px;
      width: 10px;
      height: 21px;
      background-size: 10px;
  }

  .statuses {
       width: 20px;
       background-size: 20px;
       background-position-y: 2px;
   }

  .module-info {
    h1 {
       line-height: 10px;
    }
    img {
        width: 10px;
    }
  }

  .finalQuiz-container, #Activity_landing_page {
      .innerActivityTitle {
          font-size: medium;
      }
  }

  font-size: 5px !important;

  .FillInTheBlank, .DialogQuiz  {
    .button {
      line-height: 13px;

      .questionNumber {
          @-moz-document url-prefix() {
              .question-no {
                  line-height: 34px;
              }
          }
      }

      .buttonText {
       line-height:34px
      }

      .audio_question {
                    margin-top: 8px !important;
                 }

     .answer-feedback {
         top: 2px;
     }

    }

    .answer-feedback {
      top: 2px;
    }
    .dropdown {
      min-height: 25px;

      .btn {
        font-size: 5px !important;
      }

      .dropdown-menu {
        font-size: 5px !important;
      }
      .dropdownBtn {
        min-height: 25px;
      }

      .dropdown-toggle {
        min-height: 25px;
      }
    }
  }

  .btn {
    font-size: 5px !important;
  }

  .playBtn {
    height: 23px;
  }

  .mainTitle, .mainMenu {
     font-size: 5px;
   }
}

.fontScaleX1 {

    .answer-feedback, .answer-feedback-dragVideo {
        width: 12px;
    }

  .container-fluid {
     .mainLogo {
         width: 30%;
     }
     .titleImg {
         width: 150px;
         height: 60px;

         &.en, &.fr {
            margin-top: 0px;
         }
     }
  }

  .legend-status {
        margin-top: 10px;
        width: 20px;
        height: 21px;
        background-size: 20px;
    }

  .statuses {
        width: 30px;
        background-size: 30px;
        background-position-y: 3px;
  }

  .module-info {
    h1 {
        line-height: 15px;
    }
    img {
        width: 20px;
    }
  }

   .finalQuiz-container, #Activity_landing_page {
       .innerActivityTitle {
           font-size: large;
       }
   }

  font-size: 10px !important;

  .btn {
    font-size: 10px !important;
  }

  .playBtn {
    height: 31px;
  }


  .FillInTheBlank , .DialogQuiz {

    .button {
      padding: 7px 12px;

      .buttonText {
        line-height: 38px;
      }

    .audio_question {
                  margin-top: 5px !important;
               }


     .answer-feedback {
         top: 6px;
     }

    }

    .dropdown {
      min-height: 30px;

      .btn {
        font-size: 10px !important;
      }

      .dropdown-menu {
        font-size: 10px !important;
      }
      .dropdownBtn {
        min-height: 30px;
      }

      .dropdown-toggle {
        min-height: 30px;
      }
    }
  }

  .mainTitle, .mainMenu {
    font-size: 10px;
  }
}

.fontScaleX2 {
  font-size: 13px !important;

  .btn {
    font-size: 13px !important;
	color:white;
  }
}

#closeQuizBtn{
	background-color: #132B4C;
	border-color: #132B4C;
	&:hover{
		background-color: #15C1C1;
		border-color: #15C1C1;
	}
}
.fontScaleX2{
	color:#132B4C;
}

body {
    &.fontScaleX2 {
        .mainTitle {
            font-size: 14px;
        }
        .btn {
            font-size: 14px !important;
			
        }
    }
}

.fontScaleX3 {

     .compiledInput {
        padding: 0px 30px !important;
    }

    .AccesslabelSize {
        width: auto !important;
    }

    .answer-feedback, .answer-feedback-dragVideo {
        width: 18px;
    }

    .ngdialog {
       .ngdialog-content {
          width: 762px !important;
       }
    }

    .statuses {
       width: 50px;
       height: 35px;
       background-size: 50px;
    }

    .legend-status {
        margin-top: 3px;
        width: 40px;
        height: 31px;
        background-size: 40px;
    }

    .container-fluid {
       .mainLogo {
           width: 45%;
       }
       .titleImg {
           width: 208.8px;
           height: 71px;
       }
    }

    .module-info {
        img {
            width: 25px;
        }
    }

    .finalQuiz-container, #Activity_landing_page {
        .innerActivityTitle {
            font-size: xx-large;
        }
    }

  font-size: 20px !important;

  @media only screen and (min-device-width: 1025px) and (max-device-width: 1600px) {
        .menuItems{
            font-size: 18px !important;
            padding-right: 5px !important;
            padding-left : 0px !important;
        }
  }

  @media only screen and (min-device-width: 1600px) and (max-device-width: 1920px) {
        .menuItems{
            font-size: 20px !important;
            padding-right: 8px !important;
            padding-left : 8px !important;
        }
  }

  @media only screen and (min-device-width: 980px) and (max-device-width: 1024px) {
         .menuItems{
             font-size: 17px !important;
         }
         .headerContentPad{
             margin-right: -15px !important;
             margin-left : -15px !important;
         }
  }

  .question-no {
    left: -37px;
  }

  .questionAsset {
    display: inherit;

    .audioContainer {
      padding-left: 0;

      .playBtn {
        height: 41px;
      }
    }
  }

  .FillInTheBlank, .DialogQuiz  {
    .input{
      @-moz-document url-prefix() {
        .questionNumber{
            line-height: 49px;
         }
      }

      .multiInput_text{
        line-height: 49px;
      }

      .fillText {
        padding: 6px 0 7px 0;
      }

      .form-control{
        height: 46px !important;
      }
    }


    .button {

     .questionAsset {
        margin-top: 0px !important;
     }

      .buttonText {
        margin: 1px 0 1px 0 !important;
        line-height: 38px;
      }
    }

    .dropdown {
        .setMarginFIB {
                margin-left: 20px;
              }
    }

    .containerrr {
      padding-left: 35px;

      .answer-feedback {
        left: -67px;
        top: 8px;
      }

      .button {
        .answer-feedback {
            top: 3px;
        }
      }
    }
  }

  .attendedQuestions {
    padding-left: 0;

    .btn {
      text-overflow: clip;
      white-space: normal;
      overflow: hidden;
    }

    &.footerTopPadding {
      padding: 20px 0px 0px 0px ;
      display: inline-table;
    }
  }

  .activitiesScore {
    .btn {
      text-overflow: clip;
      overflow: hidden;
    }
  }

  #quiz_div {
      margin-right: 38px;
      margin-left: -38px;
  }

  .mainTitle, .mainMenu {
      font-size: 20px;
    }

   .tooltip.customClass {
      .tooltip-inner {
          max-width: 550px !important;
      }
   }
}

.fontScaleX4 {

    .compiledInput {
        padding: 0px 35px !important;
    }

    .audio_question {
        width: 50px;
    }

    .AccesslabelSize {
        width: auto !important;
    }

    .answer-feedback, .answer-feedback-dragVideo {
        width: 25px;
    }

    .step1 {
        .nav-tabs {
            padding-top: 20px;
        }
    }

  .ngdialog {
     .ngdialog-content {
        width: 915px !important;
     }
  }

  .activityTitle {
    padding-left: 15px;
  }

  .legend-status {
      margin-top: 3px;
      width: 50px;
      height: 41px;
      background-size: 50px;
  }

  .statuses {
     width: 60px;
     height: 40px;
     background-size: 60px;
  }

  .container-fluid {
       .mainLogo {
           width: 50%;
       }
       .titleImg {
           width: 250px;
           height: 75px;
           padding-left:15px;
       }
  }

  .module-info {
    h1 {
        line-height: 40px;
    }
    img {
        width: 30px;
    }
  }

  .finalQuiz-container, #Activity_landing_page {
      .innerActivityTitle {
          font-size: 1.6em;
          padding: 15px;
      }
  }

  .finalQuiz-container {
    .quizInstructions {
        margin-top: 3%;
    }
  }

  font-size: 26px !important;

  .btn {
      font-size: 26px !important;
    }

  .nav > li > a{
    padding: 0;
  }

  .com-tab{
    margin-top: 5px;
  }

  .questionAsset {

    .audioContainer {
      padding-left: 0;

      .playBtn {
        height: 46px;
      }
    }
  }

  .FillInTheBlank, .DialogQuiz  {

    .input{

    @-moz-document url-prefix() {
       .questionNumber{
            line-height: 55px;
       }
    }

    .multiInput_text{
      line-height: 55px;
    }

      .fillText{
        padding: 10px 0 9px 0;
      }

      .form-control{
        height: 46px !important;
        margin-top: 6px;
      }
    }

    .button {
      .buttonText {
        line-height: 41px;
      }

      .questionAsset {
              margin-top: 0px !important;
           }
    }

     .dropdown {

      min-height: 51px;
      margin-bottom: 3px;

      &.wrong-answer {
        margin-bottom: 1px !important;
      }
      &.correct-answer {
        margin-bottom: 1px !important;
      }

      .btn {
        font-size: 26px !important;
      }

      .dropdown-menu {
        font-size: 26px !important;
      }
      .dropdownBtn {
        min-height: 51px;
      }

      .dropdown-toggle {
        min-height: 51px;
      }

      .setMarginFIB {
        margin-left: 20px;
      }
    }

    .questionText span {
      margin-top: 3px;
    }

    .containerrr {
      padding-left: 45px;

      .answer-feedback {
        left: -76px;
        top: 15px;
      }

      .button {
              .answer-feedback {
                  top: 5px;
              }
            }
    }
  }

  .question-no {
    left: -36px;
  }

  .activity-score-container {
    overflow: auto;
    padding-top: 0px;

    &.flex-container {
      display: block;
    }
  }

  .attendedQuestions {
    padding-left: 0;

    .btn {
      width: 150px;
      padding-top: 0;
      text-overflow: clip;
      white-space: normal;
      overflow: hidden;
      margin-top: 5px;

      @media screen and (max-width: 1200px) {
        margin-left: -71px;
      }
    }

    &.footerTopPadding {
          display: inline-table;
        }
  }

  .footerTopPadding {
    padding-top: 2px;
  }

  .activitiesScore {
    .btn {
      padding-top: 0;
      text-overflow: clip;
      white-space: normal;
      overflow: hidden;
      margin-top: 5px;

      @media screen and (max-width: 1200px) {
        margin-left: -49px;
      }
    }
  }
  .sysLang_zh{
     white-space: nowrap !important;
     margin-top: 20px !important;
  }
  #quiz_div {
        margin-right: 35px;
        margin-left: -35px;
    }

  .mainTitle, .mainMenu {
      font-size: 26px;
    }

  .headerContentPad {
    padding-left: 0px;
    padding-right: 0px;
  }

   .tooltip.customClass {
      .tooltip-inner {
          max-width: 750px !important;
      }
   }
}

.tooltip.customClass {
  .tooltip-inner {
    color: #080808;
    background-color: #f7ecb5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    font-size: large;
    font-weight: bold;
    max-width: 350px !important;
    text-align : justify;
  }
  .tooltip-arrow {
    display: none;
  }
}

.pager {
  width: 100px;
  .previous a, .next a {
    font-weight: bold;
  }
}

.legend-status{
  margin-top: 6px;
  width: 30px;
  height: 21px;
  float: left;
  background-size: 30px;
  background-repeat: no-repeat;

  &.success{
    background-image: url("../../images/Legend-Completed.png");
  }

  &.inProgress {
    background-image: url("../../images/Legend-Attempted.png");
  }

  &.tryIt{
    background-image: url("../../images/Legend-NotAttempted.png");
  }
}

.mandatory {
  background: #dddde5;
  @extend %legend;
  border-radius: 15px;

}

.nonMandatory {
  background: #dddde5;
  @extend %legend;
}

.accents-container {
  display: inline-block;
}

.inverted {
  .accents {
    color: white;
    border: black;

    &:hover {
      color: white;
    }
  }
}

.accents {
  text-decoration: none;
  color: black;
  border-right: 1px solid white;
  padding: 6px 6px;
  font-size: 1.5em;

  &:hover, &:focus {
    color: black;
  }
}

.accentTab {
  margin: 5px;
}

.correct-answer-text {
  color: #00AD26;
  font-weight: bold;
}

.wrong-answer-text {
  color: red;
  font-weight: bold;
}

.footer-btn-active {
  color: white !important;
  background-color: #337AB7 !important;
  opacity: 1 !important;
}

.topMargin {
  margin-top: 20px;
}

.act_landing_table {
  overflow-y: scroll;
  border: none !important;

  .table > tbody > tr > td {
    border-bottom: 1px solid !important;
    border-right: 1px solid;
    border-left: none;
    &:last-child {
      border-right: none;
    }
  }

  .table:last-child > tbody > tr:last-child > td {
    border-bottom: none !important;
  }
}

.jumbotron {
  margin-bottom: 30px;
}

.pager {
  margin: 2px 0;
}

.act_landing_table, .table-instruction {
  overflow-y: auto;
  max-height: 350px;
}



.pagerFooter {
  padding: 0 !important;
  margin: 0 0 0 30px !important;
  border-top: 1px solid;
  min-height: 77px;
  position: fixed;
  bottom: 0;
  background: white;

  .btnButtonSet {
      background: #ffffff;
      border: 1px solid #132B4C;
      color: #132B4C;

      &:focus:active, &:hover{
          background: #15C1C1;
          border: 1px solid #15C1C1;
          color: #132B4C;
          outline-color: #132B4C;
      }
   }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .pagination {
    padding: 0px 10px;
    margin-left: 10px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
     .fontScaleX4 {
        .attendedQuestions {
            .btn {
              width: 125px;
              margin-left: 0px;
            }
        }
        #quiz_div {
            margin-right: 2px;
            margin-left: -4px;
        }
     }

     .fontScaleX3 {
        .attendedQuestions {
            .btn {
              width: 100px;
            }
        }
        .activitiesScore {
            .btn {
              white-space: normal;
            }
        }
        #quiz_div {
            margin-right: 2px;
            margin-left: -4px;
        }
     }
     .fontScaleX2 {
        #quiz_div {
            margin-right: 38px;
            margin-left: -38px;
        }
     }
  }
}

@supports (-ms-ime-align:auto) and (not (-ms-accelerator:true)) {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
       .fontScaleX4 {
          .attendedQuestions {
              .btn {
                width: 125px;
                margin-left: 0px;
              }
          }
          #quiz_div {
              margin-right: 2px;
              margin-left: -4px;
          }
       }

       .fontScaleX3 {
          .attendedQuestions {
              .btn {
                width: 100px;
              }
          }
          .activitiesScore {
              .btn {
                white-space: normal;
              }
          }
          #quiz_div {
              margin-right: 2px;
              margin-left: -4px;
          }
       }
       .fontScaleX2 {
          #quiz_div {
              margin-right: 38px;
              margin-left: -38px;
          }
       }
  }
}

.pagerNumbers {
  text-align: center;
}

a {
    .hiddenPagerDescription {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 0px;
        height: 0px;
        border: 0;
        overflow: hidden;

        &:active, &:focus {
            clip: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            position: static;
            width: auto;
        }
    }
}

.hiddenValidationDescription {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 0px;
    height: 0px;
    border: 0;
    overflow: hidden;
    display:none !important;

     &:active, &:focus {
         clip: auto;
         height: auto;
         margin: 0;
         overflow: visible;
         position: static;
         width: auto;
     }
}