.studySection{
  background-color: white;
  .contentContainer{
    padding: 2%;
    padding-top: 1%;
    overflow-y: auto;
    min-height: 350px;
  }

  .nextActivity{
    float: right;
    margin-right: 2%;
    margin-top: 0;
  }

  .show_score{
    margin: 0;
  }
}

.ssDivFocus {
 &:focus {
   outline: 2px solid #5185C2 !important;
   outline-offset: -2px;
   z-index: 99999;
   position: relative;
 }
}

.inverted {
  .studySection {
    .contentContainer {
    color:#000;
    }
  }
}

.fontScaleX0 {

    .studySection {
        h2 {
            font-size: 12px !important;
        }
    }

}

.fontScaleX1 {

    .studySection {
        h2 {
            font-size: 18px !important;
        }
    }

}

.fontScaleX3 {

    .studySection {
        h2 {
            font-size: 30px !important;
        }
    }

}

.fontScaleX4 {

    .studySection {
        h2 {
            font-size: 36px !important;
        }
    }

}
.studySectionEnglishClass,
.studySectionFrenchClass,
  .studySectionSpanishClass,
  .studySectionChineseClass{
    display:none;
  }
// Hiding class for secondary langauge in whatsnew
.secondaryLang_es {
    .studySectionSpanishClass {
            display:block;
    }

}

.secondaryLang_fr {
    .studySectionFrenchClass {
             display:block;
    }

  }

.secondaryLang_en {
    .studySectionEnglishClass {
            display:block;
    }

}
.secondaryLang_zh {
    .studySectionChineseClass {
             display:block;
    }

}



