.tv {

  .nextActivity {
    float: right;
    margin-bottom: 0;
    margin-top: 0;
  }

  &.module{
    margin-top: 0;
  }

  .theoryVignetteEnglishClass,
  .theoryVignetteFrenchClass,
    .theoryVignetteSpanishClass,
    .theoryVignetteChineseClass{
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

  .nextItem{
    height: auto;
    padding-bottom: 31px;
  }

  h2 {
      text-transform: uppercase;
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 10px;
      padding: 6px 0px;
      color: #50749D;
  }

  h3 {
    position: inherit;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.5em !important;
    font-weight: bold;
    color: #243e58;
    padding: 8px 8px;
    margin: 10px 8px 10px 8px;
    text-align: center;
  }
  .tab-stripped {
    td {
      text-align: center;
    }
  }
  .content {
    width: auto;
    padding-right: 32px;
  }

  .theoryVideo {
    display: inline-block;
    margin-bottom: 2%;
    min-width: 260px;
    width: 100%;
    max-width: 930px;
  }
  .vjs-fullscreen{
    max-width: 100%;
  }
  .vjs-subtitles-button,.vjs-captions-button{
    display: none;
  }

  .header {
    text-align: center;
    margin-bottom: 2%;
  }

  .btn-link {
    color: inherit !important;
    white-space: normal;
    padding: 0px;
  }

  .multiColumn {
    td:first-child {
      width: 10%;
    }
    td:nth-child(2) {
      width: 35%;
    }
    td:nth-child(3) {
      width: 10%;
    }
    td:nth-child(4) {
      width: 20%;
    }
    td:last-child {
      width: 25%;
    }
  }

  .CaptionButtonVideo {
    background-color: #2c96d6;
    border-color: #2c96d6;
    padding: 7px 7px;
    border-radius: 0px;
    border: 1px solid transparent;
    color: white;
    float:right;
  }

  .TheoryVideoCaptionBox {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid grey;
    padding: 10px;
  }

  &:focus {
    outline: none;
  }

  &.tvDivFocus {
    &:focus {
      outline: 2px solid #5185C2 !important;
      outline-offset: -5px;
      z-index: 99999;
      position: relative;
    }
  }

}

.inverted {
  .tv {
    h1, h2, h3, h4 {
      color: black;
      background-color: white;
    }

    b, td > span {
      color: black !important;
      font-weight: bold;
    }
  }
}

.fontScaleX0 {

    .tv {
        &.module {
            font-size: 5px !important;
        }
    }

}

.fontScaleX1 {

    .tv {
        &.module {
            font-size: 10px !important;
        }
    }

}

.fontScaleX3 {

    .tv {
        &.module {
            font-size: 20px !important;
        }
    }

}

.fontScaleX4 {

    .tv {
        &.module {
            font-size: 26px !important;
        }
    }

}
// Hiding class for secondary langauge in whatsnew
.secondaryLang_es {
    .tv {
        .theoryVignetteSpanishClass {
                position: relative;
                top: 0px;
                left: 0px;
                width: 100% !important;
            }
        }
}

.secondaryLang_fr {
    .tv {
        .theoryVignetteFrenchClass {
                position: relative;
                top: 0px;
                left: 0px;
                width: 100% !important;
            }
    }
  }

.secondaryLang_en {
    .tv{
        .theoryVignetteEnglishClass {
                position: relative;
                top: 0px;
                left: 0px;
                width: 100% !important;
        }
    }
}
.secondaryLang_zh {
      .tv {
          .theoryVignetteChineseClass {
                  position: relative;
                  top: 0px;
                  left: 0px;
                  width: 100% !important;
          }
      }
}
.vjs-big-play-button:focus, .vjs-big-play-button:hover{
    outline: 3px solid #1351b5 !important;
    outline-offset: 3px !important;
    text-decoration: none !important;
}
.vjs-control:focus{
     outline: 3px solid #1351b5 !important;
     outline-offset: 1px !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .tv{
        .vjs-control-bar{
            height: 45px !important;

            .vjs-menu-content{
                padding-top: 10px !important;
            }

            .vjs-progress-control{
                padding-top: 5px !important;
            }

            .vjs-remaining-time-display{
                padding-top: 10px !important;
            }
        }
    }
}