
.whats-new {
font-family: GT-Walsheim-Pro-Trial-Regular !important;
  /*margin-left: 500px;
  &.closed-panel{
    margin-left: 0;
  }*/

  #newContent{
    .whatsNewContentContainer{
      .FixedHeader {
        position: relative;
      }
    }
  }

  .whatsNewEnglishClass,
  .whatsNewFrenchClass,
  .whatsNewSpanishClass,
  .whatsNewChineseClass{
    position: absolute;
    top: -9999px;
    left: -9999px;
  }




  .module div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: GT-Walsheim-Pro-Trial-Regular !important;;
    vertical-align: baseline;
  }

  .audio-term {
    padding: 0 !important;
    margin-top: -2px;
    font-size: 101%;
  }

  .rootBtn {
    text-align: center !important;
    width: 100%;
    display: inline-flex;
    display: -webkit-inline-flex;
    position: relative;
    border: 0px !important;

    &:hover {
      text-decoration: none;
    }

    .menuArrows {
      float: right;
      height: 14px;
      width: 25px;
      margin: auto;
    }

    @-moz-document url-prefix() {
      .menuArrows {
        top: 0px;
        bottom: 0px;
        right: 0px;
        position: absolute;
      }
    }

    .linkTxt {
      margin: 0 0 0 !important;
      width: 100%;
    }


  .linkTxtOnClick {

    &:focus {
      outline: 2px solid #fff !important;
      outline-offset: 1px;
    }
  }

}

  .linkTxtOnClick {
    &:focus {
      outline: 2px solid #5185C2 !important;
      outline-offset: 3px;
    }
  }

  .linkTxt {
    margin: 0 0 6px !important;
  }

  .btn-link {
    color: inherit !important;
    text-align: center;
    white-space: normal;

    &:focus {
      outline: 2px solid #5185C2;
      outline-offset: 3px;
    }

  }

  .level-2 {
    .btn-link {
      text-align: left;
    }
  }

  .level-3 {
    .btn-link {
      text-align: left;
    }
  }

  .level-4 {
    .btn-link {
      text-align: left;
    }
  }

  p {
    margin-right: 50px;
  }

  ol {
    margin-left: 89px;
    margin-right: 89px;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  caption {
    font-weight: normal;
  }

  .pLeft {
    // margin-left: auto;
    text-align: justify;
  }

  .ulPadding {
    padding: 2% 0% 0% 0%;
  }

  .liPadding {
    padding-bottom: 1%;
  }



  .usefulExpressions {
    background-color: yellow;
    padding:3px;
}

    .pronouns {
    background-color: #B62A87;
    padding:3px;
    color:#fff;
    }

    .verbs {
    background-color: #006400;
    padding:3px;
    color:#fff;
    }

    .nouns {
    background-color: #E12522;
    padding:3px;
    color:#fff;
    }

    .adverbs {
    color: #09630C;
    }

    .determiners {
    color: #E12522;
    }

    .prepositions {
        color: #AA582A;
    }

    .nounsFR {
    background: #0000ff;
    color: white;
    width:auto;
    padding:3px;
    }

    .nounsFRS {
    background: yellow;
    color: black;
    width:auto;
    padding:3px;
    }

    .nounsSlash {
    color: #000;
    }

    .nounsER {
    background:#ff33cc;
    color: white;
    width:auto;
    padding:3px;
    }

    .determinersFR {
    color: #0000ff;
    }

    .determinersFRS {
    color:#000;
    }

    .determinersER {
    color: #ff33cc;
    }

    .relatedVocabER {
    color:purple;
    }

    .relatedVocabFR {
    color:#03B0F0;
    }

    .adjectifsFR{
    color: #0000ff;
    }

    .adjectifsFRS {
    background: yellow;
    color:#0000ff;
    width:auto;
    padding:3px;
    }

    .adjectifsSlash {
      color: #000;
    }

    .adjectifsER {
    color: #ff33cc;
    }

    .adjectifsERS {
       background: yellow;
       color: #ff33cc;
       width:auto;
       padding:3px;
    }


}

.whatsnew-content-highlighted {
  outline: 2px solid #5185C2;
  outline-offset: 3px;
}

/*body {*/
/*line-height: 1.5;*/
/*}*/

th, td {
  font-weight: normal;
}

.whats-new table, td, th {
  vertical-align: middle;
}

.whats-new blockquote:before, blockquote:after {
  content: "";
}

q {
  &:before, &:after {
    content: "";
  }
}

.whats-new blockquote, q {
  quotes: "" "";
}

.whats-new {
  a {
    img {
      border: none;
    }
    color: #3434b2;
    text-decoration: underline;
    &:hover {
      color: #0000ff;
    }
  }

  em {
    font-style: italic;
  }
  strong {
    font-weight: bold;
  }
  :focus {
    outline: none;
    text-decoration: none;
  }
  button {
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
    -webkit-border-fit: lines;
  }
  table td p:last-child {
    margin-bottom: 0;
  }
  .content {
   margin-left: 240px;
    width: 100%;
    padding-right: 240px;
  }

  .contentIE {
    position: absolute;
  }

  .whatsNewDirective {
    color: black;
    .liSpan {
      margin-left: 10%;
      float: left;
    }
    .liContent {
      margin-left: 12%;
    }

    .FixedHeader {
      position: initial !important;
      width: initial !important;
    }
  }

  .FixedHeader {
    position: fixed;
    width: 79%;
    z-index: 10;
    top: 130px;
    background-color: #fff;
    border-bottom: 1px solid #7092be;
  }

  .ContentTranslations {
    .translation {
     // margin-top: 40px;
    }
  }

  .panel {
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #f4f4f4;
    max-width: 230px;
    z-index: 10;
    margin-top: 115px;

    .scroll {
      overflow: auto;
      height: 100%;
      margin-right: 9px;
      position: relative;
    }

    .inner {
      padding: 10px;
    }
    .icon-bar {
      margin-bottom: 10px;
      text-align: center;
      display: flex;
      display: -webkit-flex;
      justify-content: center;

      .btn-icon {
        display: block;
        float: left;
        margin-right: 8px;
      }

      .button-print {
        background: url(../../images/icon-print.png) 0 0 no-repeat;
        background-size: contain;
        width: 35px;
        height: 35px;
        margin-right: 8px;
        &:hover {
          background: url(../../images/icon-print-hover.png) 0 0 no-repeat;
          background-size: contain;
        }
        &:focus {
          background: url(../../images/icon-print-hover.png) 0 0 no-repeat;
          background-size: contain;
        }
      }
      .button-glance {
        background: url(../../images/icon-glance.png) 0 6px no-repeat;
        background-size: contain;
        width: 35px;
        height: 35px;

        &:hover {
          background: url(../../images/icon-glance-hover.png) 0 6px no-repeat;
          background-size: contain;
        }
        &:focus {
          background: url(../../images/icon-glance-hover.png) 0 6px no-repeat;
          background-size: contain;
        }
      }

      a {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 0 5px;
        // text-indent: -9000px;
        font-size: 0.9em;
      }

      .iconParent {
            display: inline;
      }
    }
  }

 }

.fontScaleX4 {
    .panel {
        .icon-bar {
           .button-legend {
                width : 60px !important;
                height : 55px !important;
           }
            .button-glance {
                width : 65px !important;
                height : 55px !important;
            }
            .button-print {
                 width : 60px !important;
                 height : 55px !important;
            }
            .lang {
                 height: 50px !important;
            }
        }
    }

    #whatsNewContent {
        .ContentTranslations {
            padding-top: 12px;
        }
    }
    .whats-new {
        .content {
            margin-left: 300px !important;
        }
        .panel {
            max-width: 330px !important;
        }
    }
    @media only screen and (min-width: 1224px) and (max-width: 1300px) {
      .whats-new {
        .FixedHeader {
          left: 23.30% !important;
          -moz-transform: translateX(-1.3em);
           z-index : 0 !important;
        }
      }
    }
     @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
        .whats-new {
            .content {
                margin-left: 350px !important;
            }
            .FixedHeader {
                left: 29.60% !important;
                z-index : 0 !important;
            }
        }
     }

}


.fontScaleX3 {
    .panel {
        .icon-bar {
           .button-legend {
                width : 50px !important;
                height : 45px !important;
            }
            .button-glance {
                width : 50px !important;
                height : 45px !important;
            }
            .button-print {
                 width : 50px !important;
                 height : 45px !important;
            }
            .lang {
                height: 40px !important;
            }
        }
    }

    #whatsNewContent {
         .ContentTranslations {
             padding-top: 10px;
         }
     }
    .whats-new {
        .panel {
            max-width: 280px !important;
        }
        .FixedHeader{
            z-index : 0 !important;
        }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      .whats-new {
        .FixedHeader {
          left: 25.60%;
        }
        .content {
          margin-left: 300px;
        }
      }
    }

}

//IPAD landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .whats-new {
    .FixedHeader {
      left: 23.60%;
      width: 75%;
    }
    .content {
      padding-right: 250px;
    }
  }
  .closed-panel .FixedHeader {
    left: 2%;
  }
}

//IPAD portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .whats-new {
    margin-left: 300px;

    .FixedHeader {
      left: 23.60%;
      width: 75%;
    }
    .content {
      padding-right: 370px;
      margin-left: 0px;
    }

  }
  .closed-panel .FixedHeader {
    left: 5%;
  }
}

//DESKTOPS
@media only screen and (min-width: 1224px) and (max-width: 1300px) {
  .whats-new {
    .FixedHeader {
      left: 19.30%;
      -moz-transform: translateX(-1.3em);
    }
    .content {
      padding-right: 250px;
    }

  }
  .closed-panel .FixedHeader {
    left: 4.3%;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1400px) {
     .whats-new {
        .FixedHeader {
          left: 18.60%;
        }
        }
        .closed-panel .FixedHeader {
            left: 4.75%;
          }
          .closed-panel .content {
            padding-right: 53px !important;
          }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .whats-new {
    .FixedHeader {
      left: 18.30%;
    }
    .content {
      padding-right: 240px;
    }

  }
  .closed-panel .FixedHeader {
    left: 4.75%;
  }
  .closed-panel .content {
    padding-right: 53px !important;
  }
}

//LARGE SCREEN
@media only screen and (min-width: 1600px) {
  .whats-new {
    .FixedHeader {
      left: 17.75%;
      -moz-transform: translateX(-1.50em);
    }
    .content {
      padding-right: 240px;
    }
  }
  .closed-panel .FixedHeader {
    left: 4.6%;
  }
}
@media only screen and (min-width: 1920px) {
  .whats-new {
    .FixedHeader {
      left: 16.30%;
      -moz-transform: translateX(-1.50em);
    }

  }
}

.whats-new .panel {
  .icon-bar .button-legend {
    background: url(../../images/icon-legend.png) 0 0px no-repeat;
    background-size: contain;
    width: 30px;
    height: 35px;
    &:hover {
      background: url(../../images/icon-legend-hover.png) 0 0px no-repeat;
      background-size: contain;
    }
    &:focus {
      background: url(../../images/icon-legend-hover.png) 0 0px no-repeat;
      background-size: contain;
    }
  }

  .icon-bar .button-back {
    background: url(../../images/back.png) 0 0px no-repeat;
    background-size: contain;
    width: 30px;
    height: 35px;
    &:focus {
      border: blue;
      border: 2px solid #83BFFC;
    }
  }

  .menu > li {
    list-style: none;
    background: none;
    padding: 0;
    margin-bottom: 4px;
  }
}

.en .lang-fr, .fr .lang-en {
  display: none;
}

.whats-new {

  &.opened-panel {
    .closer {
      @extend .menuHandle;

      div {
        background: #b2b2b2 url(../../images/closer-arrow2.png) 50% 50% no-repeat;
      }
    }
  }

  &.closed-panel{
    .closer {
      @extend .menuHandle;

      div {
        background: #b2b2b2 url(../../images/closer-arrow.png) 50% 50% no-repeat;
      }
    }
  }

  .panel {
    .menu > li {
      > {
        a {
          background: #132B4C;
          color: #fff;
          font-size: 1.13em;
          text-shadow: 0px 1px 1px #132B4C;
          display: inline-block;
          width: 100%;
          padding: 7px 5px;
          text-align: center;
          text-decoration: none;
          &:hover {
            background-color: #15C1C1;
          }
        }
        ul {
          padding: 8px 0;
          margin: 0;
          display: none;
        }
      }
      ul {
        margin: 0 0 0 15px;
      }
      > ul {
        li {
          list-style: none;
          background: none;
          padding: 2px 0;
        }
        > li > {
          a {
            color: #3f6494;
            font-size: 1em;
            text-decoration: none;
            &:hover {
              color: #00439b;
              text-decoration: underline;
            }
          }
          ul li {
            a {
              font-size: 0.95em;
              color: #66717f;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
                color: #1c3c66;
              }
            }
            li a {
              font-style: italic;
            }
          }
        }
      }
    }
    .letters-legend {
      text-align: right;
      padding: 5px 0 13px;
      font-size: 0.9em;
    }

    .menuHandle{
      height: 100%;
      width: 9px;
      position: absolute;
      top: 0;
      right: 0;
      background: #d1d1d1;

      div {
        width: 13px;
        height: 70px;
        display: block;
        position: absolute;
        top: 50%;
        right: -2px;
        margin-top: -35px;
      }
    }


  }
  .opened-panel .closer span {
    background: #b2b2b2 url(../../images/closer-arrow2.png) 50% 50% no-repeat;
  }
  .closed-panel .closer span {
    background: #b2b2b2 url(../../images/closer-arrow.png) 50% 50% no-repeat;
  }
  .panel .closer {
    &:hover, &:focus {
      background: #c1c1c1;
      span {
        background-color: #9d9d9d;
      }
    }
  }
}

.opened-panel .panel {
  left: 0;
  -webkit-transition: left 0.5s ease-out;
  -moz-transition: left 0.5s ease-out;
  -o-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
}

.closed-panel .panel {
  left: -221px;
  -webkit-transition: left 0.5s ease-out;
  -moz-transition: left 0.5s ease-out;
  -o-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
}

.opened-panel-withoutAnimation {
  left: -221px;
}

.opened-panel .content {
  overflow: auto;
  -webkit-transition: margin-left 0.5s ease-out;
  -moz-transition: margin-left 0.5s ease-out;
  -o-transition: margin-left 0.5s ease-out;
  transition: margin-left 0.5s ease-out;
}

.opened-panel .FixedHeader {
  overflow: auto;
  -webkit-transition: margin-left 0.5s ease-out;
  -moz-transition: margin-left 0.5s ease-out;
  -o-transition: margin-left 0.5s ease-out;
  transition: margin-left 0.5s ease-out;
}

.closed-panel .FixedHeader {
  width: 91%;
  -webkit-transition: margin-left 0.5s ease-out;
  -moz-transition: margin-left 0.5s ease-out;
  -o-transition: margin-left 0.5s ease-out;
  transition: margin-left 0.5s ease-out;
  -webkit-transition: padding-right 0.5s ease-out;
  -moz-transition: padding-right 0.5s ease-out;
  -o-transition: padding-right 0.5s ease-out;
  transition: padding-right 0.5s ease-out;
}

.closed-panel .content {
  margin-left: 32px;
  padding-right: 59px;
  -webkit-transition: margin-left 0.5s ease-out;
  -moz-transition: margin-left 0.5s ease-out;
  -o-transition: margin-left 0.5s ease-out;
  transition: margin-left 0.5s ease-out;
  -webkit-transition: padding-right 0.5s ease-out;
  -moz-transition: padding-right 0.5s ease-out;
  -o-transition: padding-right 0.5s ease-out;
  transition: padding-right 0.5s ease-out;
}

.module {
  font-size: 14px;
  overflow: hidden;
  margin-top: 7px;
  font-family: GT-Walsheim-Pro-Trial-Regular !important;
  color: #1F1F1F;
  background: #fff;
  height: 100%;
  line-height: 1.4;
  h2 {
    text-transform: uppercase;
    font-size: 1.5em !important;
    font-weight: bold;
    color: #243e58;
    padding: 8px 8px;
    margin: 10px 8px 10px 8px;
    text-align: center;
    pointer-events: none;
  }

  h1, .whatsNewPanelTitle {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 6px 0px;
    color: #132B4C;
    // border: 1px solid #b8c4d0;
  }
  h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #243e58;
    padding: 5px;
    pointer-events: none;
  }
  h4 {
    font-size: 1.15em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #243e58;
    text-decoration: underline;
    padding-bottom: 10px;
    pointer-events: none;
  }


  h5 {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: #243e58;
    padding-bottom: 10px;
    pointer-events: none;
  }

  h6 {
    font-size: 0.89em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    color: #243e58;
    padding-bottom: 10px;
    pointer-events: none;
  }

  h3 em {
    font-weight: normal;
    font-size: 1em;
  }
  .content ul {
    margin-left: 10% !important;
    margin-right: 50px;
  }
  ul ul {
    margin-left: 20px;
  }
  .contents {
    line-height: 1.5;
    border: 1px solid #c2c4c7;
    padding: 5px;
    ul {
      margin-bottom: 0;
    }
    li {
      list-style: none;
      font-size: 16px;
      margin-bottom: 4px;
      background: none;
      padding: 0;
    }
  }
}

.contents {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  > li > a {
    background: #e6f0f9;
    display: block;
    padding: 3px 7px;
  }
  li li {
    font-size: 15px;
    li {
      font-size: 14px;
    }
  }
  ul {
    margin-left: 25px;
  }
}

.tab-contents {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #243b52;
  max-width: 930px;
  margin: 0 auto 30px;
  td, th {
    border: 1px solid #243b52;
    padding: 4px;
    vertical-align: middle;
  }
}

.hcell {
  background: #deeaf6;
  text-align: center;
  font-weight: bold;
}

.dcell {
    background: #e3e3e3;
}
.contentGlanceHeading {
    text-align: center;
}
.dashedCellB {
    border-bottom: 1px dashed !important;
}

.dashedCellT {
    border-top: none !important;
}

.noLeftBorder {
    border-left : none !important;
}

.noRightBorder {
    border-right : none !important;
}


.hcell2 {
  background: #F0F0F0;
}

.tab-contents {
  td.dashed-cell, th.dashed-cell {
    border-bottom: 2px dashed #a8b3be;
  }
}

.tab-legend {
  width: 100%;
  border-collapse: collapse;
  max-width: 930px;
  margin: 0 auto 30px;
  table-layout: fixed;
  td, th {
    padding: 8px;
    border: 1px solid #414141;
    vertical-align: middle;
  }
  p {
    margin-left : 0px !important;
  }
}

.nouns, .tnouns, .noun-word {
  background: #E12522;
  color: #fff;
  padding: 4px;
  padding: 0px 2px !important;
  text-transform: uppercase;
}

.negative, .red {
  color: #ff0000;
}

.verbs, .verb-word, .tverbs {
  background: #006400;
  color: #fff;
  padding: 0px 4px !important;
  text-transform: uppercase;
}

.pronouns, .tpronouns, .pronoun-word {
  background: #B62A87;
  color: #fff;
  padding: 4px;
  text-transform: uppercase;
}

.pronoun-color {
  color: #ff00ff;
}

.fr {
  .pronouns, .tpronouns, .pronoun-word {
    background: #ff0000;
    color: #fff;
  }
}

.adjectives, .tadjectives, .determiners, .adjective-word {
  color: #E12522;
  padding: 4px;
  text-transform: uppercase;
}

.adverbs, .tadverbs, .adverb-word {
  color: #09630C;
  padding: 4px;
  text-transform: uppercase;
}

.prepositions, .tprepositions, .preposition-word {
  color: #AA582A;
  padding: 4px;
  text-transform: uppercase;
}

.conjunctions, .tconjunctions, .conjunction-word {
  color: #0000ff;
  padding: 4px;
  text-transform: uppercase;
}

.fr {
  .conjunctions, .tconjunctions, .conjunction-word {
    color: #ff0000;
    padding: 4px;
    text-transform: uppercase;
  }
}

.module-fr {
    .idioms, .tidioms, .idiom-word {
      background: #7e45cd;
      color: #fff;
      padding: 4px !important;
    }
}

.module-en {
    .idioms, .tidioms, .idiom-word {
      background: #0A3AC8;
      color: #fff;
      padding: 4px !important;
    }
}


.rel-voc, .trel-voc, .rel-voc-word {
  color: purple;
  padding: 4px;
  text-transform: uppercase;
}

.fr {
  .rel-voc, .trel-voc, .rel-voc-word {
    color: #00b0f0;
    padding: 4px;
    text-transform: uppercase;
  }
}

.expressions, .tplural, .expression-word, .plural-word {
  background: #ffff00;
  color: #000;
  padding: 4px;
}

.masculin {
  color: #0000ff;
}

.feminin {
  color: #ff00cc;
}

.nouns-f, .tnouns-f, .noun-f-word {
  background: #ff00cc;
  color: #fff;
  padding: 4px;
  text-transform: uppercase;
}

.nouns-m, .tnouns-m, .noun-m-word {
  background: #0000ff;
  color: #fff;
  padding: 4px;
  text-transform: uppercase;
}

.verb-word, .expression-word, .rel-voc-word, .idiom-word, .conjunction-word, .preposition-word, .adverb-word, .adjective-word, .pronoun-word, .noun-word, .noun-m-word, .noun-f-word, .plural-word, trel-voc-FR-word {
  text-transform: none;
  padding: 1px;
}

.tpronouns, .tadjectives, .tadverbs, .trel-voc, .tplural, .tidioms, .tconjunctions, .tprepositions, .tnouns, .tverbs {
  text-align: center;
}

.plural {
  background: #ffff00;
  color: #000;
}

.verb-color {
  color: #006400;
}

.rules-block {
  background: #EEF1F4;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 35px;
  padding: 20px;
  max-width: 890px;
  margin: 0 auto 30px;
  clear: both;
  border: 1px solid #000;
  p:last-child {
    margin-bottom: 0;
  }

  ul {
    margin-bottom: 0 !important;
  }
  p {
  margin-left: 50px;
  }
}

.narrow-block {
  max-width: 550px;
}

.block-tip {
  display: inline-block;
  background: #e8e8e8;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  padding: 15px 25px;
  margin: 0 auto 25px;
  position: relative;
  i {
    background: url(../../images/tip-corner.png) 0 0 no-repeat;
    width: 23px;
    height: 12px;
    position: absolute;
    bottom: -11px;
    right: 30px;
  }
}

.resp-image {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

.block-two-cols {
  overflow: hidden;
  overflow: hidden;
  .col {
    width: 49.99%;
    float: left;
    margin-bottom: 25px;
  }
  .col-1 {
    width: 42%;
  }
  .col-2 {
    width: 58%;
  }
  .col .inner {
    padding: 0 10px;
  }
}

@media (max-width: 970px) {
  .opened-panel .block-two-cols .col {
    float: none;
    width: auto;
  }
}

@media (max-width: 749px) {
  .closed-panel .block-two-cols .col {
    float: none;
    width: auto;
  }
}

.rules-tab {
  min-width: 260px;
  width: 100%;
  max-width: 930px;
  th, td {
    padding: 7px;
    vertical-align: top;
    width: 50%;
    border-bottom: 1px solid #777777;
  }
  th {
    text-align: center;
  }
  tr {
    &:last-child td {
      border-bottom: none;
    }
    td:nth-child(2), th:nth-child(2) {
      border-left: 1px solid #777777;
    }
  }
}

.tab-invisible {
  border-collapse: collapse;
  min-width: 260px;
  width: 100%;
  max-width: 930px;
  margin: 0 auto 30px;
  th {
    text-align: center;
    padding: 5px;
  }
  td {
    padding: 5px;
  }
}

.tab-simple {
  border-collapse: collapse;
  min-width: 260px;
  width: 100%;
  max-width: 930px;
  margin: 0 auto 30px;
  th {
    border: 1px solid #000;
    text-align: center;
    padding: 5px;
  }
  td {
    border: 1px solid #000;
    padding: 5px;
  }
}

.tab-ex-with {
  border-collapse: collapse;
  min-width: 260px;
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.tab-ex-with tr:nth-child(2n) td {
  background: #ededed;
}

.tab-ex-with th {
  border: none;
  padding: 5px 10px;
  border: 1px solid #c9c9c9;
  text-align: center;
}

.tab-ex-with td {
  padding: 5px 10px;
  border: 1px solid #c9c9c9;
}

.tab-ex-with td:nth-child(even) {
  width: 33.3%;
}

tr.noBorder td {
  border: 0;
}

.tab-unit1 {
  border-collapse: collapse;
  min-width: 260px;
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.tab-strippedAlignCenter {
  text-align: center;
}

.tab-stripped {
  border-collapse: collapse;
  min-width: 260px;
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
  margin-bottom: 20px;

  tr:nth-child(2n) td {
    background: #ededed;
  }
  th {
    border: none;
    padding: 5px 10px;
    border: 1px solid #c9c9c9;
    text-align: center;
  }
}

.double-head tr:first-child th {
  border-bottom: none;
  border-top: 2px solid #c9c9c9;
}

.tab-stripped td {
  padding: 5px 10px;
  width:50%;
  border: 1px solid #c9c9c9;
}

.tab-auto-with {
  td, th {
    width: auto;
  }
}

.tab-four-cols {
  td, th {
    width: 25%;
  }
}

.tab-three-cols td {
  width: 33.3%;
}

.tab-stripped td:nth-child(2) {
  border-left: 1px solid #c9c9c9;
}

.tab-two-cols {
  width: 100%;
  td {
    width: 50%;
    padding: 0 8px;
  }
}

.numbers {
  font-size: 1.1em;
  strong {
    color: #00b4e1;
  }
}

.tab-numbers {
  margin: 0 auto 20px;
  th, td {
    padding: 2px;
  }
}

.translation {
  position: relative;
  .sl {
    /*display: none;*/
    font-size: 0.95em;
  }

}

.NavTitle {
  text-align: center;
}

.activate-sl .sl {
  display: block;
}

.translation {
  h3 .sl, h4 .sl {
    font-size: 1em;
    font-weight: bold;
  }
}

.flag-img {
  width: 100%;
  height: auto;
  max-width: 185px;
  display: block;
}

.map-img {
  width: 100%;
  height: auto;
  max-width: 140px;
  max-height: 140px;
  display: block;
  margin: 0 auto;
}

.translation .flag {
  position: absolute;
  right: 5px;
  top: 5px;
  border: 1px solid #727272;
  padding: 5px 6px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 1%, #efefef 79%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #ffffff), color-stop(79%, #efefef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 1%, #efefef 79%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 1%, #efefef 79%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 1%, #efefef 79%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 1%, #efefef 79%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#efefef', GradientType=0);
  /* IE6-8 */
  &:hover {
    border: 2px solid #000;
    top: 4px;
    right: 4px;
  }
}

.activate-sl .flag {
  border: 2px solid #000;
  top: 4px;
  right: 4px;
  background: -moz-linear-gradient(top, #efefef 1%, #ffffff 79%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #efefef), color-stop(79%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #efefef 1%, #ffffff 79%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #efefef 1%, #ffffff 79%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #efefef 1%, #ffffff 79%);
  /* IE10+ */
  background: linear-gradient(to bottom, #efefef 1%, #ffffff 79%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#ffffff', GradientType=0);
  /* IE6-8 */
}

.translation .flag span {
  display: block;
  width: 30px;
  height: 20px;
}

.en .translation .flag span {
  background: url(../../images/fr.png) 50% 50% no-repeat;
}

.fr .translation .flag span {
  background: url(../../images/en.png) 50% 50% no-repeat;
}

.translation .lang {
  display: block;
  border: 2px solid #4F74A0;
  border-right: none;
  border-bottom: none;
  background: #4F74A0;
  text-decoration: none;
  width: auto;
  height: 30px;
  padding: 5px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  color: #fff !important;
  font-weight: bold;
  text-align: center;
  &:hover, &:focus {
    border-color: #3f5c80;
    background: #3f5c80;
    color: #fff;
    text-decoration: underline;
  }
}

.activate-sl .lang {
  border: 2px solid #2f4b6f;
  background: #5c7da7;
  padding-top: 1px;
  height: 29px;
  border-right: none;
  border-bottom: none;
  &:hover {
    border: 2px solid #2f4b6f;
    background: #5c7da7;
    padding-top: 1px;
    height: 29px;
    border-right: none;
    border-bottom: none;
  }
}

.img-colors {
  width: 100%;
  height: auto;
  max-width: 700px;
  margin: 10px auto 30px;
  display: block;
}

@media print {
  .module {
    .panel {
      display: none;
    }
    .content {
      margin-left: 0;
    }
  }
}

.whats-new {
  .footer {
    position: fixed;
    bottom: 0;
    background-color: #F4F4F4;
    z-index: 9;
    text-align: center;
    width: 100%;
  }
  .goToPage {
    /*float: left;*/
  }
  .highlighted {
    background: yellow;
  }
  input.ng-dirty.ng-invalid {
    border-color: red;
  }
  .panel li {
    list-style: none;
    color: #3f6494;
    font-size: 1em;
    a {
      text-decoration: none;
    }
  }
}

ul.menu > li > a {
  cursor: pointer;
  &:hover {
    text-decoration: none !important;
    color: #fff !important;
  }
}

.whats-new .panel li a:hover {
  text-decoration: underline;
  color: #3f6494;
}

/*ul.menu>li>div>ul>li>a {*/
/*text-transform: uppercase;*/
/*}*/

/*ul.menu>li>ul>li>div>ul>li>a {*/
/*color: black;*/
/*}*/

.menu {
  ul.level-2 {
    margin-top: 9px !important;
  }
  .level-2 a {
    text-transform: uppercase;
    color: #3F649D;
  }
  .level-3 a {
    text-transform: none;
    color: #6E717F;
  }
  .level-4 a {
    text-transform: none;
    font-style: italic;
    color: #6E717F;
  }
}

ul.menu a {
  text-transform: capitalize;
}

.whats-new .pagination {
  margin: 2px 0;
}

.translation {
  .subSection-h4-lang {
    top: -9px !important;
  }
  .subSection-h2-lang {
    top: 3px !important;
  }
}

.offset:before {
  display: block;
  content: " ";
  height: 10px;
  margin-top: 12px;
  visibility: hidden;
}

.overflow-hidden {
  overflow: hidden;
  position: fixed;
  width: 100%;

  .container-fluid {
    margin-top: 0px;
  }
}

.marginOffset {
  margin-top: 65px !important;
}

.whatsNewContentContainer {
  padding-bottom: 250px;
  position: relative;
  max-width: 890px;
  margin : 0 auto;


  .dummyBtn {
    background-color: transparent;
    float: left;
    cursor: default;
    margin: 0px;
    padding: 0px;
  }
}
.WhatsNewContentImage {
    width: 100%;
}


.whats-new {
  .block-tip {
    margin-left: 73px !important;
  }
}

.tnounsMFR {
    background : rgb(0,0,255);
    text-align: center;
}
.tnounsFFR {
    background : rgb(255, 51, 204);
    text-align: center;
    color: #fff;
}
.tnounsMFRTEXT {
    color : rgb(0,0,255);
    text-align: center;
}
.tnounsFFRTEXT {
    color : rgb(255, 51, 204);
    text-align: center;
}
.trel-voc-FR {
    color: #19799F;
    text-align: center;
}
// Hiding class for secondary langauge in whatsnew
.secondaryLang_es {
    .whats-new {
        .whatsNewSpanishClass {
                position: relative;
                top: 0px;
                left: 0px;
                width: 100% !important;
            }
        }
}

.secondaryLang_fr {
    .whats-new {
        .whatsNewFrenchClass {
                position: relative;
                top: 0px;
                left: 0px;
                width: 100% !important;
            }
    }
  }

.secondaryLang_en {
    .whats-new {
        .whatsNewEnglishClass {
                position: relative;
                top: 0px;
                left: 0px;
                width: 100% !important;
        }
    }
}
.secondaryLang_zh {
      .whats-new {
          .whatsNewChineseClass {
                  position: relative;
                  top: 0px;
                  left: 0px;
                  width: 100% !important;
          }
      }
}


.whats-new {
  &.module {
   overflow: overlay; 
  }
  #whatsNewContent{
    .whatsNewContentContainer{
      .mainContainer {
        .FixedHeader {
          position: fixed;
          top: 114px;
          width: 79%;
          height: 78px;
          h2 {
            padding: 18px 8px;
          }
        }
      }
    }
  }
  &.closed-panel {
    #whatsNewContent{
      .whatsNewContentContainer{
        .mainContainer {
          .FixedHeader {
            width: 91%;
          }
        }
      }
    }
  }
}
.customTableWidth{
    width: 33% !important;
}